﻿@{ 
    Layout = null;

    User_Model UserLog = Session["User_Model"] as User_Model;
    User_Role Role = UserLog.ListRole.SingleOrDefault(x => x.RoleID == "HRM201");
    if (Role == null)
    {
        Role = new User_Role();
    }

    var List = new List<Employee_Model>();
    if (ViewBag.List != null)
    {
        List = ViewBag.List as List<Employee_Model>;
    }
}

    <table class="table Custom table-sm bg-white" id="tblData">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Chức vụ</th>
                <th>Tình trạng</th>
                <th>Tuyển dụng</th>
                <th>Thâm niên</th>
                <th>Ngày sinh</th>
                <th>CMND</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
            </tr>
        </thead>
        <tbody id="tblBody">
            @for (int i = 0; i < List.Count; i++)
            {
                Employee_Model Model = List[i];
                string zBirthday = "", zStartingDate = "";
                if (Model.Birthday != DateTime.MinValue)
                {
                    zBirthday = Model.Birthday.ToString("dd/MM/yyyy");
                }
                if (Model.StartingDate != DateTime.MinValue)
                {
                    zStartingDate = Model.StartingDate.ToString("dd/MM/yyyy");
                }
                if (Model.PhotoPath == string.Empty)
                {
                    Model.PhotoPath = Helper.DefaultImage;
                }

                <tr key="@Model.EmployeeKey">
                    <td>@(i + 1)</td>
                    <td style="white-space: nowrap" class="member-image align-middle">
                        <img src="@Model.PhotoPath" alt="Member" class="rounded-circle" style="height:40px">
                        @(Model.LastName + " " + Model.FirstName)
                    </td>
                    <td style="white-space: nowrap">@Model.PositionName</td>
                    <td style="white-space: nowrap">@Model.WorkingStatusName</td>
                    <td>@zStartingDate</td>
                    <td style="white-space: nowrap" class="text-primary">@Model.TN</td>
                    <td>@zBirthday</td>
                    <td>@Model.PassportNumber</td>
                    <td style="white-space: nowrap">@Model.Email</td>
                    <td>@Model.MobiPhone</td>
                    <td style="white-space: nowrap">@Model.AddressRegister</td>
                </tr>
            }
        </tbody>
    </table>
