﻿@using System.Data
@model DataTable
@{
    Layout = null;

    for (int i = 0; i < Model.Rows.Count; i++)
    {
        DataRow r = Model.Rows[i];
        string key = ViewBag.Key;
        string name = r["Branchname"].ToString();
        string branchkey = r["BranchKey"].ToString();

        <tr child="@key" style="background: #9370db47; ">
            <td>
                <button type="button" class="btn btn-xs btn-outline-primary" onclick="Detail('@branchkey','@key')">
                    <i class="far fa-eye"></i>
                </button>
                @name
            </td>
            @{
                double totalrow = r[5].ToDouble() + r[7].ToDouble();
                for (int c = 2; c < Model.Columns.Count; c++)
                {
                    var data = r[c].ToDouble().ToString("n0");

                    if (c >= 5)
                    {
                        <td class="text-right">@data</td>
                    }
                    else
                    {
                        <td class="text-center">@data</td>
                    }
                }
                <td class="text-right">@totalrow.ToString("n0")</td>
            }
        </tr>
    }
}
