﻿<!-- #Auth hợp đồng-->
@{
    User_Model UserLog = Session["User_Model"] as User_Model;
    User_Role Role = UserLog.ListRole.SingleOrDefault(x => x.RoleID == "CRM10");
    if (Role == null)
    {
        Role = new User_Role();
    }
}
<!-- #end -->
@using ABG.Employee
@{
    Layout = null;
    List<Contract_Model> _ListData = new List<Contract_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Contract_Model>;
    }
}

<blockquote class="info m-3">
    <table class="table table-sm mb-0 Custom">
        <thead>
            <tr>
                <th>STT</th>
                <th style="width:100px">Số HĐ</th>
                <th>Loại</th>
                <th style="width:100px">Ngày ký</th>
                <th>Thời gian</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (_ListData.Count > 0)
                {
                    for (int i = 0; i < _ListData.Count; i++)
                    {
                        Contract_Model Obj = _ListData[i];
                        string ContractKey = Obj.ContractKey;
                        string ContractID = Obj.ContractID;
                        string Description = Obj.Note;
                        string SignDate = Obj.SignDate.ToString("dd/MM/yyyy");
                        string FromDate = Obj.FromDate.ToString("dd/MM/yyyy");

                        string ToDate = "";
                        string thoigian = "";
                        if (Obj.ToDate != DateTime.MinValue)
                        {
                            ToDate = Obj.ToDate.ToString("dd/MM/yyyy");
                            thoigian = FromDate + " - đến hết ngày " + ToDate;
                        }
                        else
                        {
                            ToDate = "Không xác định";
                            thoigian = FromDate + " - " + ToDate;
                        }

                        string Style = "style='font-weight:bolder;font-style: italic;color: darkmagenta;background: palegreen;'";
                        string Loai = Obj.ContractTypeName;

                        if (Obj.SubContract.Length > 0)
                        {
                            ContractID = Obj.SubContract;
                            Style = "";
                        }

                        <tr contractkey="@ContractKey">
                            <td>@(i+1)</td>
                            <td>@ContractID</td>
                            <td>@Loai</td>
                            <td>@SignDate</td>
                            <td>@thoigian</td>
                            <td>@Description</td>
                            <td>
                                <div class="btn-group-sm flex-wrap dropup">
                                    <button type="button" class="btn-xs btn btn-outline-primary dropdown-toggle " data-toggle="dropdown">
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item text-info" href="javascript:;" onclick="OpenModelContractView('@ContractKey')">
                                            <i class="fas fa-eye"></i>Xem nhanh
                                        </a>
                                        @if (Role.RoleEdit)
                                        {
                                            <a class="dropdown-item text-primary" href="@Url.Action("ContractEdit","Employee", new { ContractKey })">
                                                <i class="far fa-edit"></i>Điều chỉnh
                                            </a>
                                            <a class="dropdown-item text-primary" href="javascript:;"
                                               onclick="OpenCopy('@Obj.ContractKey', '@Obj.ContractType', '@Obj.ContractID', '@Obj.FromDate.ToString("dd/MM/yyyy")', '@Obj.ToDate.ToString("dd/MM/yyyy")', '@Obj.SignDate.ToString("dd/MM/yyyy")')">
                                                <i class="far fa-copy"></i>Lập phụ lục
                                            </a>
                                        }
                                        @if (Role.RoleDel)
                                        {
                                            <a class="dropdown-item text-danger" href="javascript:;" onclick="Delete('@ContractKey')">
                                                <i class="fa fa-trash"></i>Xoá
                                            </a>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">
                            <div class="alert alert-primary">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</blockquote>