﻿<!-- #Auth hợp đồng-->
@{
    User_Model UserLog = Session["User_Model"] as User_Model;
    User_Role Role = UserLog.ListRole.SingleOrDefault(x => x.RoleID == "CRM10");
    if (Role == null)
    {
        Role = new User_Role();
    }
}
<!-- #end -->
@model ABG.Employee.Contract_Model
@{
    Layout = null;

    string TitleHead = "";
    if (Model.SubContract.Length > 0)
    {
        TitleHead += Model.SubContract + " của hợp đồng " + Model.ContractID;
    }
    else
    {
        TitleHead += " Hợp đồng " + Model.ContractID;
    }
    string Summary = "";
    if (Model.ToDate != DateTime.MinValue)
    {
        Summary += "Ký " + Model.SignDate.ToString("dd/MM/yyyy") + " thời hạn từ " + Model.FromDate.ToString("dd/MM/yyyy") + " - " + Model.ToDate.ToString("dd/MM/yyyy");
    }
    else
    {
        Summary += "Ký " + Model.SignDate.ToString("dd/MM/yyyy") + " không thời hạn từ ngày " + Model.FromDate.ToString("dd/MM/yyyy");
    }

    List<Document_Model> _ListFile = new List<Document_Model>();
    if (ViewBag.ListFile != null)
    {
        _ListFile = ViewBag.ListFile as List<Document_Model>;
    }

    var Emp = new Employee_Model();
    if (ViewBag.Employee != null)
    {
        Emp = ViewBag.Employee as Employee_Model;
    }
}

<div class="card" style="text-align:left">
    <div class="card-body">
        <div class="alert alert-info nomargin p-2">
            <h4>@TitleHead</h4>
            <p>
                @Summary
                <span class="float-right">@TN_Utils.TimeAgo(Model.SignDate, DateTime.Now)</span>
            </p>
        </div>
        <table class="table table-borderd">
            <tr>
                <td colspan="2">
                    <h4 class="text-info m-0">
                        <i class="fas fa-user-tie"></i>
                        Bên ứng tuyển
                    </h4>
                </td>
            </tr>
            <tr>
                <td class=""><strong>Ông, bà</strong></td>
                <td>@Model.EmployeeName</td>
            </tr>
            <tr>
                <td class=""><strong>Địa chỉ</strong></td>
                <td>@Model.EmployeeAdress</td>
            </tr>
            <tr>
                <td class=""><strong>Điện thoại</strong></td>
                <td>@Emp.MobiPhone</td>
            </tr>
            <tr>
                <td class=""><strong>CMND, CNCD</strong></td>
                <td>@(Model.EmployeePassport + ", "+Model.EmployeeIssuePlace +", "+Model.EmployeeIssueDate.ToString("dd/MM/yyyy"))</td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="text-info m-0">
                        <i class="fas fa-user-tie"></i>
                        Nội dung công việc
                    </h4>
                </td>
            </tr>
            <tr>
                <td>Chức vụ</td>
                <td>@Model.PositionName</td>
            </tr>
            <tr>
                <td>Địa điểm làm việc </td>
                <td>@Model.BranchAdress</td>
            </tr>
            <tr>
                <td>Người quản lý</td>
                <td>@Model.ReportToName</td>
            </tr>
            <tr>
                <td colspan="2">
                    <p><strong>Ghi chú</strong></p>
                    @Model.Note
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="text-info m-0">
                        <i class="fas fa-paperclip"></i>
                        Tập tin
                    </h4>
                    <div id="PanelFile">
                        @Html.Partial("~/Views/Shared/_DocumentReadOnly.cshtml", _ListFile)
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>Người cập nhật</strong></td>
                <td>@Model.ModifiedName</td>
            </tr>
            <tr>
                <td><strong>Thời gian cập nhật</strong></td>
                <td>@(Model.ModifiedOn.ToString("dd/MM/yyyy") + " - " + TN_Utils.TimeAgo(Model.ModifiedOn, DateTime.Now))</td>
            </tr>
        </table>
    </div>
    @if (Role.RoleEdit)
    {
        <div class="card-footer border-primary text-center">
            <a id="btn_Save" class="btn btn-outline-primary" href="@Url.Action("ContractKey","Employee", new { ContractKey = Model.ContractKey})">
                <i class="far fa-edit"></i>
                Điều chỉnh
            </a>
            <a id="btn_CreateSubContract" href="#" class="btn btn-outline-primary"
               onclick="OpenCopy('@Model.ContractKey', '@Model.ContractType', '@Model.ContractID', '@Model.FromDate.ToString("dd/MM/yyyy")', '@Model.ToDate.ToString("dd/MM/yyyy")', '@Model.SignDate.ToString("dd/MM/yyyy")')">
                <i class="far fa-copy"></i>
                Lập phụ lục
            </a>
        </div>
    }
</div>