﻿@using System.Data
@{
    Layout = null;

    var _TableData = new DataTable();
    if (ViewBag.Table != null)
    {
        _TableData = ViewBag.Table as DataTable;
    }
}

<h2 class="text-center">@Html.Raw(ViewBag.TieuDe)</h2>
<div id="panelData">
    @{
        if (_TableData.Rows.Count > 0)
        {
            if (_TableData.Columns.Count > 3)
            {
                <table class="table table-bordered table-hover table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th class="text-center">@_TableData.Columns[0]</th>
                            @{
                                for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                {
                                    <th class="text-center">Tháng @_TableData.Columns[j]</th>
                                }
                                <th class="text-center">Tổng</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < _TableData.Rows.Count - 1; i++)
                            {
                                <tr>
                                    <th>@_TableData.Rows[i][0].ToString()</th>
                                    @{
                                        for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                        {
                                            <td class="text-right">@_TableData.Rows[i][j].ToDouble().ToString("n0")</td>
                                        }
                                        <th class="text-right bg-info text-white">@_TableData.Rows[i][_TableData.Columns.Count - 1].ToDouble().ToString("n0")</th>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <table class="table table-bordered table-hover table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th class="text-center">@_TableData.Columns[0]</th>
                            @{
                                for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                {
                                    <th class="text-center">Tháng @_TableData.Columns[j]</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < _TableData.Rows.Count - 1; i++)
                            {
                                <tr>
                                    <th>@_TableData.Rows[i][0].ToString()</th>
                                    @{
                                        for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                        {
                                            <td class="text-right">@_TableData.Rows[i][j].ToDouble().ToString("n0")</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }
    }
</div>