﻿@using System.Data
@{
    Layout = null;

    var _TableData = new DataTable();
    if (ViewBag.Table != null)
    {
        _TableData = ViewBag.Table as DataTable;
    }
}

<h2 class="text-center">@Html.Raw(ViewBag.TieuDe)</h2>
<div id="panelData">
    @{
        if (_TableData.Rows.Count > 0)
        {
            if (_TableData.Columns.Count > 3)
            {
                <table class="table table-bordered table-hover table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th class="text-center">@_TableData.Columns[0]</th>
                            @{
                                for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                {
                                    <th class="text-center">Tháng @_TableData.Columns[j]</th>
                                }
                                <th class="text-center">Tổng</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int r = 0;
                            string tieudechinhanh = "";
                            for (int i = 0; i < _TableData.Rows.Count - 1; i++)
                            {
                                string temp = _TableData.Rows[i][0].ToString();
                                string chinhanh = "";
                                string noidung = "";

                                if (temp.Contains(":"))
                                {
                                    chinhanh = temp.Split(':')[0];
                                    noidung = temp.Split(':')[1];
                                }
                                else
                                {
                                    noidung = temp;
                                }

                                @*if (tieudechinhanh != chinhanh)
                                {
                                    tieudechinhanh = chinhanh;
                                    r = 0;

                                    <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                        <td><h5 class="m-0" style="font-style: italic; color: white;">@chinhanh</h5></td>
                                        @{
                                            for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                            {
                                                <td class="text-right align-middle"></td>
                                            }
                                        }
                                        <td></td>
                                    </tr>
                                }*@

                                <tr>
                                    <th>@Html.Raw(noidung)</th>
                                    @{
                                        for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                        {
                                            <td class="text-right">@_TableData.Rows[i][j].ToDouble().ToString("n0")</td>
                                        }
                                        if (r < 3)
                                        {
                                            <th class="text-right bg-info text-white"></th>
                                        }
                                        else
                                        {
                                            <th class="text-right bg-info text-white">@_TableData.Rows[i][_TableData.Columns.Count - 1].ToDouble().ToString("n0")</th>
                                        }
                                        r++;
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <table class="table table-bordered table-hover table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th class="text-center">@_TableData.Columns[0]</th>
                            @{
                                for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                {
                                    <th class="text-center">Tháng @_TableData.Columns[j]</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            string tieudechinhanh = "";
                            for (int i = 0; i < _TableData.Rows.Count - 1; i++)
                            {
                                string temp = _TableData.Rows[i][0].ToString();
                                string chinhanh = temp.Split(':')[0];
                                string noidung = temp.Split(':')[1];

                                @*if (tieudechinhanh != chinhanh)
                                {
                                    tieudechinhanh = chinhanh;

                                    <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                        <td><h5 class="m-0" style="font-style: italic; color: white;">@chinhanh</h5></td>
                                        @{
                                            for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                            {
                                                <td class="text-right align-middle"></td>
                                            }
                                        }
                                    </tr>
                                }*@

                                <tr>
                                    <th>@Html.Raw(noidung)</th>
                                    @{
                                        for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                        {
                                            <td class="text-right">@_TableData.Rows[i][j].ToDouble().ToString("n0")</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }
    }
</div>
