﻿@using System.Data
@{
    Layout = null;

    var _ListData = new List<Leave_Note_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Leave_Note_Model>;
    }
}

<blockquote class="info m-3 text-left">
    <div class="row justify-content-start">
        <div class="col-sm-5">
            <table class="table table-sm text-dark" style="background: aliceblue;">
                <tbody>
                    @{
                        if (ViewBag.CongTac != "0")
                        {
                            <tr class="text-primary font-weight-semibold">
                                <td>Số phép được sử dụng</td>
                                <td class="text-right">@ViewBag.TieuChuan</td>
                                <td></td>
                            </tr>
                            <tr class="font-italic">
                                <td>Tiêu chuẩn phép</td>
                                <td class="text-right">12 </td>
                                <td></td>
                            </tr>
                            <tr class="font-italic">
                                <td>Phép thâm niên của <b>@ViewBag.CongTac</b> năm làm việc</td>
                                <td class="text-right">@ViewBag.ThamNien</td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            <tr class="text-primary font-weight-semibold">
                                <td>Số phép được sử dụng</td>
                                <td class="text-right">@ViewBag.TieuChuan</td>
                                <td></td>
                            </tr>
                        }
                    }
                    <tr class="text-primary font-weight-semibold">
                        <td>Số phép còn lại  2 năm gần nhất</td>
                        <td class="text-right">@ViewBag.NamGanNhat</td>
                        <td></td>
                    </tr>
                    <tr class="text-primary font-weight-semibold">

                        <td>Tổng số phép được sử dụng</td>
                        <td class="text-right">@ViewBag.TongPhepSuDung</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <table class="table table-sm Custom">

        <tbody>
            @{
                <tr style="background: lemonchiffon">
                    <th>STT</th>
                    <th>Ngày lập</th>
                    <th>Thời gian</th>
                    <th>Lý do</th>
                    <th style="width:100px" class="text-right">Số ngày</th>
                    <th></th>
                </tr>

                for (int i = 0; i < _ListData.Count; i++)
                {
                    var rec = _ListData[i];

                    <tr>
                        <td>@(i+1)</td>
                        <td style="width:100px">@rec.NoteDate.ToString("dd/MM/yyyy")</td>
                        <td style="width:250px">@(rec.FromDate.ToString("dd/MM/yyyy") + " đến hết ngày "+ rec.ToDate.ToString("dd/MM/yyyy"))</td>
                        <td>@rec.Description</td>
                        <td style="width:100px" class="text-right">@rec.TotalDate.ToString()</td>
                        <td></td>
                    </tr>
                }

                <tr class="">
                    <td colspan="3"></td>
                    <td class="text-right">Số phép đã sử dụng</td>
                    <td class="text-right">@ViewBag.SuDung</td>
                    <td></td>
                </tr>
                <tr class="text-primary font-weight-semibold">
                    <td colspan="3"></td>
                    <td class="text-right">Còn lại được sử dụng</td>
                    <td class="text-right">@ViewBag.ConLai</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>


</blockquote>