﻿@model List<Employee_Model>
@{
    Layout = null;
}

<table class="table table-sm">
    @{
        foreach (var item in Model)
        {
            if (item.PhotoPath == string.Empty)
            {
                item.PhotoPath = Helper.DefaultImage;
            }
            <tr emp='@item.EmployeeKey'>
                <td style="white-space: nowrap" class="member-image">
                    <img src="@item.PhotoPath" alt="Member" class="rounded-circle" style="height:40px; float:left">
                    @(item.LastName + " " + item.FirstName)<br />
                    <small>@item.PositionName</small>
                </td>
            </tr>
        }
    }
</table>