﻿@using ABG.Employee
@{
    ViewBag.Title = "CacDonPhep";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ListSelectBranch = new List<Branch_Model>();
    if (ViewBag.SelectBranch != null)
    {
        ListSelectBranch = ViewBag.SelectBranch as List<Branch_Model>;
    }

    string BranchKey = "";
    if (ViewBag.BranchKey != null)
    {
        BranchKey = ViewBag.BranchKey;
    }


    var _ListData = new List<Leave_Note_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Leave_Note_Model>;
    }
    var _ListSearch = _ListData.DistinctBy(s => s.EmployeeKey).ToList(); ;
}
<style>
    #MainData label > i {
        display: none !important;
    }
</style>
<header class="page-header">
    <h2>Các nhân sự có đơn phép phát sinh trong năm @ViewBag.Year</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-2">
        <select class="form-control select2" id="cbo_Year" name="year">
            @{
                for (int y = 2022; y <= DateTime.Now.Year; y++)
                {
                    if (ViewBag.Year == y.ToString())
                    {
                        <option value="@y" selected>--@y--</option>
                    }
                    else
                    {
                        <option value="@y">--@y--</option>
                    }
                }
            }
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-control select2" id="cbo_Branch">
            <option value="0">--Tất cả--</option>
            @{
                foreach (var item in ListSelectBranch)
                {
                    if (BranchKey != string.Empty && BranchKey == item.BranchKey)
                    {
                        <option value="@item.BranchKey" selected>@item.BranchName</option>
                    }
                    else
                    {
                        <option value="@item.BranchKey">@item.BranchName</option>
                    }
                }
            }
        </select>
    </div>
    <div class="col-md-3">
        <select id="cbo_SearchEmployee" class="form-control select2" name="Employee">
            <option value="">--//--</option>
            @foreach (var zItem in _ListSearch)
            {
                <option value="@zItem.EmployeeKey">@zItem.EmployeeName</option>
            }
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-body">
            <div class="toggle toggle-primary" data-plugin-toggle id="MainData">
                @{
                    if (_ListData.Count > 0)
                    {
                        for (int i = 0; i < _ListData.Count; i++)
                        {
                            Leave_Note_Model zModel = _ListData[i];
                            string EmployeeName = zModel.EmployeeName;
                            string EmployeeKey = zModel.EmployeeKey;
                            string PositionName = zModel.PositionName;
                            string chinhanh = zModel.BranchName;

                            <section class="toggle" employeekey="@EmployeeKey" name="clickable">
                                <label>
                                    <span class="float-left" style="width:27%"><b>@((i + 1) + " - " + EmployeeName)</b></span>
                                    <span class="">@PositionName</span>
                                    <span class="float-right">@chinhanh</span>
                                </label>
                                <div class="toggle-content" name="@EmployeeKey"></div>
                            </section>
                        }
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>
        var URL_DuLieuPhep = "@Url.Action("DuLieuPhep", "Staff")";
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var width = $(window).width();
        var height = $(window).height() - 550;
        var heightdialog = $(window).height() - 350;
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }

        $(document).ready(function () {
            $('section[name="clickable"]').on('click', function (e) {
                var employeekey = $(this).attr("employeekey");
                if ($('div[name="' + employeekey + '"]').is(':visible')) {
                    OpenTableSub(employeekey);
                }
            });
            $('section[name="clickable"]').on('click', 'button', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'table', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'a.dropdown-item', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'tr[notekey]', function (e) {
                e.stopPropagation();
                var key = $(this).attr('notekey');
            });

            $("#cbo_Branch").change(function () {
                Utils.LoadIn();
                var URL_List = "/Staff/CacDonPhep?year=" + $("#cbo_Year").val() +"&branchkey=" + this.value;
                window.location.href = URL_List;
            });
            $("#cbo_SearchEmployee").change(function () {
                Utils.LoadIn();
                var URL_List = "/Staff/CacDonPhep?year=" + $("#cbo_Year").val() +"&employee=" + this.value;
                window.location.href = URL_List;
            });
        });

        //$("#cbo_Branch").change(function () {
        //    Utils.LoadIn();
        //    var URL_List = "/Staff/CacDonPhep?branchkey=" + this.value;
        //    window.location.href = URL_List;
        //});
        //$("#cbo_SearchEmployee").change(function () {
        //    Utils.LoadIn();
        //    var URL_List = "/Staff/CacDonPhep?Employee=" + this.value;
        //    window.location.href = URL_List;
        //});

        function OpenTableSub(key) {
            $.ajax({
                url: URL_DuLieuPhep,
                type: 'GET',
                data: {
                    "employeekey": key,
                    "year": $("#cbo_Year").val()
                },
                beforeSend: function () {
                    $('div[name="' + key + '"]').empty();
                },
                success: function (r) {
                    $('div[name="' + key + '"]').append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
    </script>
}