﻿@using System.Data
@{
    ViewBag.Title = "ListStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User_Model UserLog = Session["User_Model"] as User_Model;
    User_Role Role = UserLog.ListRole.SingleOrDefault(x => x.RoleID == "HRM201");
    if (Role == null)
    {
        Role = new User_Role();
    }

    var List = new List<Employee_Model>();
    if (ViewBag.List != null)
    {
        List = ViewBag.List as List<Employee_Model>;
    }

    int TongNSLV = 0;
    int TongNSNV = 0;
    int TongNSCO = 0;
    int TongNSKO = 0;
    int TongMOIVO = 0;
    int TongHDLD = 0;
    var SummaryTable = new DataTable();
    if (ViewBag.BranchTable != null)
    {
        SummaryTable = ViewBag.BranchTable as DataTable;

        foreach (DataRow r in SummaryTable.Rows)
        {
            string BranchName = r["BranchName"].ToString();
            int NSLV = r["NSLV"].ToInt();
            int NSNV = r["NSNV"].ToInt();
            int CoBHXH = r["CoBHXH"].ToInt();
            int KoBHXH = r["KoBHXH"].ToInt();
            int MoiVo = r["MOIVO"].ToInt();
            int HDLD = r["HDDH"].ToInt();

            TongNSLV += NSLV;
            TongNSNV += NSNV;
            TongNSCO += CoBHXH;
            TongNSKO += KoBHXH;
            TongMOIVO += MoiVo;
            TongHDLD += HDLD;

        }
    }

    var ListSelectBranch = new List<Branch_Model>();
    if (ViewBag.SelectBranch != null)
    {
        ListSelectBranch = ViewBag.SelectBranch as List<Branch_Model>;
    }

    string BranchKey = "";
    if (ViewBag.BranchKey != null)
    {
        BranchKey = ViewBag.BranchKey;
    }

    int NoParty = 0;
}
<style>
    .dropdown-toggle::after {
        border: 0;
        content: '•••';
        transform: translate(-15%, 0%) rotate(90deg);
    }

    .table th, .table td {
        vertical-align: middle !important;
    }
</style>
<header class="page-header">
    <h2>Hồ sơ các cán bộ, nhân viên <small>(lý lịch, hợp đồng, phép, lương)</small></h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-3">
        <select class="form-control select2" id="cbo_Branch">
            <option value="0">--Tất cả--</option>
            @{
                foreach (var item in ListSelectBranch)
                {
                    if (BranchKey != string.Empty && BranchKey == item.BranchKey)
                    {
                        <option value="@item.BranchKey" selected>@item.BranchName</option>
                    }
                    else
                    {
                        <option value="@item.BranchKey">@item.BranchName</option>
                    }
                }
            }
        </select>
    </div>
    <div class="col-md-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Họ tên" id="txt_EmloyeeName" name="SearchName">
            <button type="button" class="btn btn-primary" onclick="SearchName()">
                Tìm
            </button>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-9">
        <div class="card border" id="divData" style="overflow:scroll">
            <table class="table Custom table-sm bg-white mb-0" id="tblData">
                <thead>
                    <tr style="text-align:center">
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Chức vụ</th>
                        <th>Tình trạng</th>
                        <th>Tuyển dụng</th>
                        <th>Thâm niên</th>
                        <th>Ngày sinh</th>
                        <th>CMND</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                    </tr>
                </thead>
                <tbody id="tblBody">
                    @for (int i = 0; i < List.Count; i++)
                    {
                        Employee_Model Model = List[i];
                        string zBirthday = "", zStartingDate = "";
                        if (Model.Birthday != DateTime.MinValue)
                        {
                            zBirthday = Model.Birthday.ToString("dd/MM/yyyy");
                            if (Model.Birthday.Month == DateTime.Now.Month)
                            { NoParty++; }
                        }
                        if (Model.StartingDate != DateTime.MinValue)
                        {
                            zStartingDate = Model.StartingDate.ToString("dd/MM/yyyy");
                        }
                        if (Model.PhotoPath == string.Empty)
                        {
                            Model.PhotoPath = Helper.DefaultImage;
                        }

                        <tr key="@Model.EmployeeKey">
                            <td>@(i + 1)</td>
                            <td style="white-space: nowrap" class="member-image">
                                <img src="@Model.PhotoPath" alt="Member" class="rounded-circle" style="height:40px">
                                @(Model.LastName + " " + Model.FirstName)
                            </td>
                            <td style="white-space: nowrap">@Model.PositionName</td>
                            <td style="white-space: nowrap">@Model.WorkingStatusName</td>
                            <td>@zStartingDate</td>
                            <td style="white-space: nowrap" class="text-primary">@Model.TN</td>
                            <td>@zBirthday</td>
                            <td>@Model.PassportNumber</td>
                            <td style="white-space: nowrap">@Model.Email</td>
                            <td>@Model.MobiPhone</td>
                            <td style="white-space: nowrap">@Model.AddressRegister</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center">Tình trạng nhân sự</h2>
            </div>
            <div class="card-body p-2">
                <div class="radio-custom radio-primary border-bottom pb-2 text-primary">
                    <input type="radio" id="rdo02" name="incTask" value="work" checked>
                    <label for="rdo02">
                        Đang làm việc
                    </label>
                    <span class="float-right badge badge-primary">@TongNSLV</span>
                </div>
                <div class="radio-custom radio-primary border-bottom pb-2">
                    <input type="radio" id="rdo04" name="incTask" value="insure">
                    <label for="rdo04">
                        - Có tham gia BHXH
                    </label>
                    <span class="float-right badge badge-primary">@TongNSCO</span>
                </div>
                <div class="radio-custom radio-primary border-bottom pb-2">
                    <input type="radio" id="rdo03" name="incTask" value="noinsure">
                    <label for="rdo03">
                        - Không tham gia BHXH
                    </label>
                    <span class="float-right badge badge-primary">@TongNSKO</span>
                </div>
                <div class="radio-custom radio-primary border-bottom pb-2 text-info">
                    <input type="radio" id="rdo05" name="incTask" value="years">
                    <label for="rdo05">
                        - Mới vào làm <small>(nhỏ hơn 2 năm)</small>
                    </label>
                    <span class="float-right badge badge-primary">@TongMOIVO</span>
                </div>
                <div class="radio-custom radio-primary border-bottom pb-2">
                    <input type="radio" id="rdo06" name="incTask" value="party">
                    <label for="rdo06">
                        - Có sinh nhật trong tháng
                    </label>
                    <span class="float-right badge badge-primary">@NoParty</span>
                </div>
                <div class="radio-custom radio-warning border-bottom pb-2 text-warning d-none">
                    <input type="radio" id="rdo07" name="incTask" value="contract">
                    <label for="rdo07">
                        - Có hđlđ đến, quá hạn
                    </label>
                    <span class="float-right badge badge-primary">@TongHDLD</span>
                </div>
                <div class="radio-custom radio-danger border-bottom pb-2 text-danger">
                    <input type="radio" id="rdo01" name="incTask" value="off">
                    <label for="rdo01">
                        Đã nghỉ việc
                    </label>
                    <span class="float-right badge badge-primary">@TongNSNV</span>
                </div>

            </div>
        </div>



    </div>
</div>

@section  scripts{
    <script src="~/assets/AppJs/tableHeadFixer.js"></script>
    <script>
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var width = $(window).width();
        var height = $(window).height() - 550;
        var heightdialog = $(window).height() - 350;
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }
        var URL_Info = '@Url.Action("Info", "Employee")';
        var URL_History = '@Url.Action("History", "Employee")';
        var URL_General = '@Url.Action("General","Employee")';
        var URL_Gross = '@Url.Action("Gross", "Employee")';
        var URL_Seniority = '@Url.Action("Seniority", "Employee")';
        var URL_Review = '@Url.Action("Review", "Employee")';
        var URL_Data = '@Url.Action("ListStaffFilter", "Staff")';
        var URL_Contract = '@Url.Action("Contract", "Staff")';
        var URL_SearchName='@Url.Action("SearchName", "Staff")';
        $(document).ready(function () {
            $("#divData").css({
                "height": $(window).height() - 290,
            });
            $("#divData").on("click", "tr", function () {
                var id = $(this).attr("key");
                console.log(id);
                url = URL_Info + '?EmployeeKey=' + id;
                title = 'Hồ sơ nhân sự';

                $.dialog({
                    theme: 'supervan',
                    closeIcon: true,
                    columnClass: 'xlarge',
                    title: title,
                    content: 'url:' + url,
                    animation: 'scale',
                    closeAnimation: 'scale',
                    backgroundDismiss: true,
                });
            });

            $("#cbo_Branch").change(function () {
                var URL_List = "/Staff/ListStaff?Branch=" + this.value;
                window.location.href = URL_List;
            });
            $('input[type=radio][name=incTask]').change(function () {
                LoadList(this.value);
            });
        });
        $(document).on('change', '#cboView', function () {
            LoadGross();
        });
        function LoadList(type) {
            $.ajax({
                url: URL_Data,
                type: "GET",
                data: {
                    "Branch": $("#cbo_Branch").val(),
                    "type": type
                },
                beforeSend: function () {
                    Utils.LoadIn();
                    $("#divData").empty();
                },
                success: function (r) {
                    $("#divData").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function ViewHistory(Key) {
            $.ajax({
                url: URL_History,
                type: 'GET',
                data: {
                    "EmployeeKey": Key,
                },
                beforeSend: function () {
                    $("#RightPanel").empty();
                },
                success: function (r) {
                    $("#RightPanel").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function ViewGeneral(Key) {
            $.ajax({
                url: URL_General,
                type: 'GET',
                data: {
                    "EmployeeKey": Key,
                },
                beforeSend: function () {
                    $("#RightPanel").empty();
                },
                success: function (r) {
                    $("#RightPanel").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function ViewSeniority(Key) {
            $.ajax({
                url: URL_Seniority,
                type: 'GET',
                data: {
                    "EmployeeKey": Key,
                },
                beforeSend: function () {
                    $("#RightPanel").empty();
                    Utils.ShowLoading("#RightPanel");
                },
                success: function (r) {
                    Utils.DoneLoad();
                    $("#RightPanel").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    (function ($) {
                        'use strict';
                        if ($.isFunction($.fn['popover'])) {
                            $('[data-toggle="popover"]').popover();
                        }
                    }).apply(this, [jQuery]);
                }
            });
        }
        function ViewGross(Key) {
            $.ajax({
                url: URL_Gross,
                type: 'GET',
                data: {
                    "EmployeeKey": Key,
                },
                beforeSend: function () {
                    $("#RightPanel").empty();
                },
                success: function (r) {
                    $("#RightPanel").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function ViewContract(Key) {
            $.ajax({
                url: URL_Contract,
                type: 'GET',
                data: {
                    "EmployeeKey": Key,
                },
                beforeSend: function () {
                    $("#RightPanel").empty();
                },
                success: function (r) {
                    $("#RightPanel").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function SearchName() {
            var name = $("#txt_EmloyeeName").val();
            $.ajax({
                url: URL_SearchName,
                type: "GET",
                data: {
                    "Name": name
                },
                beforeSend: function () {
                    Utils.LoadIn();
                    $("#divData").empty();
                },
                success: function (r) {
                    $("#divData").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
    </script>
}