﻿@using ABG.Employee
@{
    ViewBag.Title = "ListContract";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ListSelectBranch = new List<Branch_Model>();
    if (ViewBag.SelectBranch != null)
    {
        ListSelectBranch = ViewBag.SelectBranch as List<Branch_Model>;
    }

    string BranchKey = "";
    if (ViewBag.BranchKey != null)
    {
        BranchKey = ViewBag.BranchKey;
    }

    List<Contract_Model> _ListData = new List<Contract_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Contract_Model>;
    }
}

<header class="page-header">
    <h2>Danh sách hợp đồng lao động</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-3">
        <select class="form-control select2" id="cbo_Branch">
            <option value="0">--Tất cả--</option>
            @{
                foreach (var item in ListSelectBranch)
                {
                    if (BranchKey != string.Empty && BranchKey == item.BranchKey)
                    {
                        <option value="@item.BranchKey" selected>@item.BranchName</option>
                    }
                    else
                    {
                        <option value="@item.BranchKey">@item.BranchName</option>
                    }
                }
            }
        </select>
    </div>
    <div class="col-md-3">

    </div>
</div>
<div class="row">
    <div class="col-md-12" id="divData" style="overflow:scroll">
        <table class="table Custom table-sm bg-white" id="table-1">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Hợp đồng số</th>
                    <th>Loại</th>
                    <th>Người lao động</th>
                    <th>Ngày ký</th>
                    <th>Thời gian</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody id="tblBody">
                @{
                    for (int i = 0; i < _ListData.Count; i++)
                    {
                        Contract_Model Model = _ListData[i];
                        string SignDate = (Model.SignDate == DateTime.MinValue ? "Không xác định" : Model.SignDate.ToString("dd/MM/yyyy"));
                        string FromDate = (Model.FromDate == DateTime.MinValue ? "Không xác định" : Model.FromDate.ToString("dd/MM/yyyy"));
                        string ToDate = (Model.ToDate == DateTime.MinValue ? "Không xác định" : Model.ToDate.ToString("dd/MM/yyyy"));
                        string Status = "";
                        string Text = "";
                        string RowColor = "style=background-color:white";

                        if (Model.ToDate != DateTime.MinValue)
                        {
                            if (Model.ToDate < DateTime.Now)
                            {
                                Status = "Đã quá hạn !.";
                                RowColor = "style=background-color:maroon;color:white;";
                            }
                            else
                            {
                                TimeSpan Time = Model.ToDate - DateTime.Now;
                                if (Model.ToDate >= DateTime.Now && Time.Days <= 30)
                                {
                                    Status = "Gần đến hạn !.";
                                    Text = "Còn lại " + Time.Days;
                                    RowColor = "style=background-color:PeachPuff";
                                }
                            }
                        }

                        <tr @RowColor contractkey="@Model.ContractKey">
                            <td>@(i + 1)</td>
                            @{
                                string ID = Model.ContractID;
                                if (Model.SubContract.Length > 0)
                                {
                                    ID = Model.SubContract;
                                }
                            }

                            <td>@ID</td>
                            <td>@Model.ContractTypeName</td>
                            <td>@Model.EmployeeName</td>
                            <td>@SignDate</td>
                            <td>
                                @(FromDate + " - " + ToDate)
                                @if (Status != string.Empty)
                                {
                                    <span class="wort-rotator-items" style="top: 0px;">
                                        <span>@Status</span>
                                        <span>@Text</span>
                                    </span>
                                }
                            </td>
                            <td>@Model.Note</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var width = $(window).width();
        var height = $(window).height() - 550;
        var heightdialog = $(window).height() - 350;
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }
        var URL_Info = "@Url.Action("ViewContract", "Staff")";

        $(document).ready(function () {
            $("#divData").css({
                "height": $(window).height() - 290,
            });
            $("#divData").on("click", "tr", function () {
                var id = $(this).attr("contractkey");
                console.log(id);
                url = URL_Info + '?ContractKey=' + id;
                title = 'Chi tiết hợp đồng lao động';

                $.dialog({
                    theme: 'supervan',
                    closeIcon: true,
                    columnClass: 'xlarge',
                    title: title,
                    content: 'url:' + url,
                    animation: 'scale',
                    closeAnimation: 'scale',
                    backgroundDismiss: true,
                });
            });

            $("#cbo_Branch").change(function () {
                var URL_List = "/Staff/ListContract?Branch=" + this.value;
                window.location.href = URL_List;
            });
        });
    </script>
}