﻿@using ABG.Employee
@{
    //ViewBag.Title = "ListContract";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ContractType_Model> _ListSelectType = new List<ContractType_Model>();
    if (ViewBag.ListSelectType != null)
    {
        _ListSelectType = ViewBag.ListSelectType as List<ContractType_Model>;
    }

    var ListSelectBranch = new List<Branch_Model>();
    if (ViewBag.SelectBranch != null)
    {
        ListSelectBranch = ViewBag.SelectBranch as List<Branch_Model>;
    }

    string BranchKey = "";
    if (ViewBag.BranchKey != null)
    {
        BranchKey = ViewBag.BranchKey;
    }


    List<Employee_Model> _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
}

@section Styles{
    <style>
        #MainData blockquote {
            padding: 0px !important;
        }

        #MainData label > i {
            display: none !important;
        }

        :disabled {
            border: 0px !important;
        }

        .jconfirm.jconfirm-supervan
        .jconfirm-box div.jconfirm-content {
            text-align: left !important;
        }

        .dropup .dropdown-toggle::after {
            border: 0;
            content: '•••';
            transform: translate(-15%, 0%) rotate(90deg);
        }

        .mfp-bg {
            z-index: 99999999999 !important;
        }

        .mfp-wrap {
            z-index: 99999999999 !important;
        }

            .mfp-wrap .mfp-content {
                z-index: 99999999999 !important;
            }
    </style>
}

<header class="page-header">
    @if (ViewBag.Header != null)
    {
        <h2>@ViewBag.Header</h2>
    }
    else
    {
        <h2>Hợp đồng của người lao động</h2>
    }


    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-3">
        <select class="form-control select2" id="cbo_Branch">
            <option value="0">--Tất cả--</option>
            @{
                foreach (var item in ListSelectBranch)
                {
                    if (BranchKey != string.Empty && BranchKey == item.BranchKey)
                    {
                        <option value="@item.BranchKey" selected>@item.BranchName</option>
                    }
                    else
                    {
                        <option value="@item.BranchKey">@item.BranchName</option>
                    }
                }
            }
        </select>
    </div>
    <div class="col-md-3">
        <select id="cbo_SearchEmployee" class="form-control select2" name="Employee">
            <option value="">--//--</option>
            @foreach (var zItem in _ListData)
            {
                <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
            }
        </select>
    </div>
    <div class="col-md-6">
        <div class="btn-group flex-wrap btn-block">
            <button type="button" class="btn btn-success" onclick="Xemvohan()">Không thời hạn (@ViewBag.VoTH)</button>
            <button type="button" class="btn btn-info" onclick="Xemcohan()">Còn hạn (@ViewBag.CoTH)</button>
            <button type="button" class="btn btn-danger" onclick="Xemdenhan()">Đến, quá hạn (@ViewBag.DenH)</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <a class="modal-with-zoom-anim btn btn-info" href="@Url.Action("ContractEdit", "Employee")">
                        <i class="fa fa-plus"></i>
                        Thêm mới
                    </a>
                </div>
            </div>
            <div class="toggle toggle-primary" data-plugin-toggle id="MainData">
                @{
                    if (_ListData.Count > 0)
                    {
                        for (int i = 0; i < _ListData.Count; i++)
                        {
                            Employee_Model zModel = _ListData[i];
                            string EmployeeName = zModel.LastName + " " + zModel.FirstName;
                            string EmployeeKey = zModel.EmployeeKey;
                            string ContractID = zModel.HDLD;
                            string Branch = zModel.BranchName;


                            <section class="toggle" employeekey="@EmployeeKey" contractid="@ContractID" name="clickable">
                                <label>
                                    <span class="float-left" style="width:27%"><b>@((i + 1) + " - " + ContractID)</b></span>
                                    <span>@EmployeeName</span>
                                    <span class="float-right">@Branch</span>
                                </label>
                                <div class="toggle-content" name="@EmployeeKey"></div>
                            </section>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<div id="modalCopy" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <form class="card border border-primary" method="post" action="@Url.Action("ContractCopy","Employee")">
        <input type="hidden" id="txt_ContractKey" name="ContractKey" />
        <div class="card-header">
            <h2 class="card-title">Khởi tạo phụ lục hợp đồng lao động</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số hợp đồng đầu tiên</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_MainContractID" value="0" placeholder="" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số phụ lục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_SubContractID" value="0" placeholder="" name="NewID">
                </div>
            </div>
            <div class="form-group row">
                <label for="fathername" class="col-lg-5 col-xl-3 control-label text-lg-right">Loại hợp đồng</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Type" class="form-control" name="ContractType">
                        @foreach (ContractType_Model zItem in _ListSelectType)
                        {
                            <option value="@zItem.ContractTypeKey">@zItem.ContractTypeNameVN</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày ký</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_SignDate" required="" name="SignDate"
                           placeholder="Chọn ngày" class="form-control datepicker"
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Từ ngày</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_FromDate" name="FromDate"
                           placeholder="Chọn ngày" class="form-control datepicker"
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">đến ngày</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_ToDate" name="ToDate"
                           placeholder="Chọn ngày" class="form-control datepicker"
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="submit" class="btn btn-outline-primary">
                <i class="far fa-save"></i>
                Khởi tạo
            </button>
        </div>
    </form>
</div>
<input type="hidden" value="@ViewBag.MaNVHetHan30" id="hh30" />
<input type="hidden" value="@ViewBag.MaNVVoHan" id="vohan" />
<input type="hidden" value="@ViewBag.MaNVCoHan" id="cohan" />
@section scripts{
    <script>
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var width = $(window).width();
        var height = $(window).height() - 550;
        var heightdialog = $(window).height() - 350;
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }
        var URL_Info = "@Url.Action("ViewContract", "Staff")";
        var URL_ContractSubView = "@Url.Action("ViewContractSub", "Staff")";
        var URL_Delete = '@Url.Action("ContractDelete", "Employee")';

        $(document).ready(function () {
            $("#divData").css({
                "height": $(window).height() - 290,
            });
            $('section[name="clickable"]').on('click', function (e) {
                var employeekey = $(this).attr("employeekey");
                if ($('div[name="' + employeekey + '"]').is(':visible')) {
                    OpenTableSub(employeekey);
                }
            });
            $('section[name="clickable"]').on('click', 'button', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'table', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'a.dropdown-item', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'tr[contractkey]', function (e) {
                e.stopPropagation();
                var key = $(this).attr('contractkey');
                if (key !== null) {
                    OpenModelContractView(key);
                }
            });
            $("#cbo_Branch").change(function () {
                Utils.LoadIn();
                var URL_List = "/Staff/ListContract?Branch=" + this.value;
                window.location.href = URL_List;
            });
            $("#cbo_SearchEmployee").change(function () {
                Utils.LoadIn();
                var URL_List = "/Staff/ListContract?Employee=" + this.value;
                window.location.href = URL_List;
            });
        });

        function Xemvohan() {
            Utils.LoadIn();
            var URL_List = "/Staff/ListContract?title=VH&EmployeeIN=" + $("#vohan").val();
            window.location.href = URL_List;
        }
        function Xemcohan() {
            Utils.LoadIn();
            var URL_List = "/Staff/ListContract?title=CH&EmployeeIN=" + $("#cohan").val();
            window.location.href = URL_List;
        }
        function Xemdenhan() {
            Utils.LoadIn();
            var URL_List = "/Staff/ListContract?title=HH&EmployeeIN=" + $("#hh30").val();
            window.location.href = URL_List;
        }

        function OpenTableSub(employeekey) {
            $.ajax({
                url: URL_ContractSubView,
                type: 'GET',
                data: {
                    "EmployeeKey": employeekey,
                },
                beforeSend: function () {
                    $('div[name="' + employeekey + '"]').empty();
                },
                success: function (r) {
                    $('div[name="' + employeekey + '"]').append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    $('.dropdown-toggle').dropdown();
                }
            });
        }
        function OpenModelContractView(key) {
                url = URL_Info + '?ContractKey=' + key;
                title = 'Chi tiết hợp đồng lao động';

                $.dialog({
                    theme: 'supervan',
                    closeIcon: true,
                    columnClass: 'xlarge',
                    title: title,
                    content: 'url:' + url,
                    animation: 'scale',
                    closeAnimation: 'scale',
                    backgroundDismiss: true,
                });
        }
        function Delete(key) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "ContractKey": key
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        function OpenCopy(contractkey, type, contractid, fromdate, todate, signdate) {
            Utils.OpenMagnific("#modalCopy");
            $("#txt_ContractKey").val(contractkey);
            $("#txt_MainContractID").val(contractid);
            $("#txt_FromDate").val(fromdate);
            $("#txt_ToDate").val(todate);
            $("#txt_SignDate").val(signdate);
            $("#cbo_Type").val(type);
        }
    </script>
}