﻿@using System.Data
@{
    ViewBag.Title = "ListPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Payroll_Close_Model> _ListData = new List<Payroll_Close_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Payroll_Close_Model>;
    }

    var Table = new DataTable();
    if (ViewBag.Table != null)
    {
        Table = ViewBag.Table as DataTable;
    }
}
<style>
    .r-active {
        background-color: mediumpurple;
        font-style: italic;
        color: white;
    }

</style>
<header class="page-header">
    <h2>Bảng lương thanh toán tổng hợp các chi nhánh trong tháng và năm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-3">
        <select class="form-control select2" id="cbo_Year">
            <option value="2022">--2022--</option>
            <option value="2021">--2021--</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="divData" style="overflow:scroll">
        <table class="table table-bordered table-sm bg-white" id="table-1">
            <thead>
                <tr class="text-center">
                    <th rowspan="2">Thời gian</th>
                    <th colspan="3">Nhân sự làm việc</th>
                    <th rowspan="2" style="width:100px">Tổng lương thanh toán</th>
                    <th colspan="2">BHXH</th>
                    <th rowspan="2" style="width:100px">Tổng chi phí</th>
                </tr>
                <tr class="text-center">
                    <th style="width:100px">Tổng</th>
                    <th style="width:100px">Tham gia BHXH</th>
                    <th style="width:100px">Không BHXH</th>
                    <th style="width:100px">Quỹ lương </th>
                    <th style="width:100px">Chi trả BHXH 30,5%</th>
                </tr>
            </thead>
            <tbody id="tblBody">
                @{
                    <tr style="font-weight:bolder; background-color:lemonchiffon">
                        <td>Tổng năm 2022</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        @{
                            for (int c = 5; c < Table.Columns.Count; c++)
                            {
                                double total = 0;
                                for (int i = 0; i < Table.Rows.Count; i++)
                                {
                                    DataRow r = Table.Rows[i];
                                    total += r[c].ToDouble();
                                }
                                <td class="text-right">@total.ToString("n0")</td>
                            }

                            double totalrow = 0;
                            for (int i = 0; i < Table.Rows.Count; i++)
                            {
                                DataRow r = Table.Rows[i];
                                totalrow += r[5].ToDouble() + r[7].ToDouble();
                            }

                            <td>
                                @totalrow.ToString("n0")
                            </td>
                        }
                    </tr>
                    for (int i = 0; i < Table.Rows.Count; i++)
                    {
                        DataRow r = Table.Rows[i];

                        <tr key="@r[0]">
                            <td>
                                Tháng @r[1]
                            </td>
                            @{
                                totalrow = r[5].ToDouble() + r[7].ToDouble();
                                for (int c = 2; c < Table.Columns.Count; c++)
                                {
                                    if (c >= 5)
                                    {
                                        <td class="text-right">@r[c].ToDouble().ToString("n0")</td>
                                    }
                                    else
                                    {
                                        <td class="text-center">@r[c].ToDouble().ToString("n0")</td>
                                    }
                                }
                            }
                            <td class="text-right">@totalrow.ToString("n0")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div id="mdView" class="zoom-anim-dialog modal-block modal-block-full mfp-hide modal-header-color modal-block-info">

</div>
@section scripts{
    <script src="~/assets/Appjs/tableHeadFixer.js"></script>
    <script src="~/assets/web/themes/js/Chart.js"></script>
    <script src="~/assets/web/themes/js/ChartUtils.js"></script>
    <script src="~/assets/js/chartjs-plugin-labels.js"></script>
    <script src="~/assets/vendor/popper/umd/popper.min.js"></script>
    <script>
        var URL_PaymentQuick = "@Url.Action("PaymentQuick", "Staff")";
        var Url_Branch = "@Url.Action("Branch_DataIndex", "Staff")";
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var width = $(window).width();
        var height = $(window).height() - 550;
        var heightdialog = $(window).height() - 350;
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }
        $('tr[key]').click(function () {
            var id = $(this).attr("key");
            var $parent = $(this);
            var $child = $("tr[child='" + id + "']");
            //var title = $(this).closest('tr').find('td').eq(1).text();
            //var url = "/Staff/PaymentDetail?Id="+id;

            if ($child.is(':visible')) {
                console.log("hide div");
                $parent.removeClass("r-active");
                $child.fadeOut();
                return;
            }

            $.ajax({
                url: URL_PaymentQuick,
                type: "GET",
                data: {
                    "Id": id
                },
                beforeSend: function () {
                    $child.empty();
                },
                success: function (r) {
                    $(r).insertAfter($parent);
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {
                    console.log("load data");
                    $parent.addClass("r-active");
                    $child.fadeIn();
                }
            });
        });
        function Detail(branchkey, closekey) {
            var $child = $("tr[child='" + closekey + "']");
            var url = "/Staff/Branch_DataIndex?Branch=" + branchkey + "&Close=" + closekey;
            var title = 'Chi phí nhân sự ' + $child.find('td').eq(0).text();
            $.dialog({
                theme: 'supervan',
                closeIcon: true,
                columnClass: 'xlarge',
                title: title,
                content: 'url:' + url,
                animation: 'scale',
                closeAnimation: 'scale',
                backgroundDismiss: true,
                onContentReady: function () {
                    renderChart();
                    numberRun();
                    fixTable();
                    Utils.LoadOut();
                    $('tr[rel="popover"]').popover({ trigger: "hover", placement: "top" });
                },
            });

            //$.ajax({
            //    url: Url_Branch,
            //    type: 'GET',
            //    data: {
            //        "Branch": branchkey,
            //        "Close": closekey,
            //    },
            //    beforeSend: function () {
            //        Utils.LoadIn();
            //        $("#mdView").empty();
            //    },
            //    success: function (r) {
            //        $("#mdView").append(r);
            //    },
            //    error: function (err) {
            //        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
            //    },
            //    complete: function () {
            //        Utils.OpenMagnific("#mdView");
            //        renderChart();
            //        numberRun();
            //        fixTable();
            //        Utils.LoadOut();
            //        $('tr[rel="popover"]').popover({ trigger: "hover", placement: "top" });
            //    }
            //});
        }
    </script>
    <script>
        function InitJsPopup() {
            var height = $(window).height() - 350;
            $('div[name="panelt5"]').css({
                "height": height,
            });
            $("#tbl51").tableHeadFixer({
                head: true,
                foot: false,
                left: 2,
                right: 0,
                'z-index': '50'
            });
            $("#tbl52").tableHeadFixer({
                head: true,
                foot: false,
                left: 2,
                right: 0,
                'z-index': '50'
            });
            $("#tbl53").tableHeadFixer({
                head: true,
                foot: false,
                left: 2,
                right: 0,
                'z-index': '50'
            });
            $("#tbl54").tableHeadFixer({
                head: true,
                foot: false,
                left: 2,
                right: 0,
                'z-index': '50'
            });
            $("#tbl56").tableHeadFixer({
                head: true,
                foot: false,
                left: 2,
                right: 0,
                'z-index': '50'
            });
        }
    </script>
    <script>
        function fixTable() {
            $("#panelTable").css({
                "height": 550,
            });
            $("#tblData").tableHeadFixer({
                head: true,
                foot: false,
                left: 2,
                right: 0,
                'z-index': '50'
            });
            InitClick();
        }
        function InitClick() {
            $("table tr").click(function () {
                var selected = $(this).hasClass("selectRow");
                $("table tr").removeClass("selectRow");
                if (!selected)
                    $(this).addClass("selectRow");
            });
        }
        function numberRun() {
            $('.count').each(function () {
                var $this = $(this);
                jQuery({ Counter: 0 })
                    .animate({
                        Counter: $this.attr('data-stop')
                    }, {
                        duration: 1000,
                        easing: 'swing',
                        step: function (now) {
                            $this.text(Math.ceil(now));
                        }
                    }).promise()
                    .done(function () {
                        var no = $.number($this.text(), 0);
                        $this.text(no);
                    })
            });
        }
        function renderChart() {
            if (data !== undefined) {
                try {
                    var ctx = document.getElementById('canvas');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: {
                            tooltips: {
                                callbacks: {
                                    title: function (tooltipItem, data) {
                                        return data['labels'][tooltipItem[0]['index']];
                                    },
                                    label: function (tooltipItem, data) {
                                        var dataset = data['datasets'][0];
                                        var num = kFormatter(dataset['data'][tooltipItem['index']]);
                                        return num;
                                    },
                                },
                                backgroundColor: '#FFF',
                                titleFontSize: 16,
                                titleFontColor: '#0066ff',
                                bodyFontColor: '#000',
                                bodyFontSize: 14,
                                displayColors: false
                            },
                            legend: {
                                position: 'right',
                            },
                            title: {
                                display: true,
                                text: 'Tổng chi phí ' + $.number(tong)
                            },
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                labels: {
                                    render: function (args) {
                                        return kFormatter(args.value);
                                    },
                                    position: 'outside',
                                    arc: true,
                                    precision: 2
                                }
                            },
                        }
                    });
                } catch (e) {
                    Utils.LoadOut();
                }

            }
        }
        function kFormatter(num) {
            if (num > 999999) {
                return Math.abs(num) > 999999 ? Math.sign(num) * ((Math.abs(num) / 1000000).toFixed(1)) + 'tr' : Math.sign(num) * Math.abs(num)
            }
            if (num > 999) {
                return Math.abs(num) > 999 ? Math.sign(num) * ((Math.abs(num) / 1000).toFixed(1)) + 'ng' : Math.sign(num) * Math.abs(num)
            }

            return num;
        }
    </script>
}