﻿
@{
    ViewBag.Title = "ReportPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ListSelectBranch = new List<Branch_Model>();
    if (ViewBag.SelectBranch != null)
    {
        ListSelectBranch = ViewBag.SelectBranch as List<Branch_Model>;
    }
}
<style>
    .selectRow {
        background-color: #d3e9ba;
        color: #2196f3;
        font-weight: bold;
    }

    .mainfocus {
        color: white;
        font-weight: bold;
        background: mediumpurple;
    }
</style>
<header class="page-header">
    <h2>Theo dõi biến động chi phí lương/nhân sự/chi nhánh</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center">Tuỳ chọn hiển thông tin</h2>
            </div>
            <div class="card-body p-2">
                <div class="radio-custom radio-primary ">
                    <input type="radio" id="rdo04" name="incTask" value="branch" checked>
                    <label for="rdo04">
                        Theo chi nhánh
                    </label>
                </div>
                <div class="radio-custom radio-primary ">
                    <input type="radio" id="rdo02" name="incTask" value="pesonal">
                    <label for="rdo02">
                        Từng cá nhân
                    </label>
                </div>
                <div class="form-group">
                    <input type="number" id="txt_Year" name="Year" class="form-control" value="@DateTime.Now.Year">
                </div>
                <div class="form-group">
                    <select class="form-control select2" id="cbo_Branch" placeholder="Branch" name="Branch" onchange="ViewBranch()">
                        <option value="0" selected>--Tất cả--</option>
                        @{
                            foreach (var item in ListSelectBranch)
                            {
                                <option value="@item.BranchKey">@item.BranchName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group" id="filterEmp" style="display:none;">
                    <input type="hidden" value="" id="viewEmp">
                    <input type="text" class="form-control" placeholder="Tìm kiếm tên nhân sự" id="txt_searchName">
                    <div id="divEmp" style="max-height: 400px; overflow-y: scroll;"></div>
                </div>
            </div>
            <div class="card-footer text-center d-none">
                <button class="btn btn-outline-primary" type="button" id="btnGo" onclick="GoSearch()">
                    <i class="fas fa-search"></i>
                    Xem
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card-body border" id="divData" style="overflow:scroll; height:768px">

        </div>
    </div>
</div>
@section scripts{
    <script>
        var URL_Emp = "@Url.Action("EmployeeHtml", "Staff")";
        var URL_Search = "@Url.Action("ReportData", "Staff")";
        var view = "branch";
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var width = $(window).width();
        var height = $(window).height() - 550;
        var heightdialog = $(window).height() - 350;
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }
        $(document).ready(function () {
            $('input[type=radio][name=incTask]').change(function () {
                if (this.value == "pesonal") {
                    $("#filterEmp").show();
                    LoadData();
                }
                else {
                    $("#filterEmp").hide();
                }
                view = this.value;
            });
            $("#divEmp").on("click", "tr[emp]", function () {
                var key = $(this).attr("emp");
                console.log(key);
                $("#viewEmp").val(key);
                $("#divEmp").find("tr").each(function () { $(this).removeClass("selectRow"); });
                $(this).addClass("selectRow");

                if (view === "pesonal") {
                    GoSearch();
                }
            });
            GoSearch();
        });
        function GoSearch() {
            console.log(view);
            console.log($("#cbo_Branch").val());
            console.log($("#viewEmp").val());

            $.ajax({
                url: URL_Search,
                type: "GET",
                data: {
                    "type": view,
                    "branch": $("#cbo_Branch").val(),
                    "employee": $("#viewEmp").val(),
                    "year": $("#txt_Year").val(),
                },
                beforeSend: function () {
                    $("#divData").empty();
                },
                success: function (r) {
                    $("#divData").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {
                    if (view === "branch") {
                        $('#tblData tbody tr:eq(3)').addClass("mainfocus");
                        $('#tblData tbody tr:eq(4)').addClass("mainfocus");
                        $('#tblData tbody tr:eq(16)').addClass("mainfocus");
                    }
                }
            });
        }
        function ViewBranch() {
            var id = $("#cbo_Branch").val();
            if (view === "branch") {
                GoSearch();
                return;
            }

            $.ajax({
                url: URL_Emp,
                type: "GET",
                data: {
                    "branchkey": id
                },
                beforeSend: function () {
                    $("#divEmp").empty();
                },
                success: function (r) {
                    $("#divEmp").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
        function LoadData() {
            var branch = $("#cbo_Branch").val();
            $.ajax({
                url: URL_Emp,
                type: "GET",
                data: {
                    "branchkey": branch
                },
                beforeSend: function () {
                    $("#divEmp").empty();
                },
                success: function (r) {
                    $("#divEmp").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}