﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <style>
        html, body {
            margin: 0;
            padding: 0;
            background-color: #FFFFFF;
        }

        #calendar {
            max-width: 1100px;
            margin: 40px auto;
        }
    </style>
}
<div class="row">
    <div class="col-12">
        <div class="f-calendar" id='calendar'></div>
    </div>
</div>
@section Scripts
{
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script>
        var urldata = '@Url.Action("getEvents","Home")';
        var urlAdd = '@Url.Action("AddEvent","Home")';
        var urlupdate = '@Url.Action("UpdateEvent","Home")';
        var awatingSecondClick = false;
        var ele = null;
        var calendarEl = null;
        var calendar = null;
        document.addEventListener('DOMContentLoaded', function () {
            calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC',
                locale: 'vi-VN',
                initialView: 'dayGridMonth',
                events: '',
                editable: true,
                selectable: true,
                buttonText: {
                    today: 'Hôm nay',
                    month: 'tháng',
                    week: 'tuần',
                    day: 'ngày',
                    list: 'danh sách'
                },
                eventAllow: function (dropLocation, draggedEvent) {
                    return false;
                },
                eventTimeFormat: {
                    // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: true
                },
                eventClick: function (info) {
                    var eventObj = info.event;
                    if (eventObj.url !== "null") {
                        window.open(eventObj.url);
                        // prevents browser from following link in current tab.
                        info.jsEvent.preventDefault();
                    }
                    else {
                        info.jsEvent.preventDefault();
                        $('#newEvent').on('shown.bs.modal', function () {
                            $('#newEvent').trigger('focus');
                        }).modal('show');

                        $("#txt_id").val(eventObj.id);
                        $("#txt_startday").val(eventObj.start);
                        $("#txt_endday").val(eventObj.end);
                        $("#txt_title").val(eventObj.title);
                        $("#txt_description").val(eventObj.extendedProps.description);
                    }
                },
                dateClick: function (info) {
                    if (!awatingSecondClick) {
                        ele = info.dayEl;
                        awatingSecondClick = true;
                        setTimeout(function () {
                            awatingSecondClick = false;
                        }, 300);
                    }
                    else {
                        if (ele === info.dayEl) {
                            $('#newEvent').on('shown.bs.modal', function () {
                                $('#newEvent').trigger('focus');
                            }).modal('show');

                            var start = moment(info.dateStr, 'YYYY-MM-DD').format('DD/MM/YYYY h:mm A');
                            var end = moment(info.dateStr, 'YYYY-MM-DD').format('DD/MM/YYYY h:mm A');

                            $("#txt_startday").val(start);
                            $("#txt_endday").val(end);
                        }
                    }
                }
            });
            calendar.render();
        });
        function Save()
        {
            var id=  $("#txt_id").val();
            var title = $("#txt_title").val();
            var description = $("#txt_description").val();
            var startday = $("#txt_startday").val();
            var endday = $("#txt_endday").val();

            startday = moment(startday, 'DD/MM/YYYY').format('YYYY-MM-DD h:mm A');
            endday= moment(endday, 'DD/MM/YYYY').format('YYYY-MM-DD h:mm A');

            var url = urlAdd;
            if(id !== "0"){
                url = urlupdate;
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    "id":id,
                    "title": title,
                    "description": description,
                    "start": startday,
                    "end": endday,
                    "allDay": 'false'
                },
                beforeSend: function () {

                },
                success: function (r) {

                },
                error: function (err) {

                },
                complete: function () {
                    calendar.refetchEvents();
                    $('#newEvent').modal('hide');
                }
            });
        }
    </script>
}