﻿

@{
    Layout = null;
    List<Leave_Item> _ListData = new List<Leave_Item>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Leave_Item>;
    }
}

<table class="table table-sm table-bordered Custom" id="tblLeave">
    <thead>
        <tr>
            <th>#</th>
            <th colspan="3" class="text-center">Tiêu chuẩn đầu năm</th>
            <th colspan="3" class="text-center">Phát sinh phép trong năm</th>
            <th colspan="3" class="text-center">Số dư còn lại</th>
            <th>#</th>
        </tr>
        <tr>
            <td class="text-center">#</td>
            <td class="text-center">Đầu kỳ</td>
            <td class="text-center">Số phép</td>
            <td class="text-center">Phép thâm niên</td>
            <td class="text-center">Từ ngày</td>
            <td class="text-center">Đến ngày</td>
            <td class="text-center">Số ngày</td>
            <td class="text-center">Cuối kỳ</td>
            <td class="text-center">Số phép</td>
            <td class="text-center">Tích lũy</td>
            <td class="text-center">#</td>
        </tr>
    </thead>
    <tbody>
        @{
            if (_ListData.Count > 0)
            {
                var ListEmployee = _ListData.DistinctBy(o => o.EmployeeKey).ToList();

                foreach (var rec in ListEmployee)
                {
                    <tr style="background: aliceblue;" class="" id="@rec.EmployeeKey">
                        <td></td>
                        <td>@rec.EmployeeID</td>
                        <td colspan="5">@rec.EmployeeName</td>
                        <td>@rec.PositionName</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    var ListItem = _ListData.FindAll(x => x.EmployeeKey == rec.EmployeeKey);

                    int No = 0;
                    foreach (var item in ListItem)
                    {

                        string Begin = "";
                        if (item.BeginNo != string.Empty)
                        {
                            Begin = item.BeginNo;
                        }
                        string Plus = "";
                        if (item.BeginPlus != string.Empty)
                        {
                            Plus = item.BeginPlus;
                        }

                        No++;
                        if (No == ListItem.Count)
                        {
                            <tr view="@rec.EmployeeKey" class="hide" style="display:none;font-weight: bold;color: orangered;background: lemonchiffon;">
                                <td>.</td>
                                <td>@item.BeginYear</td>
                                <td>@Begin</td>
                                <td>@Plus</td>
                                <td>@item.FromDate</td>
                                <td>@item.ToDate</td>
                                <td>@item.TotalDate</td>
                                <td>@item.CloseYear</td>
                                <td>@item.CloseEnd</td>
                                <td>@item.Incremental</td>
                                <td>
                                    @if (item.Description.Length > 0)
                                    {
                                        <button type="button" class="btn btn-primary btn-xs"
                                                data-toggle="popover"
                                                data-container="body" 
                                                data-placement="top" 
                                                data-html="true"
                                                title=""
                                                data-content="@item.Description">
                                            Ghi chú
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr view="@rec.EmployeeKey" class="hide" style="display:none">
                                <td>.</td>
                                <td>@item.BeginYear</td>
                                <td>@Begin</td>
                                <td>@Plus</td>
                                <td>@item.FromDate</td>
                                <td>@item.ToDate</td>
                                <td>@item.TotalDate</td>
                                <td>@item.CloseYear</td>
                                <td>@item.CloseEnd</td>
                                <td>@item.Incremental</td>
                                <td>
                                    @if (item.Description.Length > 0)
                                    {
                                        <button type="button" class="btn btn-primary btn-xs"
                                                data-toggle="popover"
                                                data-container="body" data-placement="top" title="" data-html="true"
                                                data-content="@item.Description">
                                            Ghi chú
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            }
        }
    </tbody>
</table>