﻿@{
    Layout = null;
    List<Employee_Model> _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
}

<table class="table Custom table-sm">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã nhân viên</th>
            <th>Họ và tên</th>
            <th>Chức vụ</th>
            <th>Phòng ban</th>
            <th>Tuyển dụng</th>
        </tr>
    </thead>
    <tbody id="tblBody">
        @for (int i = 0; i < _ListData.Count; i++)
        {
            Employee_Model Model = _ListData[i];
            string zStartingDate = "";

            if (Model.StartingDate != DateTime.MinValue)
            {
                zStartingDate = Model.StartingDate.ToString("dd/MM/yyyy");
            }

            <tr>
                <td>@(i + 1)</td>
                <td>@Model.EmployeeID</td>
                <td>@(Model.LastName + " " + Model.FirstName)</td>
                <td>@Model.PositionName</td>
                <td>@Model.DepartmentName</td>
                <td>@zStartingDate</td>
            </tr>
        }
    </tbody>
</table>