﻿
@{
    ViewBag.Title = "Begin";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Leave_Close_Model> _ListData = new List<Leave_Close_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Leave_Close_Model>;
    }
    List<Employee_Model> _SelectEmployee = new List<Employee_Model>();
    if (ViewBag.SelectEmployee != null)
    {
        _SelectEmployee = ViewBag.SelectEmployee as List<Employee_Model>;
    }
}
@section Styles{
    <style>
        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 12px;
                    color: #777
                }
    </style>
}
<header class="page-header">
    <h2>Tiêu chuẩn phép năm</h2>
    <div class="right-wrapper ">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <button class="btn btn-outline-primary" type="button" id="btn_Search">
                    <i class="fas fa-search"></i>
                    Bộ tìm kiếm
                </button>
            </div>
            <div class="card-body border-primary">
                <table class="table Custom table-sm" id="table-1">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã số</th>
                            <th>Họ tên</th>                           
                            <th>Thời gian bắt đầu</th>
                            <th>Số phép tiêu chuẩn</th>
                            <th>Số phép thâm niên</th>
                            <th>Ghi chú</th>
                            <th class="">
                                <button type="button" class="modal-with-zoom-anim btn btn-info" onclick="Open('')">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @for (int i = 0; i < _ListData.Count; i++)
                        {
                            Leave_Close_Model Model = _ListData[i];

                            <tr id="@Model.CloseKey">
                                <td>@(i + 1)</td>
                                <td>@Model.EmployeeID</td>
                                <td>@Model.EmployeeName</td>                               
                                <td>@Model.CloseYear</td>
                                <td>@Model.CloseEnd</td>
                                <td>@Model.Incremental</td>
                                <td>@Html.Raw(Model.Description)</td>
                                <td class="">
                                    <button type="button" data-toggle="tooltip" data-placement="top"
                                            title="Cập nhật thông tin" class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                                            onclick="Open('@Model.CloseKey')">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" data-toggle="tooltip" data-placement="top"
                                            title="Xóa" class="btn btn-outline-danger btn-sm modal-with-zoom-anim"
                                            onclick="Delete('@Model.CloseKey')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Chi tiết</h2>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="" class="col-md-4 control-label">Nhân sự</label>
                <div class="col-md-8">
                    <select id="cbo_Employee" class="form-control select2">
                        <option value="--//--">Chọn</option>
                        @{
                            foreach (Employee_Model zItem in _SelectEmployee)
                            {
                                <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_BeginYear" class="col-md-4 control-label ">Thời gian bắt đầu</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="txt_BeginYear" placeholder="Nhập tháng/năm" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_BeginNo" class="col-md-4 control-label ">Số phép tiêu chuẩn</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="txt_BeginNo" placeholder="Nhập tháng/năm" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_BeginPlus" class="col-md-4 control-label ">Số phép thâm niên</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="txt_BeginPlus" placeholder="Nhập tháng/năm" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="txt_Description" class="control-label">Ghi chú</label>
                <div class="">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="submit" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
<div id="modalSearch" class="zoom-anim-dialog modal-block mfp-hide modal-header-color modal-block-info">
    @Html.Action("Filter", "Employee", new { ViewPage = "LEAVE" })
</div>
<input id="txt_BeginKey" type="hidden" name="BeginKey" value="" />
@section scripts {
    <script>
        var URL_Open = '@Url.Action("LeaveBeginOpen", "Employee")';
        var URL_Delete = '@Url.Action("LeaveBeginDelete", "Employee")';
        var URL_Save = '@Url.Action("LeaveBeginSave", "Employee")';

        $(document).ready(function () {
            $("#btn_Search").click(function () {
                Utils.OpenMagnific("#modalSearch");
            });
        });

        function Save() {
            var BeginKey = $('#txt_BeginKey').val();
            var BeginYear = $('#txt_BeginYear').val();
            var BeginNo = $('#txt_BeginNo').val();
            var BeginPlus = $('#txt_BeginPlus').val();
            var Description = $('#txt_Description').val();
            var EmployeeKey = $('#cbo_Employee').val();
            var EmployeeName = $("#cbo_Employee option:selected").text()

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "BeginKey": BeginKey,
                    "BeginYear": BeginYear,
                    "BeginNo": BeginNo,
                    "BeginPlus": BeginPlus,
                    "Description": Description,
                    "EmployeeKey": EmployeeKey,
                    "EmployeeName": EmployeeName
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Open(BeginKey) {
            Utils.OpenMagnific('#modalEdit');

            if (BeginKey != '') {
                $.ajax({
                    url: URL_Open,
                    type: 'GET',
                    data: {
                        "BeginKey": BeginKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            $('#cbo_Employee').val(obj.EmployeeKey).trigger('change');
                            $('#txt_Name').val(obj.EmployeeName);
                            $('#txt_BeginKey').val(obj.CloseKey);
                            $('#txt_BeginYear').val(obj.CloseYear);
                            $('#txt_BeginNo').val(obj.CloseEnd);
                            $('#txt_BeginPlus').val(obj.Incremental);
                            $('#txt_Description').val(obj.Description);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $('#txt_BeginKey').val('');
                $('#txt_BeginYear').val(Utils.GetDate().slice(3));
                $('#txt_BeginNo').val(12);
                $('#txt_BeginPlus').val(0);
            }
        }
        function Delete(BeginKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "BeginKey": BeginKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        $("#" + BeginKey).remove();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

    </script>
}