﻿
@{
    ViewBag.Title = "CloseLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Employee_Model> _SelectEmployee = new List<Employee_Model>();
    if (ViewBag.SelectEmployee != null)
    {
        _SelectEmployee = ViewBag.SelectEmployee as List<Employee_Model>;
    }
}
@section Styles{
    <style>
    </style>
}

<header class="page-header">
    <h2>Tính tồn phép</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <section class="card form-wizard" id="w4">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
                </div>
                <h2 class="card-title">Bảng tính tồn phép</h2>
            </header>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-lg-right">Năm tính tồn phép</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </span>
                            <input type="text" id="txt_CloseDate" data-plugin-datepicker="" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-lg-right">Nhân sự</label>
                    <div class="col-lg-6">
                        <select id="cbo_Employee" class="form-control select2">
                            <option value="0">Tất cả</option>
                            @{
                                foreach (Employee_Model zItem in _SelectEmployee)
                                {
                                    <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-lg-right">Ghi chú</label>
                    <div class="col-lg-6">
                        <textarea id="txt_Description" placeholder="" class="form-control" value="" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-outline-primary" onclick="Process()">Lập bảng</button>
                    </div>
                </div>
                <hr />
                <div class="card" id="divProcess" style="display:none;">
                    <div class="card-body p-0">
                        <div class="wizard-progress wizard-progress-lg">
                            <div class="steps-progress">
                                <div class="progress-indicator" style="width: 0%;"></div>
                            </div>
                            <ul class="nav wizard-steps">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#w4-step1" data-toggle="tab">
                                        <span>1</span>
                                        1. Danh sách nhân sự.
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#w4-step2" data-toggle="tab">
                                        <span>2</span>
                                        2. Các đơn phép phát sinh.
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#w4-step3" data-toggle="tab">
                                        <span>3</span>
                                        3. Bảng tính tồn phép<br />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <form class="form-horizontal p-3" novalidate="novalidate">
                            <div class="tab-content">
                                <div id="w4-step1" class="tab-pane active">
                                </div>
                                <div id="w4-step2" class="tab-pane">
                                </div>
                                <div id="w4-step3" class="tab-pane">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <ul class="pager">
                            <li class="previous disabled">
                                <a class="">
                                    <i class="fas fa-angle-left"></i>
                                    Quay về
                                </a>
                            </li>
                            <li class="finish hidden float-right">
                                <a class="">
                                    Lưu hồ sơ
                                </a>
                            </li>
                            <li class="next">
                                <a class="">
                                    Tiếp tục
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts{
    <script>
        var URL_Step1 = '@Url.Action("LeaveStep1", "Employee")';
        var URL_Step2 = '@Url.Action("LeaveStep2", "Employee")';
        var URL_Step3 = '@Url.Action("LeaveStep3", "Employee")';
        var URL_Save = '@Url.Action("LeaveCloseSave", "Employee")';
    </script>
    <script>
        $(document).ready(function () {

            var
                $w4finish = $('#w4').find('ul.pager li.finish'),
                $w4validator = $("#w4 form").validate({
                    highlight: function (element) {
                        $(element)
                            .closest('.form-group')
                            .removeClass('has-success')
                            .addClass('has-error');
                    },
                    success: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                        $(element).remove();
                    },
                    errorPlacement: function (error, element) {
                        element.parent().append(error);
                    }
                });

            $w4finish.on('click', function (ev) {
                ev.preventDefault();
                Save();
            });

            $('#w4').bootstrapWizard({
                tabClass: 'wizard-steps',
                nextSelector: 'ul.pager li.next',
                previousSelector: 'ul.pager li.previous',
                firstSelector: null,
                lastSelector: null,
                onNext: function (tab, navigation, index, newindex) {
                    var validated = $('#w4 form').valid();
                    if (!validated) {
                        $w4validator.focusInvalid();
                        return false;
                    }
                },
                onTabClick: function (tab, navigation, index, newindex) {
                    if (newindex == index + 1) {
                        return this.onNext(tab, navigation, index, newindex);
                    } else if (newindex > index + 1) {
                        return false;
                    } else {
                        return true;
                    }
                },
                onTabChange: function (tab, navigation, index, newindex) {
                    var $total = navigation.find('li').length - 1;
                    $w4finish[newindex != $total ? 'addClass' : 'removeClass']('hidden');
                    $('#w4').find(this.nextSelector)[newindex == $total ? 'addClass' : 'removeClass']('hidden');
                },
                onTabShow: function (tab, navigation, index) {
                    var $total = navigation.find('li').length - 1;
                    var $current = index;
                    var $percent = Math.floor(($current / $total) * 100);

                    navigation.find('li').removeClass('active');
                    navigation.find('li').eq($current).addClass('active');

                    $('#w4').find('.progress-indicator').css({ 'width': $percent + '%' });
                    tab.prevAll().addClass('completed');
                    tab.nextAll().removeClass('completed');

                    if (index === 0) {
                        Step1();
                    }
                    if (index === 1) {
                        Step2();
                    }
                    if (index === 2) {
                        Step3();
                    }
                },
            });
        });

        function Process() {
            $('#divProcess').show();
            $("ul.wizard-steps li:first")
                .addClass("active")
                .removeClass("completed")
                .siblings()
                .removeClass("active")
                .removeClass("completed");
            $('#w4').find('.progress-indicator').css({ 'width': 0 });
            $("#w4-step1").addClass('active').siblings().removeClass("active");

            Step1();
        }
        function Step1() {
            var employee = $("#cbo_Employee").val();
            $.ajax({
                url: URL_Step1,
                type: 'GET',
                data: {
                    "Employee": employee
                },
                beforeSend: function () {
                    $("#w4-step1").empty();
                },
                success: function (r) {
                    $("#w4-step1").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Step2() {
            var employee = $("#cbo_Employee").val();
            var date = $("#txt_CloseDate").val();
            $.ajax({
                url: URL_Step2,
                type: 'GET',
                data: {
                    "Employee": employee,
                    "Date": date
                },
                beforeSend: function () {
                    $("#w4-step2").empty();
                },
                success: function (r) {
                    $("#w4-step2").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Step3() {
            var employee = $("#cbo_Employee").val();
            var date = $("#txt_CloseDate").val();
            $.ajax({
                url: URL_Step3,
                type: 'GET',
                data: {
                    "Employee": employee,
                    "Date": date
                },
                beforeSend: function () {
                    $("#w4-step3").empty();
                },
                success: function (r) {
                    $("#w4-step3").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    $('#tblLeave').on("click", "tr", function () {
                        var id = $(this).attr("id");
                        $("tr[view='" + id + "']").toggle();
                    });
                    (function ($) {
                        'use strict';
                        if ($.isFunction($.fn['popover'])) {
                            $('[data-toggle="popover"]').popover();
                        }
                    }).apply(this, [jQuery]);
                }
            });
        }
        function Save() {
            var employee = $("#cbo_Employee").val();
            var date = $("#txt_CloseDate").val();
            var description = $("#txt_Description").val();

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "Employee": employee,
                    "Date": date,
                    "Description": description
                },
                beforeSend: function () {
                    
                },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify('Đã lưu phép năm tích lũy', 'Thông báo', 'success');
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
    </script>
}