﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ListData = new List<Leave_Close_Model>();
    if (ViewBag.data != null)
    {
        ListData = ViewBag.data as List<Leave_Close_Model>;
    }
    var _SelectEmployee = new List<Employee_Model>();
    if (ViewBag.SelectEmployee != null)
    {
        _SelectEmployee = ViewBag.SelectEmployee as List<Employee_Model>;
    }
}

@section Styles{
    <style>
        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 12px;
                    color: #777
                }
    </style>
}

<header class="page-header">
    <h2>
        <i class="fas fa-file-signature"></i>
        Theo dõi kì phép
    </h2>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <form class="card-header" method="post" action="@Url.Action("XemNhieuPhep","Employee")">
                <div class="row">
                    <div class="col-4">
                        <select class="form-control select2" id="cbo_Branch" placeholder="Employee" name="ChiNhanh">
                            @{
                                foreach (var item in _SelectEmployee)
                                {
                                    if (item.EmployeeKey == ViewBag.Employee as string)
                                    {
                                        <option value="@item.EmployeeKey" selected>@(item.LastName + " " +item.FirstName)</option>
                                    }
                                    else
                                    {
                                        <option value="@item.EmployeeKey">@(item.LastName + " " +item.FirstName)</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="fas fa-search"></i>
                            Tìm
                        </button>
                        <button class="btn btn-warning float-right" type="submit" name="sbutton" value="btn_Cal">
                            Tính lại phép
                        </button>
                        <button class="btn btn-outline-primary" type="submit" name="sbutton" value="btn_Export">
                            Tải Excel
                        </button>
                    </div>
                </div>
            </form>
            <div class="card-body" id="printContent">
                <h3 class="text-center">
                    @ViewBag.HoTen
                </h3>
                <h5 class="text-center">
                    @ViewBag.ChucVu
                </h5>
                <table class="table table-bordered table-sm" id="table-1" style="min-width:fit-content">
                    <thead>
                        <tr class="text-center">
                            <th colspan="3">Kì phép được sử dụng</th>
                            <th colspan="3">Phát sinh nghỉ phép</th>
                            <th rowspan="2" width: 250px;>Ghi chú</th>
                            <th rowspan="2">Còn lại</th>
                        </tr>
                        <tr class="text-center">
                            <th>Kì</th>
                            <th>Tiêu chuẩn</th>
                            <th>Tồn phép</th>
                            <th>Thời gian</th>
                            <th>Số ngày</th>
                            <th style="width: 250px;">Lý do</th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            //1,4,5,6
                            var ki = ListData.DistinctBy(s => s.Reference).ToList();

                            for (int i = 0; i < ki.Count; i++)
                            {
                                var item = ki[i];
                                var rff = item.Reference;
                                var group = ListData.Where(s => s.Reference == item.Reference).ToList();
                                var css = "";
                                if (i % 2 == 0)
                                {
                                    css = "style='background: aliceblue'";
                                }
                                else
                                {
                                    css = "";
                                }

                                if (group.Count > 1)
                                {
                                    int rspan = group.Count;
                                    var data = group[0];

                                    <tr @Html.Raw(css)>
                                        <td class="tron text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                        <td class="text-center" style="vertical-align:middle" >@(data.STD + data.TN)</td>
                                        <td class="text-center" style="vertical-align:middle" >@data.Incremental</td>
                                        <td class="text-center" rowspan="@rspan" style="vertical-align:middle">
                                            @(data.FromDate.ToString("dd/MM/yyyy") + "-" + data.ToDate.ToString("dd/MM/yyyy"))
                                        </td>
                                        <td class="text-center" rowspan="@rspan" style="vertical-align:middle" >@data.TotalDate</td>
                                        <td rowspan="@rspan" style="vertical-align:middle">@data.LyDo</td>
                                        <td>@Html.Raw(data.Description)</td>
                                        <td class="text-center" style="vertical-align:middle" >
                                            @{ if (data.CloseEnd < 0)
                                                { <span>0</span>}
                                                else
                                                { <span>@data.CloseEnd</span>} }
                                        </td>
                                    </tr>

                                    for (int g = 1; g < group.Count; g++)
                                    {
                                        data = group[g];
                                        <tr @Html.Raw(css)>
                                            <td class="tron text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                            <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                            <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                            <td>@Html.Raw(data.Description)</td>
                                            <td class="text-center" style="vertical-align:middle" >
                                                @{ if (data.CloseEnd < 0)
                                                    { <span>0</span>}
                                                    else
                                                    { <span>@data.CloseEnd</span>} }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    var data = group[0];

                                    <tr @Html.Raw(css)>
                                        <td class="tron text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                        <td class="text-center" style="vertical-align:middle" >@(data.STD + data.TN)</td>
                                        <td class="text-center" style="vertical-align:middle" >@data.Incremental</td>
                                        <td class="text-center" style="vertical-align:middle">
                                            @(data.FromDate.ToString("dd/MM/yyyy") + "-" + data.ToDate.ToString("dd/MM/yyyy"))
                                        </td>
                                        <td style="vertical-align:middle" class="text-center">@data.TotalDate</td>
                                        <td style="vertical-align:middle">
                                            @data.LyDo
                                        </td>
                                        <td>@Html.Raw(data.Description)</td>
                                        <td class="text-center" style="vertical-align:middle" >
                                            @{ if (data.CloseEnd < 0)
                                                { <span>0</span>}
                                                else
                                                { <span>@data.CloseEnd</span>} }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>


<input id="txt_NoteKey" type="hidden" name="NoteKey" value="" />
@section scripts {
    <script src="~/assets/Appjs/jquery.table2excel.js"></script>
    <script src="~/assets/js/row-merge-bundle.js"></script>
    <script type="text/javascript">
        var tableToExcel = (function () {
            // Define your style class template.
            var style = "<style>.green { background-color: green; }</style>";
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->' + style + '</head><body><table>{table}</table></body></html>'
                , base64 = function (s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                }
                , format = function (s, c) {
                    return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })
                }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)

                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
    </script>
    <script>
        var URL_Detail = '@Url.Action("LeaveOpenNote", "Employee")';
        var URL_Delete = '@Url.Action("LeaveDeleteNote", "Employee")';
        var URL_Save = '@Url.Action("LeaveSaveNote", "Employee")';
        var URL_Employee = '@Url.Action("GetInfoEmployee", "Employee")';
        var URL_Track = '@Url.Action("LeaveTracking", "Employee")';

        $(document).ready(function () {
            $("#cbo_Employee").change(function () {
                var EmployeeKey = $('#cbo_Employee').val();
                GetInfoEmployee(EmployeeKey)
            });
            $('#tblBody').on("click", "tr", function () {
                var id = $(this).attr("id");
                $("tr[view='" + id + "']").toggle();
            });
            $("#btn_Search").click(function () {
                Utils.OpenMagnific("#modalSearch");
            });

            var previousValue = "";
            var previousAttr = "";
            var topMatchTd;
            var rowSpan = 1;

            $('td.tron').each(function () {

                if ($(this).attr("ref") == previousAttr &&
                     $(this).text() == previousValue) {
                    rowSpan++;
                    $(topMatchTd).attr('rowspan', rowSpan);
                    $(this).remove();
                }
                else {
                    topMatchTd = $(this);
                    rowSpan = 1;
                }
                previousAttr = $(this).attr("ref")
                previousValue = $(this).text();
            });

            //previousValue = "";
            //previousAttr = "";
            //topMatchTd;
            //rowSpan = 1;
            //$('td.tron2').each(function () {

            //    if ($(this).attr("ref") == previousAttr &&
            //        $(this).text() == previousValue) {
            //        rowSpan++;
            //        $(topMatchTd).attr('rowspan', rowSpan);
            //        $(this).remove();
            //    }
            //    else {
            //        topMatchTd = $(this);
            //        rowSpan = 1;
            //    }
            //    previousAttr = $(this).attr("ref")
            //    previousValue = $(this).text();
            //});

        });

        //$(function () {
        //    var table = $('#table-1').rowMerge({
        //        excludedColumns: [3,5],
        //        zeroIndexed: false,
        //    });
        //});
        function PrintDiv() {
            var divToPrint = document.getElementById('printContent');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () { newWin.close(); }, 10);
        }
        function GetInfoEmployee(Key) {
            if (Key.length >= 36) {
                $.ajax({
                    url: URL_Employee,
                    type: 'GET',
                    data: {
                        "EmployeeKey": Key
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);

                            $('#cbo_Branch').val(obj.BranchKey).trigger('change');
                            $('#cbo_Department').val(obj.DepartmentKey).trigger('change');
                            $('#cbo_Position').val(obj.PositionKey).trigger('change');
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {
                    }
                });
            }
        }
        function Tracking() {
            var Key = $('#cbo_Employee').val();
            var FromDate = $('#txt_FromDate').val();
            var ToDate = $('#txt_ToDate').val();
            var No = $('#txt_TotalDate').val();

            if (No === '') {
                alert('Bạn phải nhập số ngày nghĩ !.');
                return;
            }
            if (FromDate === '') {
                alert('Bạn phải từ ngày !.');
                return;
            }
            if (ToDate === '') {
                alert('Bạn phải đến ngày !.');
                return;
            }
            if (Key.length < 36) {
                alert('Bạn phải chọn nhân sự !.');
                return;
            }

            $.ajax({
                url: URL_Track,
                type: 'GET',
                data: {
                    "EmployeeKey": Key,
                    "FromDate": FromDate,
                    "ToDate": ToDate,
                    "No": No,
                },
                beforeSend: function () {
                    $("#divText").empty();
                },
                success: function (r) {
                    if (r.Success) {
                        var obj = JSON.parse(r.Data);
                        $("#divText").html(obj.Description.replace(/\n/g, "<br />"));
                        $("#divText").show();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                }
            });
        }
        function Excel() {
            $("#table-1").table2excel({
                exclude: ".noExl",
                name: "Theo doi phep"
            });
        }

        function Save() {
            $.confirm({
                type: 'orange',
                title: 'Lưu ý !.',
                content: 'Vui lòng kiểm tra kỹ thông tin tồn phép, ngày phép trước khi thực hiện, sau khi lưu sẽ không thể thay đổi !.',
                buttons: {
                    confirm: {
                        text: 'OK',
                        keys: ['enter', 'shift'],
                        btnClass: 'btn-blue',
                        action: function () {
                            var NoteKey = $('#txt_NoteKey').val();
                            var EmployeeKey = $('#cbo_Employee').val();
                            var EmployeeName = $("#cbo_Employee option:selected").text();
                            var BranchKey = $('#cbo_Branch').val();
                            var BranchName = $("#cbo_Branch option:selected").text();
                            var DepartmentKey = $('#cbo_Department').val();
                            var DepartmentName = $("#cbo_Department option:selected").text();
                            var PositionKey = $('#cbo_Position').val();
                            var PositionName = $("#cbo_Position option:selected").text();
                            var FromDate = $('#txt_FromDate').val();
                            var ToDate = $('#txt_ToDate').val();
                            var TotalDate = $('#txt_TotalDate').val();
                            var CategoryKey = $("#cbo_Type").val();
                            var CategoryName = $("#cbo_Type option:selected").text();
                            var Description = $("#txt_Description").val();
                            var NoteDate = $("#txt_NoteDate").val();

                            $.ajax({
                                url: URL_Save,
                                type: 'POST',
                                data: {
                                    "NoteKey": NoteKey,
                                    "EmployeeKey": EmployeeKey,
                                    "EmployeeName": EmployeeName,
                                    "BranchKey": BranchKey,
                                    "BranchName": BranchName,
                                    "DepartmentKey": DepartmentKey,
                                    "DepartmentName": DepartmentName,
                                    "PositionKey": PositionKey,
                                    "PositionName": PositionName,
                                    "FromDate": FromDate,
                                    "ToDate": ToDate,
                                    "TotalDate": TotalDate,
                                    "CategoryKey": CategoryKey,
                                    "CategoryName": CategoryName,
                                    "Description": Description,
                                    "NoteDate": NoteDate,
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Đóng',
                        action: function () {

                        }
                    },
                },
            });
        }
        function Detail(NoteKey) {
            Utils.OpenMagnific('#modalEdit');
            $("#divText").empty();
            if (NoteKey != '') {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "NoteKey": NoteKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            var zNoteDate = Utils.ConvertToDDMMYYYY(obj.NoteDate);
                            var zFromDate = Utils.ConvertToDDMMYYYY(obj.FromDate);
                            var zToDate = Utils.ConvertToDDMMYYYY(obj.ToDate);

                            $('#cbo_Type').val(obj.CategoryKey).trigger('change');
                            $('#cbo_Employee').val(obj.EmployeeKey).trigger('change');
                            $('#cbo_Branch').val(obj.BranchKey).trigger('change');
                            $('#cbo_Department').val(obj.DepartmentKey).trigger('change');
                            $('#cbo_Position').val(obj.PositionKey).trigger('change');

                            $('#txt_NoteKey').val(obj.NoteKey);
                            $('#txt_NoteDate').val(zNoteDate);
                            $('#txt_FromDate').val(zFromDate);
                            $('#txt_ToDate').val(zToDate);
                            $('#txt_TotalDate').val(obj.TotalDate);

                            $('#txt_Description').val(obj.Description);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#employeediv');
                $('#txt_NoteKey').val('');
                $('#txt_TotalDate').val(0);
                $('#txt_NoteDate').val(Utils.GetDate());
            }
        }
        function Delete(NoteKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Bạn có chắc xóa thông tin này !.',
                content: 'Các kì phát sinh sau "ĐÃ NHẬP" phải xoá và cập nhật lại ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "NoteKey": NoteKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

    </script>
}