﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _SelectEmployee = new List<Employee_Model>();
    if (ViewBag.SelectEmployee != null)
    {
        _SelectEmployee = ViewBag.SelectEmployee as List<Employee_Model>;
    }

    List<Branch_Model> _SelectBranch = new List<Branch_Model>();
    if (ViewBag.SelectBranch != null)
    {
        _SelectBranch = ViewBag.SelectBranch as List<Branch_Model>;
    }
}

@section Styles{
    <style>
        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 12px;
                    color: #777
                }
    </style>
}

<header class="page-header">
    <h2>
        <i class="fas fa-file-signature"></i>
        Theo dõi kì phép
    </h2>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <form class="card-header" method="post" action="@Url.Action("TimPhepTheoTen", "Employee")">
                <div class="row">
                    <div class="col-4">
                        <select class="form-control select2" id="cbo_Branch" name="ChiNhanh">
                            @{
                                <option value="0">--//--</option>
                                foreach (var item in _SelectBranch)
                                {
                                    if (item.BranchKey == ViewBag.ChiNhanh as string)
                                    {
                                        <option value="@item.BranchKey" selected>@item.BranchName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.BranchKey">@item.BranchName</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                    <div class="col-4">
                        <select class="form-control select2" id="cbo_Employee" name="Employee">
                            @{
                                <option value="0">--//--</option>
                                foreach (var item in _SelectEmployee)
                                {
                                    if (item.EmployeeKey == ViewBag.Employee as string)
                                    {
                                        <option value="@item.EmployeeKey" selected>@(item.LastName + " " + item.FirstName)</option>
                                    }
                                    else
                                    {
                                        <option value="@item.EmployeeKey">@(item.LastName + " " + item.FirstName)</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="fas fa-search"></i>
                            Tìm
                        </button>
                        <button id="btn_Cal" class="btn btn-warning float-right" type="submit" name="sbutton" value="btn_Cal" style="display:none;">
                            Tính lại phép
                        </button>
                        <button class="btn btn-outline-primary" type="submit" name="sbutton" value="btn_Export">
                            Tải Excel
                        </button>
                    </div>
                </div>
            </form>
            <div class="card-body" id="printContent">
                @{
                    string emp = ViewBag.Employee as string;
                    if (emp != "0" && emp != "")
                    {
                        <h3 class="text-center">
                            @ViewBag.HoTen
                        </h3>
                        <h5 class="text-center">
                            @ViewBag.ChucVu
                        </h5>
                        <table class="table table-bordered table-sm" id="table-1" style="min-width:fit-content">
                            <thead>
                                <tr class="text-center">
                                    <th colspan="3">Kì phép được sử dụng</th>
                                    <th colspan="3">Phát sinh nghỉ phép</th>
                                    <th rowspan="2" width: 250px;>Ghi chú</th>
                                    <th rowspan="2">Còn lại</th>
                                </tr>
                                <tr class="text-center">
                                    <th>Kì</th>
                                    <th>Tiêu chuẩn</th>
                                    <th>Tồn phép</th>
                                    <th>Thời gian</th>
                                    <th>Số ngày</th>
                                    <th style="width: 250px;">Lý do</th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @{
                                    var ListData = new List<Leave_Close_Model>();
                                    if (ViewBag.data != null)
                                    {
                                        ListData = ViewBag.data as List<Leave_Close_Model>;
                                    }
                                    if (ViewBag.Employee as string != "")
                                    {
                                        //xem 1 nhân viên
                                        //1,4,5,6
                                        var ki = ListData.DistinctBy(s => s.Reference).ToList();

                                        for (int i = 0; i < ki.Count; i++)
                                        {
                                            var item = ki[i];
                                            var rff = item.Reference;
                                            var group = ListData.Where(s => s.Reference == item.Reference).ToList();
                                            var css = "";
                                            if (i % 2 == 0)
                                            {
                                                css = "style='background: aliceblue'";
                                            }
                                            else
                                            {
                                                css = "";
                                            }

                                            if (group.Count > 1)
                                            {
                                                int rspan = group.Count;
                                                var data = group[0];

                                                <tr @Html.Raw(css)>
                                                    <td class="tron text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                                    <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                                    <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                                    <td class="text-center" rowspan="@rspan" style="vertical-align:middle">
                                                        @(data.FromDate.ToString("dd/MM/yyyy") + "-" + data.ToDate.ToString("dd/MM/yyyy"))
                                                    </td>
                                                    <td class="text-center" rowspan="@rspan" style="vertical-align:middle">@data.TotalDate</td>
                                                    <td rowspan="@rspan" style="vertical-align:middle">@data.LyDo</td>
                                                    <td>@Html.Raw(data.Description)</td>
                                                    <td class="text-center" style="vertical-align:middle">
                                                        @{ if (data.CloseEnd < 0)
                                                            { <span>0</span>}
                                                            else
                                                            { <span>@data.CloseEnd</span>} }
                                                    </td>
                                                </tr>

                                                for (int g = 1; g < group.Count; g++)
                                                {
                                                    data = group[g];
                                                    <tr @Html.Raw(css)>
                                                        <td class="tron text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                                        <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                                        <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                                        <td>@Html.Raw(data.Description)</td>
                                                        <td class="text-center" style="vertical-align:middle">
                                                            @{ if (data.CloseEnd < 0)
                                                                { <span>0</span>}
                                                                else
                                                                { <span>@data.CloseEnd</span>} }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                var data = group[0];

                                                <tr @Html.Raw(css)>
                                                    <td class="tron text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                                    <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                                    <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                                    <td class="text-center" style="vertical-align:middle">
                                                        @(data.FromDate.ToString("dd/MM/yyyy") + "-" + data.ToDate.ToString("dd/MM/yyyy"))
                                                    </td>
                                                    <td style="vertical-align:middle" class="text-center">@data.TotalDate</td>
                                                    <td style="vertical-align:middle">
                                                        @data.LyDo
                                                    </td>
                                                    <td>@Html.Raw(data.Description)</td>
                                                    <td class="text-center" style="vertical-align:middle">
                                                        @{ if (data.CloseEnd < 0)
                                                            { <span>0</span>}
                                                            else
                                                            { <span>@data.CloseEnd</span>} }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h3 class="text-center">@ViewBag.TenChiNhanh</h3>
                        <table class="table table-bordered table-sm" id="table-1" style="min-width:fit-content">
                            <thead>
                                <tr class="text-center">
                                    <th colspan="3">Kì phép được sử dụng</th>
                                    <th colspan="3">Phát sinh nghỉ phép</th>
                                    <th rowspan="2" width: 250px;>Ghi chú</th>
                                    <th rowspan="2">Còn lại</th>
                                </tr>
                                <tr class="text-center">
                                    <th>Kì</th>
                                    <th>Tiêu chuẩn</th>
                                    <th>Tồn phép</th>
                                    <th>Thời gian</th>
                                    <th>Số ngày</th>
                                    <th style="width: 250px;">Lý do</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.CacNhanVien != null)
                                    {
                                        var danhsach = ViewBag.CacNhanVien as List<Employee_Model>;
                                        foreach (var nv in danhsach)
                                        {
                                            var zemp = new Employee_Info(nv.EmployeeKey).Employee;
                                            string name = zemp.LastName + " " + zemp.FirstName;

                                            <tr>
                                                <td colspan="8" class="text-center"><h3 class="title">@name</h3></td>
                                            </tr>

                                            var ListData = Employee_Data.XemKyPhep(nv.EmployeeKey, out _);
                                            var ki = ListData.DistinctBy(s => s.Reference).ToList();

                                            for (int i = 0; i < ki.Count; i++)
                                            {
                                                var item = ki[i];
                                                var rff = item.Reference;
                                                var group = ListData.Where(s => s.Reference == item.Reference).ToList();
                                                var css = "";
                                                if (i % 2 == 0)
                                                {
                                                    css = "style='background: aliceblue'";
                                                }
                                                else
                                                {
                                                    css = "";
                                                }

                                                if (group.Count > 1)
                                                {
                                                    int rspan = group.Count;
                                                    var data = group[0];

                                                    <tr @Html.Raw(css)>

                                                        <td class="tron2 text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                                        <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                                        <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                                        <td class="text-center" rowspan="@rspan" style="vertical-align:middle">
                                                            @(data.FromDate.ToString("dd/MM/yyyy") + "-" + data.ToDate.ToString("dd/MM/yyyy"))
                                                        </td>
                                                        <td class="text-center" rowspan="@rspan" style="vertical-align:middle">@data.TotalDate</td>
                                                        <td rowspan="@rspan" style="vertical-align:middle">@data.LyDo</td>
                                                        <td>@Html.Raw(data.Description)</td>
                                                        <td class="text-center" style="vertical-align:middle">
                                                            @{ if (data.CloseEnd < 0)
                                                                { <span>0</span>}
                                                                else
                                                                { <span>@data.CloseEnd</span>} }
                                                        </td>
                                                    </tr>

                                                    for (int g = 1; g < group.Count; g++)
                                                    {
                                                        data = group[g];
                                                        <tr @Html.Raw(css)>

                                                            <td class="tron2 text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                                            <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                                            <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                                            <td>@Html.Raw(data.Description)</td>
                                                            <td class="text-center" style="vertical-align:middle">
                                                                @{ if (data.CloseEnd < 0)
                                                                    { <span>0</span>}
                                                                    else
                                                                    { <span>@data.CloseEnd</span>} }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    var data = group[0];

                                                    <tr @Html.Raw(css)>

                                                        <td class="tron2 text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                                        <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                                        <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                                        <td class="text-center" style="vertical-align:middle">
                                                            @(data.FromDate.ToString("dd/MM/yyyy") + "-" + data.ToDate.ToString("dd/MM/yyyy"))
                                                        </td>
                                                        <td style="vertical-align:middle" class="text-center">@data.TotalDate</td>
                                                        <td style="vertical-align:middle">
                                                            @data.LyDo
                                                        </td>
                                                        <td>@Html.Raw(data.Description)</td>
                                                        <td class="text-center" style="vertical-align:middle">
                                                            @{ if (data.CloseEnd < 0)
                                                                { <span>0</span>}
                                                                else
                                                                { <span>@data.CloseEnd</span>} }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#cbo_Employee").change(function () {
                var val = $(this).val();
                if (val !== 0) {
                    $("#btn_Cal").show();
                }
                else {
                    $("#btn_Cal").hide();
                }
            });

            if ($("#cbo_Employee").val() !== 0) {
                $("#btn_Cal").show();
            }
            else {
                $("#btn_Cal").hide();
            }

            var previousValue = "";
            var previousAttr = "";
            var topMatchTd;
            var rowSpan = 1;
            $('td.tron1').each(function () {
                if ($(this).text() == previousValue) {
                    rowSpan++;
                    $(topMatchTd).attr('rowspan', rowSpan);
                    $(this).remove();
                }
                else {
                    topMatchTd = $(this);
                    rowSpan = 1;
                }
                previousValue = $(this).text();
            });
            $('td.tron2').each(function () {

                if ($(this).attr("ref") == previousAttr &&
                    $(this).text() == previousValue) {
                    rowSpan++;
                    $(topMatchTd).attr('rowspan', rowSpan);
                    $(this).remove();
                }
                else {
                    topMatchTd = $(this);
                    rowSpan = 1;
                }
                previousAttr = $(this).attr("ref")
                previousValue = $(this).text();
            });
        });
    </script>
}