﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Employee_Model> _SelectEmployee = new List<Employee_Model>();
    if (ViewBag.SelectEmployee != null)
    {
        _SelectEmployee = ViewBag.SelectEmployee as List<Employee_Model>;
    }
    List<Department_Model> _SelectDepartment = new List<Department_Model>();
    if (ViewBag.SelectDepartment != null)
    {
        _SelectDepartment = ViewBag.SelectDepartment as List<Department_Model>;
    }
    List<Position_Model> _SelectPosition = new List<Position_Model>();
    if (ViewBag.SelectPosition != null)
    {
        _SelectPosition = ViewBag.SelectPosition as List<Position_Model>;
    }
    List<Branch_Model> _SelectBranch = new List<Branch_Model>();
    if (ViewBag.SelectBranch != null)
    {
        _SelectBranch = ViewBag.SelectBranch as List<Branch_Model>;
    }
    List<Leave_Note_Model> _ListData = new List<Leave_Note_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Leave_Note_Model>;
    }

    int Status = ViewBag.Status;
    string Name = ViewBag.Name;
    string FromDate = ViewBag.FromDate;
    string ToDate = ViewBag.ToDate;
}

@section Styles{
    <style>
        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 12px;
                    color: #777
                }
    </style>
}

<header class="page-header">
    <h2>
        <i class="fas fa-file-signature"></i>
        Các đơn nghỉ phép
    </h2>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <form class="form-group row" id="idform" method="post" action="@Url.Action("Search_Leave", "Employee")">
                    <div class="col-2">
                        <select class="form-control select2" id="Status" placeholder="Status" name="Status">
                            @{
                                if (Status == 1)
                                {
                                    <option value="0" disabled>Tình trạng làm việc</option>
                                    <option value="0">--Tất cả--</option>
                                    <option value="1" selected>Đang làm việc</option>
                                    <option value="2">Đã nghĩ việc</option>
                                }
                                else
                                {
                                    if (Status == 2)

                                    {
                                        <option value="0" disabled>Tình trạng làm việc</option>
                                        <option value="0">--Tất cả--</option>
                                        <option value="1">Đang làm việc</option>
                                        <option value="2" selected>Đã nghĩ việc</option>
                                    }
                                    else
                                    {
                                        <option value="0" disabled selected>Tình trạng làm việc</option>
                                        <option value="0">--Tất cả--</option>
                                        <option value="1">Đang làm việc</option>
                                        <option value="2">Đã nghĩ việc</option>
                                    }
                                }
                            }


                        </select>
                    </div>
                    <div class="col-3">
                        <select id="cbo_SearchEmployee" class="form-control select2" name="SearchEmployee">
                            <option value="0" selected="selected">--//--</option>
                            @foreach (Employee_Model zItem in _SelectEmployee)
                            {
                                <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
                            }
                        </select>
                    </div>
                    <div class="col-2">
                        <div class="form-label-group  mb-0">
                            <input type="text" id="txt_FromDate" name="FromDate"
                                   placeholder="Chọn ngày" class="form-control datepicker"
                                   data-plugin-datepicker=""
                                   data-date-format="dd/mm/yyyy" />
                            <label for="txt_FromDate">Từ ngày</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-label-group mb-0">
                            <input type="text" id="txt_ToDate" name="ToDate"
                                   placeholder="Chọn ngày" class="form-control datepicker"
                                   data-plugin-datepicker=""
                                   data-date-format="dd/mm/yyyy" />
                            <label for="txt_ToDate">Đến ngày</label>
                        </div>
                    </div>
                    <div class="col-3 text-right">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="fas fa-search"></i>
                            Tìm
                        </button>
                    </div>
                </form>


            </div>
            <div class="card-body border-primary">
                <table class="table Custom table-sm" id="table-1">
                    <thead>

                        <tr>
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Ngày làm đơn</th>
                            <th>Nội dung</th>
                            <th>Từ ngày - đến ngày</th>
                            <th>
                                <button type="button" class="modal-with-zoom-anim btn btn-info float-right ml-1" onclick="Detail('')">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            int No = 0;
                            foreach (var rec in _ListData)
                            {
                                No++;
                                <tr view="@rec.EmployeeKey">
                                    <td>@No</td>
                                    <td>@rec.EmployeeName</td>
                                    <td>@rec.NoteDate.ToString("dd/MM/yyyy")</td>
                                    <td style="width:50%">@rec.Description</td>
                                    <td>@(rec.FromDate.ToString("dd/MM/yyyy") + "-"+ rec.ToDate.ToString("dd/MM/yyyy"))</td>
                                    <td class="text-right">
                                        <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Cập nhật thông tin" class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                                                onclick="Detail('@rec.NoteKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Xóa" class="btn btn-outline-danger btn-sm modal-with-zoom-anim"
                                                onclick="Delete('@rec.NoteKey')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-lg modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin khu kho</h2>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="fatherbirthday" class="col-md-2 control-label text-right">Ngày đề nghị</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_NoteDate" required="" name="FatherBirthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>

                </div>


                <label for="fathername" class="col-md-2 control-label text-right">Chi nhánh</label>
                <div class="col-md-4">
                    <select id="cbo_Branch" class="form-control select2" name="Branch">
                        <option value="0" selected="selected">--//--</option>
                        @foreach (Branch_Model zItem in _SelectBranch)
                        {
                            <option value="@zItem.BranchKey">@zItem.BranchName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="fathername" class="col-md-2 control-label text-right">Người đề nghị</label>
                <div class="col-md-4">
                    <select id="cbo_Employee" class="form-control select2" name="Employee">
                        <option value="0" selected="selected">--//--</option>
                        @foreach (Employee_Model zItem in _SelectEmployee)
                        {
                            <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
                        }
                    </select>
                </div>
                <label for="fathername" class="col-md-2 control-label text-right">Bộ phận</label>
                <div class="col-md-4">
                    <select id="cbo_Department" class="form-control select2" name="Department">
                        <option value="0" selected="selected">--//--</option>
                        @foreach (Department_Model zItem in _SelectDepartment)
                        {
                            <option value="@zItem.DepartmentKey">@zItem.DepartmentName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="fathername" class="col-md-2 control-label text-right">Loại nghỉ phép</label>
                <div class="col-md-4">
                    <select id="cbo_Type" class="form-control select2" name="Branch">
                        <option value="0" selected="selected">--//--</option>
                        <option value="1">Nghỉ bù</option>
                        <option value="2">Nghỉ phép năm</option>
                        <option value="3">Nghỉ hưởng lương</option>
                        <option value="4">Nghỉ không hưởng lương</option>
                    </select>
                </div>
                <label for="fathername" class="col-md-2 control-label text-right">Chức vụ</label>
                <div class="col-md-4">
                    <select id="cbo_Position" class="form-control select2" name="Position">
                        <option value="0" selected="selected">--//--</option>
                        @foreach (Position_Model zItem in _SelectPosition)
                        {
                            <option value="@zItem.PositionKey">@zItem.PositionNameVN</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="fathername" class="col-md-2 control-label text-right">Đề nghị nghỉ phép</label>
            </div>
            <div class="form-group row">
                <label for="fatherbirthday" class="col-md-2 control-label text-right">Từ ngày</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_FromDate" required="" name="FatherBirthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>

                </div>
                <label for="fathername" class="col-md-2 control-label text-right">Đến ngày</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_ToDate" required="" name="FatherBirthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="fathername" class="col-md-2 control-label text-right">Số ngày nghỉ</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" id="txt_TotalDate" placeholder="" value="">
                        <span class="input-group-append">
                            <button class="btn btn-success" type="button" onclick="Tracking()">Tính phép !</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="fathername" class="col-md-2 control-label text-right">Lý do nghỉ</label>
                <div class="col-md-10">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" id="divText" style="display:none">

                    </div>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="submit" class="btn btn-outline-primary" onclick="Save()">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
</div>
<div id="modalSearch" class="zoom-anim-dialog modal-block mfp-hide modal-header-color modal-block-info">
    @Html.Action("Filter", "Employee", new { ViewPage = "TRACK" })
</div>
<input id="txt_NoteKey" type="hidden" name="NoteKey" value="" />
@section scripts {
    @*<script src="~/assets/Appjs/jquery.table2excel.js"></script>
        <script src="~/assets/js/row-merge-bundle.js"></script>
        <script type="text/javascript">
            var tableToExcel = (function () {
                // Define your style class template.
                var style = "<style>.green { background-color: green; }</style>";
                var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->' + style + '</head><body><table>{table}</table></body></html>'
                    , base64 = function (s) {
                        return window.btoa(unescape(encodeURIComponent(s)))
                    }
                    , format = function (s, c) {
                        return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })
                    }
                return function (table, name) {
                    if (!table.nodeType) table = document.getElementById(table)

                    var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                    window.location.href = uri + base64(format(template, ctx))
                }
            })()
        </script>*@
    <script>
        var URL_Detail = '@Url.Action("LeaveOpenNote", "Employee")';
        var URL_Delete = '@Url.Action("LeaveDeleteNote", "Employee")';
        var URL_Save = '@Url.Action("LeaveSaveNote", "Employee")';
        var URL_Employee = '@Url.Action("GetInfoEmployee", "Employee")';
        var URL_Track = '@Url.Action("LeaveTracking", "Employee")';

        $(document).ready(function () {
            $("#cbo_Employee").change(function () {
                var EmployeeKey = $('#cbo_Employee').val();
                GetInfoEmployee(EmployeeKey)
            });
            $('#tblBody').on("click", "tr", function () {
                var id = $(this).attr("id");
                $("tr[view='" + id + "']").toggle();
            });
            $("#btn_Search").click(function () {
                Utils.OpenMagnific("#modalSearch");
            });
        });

        //$(function () {
        //    var table = $('#table-1').rowMerge({
        //        excludedColumns: [3,4,5,6,7],
        //        zeroIndexed: false,
        //    });
        //});

        function GetInfoEmployee(Key) {
            if (Key.length >= 36) {
                $.ajax({
                    url: URL_Employee,
                    type: 'GET',
                    data: {
                        "EmployeeKey": Key
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);

                            $('#cbo_Branch').val(obj.BranchKey).trigger('change');
                            $('#cbo_Department').val(obj.DepartmentKey).trigger('change');
                            $('#cbo_Position').val(obj.PositionKey).trigger('change');
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {
                    }
                });
            }
        }
        function Tracking() {
            var Key = $('#cbo_Employee').val();
            var FromDate = $('#txt_FromDate').val();
            var ToDate = $('#txt_ToDate').val();
            var No = $('#txt_TotalDate').val();

            if (No === '') {
                alert('Bạn phải nhập số ngày nghĩ !.');
                return;
            }
            if (FromDate === '') {
                alert('Bạn phải từ ngày !.');
                return;
            }
            if (ToDate === '') {
                alert('Bạn phải đến ngày !.');
                return;
            }
            if (Key.length < 36) {
                alert('Bạn phải chọn nhân sự !.');
                return;
            }

            $.ajax({
                url: URL_Track,
                type: 'GET',
                data: {
                    "EmployeeKey": Key,
                    "FromDate": FromDate,
                    "ToDate": ToDate,
                    "No": No,
                },
                beforeSend: function () {
                    $("#divText").empty();
                },
                success: function (r) {
                    if (r.Success) {
                        var obj = JSON.parse(r.Data);
                        $("#divText").html(obj.Description.replace(/\n/g, "<br />"));
                        $("#divText").show();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                }
            });
        }
        function Excel() {
            $("#table-1").table2excel({
                exclude: ".noExl",
                name: "Theo doi phep"
            });
        }

        function Save() {
            $.confirm({
                type: 'orange',
                title: 'Lưu ý !.',
                content: 'Vui lòng kiểm tra kỹ thông tin tồn phép, ngày phép trước khi thực hiện, sau khi lưu sẽ không thể thay đổi !.',
                buttons: {
                    confirm: {
                        text: 'OK',
                        keys: ['enter', 'shift'],
                        btnClass: 'btn-blue',
                        action: function () {
                            var NoteKey = $('#txt_NoteKey').val();
                            var EmployeeKey = $('#cbo_Employee').val();
                            var EmployeeName = $("#cbo_Employee option:selected").text();
                            var BranchKey = $('#cbo_Branch').val();
                            var BranchName = $("#cbo_Branch option:selected").text();
                            var DepartmentKey = $('#cbo_Department').val();
                            var DepartmentName = $("#cbo_Department option:selected").text();
                            var PositionKey = $('#cbo_Position').val();
                            var PositionName = $("#cbo_Position option:selected").text();
                            var FromDate = $('#txt_FromDate').val();
                            var ToDate = $('#txt_ToDate').val();
                            var TotalDate = $('#txt_TotalDate').val();
                            var CategoryKey = $("#cbo_Type").val();
                            var CategoryName = $("#cbo_Type option:selected").text();
                            var Description = $("#txt_Description").val();
                            var NoteDate = $("#txt_NoteDate").val();

                            $.ajax({
                                url: URL_Save,
                                type: 'POST',
                                data: {
                                    "NoteKey": NoteKey,
                                    "EmployeeKey": EmployeeKey,
                                    "EmployeeName": EmployeeName,
                                    "BranchKey": BranchKey,
                                    "BranchName": BranchName,
                                    "DepartmentKey": DepartmentKey,
                                    "DepartmentName": DepartmentName,
                                    "PositionKey": PositionKey,
                                    "PositionName": PositionName,
                                    "FromDate": FromDate,
                                    "ToDate": ToDate,
                                    "TotalDate": TotalDate,
                                    "CategoryKey": CategoryKey,
                                    "CategoryName": CategoryName,
                                    "Description": Description,
                                    "NoteDate": NoteDate,
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Đóng',
                        action: function () {

                        }
                    },
                },
            });
        }
        function Detail(NoteKey) {
            Utils.OpenMagnific('#modalEdit');
            $("#divText").empty();
            if (NoteKey != '') {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "NoteKey": NoteKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            var zNoteDate = Utils.ConvertToDDMMYYYY(obj.NoteDate);
                            var zFromDate = Utils.ConvertToDDMMYYYY(obj.FromDate);
                            var zToDate = Utils.ConvertToDDMMYYYY(obj.ToDate);

                            $('#cbo_Type').val(obj.CategoryKey).trigger('change');
                            $('#cbo_Employee').val(obj.EmployeeKey).trigger('change');
                            $('#cbo_Branch').val(obj.BranchKey).trigger('change');
                            $('#cbo_Department').val(obj.DepartmentKey).trigger('change');
                            $('#cbo_Position').val(obj.PositionKey).trigger('change');

                            $('#txt_NoteKey').val(obj.NoteKey);
                            $('#txt_NoteDate').val(zNoteDate);
                            $('#txt_FromDate').val(zFromDate);
                            $('#txt_ToDate').val(zToDate);
                            $('#txt_TotalDate').val(obj.TotalDate);

                            $('#txt_Description').val(obj.Description);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#employeediv');
                $('#txt_NoteKey').val('');
                $('#txt_TotalDate').val(0);
                $('#txt_NoteDate').val(Utils.GetDate());
            }
        }
        function Delete(NoteKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Bạn có chắc xóa thông tin này !.',
                content: 'Các kì phát sinh sau "ĐÃ NHẬP" phải xoá và cập nhật lại ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "NoteKey": NoteKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

    </script>
}