﻿@{
    Layout = null;
    List<Employee_Model> _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
}
<div class="card border">
    <div class="card-header">
        <h2 class="card-title text-center">Nhân sự tính lương</h2>
    </div>
    <div class="card-body p-0" id="panel1">
        <table class="table Custom table-sm" id="tbl01">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ và tên</th>
                    <th>Chức vụ</th>
                    <th>Phòng ban</th>
                    <th>Ngày tuyển dụng</th>
                    <th>HĐLĐ</th>
                    <th>Lương thoả thuận</th>
                    <th>BHXH</th>
                    <th><button class="btn btn-primary" onclick="Step1()">Tải lại</button></th>
                </tr>
            </thead>
            <tbody id="tblBody">
                @for (int i = 0; i < _ListData.Count; i++)
                {
                    Employee_Model Model = _ListData[i];
                    string zStartingDate = "";

                    if (Model.StartingDate != DateTime.MinValue)
                    {
                        zStartingDate = Model.StartingDate.ToString("dd/MM/yyyy");
                    }

                    string BH = "";
                    if (Model.Style == "KO")
                    {
                        BH = "Không tham gia";
                    }

                    <tr name="b1+@Model.EmployeeKey">
                        <td>@(i + 1)</td>
                        <td>@(Model.LastName + " " + Model.FirstName)</td>
                        <td>@Model.PositionName</td>
                        <td>@Model.DepartmentName</td>
                        <td>@zStartingDate</td>
                        <td>@Model.HDLD</td>
                        <td class="text-right">@Model.LuongTT</td>
                        <td>@BH</td>
                        <td class="text-right">
                            <button type="button" data-toggle="tooltip" data-placement="top"
                                    title="Xóa nhân sự" class="btn btn-outline-danger btn-sm modal-with-zoom-anim"
                                    onclick="DeleteStep1('@Model.EmployeeKey')">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>