﻿
@{
    Layout = null;
    List<Over_Time_Model> _ListData = new List<Over_Time_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Over_Time_Model>;
    }
}



<div class="card border">
    <div class="card-header">
        <h2 class="card-title text-center">Làm thêm ngoài giờ/lễ</h2>
    </div>
    <div class="card-body p-0" id="panel3">
        <table class="table table-sm Cusom">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ngày</th>
                    <th>Diễn giải</th>
                    <th>Ghi chú</th>
                    <th class="text-right">
                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail('')">
                            <i class="fa fa-plus"></i>
                            Thêm mới
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody id="tblBody">
                @{
                    if (_ListData.Count > 0)
                    {
                        for (int i = 0; i < _ListData.Count; i++)
                        {
                            Over_Time_Model Model = _ListData[i];
                            string OverTimeDate = "";
                            if (Model.OverTimeDate != DateTime.MinValue)
                            {
                                OverTimeDate = Model.OverTimeDate.ToString("dd/MM/yyyy");
                            }

                            <tr>
                                <td>@(i + 1)</td>
                                <td>@OverTimeDate</td>
                                <td>@Model.ItemName</td>
                                <td>@Model.Description</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@Model.OvertimeKey')">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Model.OvertimeKey')">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                <div class="alert alert-primary">
                                    <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
