﻿@using System.Data
@{
    Layout = null;
    DataTable _PvtTable = new DataTable();
    if (ViewBag.PivotTable != null)
    {
        _PvtTable = ViewBag.PivotTable as DataTable;
    }
}

@{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            <strong>@ViewBag.Message</strong>.
        </div>
    }
    else
    {
        <div class="card border">
            <div class="card-header">
                <h2 class="card-title text-center">Bảng tính lương chi tiết</h2>
            </div>
            <div class="card-body">

                <div class="form-group" id="panel4">
                    <table class="table table-sm table-bordered" id="tblPayroll">
                        <thead>
                            <tr>
                                @{
                                    for (int i = 3; i < _PvtTable.Columns.Count; i++)
                                    {
                                        DataColumn c = _PvtTable.Columns[i];
                                        <th class="">@c.ColumnName</th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                string Branch = "";
                                foreach (DataRow r in _PvtTable.Rows)
                                {
                                    string tmp = r[0].ToString();
                                    string key = r[2].ToString();
                                    string Css = "";
                                    //string description = Helper.CheckPayroll(key, ViewBag.Id as string);
                                    string popover = "";
                                    string attr = "";
                                    //if (description != string.Empty)
                                    //{
                                    //    //popover = "data-content='" + description + "' rel='popover' data-placement='top'";
                                    //    Css = "style='color: orangered;'";
                                    //    attr = Css + popover;
                                    //}

                                    if (tmp != Branch)
                                    {
                                        Branch = tmp;
                                        <!--DÒNG TIÊU ĐỀ-->
                                        <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                            <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                            @{
                                                for (int i = 5; i < _PvtTable.Columns.Count; i++)
                                                {
                                                    double value = Helper.SumRow(_PvtTable, i, Branch);
                                                    <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                                }
                                            }
                                        </tr>
                                        <!---->
                                        <tr @Html.Raw(attr)>
                                            @{
                                                for (int i = 3; i < _PvtTable.Columns.Count; i++)
                                                {
                                                    if (i > 4)
                                                    {
                                                        <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="">@r[i].ToString()</td>
                                                    }
                                                }
                                            }

                                        </tr>
                                    }
                                    else
                                    {
                                        <!--DÒNG DỮ LIỆU-->
                                        <tr @Html.Raw(attr)>
                                            @{
                                                for (int i = 3; i < _PvtTable.Columns.Count; i++)
                                                {
                                                    if (i > 4)
                                                    {
                                                        <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="">@r[i].ToString()</td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="4" id="txt_Notestep4">@ViewBag.Description</textarea>
                </div>
            </div>
            <div class="card-footer text-center">
                <button id="btn_Save" type="button" class="btn btn-primary" onclick="SaveStep4()">
                    <i class="fa fa-save"></i>
                    Lưu bảng tính
                </button>
                <a class="btn btn-primary" href="/Employee/ExportExcel?Type=0">
                    <i class="fa fa-download"></i>
                    Xuất bảng chi tiết
                </a>
            </div>
        </div>
    }
}