﻿@{
    Layout = null;
    List<Employee_Model> _ListSelectEmployee = new List<Employee_Model>();
    if (ViewBag.ListSelectEmployee != null)
    {
        _ListSelectEmployee = ViewBag.ListSelectEmployee as List<Employee_Model>;
    }

    List<Work_Day_Model> _ListData = new List<Work_Day_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Work_Day_Model>;
    }
}

<div class="card border">
    <div class="card-header">
        <h2 class="card-title text-center">Điều chỉnh ngày công thực tế</h2>
    </div>
    <div class="card-body p-0" id="panel2">
        <table class="table table-sm Custom" id="tbl02">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Họ tên</th>
                    <th>Số ngày</th>
                    <th>Ghi chú</th>
                    <th>
                        <a class="modal-with-zoom-anim btn btn-info float-right" href="#" onclick="EditStep2(0)">
                            <i class="fa fa-plus"></i>
                            Thêm mới
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody id="tblBody">
                @{
                    if (_ListData.Count > 0)
                    {
                        for (int i = 0; i < _ListData.Count; i++)
                        {
                            Work_Day_Model Model = _ListData[i];

                            <tr id="@Model.AutoKey">
                                <td>@(i + 1)</td>
                                <td>@Model.EmployeeName</td>
                                <td style="width:100px">@Model.Days</td>
                                <td>@Model.Description</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="EditStep2(@Model.AutoKey)">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteStep2(@Model.AutoKey)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                <div class="alert alert-primary">
                                    <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
    </div>
</div>
