﻿
@using System.Data
@{
    Layout = null;
    DataTable _InsuranceTable = new DataTable();
    if (ViewBag.InsuranceTable != null)
    {
        _InsuranceTable = ViewBag.InsuranceTable as DataTable;
    }
    DataTable _OverTimeTable = new DataTable();
    if (ViewBag.OverTimeTable != null)
    {
        _OverTimeTable = ViewBag.OverTimeTable as DataTable;
    }
    DataTable _SupportTable = new DataTable();
    if (ViewBag.SupportTable != null)
    {
        _SupportTable = ViewBag.SupportTable as DataTable;
    }
    DataTable _PaymentTable = new DataTable();
    if (ViewBag.PaymentTable != null)
    {
        _PaymentTable = ViewBag.PaymentTable as DataTable;
    }
    DataTable _OveralTable = new DataTable();
    if (ViewBag.OveralTable != null)
    {
        _OveralTable = ViewBag.OveralTable as DataTable;
    }
}
<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" href="#t5" data-toggle="tab">Excel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#t4" data-toggle="tab">PHẢI TRỪ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#t2" data-toggle="tab">TIỀN TRỰC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#t3" data-toggle="tab">PHỤ CẤP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#t1" data-toggle="tab">THANH TOÁN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#t6" data-toggle="tab">CHI BHXH</a>
        </li>
    </ul>
    <div class="tab-content p-0">
        <div id="t5" class="tab-pane active">
            <div class="row p-3">
                <div class="col-6">
                    <div class="list-group">

                        <a class="list-group-item list-group-item-action" href="/Employee/ExportExcel?Type=0">
                            <i class="fa fa-download"></i>
                            Bảng tính lương chi tiết
                        </a>

                        <a class="list-group-item list-group-item-action" href="/Employee/ExportExcel?Type=1">
                            <i class="fa fa-download"></i>
                            Bảng các khoản trừ lương
                        </a>

                        <a class="list-group-item list-group-item-action" href="/Employee/ExportExcel?Type=2">
                            <i class="fa fa-download"></i>
                            Bảng tổng hợp tiền trực ngày lễ
                        </a>

                        <a class="list-group-item list-group-item-action" href="/Employee/ExportExcel?Type=3">
                            <i class="fa fa-download"></i>
                            Bảng các khoản phụ cấp
                        </a>

                        <a class="list-group-item list-group-item-action" href="/Employee/ExportExcel?Type=4">
                            <i class="fa fa-download"></i>
                            Bảng thanh toán lương
                        </a>

                        <a class="list-group-item list-group-item-action" href="#">
                            <i class="fa fa-download"></i>
                            Tổng hợp BHXH
                        </a>

                        <a class="list-group-item list-group-item-action list-group-item-primary" href="#" onclick="SavePayroll()">
                            <i class="far fa-save"></i>
                            Khoá hồ sơ lương
                        </a>

                    </div>
                </div>
            </div>

        </div>
        <div id="t1" class="tab-pane">
            <table class="table table-sm table-bordered" id="tbl4">
                <thead>
                    <tr>
                        @{
                            for (int i = 1; i < _PaymentTable.Columns.Count; i++)
                            {
                                DataColumn c = _PaymentTable.Columns[i];
                                if (i < 3)
                                {
                                    <th class="text-primary font-weight-semibold text-center">@c.ColumnName</th>
                                }
                                else
                                {
                                    if (i == _PaymentTable.Columns.Count - 1)
                                    {
                                        <th class="text-primary font-weight-semibold text-center">@c.ColumnName</th>
                                    }
                                    else
                                    {
                                        <th class="text-center">@c.ColumnName</th>
                                    }
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        string Branch = "";
                        foreach (DataRow r in _PaymentTable.Rows)
                        {
                            string tmp = r[0].ToString();
                            if (tmp != Branch)
                            {
                                Branch = tmp;
                                <!--DÒNG TIÊU ĐỀ-->
                                <tr>
                                    <td colspan="5"><h2 class="card-title font-weight-semibold">@Branch</h2></td>
                                </tr>
                                <!---->
                                <tr>
                                    @{
                                        for (int i = 1; i < _PaymentTable.Columns.Count; i++)
                                        {
                                            if (i < 3)
                                            {
                                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                            }
                                            else
                                            {
                                                if (i == _PaymentTable.Columns.Count - 1)
                                                {
                                                    <td class="text-right text-primary font-weight-semibold">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                                else
                                                {
                                                    <td class="text-right" style="width:100px">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                            }
                                        }
                                    }

                                </tr>
                            }
                            else
                            {
                                <tr>
                                    @{
                                        for (int i = 1; i < _PaymentTable.Columns.Count; i++)
                                        {
                                            if (i < 3)
                                            {
                                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                            }
                                            else
                                            {
                                                if (i == _PaymentTable.Columns.Count - 1)
                                                {
                                                    <td class="text-right text-primary font-weight-semibold">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                                else
                                                {
                                                    <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                            }
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="t2" class="tab-pane">
            <table class="table table-sm table-bordered" id="tbl2">
                <thead>
                    <tr>
                        @{
                            for (int i = 1; i < _OverTimeTable.Columns.Count; i++)
                            {
                                DataColumn c = _OverTimeTable.Columns[i];
                                if (i < 3)
                                {
                                    <th class="text-primary font-weight-semibold text-center">@c.ColumnName</th>
                                }
                                else
                                {
                                    if (i == _OverTimeTable.Columns.Count - 1)
                                    {
                                        <th class="text-primary font-weight-semibold text-center">@c.ColumnName</th>
                                    }
                                    else
                                    {
                                        <th class="text-center">@c.ColumnName</th>
                                    }
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        Branch = "";
                        foreach (DataRow r in _OverTimeTable.Rows)
                        {
                            string tmp = r[0].ToString();
                            if (tmp != Branch)
                            {
                                Branch = tmp;
                                <!--DÒNG TIÊU ĐỀ-->
                                <tr>
                                    <td colspan="5"><h2 class="card-title font-weight-semibold">@Branch</h2></td>
                                </tr>
                                <!---->
                                <tr>
                                    @{
                                        for (int i = 1; i < _OverTimeTable.Columns.Count; i++)
                                        {
                                            if (i < 3)
                                            {
                                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                            }
                                            else
                                            {
                                                if (i == _OverTimeTable.Columns.Count - 1)
                                                {
                                                    <td class="text-right text-primary font-weight-semibold">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                                else
                                                {
                                                    <td class="text-right" style="width:100px">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                            }
                                        }
                                    }

                                </tr>
                            }
                            else
                            {
                                <tr>
                                    @{
                                        for (int i = 1; i < _OverTimeTable.Columns.Count; i++)
                                        {
                                            if (i < 3)
                                            {
                                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                            }
                                            else
                                            {
                                                if (i == _OverTimeTable.Columns.Count - 1)
                                                {
                                                    <td class="text-right text-primary font-weight-semibold">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                                else
                                                {
                                                    <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                            }
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="t3" class="tab-pane">
            <table class="table table-sm table-bordered" id="tbl3">
                <thead>
                    <tr>
                        @{
                            for (int i = 1; i < _SupportTable.Columns.Count; i++)
                            {
                                DataColumn c = _SupportTable.Columns[i];
                                if (i < 3)
                                {
                                    <th class="text-primary font-weight-semibold text-center">@c.ColumnName</th>
                                }
                                else
                                {
                                    if (i == _SupportTable.Columns.Count - 1)
                                    {
                                        <th class="text-primary font-weight-semibold text-center">@c.ColumnName</th>
                                    }
                                    else
                                    {
                                        <th class="text-center">@c.ColumnName</th>
                                    }
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        Branch = "";
                        foreach (DataRow r in _SupportTable.Rows)
                        {
                            string tmp = r[0].ToString();
                            if (tmp != Branch)
                            {
                                Branch = tmp;
                                <!--DÒNG TIÊU ĐỀ-->
                                <tr>
                                    <td colspan="5"><h2 class="card-title font-weight-semibold">@Branch</h2></td>
                                </tr>
                                <!---->
                                <tr>
                                    @{
                                        for (int i = 1; i < _SupportTable.Columns.Count; i++)
                                        {
                                            if (i < 3)
                                            {
                                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                            }
                                            else
                                            {
                                                if (i == _SupportTable.Columns.Count - 1)
                                                {
                                                    <td class="text-right text-primary font-weight-semibold">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                                else
                                                {
                                                    <td class="text-right" style="width:100px">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                            }
                                        }
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    @{
                                        for (int i = 1; i < _SupportTable.Columns.Count; i++)
                                        {
                                            if (i < 3)
                                            {
                                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                            }
                                            else
                                            {
                                                if (i == _SupportTable.Columns.Count - 1)
                                                {
                                                    <td class="text-right text-primary font-weight-semibold">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                                else
                                                {
                                                    <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                            }
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="t4" class="tab-pane">
            <table class="table table-sm table-bordered" id="tbl1">
                <thead>
                    <tr>
                        @{
                            for (int i = 1; i < _InsuranceTable.Columns.Count; i++)
                            {
                                DataColumn c = _InsuranceTable.Columns[i];
                                if (i < 3)
                                {
                                    <th class="text-primary font-weight-semibold text-center">@c.ColumnName</th>
                                }
                                else
                                {
                                    if (i == _InsuranceTable.Columns.Count - 1)
                                    {
                                        <th class="text-primary font-weight-semibold text-center">@c.ColumnName</th>
                                    }
                                    else
                                    {
                                        <th class="text-center">@c.ColumnName</th>
                                    }
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        Branch = "";
                        foreach (DataRow r in _InsuranceTable.Rows)
                        {
                            string tmp = r[0].ToString();
                            if (tmp != Branch)
                            {
                                Branch = tmp;
                                <!--DÒNG TIÊU ĐỀ-->
                                <tr>
                                    <td colspan="5"><h2 class="card-title font-weight-semibold">@Branch</h2></td>
                                </tr>
                                <!---->
                                <tr>
                                    @{
                                        for (int i = 1; i < _InsuranceTable.Columns.Count; i++)
                                        {
                                            if (i < 3)
                                            {
                                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                            }
                                            else
                                            {
                                                if (i == _InsuranceTable.Columns.Count - 1)
                                                {
                                                    <td class="text-right text-primary font-weight-semibold">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                                else
                                                {
                                                    <td class="text-right" style="width:100px">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                            }
                                        }
                                    }

                                </tr>
                            }
                            else
                            {
                                <tr>
                                    @{
                                        for (int i = 1; i < _InsuranceTable.Columns.Count; i++)
                                        {
                                            if (i < 3)
                                            {
                                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                            }
                                            else
                                            {
                                                if (i == _InsuranceTable.Columns.Count - 1)
                                                {
                                                    <td class="text-right text-primary font-weight-semibold">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                                else
                                                {
                                                    <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                }
                                            }
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="t6" class="tab-pane">
            <table id="tbl6" class="table table-sm table-bordered">
                <thead>
                    <tr>
                        @{
                            int Max = _OveralTable.Columns.Count - 1;

                            for (int i = 0; i < _OveralTable.Columns.Count; i++)
                            {
                                DataColumn c = _OveralTable.Columns[i];
                                if (i < 2)
                                {
                                    <th class="text-primary font-weight-semibold text-center">@c.ColumnName</th>
                                }
                                else
                                {
                                    if (i == Max)
                                    {
                                        <th class="text-center" style="width: 150px; background: #673ab79e; color: WHITE;">@c.ColumnName</th>
                                    }
                                    else
                                    {
                                        <th class="text-center" style="width: 150px">@c.ColumnName</th>
                                    }

                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (DataRow r in _OveralTable.Rows)
                        {
                            <tr>
                                @{
                                    for (int i = 0; i < _OveralTable.Columns.Count; i++)
                                    {
                                        if (i < 2)
                                        {
                                            <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                        }
                                        else
                                        {
                                            if (i == Max)
                                            {
                                                <th class="text-right" style="width: 150px; background: #673ab79e; color: WHITE;">@r[i].ToString()</th>
                                            }
                                            else
                                            {
                                                <th class="text-right" style="width: 150px">@r[i].ToString()</th>
                                            }
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>