﻿
@{
    /**/

    ViewBag.Title = "Increase";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Payroll_Sample_Model> _ListItem = new List<Payroll_Sample_Model>();
    if (ViewBag.ListItem != null)
    {
        _ListItem = ViewBag.ListItem as List<Payroll_Sample_Model>;
    }
    List<Payroll_Increase_Model> _ListIncrease = new List<Payroll_Increase_Model>();
    if (ViewBag.Increase != null)
    {
        _ListIncrease = ViewBag.Increase as List<Payroll_Increase_Model>;
    }
    List<Employee_Model> _ListSelectEmployee = new List<Employee_Model>();
    if (ViewBag.ListSelectEmployee != null)
    {
        _ListSelectEmployee = ViewBag.ListSelectEmployee as List<Employee_Model>;
    }
}

@section Styles{

}
<header class="page-header">
    <h2>Danh sách điều chỉnh tăng lương</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">

            </div>
        </div>
        <div class="card-body border-primary">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã số</th>
                        <th>Nhân viên</th>
                        <th class="d-none">Số hợp đông/phụ lục</th>
                        <th>Lương</th>
                        <th>Số tiền</th>
                        <th>Thời gian</th>
                        <th>Ghi chú</th>
                        <th class="text-right">
                            <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail(0)">
                                <i class="fa fa-plus"></i>
                                Thêm mới
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody id="tblBody">
                    @{
                        if (_ListIncrease.Count > 0)
                        {
                            for (int i = 0; i < _ListIncrease.Count; i++)
                            {
                                Payroll_Increase_Model Model = _ListIncrease[i];

                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.ID</td>
                                    <td>@Model.EmployeeName</td>
                                    <td class="d-none">@Model.ContractID</td>
                                    <td>@Model.ItemName</td>
                                    <td class="text-right number">@Model.Total.FormatMoneyFromObject()</td>
                                    <td>@(Model.FromDate.ToString("dd/MM/yyyy") + "-" + Model.ToDate.ToString("dd/MM/yyyy"))</td>
                                    <td>@Model.Description</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail(@Model.AutoKey)"><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Model.AutoKey)"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer border-primary">
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin điều chỉnh tăng lương</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày quyết định</label>
                <div class="col-lg-7 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_WriteDate" required="" name="WriteDate"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số quyết định</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ID" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row d-none">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Mã hợp đồng/PL</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ContractID" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Nhân viên</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Employee" class="form-control select2" name="Employee">
                        <option value="0" selected="selected">--//--</option>
                        @foreach (Employee_Model zItem in _ListSelectEmployee)
                        {
                            <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Đề nghị tăng nội dung</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Payroll" class="form-control select2" name="Branch">
                        <option value="0">--//--</option>
                        @foreach (Payroll_Sample_Model zItem in _ListItem)
                        {
                            <option value="@zItem.ItemKey">@zItem.ItemName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control money" id="txt_Total" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Từ ngày</label>
                <div class="col-lg-7 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_FromDate" required="" name="FatherBirthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Đến ngày</label>
                <div class="col-lg-7 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_ToDate" required="" name="FatherBirthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú lý do</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>

        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_AutoKey" type="hidden" name="FeaKey" value="0" />

</div>

@section scripts {

    <script>
        var URL_Detail = '@Url.Action("DetailIncrease", "Employee")';
        var URL_Delete = '@Url.Action("DeleteIncrease", "Employee")';
        var URL_Save = '@Url.Action("SaveIncrease", "Employee")';

        $(document).ready(function () {

        });

        function Save() {
            var AutoKey = $('#txt_AutoKey').val();
            var WriteDate = $('#txt_WriteDate').val();
            var ID = $('#txt_ID').val();
            var ContractID = $('#txt_ContractID').val();
            var EmployeeKey = $('#cbo_Employee').val();
            var EmployeeName = $("#cbo_Employee option:selected").text();
            var ItemKey = $('#cbo_Payroll').val();
            var ItemName = $("#cbo_Payroll option:selected").text();
            var Total = Utils.ParseDouble($('#txt_Total').val());
            var FromDate = $('#txt_FromDate').val();
            var ToDate = $('#txt_ToDate').val();
            var Description = $('#txt_Description').val();
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "AutoKey": AutoKey,
                    "ID": ID,
                    "ContractID": ContractID,
                    "EmployeeKey": EmployeeKey,
                    "EmployeeName": EmployeeName,
                    "ItemKey": ItemKey,
                    "ItemName": ItemName,
                    "FromDate": FromDate,
                    "ToDate": ToDate,
                    "Total": Total,
                    "WriteDate": WriteDate,
                    "Description": Description
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(AutoKey) {
            Utils.OpenMagnific('#modalEdit');
            if (AutoKey > 0) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "AutoKey": AutoKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            var zFromDate = Utils.ConvertToDDMMYYYY(obj.FromDate);
                            var zToDate = Utils.ConvertToDDMMYYYY(obj.ToDate);
                            var zWriteDate = Utils.ConvertToDDMMYYYY(obj.WriteDate);
                            $('#txt_AutoKey').val(obj.AutoKey);
                            $('#txt_ID').val(obj.ID);
                            $('#txt_ContractID').val(obj.ContractID);
                            $('#cbo_Payroll').val(obj.ItemKey).trigger('change');
                            $('#cbo_Employee').val(obj.EmployeeKey).trigger('change');
                            $('#txt_Total').val(obj.Total);
                            $('#txt_FromDate').val(zFromDate);
                            $('#txt_ToDate').val(zToDate);
                            $('#txt_Description').val(obj.Description);
                            $('#txt_WriteDate').val(zWriteDate);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $('#txt_AutoKey').val(0);
                $('#txt_Total').val(0);
            }
        }
        function Delete(AutoKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "AutoKey": AutoKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

    </script>
}


