﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ListMonth = new List<string>();
    for (int i = 12; i >= 1; i--)
    {
        _ListMonth.Add(i.ToString("00") + "/" + DateTime.Now.ToString("yyyy"));
    }
}
<style>
    .plan:hover {
        border: 3px solid #0088CC;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        color: #0088cc
    }

        .plan:hover > h3 {
            font-weight: bolder;
            background-color: #0088CC;
            color: #FFF;
        }
</style>
<header class="page-header">
    <h2>Báo cáo lương</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="card">
    <div class="card-header">
        <div class="form-group row ">
            <div class="col-9">

            </div>
            <div class="col-3">
                <select class="form-control" id="cboView">
                    @foreach (var rec in _ListMonth)
                    {
                        if (DateTime.Now.ToString("MM/yyyy") == rec)
                        {
                            <option value="@rec.ToString()" selected>Tổng hợp tháng @rec.ToString()</option>
                        }
                        else
                        {
                            <option value="@rec.ToString()">Tổng hợp tháng @rec.ToString()</option>
                        }
                    }
                </select>
            </div>

        </div>
    </div>
    <div class="card-body">

        <div class="pricing-table row no-gutters mt-3 mb-3">
            <div class="col-lg-3 col-sm-6">
                <div class="plan">
                    <h3>
                        AN BÌNH GROUP
                    </h3>
                    <a class="btn btn-lg btn-primary" href="#" onclick="View()">Xem chi tiết</a>
                    <ul>
                        <li><strong>10GB</strong> Disk Space</li>
                        <li><strong>100GB</strong> Monthly Bandwidth</li>
                        <li><strong>20</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> subdomains</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="plan">
                    <h3>
                        TRỤ SỞ VĂN PHÒNG
                    </h3>
                    <a class="btn btn-lg btn-primary" href="#">Xem chi tiết</a>
                    <ul>
                        <li><strong>10GB</strong> Disk Space</li>
                        <li><strong>100GB</strong> Monthly Bandwidth</li>
                        <li><strong>20</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> subdomains</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="plan">
                    <h3>
                        SÓNG THẦN
                    </h3>
                    <a class="btn btn-lg btn-primary" href="#">Xem chi tiết</a>
                    <ul>
                        <li><strong>10GB</strong> Disk Space</li>
                        <li><strong>100GB</strong> Monthly Bandwidth</li>
                        <li><strong>20</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> subdomains</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="plan">
                    <h3>
                        ĐỒNG NAI
                    </h3>
                    <a class="btn btn-lg btn-primary" href="#">Xem chi tiết</a>
                    <ul>
                        <li><strong>10GB</strong> Disk Space</li>
                        <li><strong>100GB</strong> Monthly Bandwidth</li>
                        <li><strong>20</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> subdomains</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="plan">
                    <h3>
                        BÌNH CHIỂU
                    </h3>
                    <a class="btn btn-lg btn-primary" href="#">Xem chi tiết</a>
                    <ul>
                        <li><strong>10GB</strong> Disk Space</li>
                        <li><strong>100GB</strong> Monthly Bandwidth</li>
                        <li><strong>20</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> subdomains</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="plan">
                    <h3>
                        BIÊN HOÀ
                    </h3>
                    <a class="btn btn-lg btn-primary" href="#">Xem chi tiết</a>
                    <ul>
                        <li><strong>10GB</strong> Disk Space</li>
                        <li><strong>100GB</strong> Monthly Bandwidth</li>
                        <li><strong>20</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> subdomains</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="plan">
                    <h3>
                        PHÚ LỢI
                    </h3>
                    <a class="btn btn-lg btn-primary" href="#">Xem chi tiết</a>
                    <ul>
                        <li><strong>10GB</strong> Disk Space</li>
                        <li><strong>100GB</strong> Monthly Bandwidth</li>
                        <li><strong>20</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> subdomains</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="plan">
                    <h3>
                        CÂY XĂNG
                    </h3>
                    <a class="btn btn-lg btn-primary" href="#">Xem chi tiết</a>
                    <ul>
                        <li><strong>10GB</strong> Disk Space</li>
                        <li><strong>100GB</strong> Monthly Bandwidth</li>
                        <li><strong>20</strong> Email Accounts</li>
                        <li><strong>Unlimited</strong> subdomains</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Các file Excel báo cáo lương</h2>
    </div>
    <div class="card-body p-0">
        <table class="table table-responsive-md table-hover mb-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td class="actions-hover actions-fade">
                        <a href="">
                            <i class="fas fa-download"></i>Tải file
                        </a>
                        <a href="" class="delete-row">
                            <i class="far fa-eye"></i>
                            Xem
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td class="actions-hover actions-fade">
                        <a href="">
                            <i class="fas fa-download"></i>Tải file
                        </a>
                        <a href="" class="delete-row">
                            <i class="far fa-eye"></i>
                            Xem
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                    <td class="actions-hover actions-fade">
                        <a href="">
                            <i class="fas fa-download"></i>Tải file
                        </a>
                        <a href="" class="delete-row">
                            <i class="far fa-eye"></i>
                            Xem
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        var url = "@Url.Action("General", "Employee")";
    </script>
    <script>
        function View() {
            $.dialog({
                theme: 'supervan',
                closeIcon: true,
                columnClass: 'xlarge',
                title: 'Tổng hợp chi phí nhân sự khu',
                content: 'url:' + url,
                animation: 'scale',
                closeAnimation: 'scale',
                backgroundDismiss: true,
            });
        }
    </script>
}