﻿
@{
    Layout = null;
    List<Employee_Model> _ListSelectEmployee = new List<Employee_Model>();
    if (ViewBag.ListSelectEmployee != null)
    {
        _ListSelectEmployee = ViewBag.ListSelectEmployee as List<Employee_Model>;
    }
}

<tr RecordStatus='0' AutoKey="0">
    <td>1</td>
    <td>
        <div>
            <select class="form-control select2" name="cbo_Employee">
                @foreach (Employee_Model zSelect in _ListSelectEmployee)
                {
                    <option value="@zSelect.EmployeeKey">@(zSelect.LastName + ' ' + zSelect.FirstName)</option>
                }
            </select>
        </div>
    </td>
    <td style="width:10%">
        <input type="text" class="form-control money" placeholder="0" value="" name="txt_Hours">
    </td>
    <td>
        <input type="text" class="form-control" placeholder="Ghi chú" value="" name="txt_DescriptionItem">
    </td>
    <td>
        <button type='button' class='btn btn-outline-danger float-right' name='btnDeleteOrder' onclick='RemoveRow(this)'>
            <i class='fas fa-trash'></i>
        </button>
    </td>
</tr>