﻿
@{
    ViewBag.Title = "OverTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Over_Time_Model> _ListData = new List<Over_Time_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Over_Time_Model>;
    }
    List<Employee_Model> _ListSelectEmployee = new List<Employee_Model>();
    if (ViewBag.ListSelectEmployee != null)
    {
        _ListSelectEmployee = ViewBag.ListSelectEmployee as List<Employee_Model>;
    }
    List<Payroll_Sample_Model> _ListPayroll = new List<Payroll_Sample_Model>();
    if (ViewBag.ListPayroll != null)
    {
        _ListPayroll = ViewBag.ListPayroll as List<Payroll_Sample_Model>;
    }
}
@section Styles{

}
<header class="page-header">
    <h2>Bảng thông tin chi trả làm thêm ngoài giờ</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">

            </div>
        </div>
        <div class="card-body border-primary">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ngày</th>
                        <th>Phòng/ khu</th>
                        <th>Tổng số tiền</th>
                        <th>Tổng số Giờ</th>
                        <th>Ghi chú</th>
                        <th class="text-right">
                            <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail(0)">
                                <i class="fa fa-plus"></i>
                                Thêm mới
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody id="tblBody">
                    @{

                        <tr>
                            <td colspan="6">
                                <div class="alert alert-primary">
                                    <strong>Bạn chưa có phát sinh, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer border-primary">
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Bảng danh sách chi trả tiền trực ngoài giờ</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày</label>
                <div class="col-lg-7 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_DateOverTime" required="" name="FatherBirthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Loại phí</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Item" class="form-control select2" name="EmployeeKey">
                        <option value="0" selected="selected">LÀM THÊM NGÀY THƯỜNG</option>
                        <option value="1">LÀM THÊM NGÀY LỄ</option>
                    </select>
                </div>
            </div>
            

            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Hệ số</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Paramater" value="" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>

        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_AutoKey" type="hidden" name="FeaKey" value="0" />

</div>

@section scripts {

    <script>
        var URL_Detail = '@Url.Action("DetailOver", "Employee")';
        var URL_Delete = '@Url.Action("DeleteOver", "Employee")';
        var URL_Save = '@Url.Action("SaveOver", "Employee")';

        $(document).ready(function () {

        });

        function Save() {
            var AutoKey = $('#txt_AutoKey').val();
            var EmployeeKey = $('#cbo_Employee').val();
            var ItemKey = $('#cbo_Item').val();
            var ItemName = $("#cbo_Item option:selected").text();
            var DateOverTime = $('#txt_DateOverTime').val();
            var Description = $('#txt_Description').val();
            var Hours = $("#txt_Hours").val();
            var Paramater = $("#txt_Paramater").val();
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "AutoKey": AutoKey,
                    "EmployeeKey": EmployeeKey,
                    "ItemKey": ItemKey,
                    "ItemName": ItemName,
                    "DateOverTime": DateOverTime,
                    "Description": Description,
                    "Hours": Hours,
                    "Paramater": Paramater
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(AutoKey) {
            Utils.OpenMagnific('#modalEdit');
            if (AutoKey > 0) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "AutoKey": AutoKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            var Date = Utils.ConvertToDDMMYYYY(obj.DateOverTime);
                            $('#txt_AutoKey').val(obj.AutoKey);
                            $('#cbo_Item').val(obj.ItemKey).trigger('change');
                            $('#cbo_Employee').val(obj.EmployeeKey).trigger('change');
                            $('#txt_Description').val(obj.Description);
                            $('#txt_Hours').val(obj.Hours);
                            $('#txt_Paramater').val(obj.Paramater);
                            $('#txt_DateOverTime').val(Date);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $('#txt_AutoKey').val(0);
                $('#cbo_Item').val(0).trigger('change');
                $('#txt_Hours').val(0);
                $('#txt_Parameter').val(0);
            }
        }
        function Delete(AutoKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "AutoKey": AutoKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

    </script>
}


