﻿
@{
    ViewBag.Title = "PayrollTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Payroll_Close_Model> _ListData = new List<Payroll_Close_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Payroll_Close_Model>;
    }
}

<header class="page-header">
    <h2>Bảng danh sách hồ sơ trả lương</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">

            </div>
            <div class="card-body border-primary">
                <table class="table table-sm Custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ngày</th>
                            <th>Hồ sơ lương</th>
                            <th>Nội dung</th>
                            <th>...</th>
                            <th class="text-right">
                                <button type="button" class="btn btn-info" onclick="Utils.OpenMagnific('#modalNew');">
                                    <i class="fa fa-plus"></i>
                                    Lập mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            if (_ListData.Count > 0)
                            {
                                for (int i = 0; i < _ListData.Count; i++)
                                {
                                    Payroll_Close_Model Model = _ListData[i];
                                    string Status = "Đang làm";
                                    if (Model.RecordStatus == 9)
                                    {
                                        Status = "Đã làm xong";
                                    }
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>@Model.CloseDate</td>
                                        <td>@Model.Title</td>
                                        <td>@Model.Description</td>
                                        <td class="text-success">@Status</td>
                                        <td class="text-right">
                                            <a href="@Url.Action("ViewPayroll","Employee", new { Id = Model.CloseKey })" class="btn btn-outline-primary btn-sm">
                                                Xem
                                            </a>
                                            <a href="@Url.Action("SetupPayroll","Employee", new { Id = Model.CloseKey })" class="btn btn-outline-primary btn-sm">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Model.CloseKey')">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        <div class="alert alert-primary">
                                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
            <div class="card-footer border-primary">
            </div>
        </div>

    </div>
</div>
<div id="modalNew" class="zoom-anim-dialog modal-block mfp-hide">
    <form class="card border" method="post" action="@Url.Action("InitNewPayroll","Employee")">
        <div class="card-header">
            <h2 class="card-title">Khởi tạo bảng lương</h2>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-lg-3 control-label text-lg-right">Kỳ tính lương</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_CloseDate" data-plugin-datepicker="" class="form-control" value="@DateTime.Now.ToString("MM/yyyy")" name="CloseDate">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label text-lg-right">Tên hồ sơ</label>
                <div class="col-lg-9">
                    <input type="text" id="txt_Title" placeholder="Hồ sơ lương tháng 11/2020" class="form-control" value="Hồ sơ lương tháng @DateTime.Now.ToString("MM/yyyy")" name="Title">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-9">
                    <textarea name="Description" class="form-control" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="submit" class="btn btn-outline-primary">
                <i class="far fa-save"></i>
                Khởi tạo
            </button>
        </div>
    </form>

</div>
@section scripts{
    <script>
        var Url_Delete = "@Url.Action("DeletePayroll", "Employee")";
        
        function Delete(CloseKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Bạn có chắc xóa thông tin này?.',
                content: 'Các thông tin liên quan đến bảng tính lương, BHXH, làm ngoài giờ, ngày công, thanh toán lương sẽ bị xoá theo. ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: Url_Delete,
                                type: 'POST',
                                data: {
                                    "CloseKey": CloseKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        
    </script>
}
