﻿
@{
    ViewBag.Title = "SetupPayroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        li.finish > a {
            background-color: orange !important;
            color: white !important;
        }

        #tblPayroll {
            white-space: nowrap
        }

        .tabs .nav-tabs li.active .nav-link {
            font-weight: bold !important;
        }

        .selectRow {
            background-color: #0088cc38;
            color: #2196f3;
        }

        html .wizard-progress.wizard-progress-lg,
        html.dark .wizard-progress.wizard-progress-lg {
            margin: unset !important;
            width: 100%;
        }
    </style>
}
<header class="page-header">
    <h2>Xử lý tính lương nhân sự</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <section class="card form-wizard" id="w4">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
                </div>
                <h2 class="card-title">Các bước xử lý</h2>
            </header>
            <div class="card-body">
                <div class="wizard-progress wizard-progress-lg">
                    <div class="steps-progress">
                        <div class="progress-indicator" style="width: 0%;"></div>
                    </div>
                    <ul class="nav wizard-steps">
                        <li class="nav-item active">
                            <a class="nav-link" href="#w4-step1" data-toggle="tab">
                                <span>1</span>
                                Nhân sự.
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#w4-step2" data-toggle="tab">
                                <span>2</span>
                                Ngày công thực tế.
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#w4-step3" data-toggle="tab">
                                <span>3</span>
                                Làm thêm ngoài giờ/ lễ.
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#w4-step31" data-toggle="tab">
                                <span>4</span>
                                Phụ cấp phát sinh
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#w4-step4" data-toggle="tab">
                                <span>5</span>
                                Xử lý tính lương<br />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#w4-step5" data-toggle="tab">
                                <span>6</span>
                                Lưu hồ sơ lương<br />
                            </a>
                        </li>
                    </ul>
                </div>

                <form class="form-horizontal p-3" novalidate="novalidate">
                    <div class="tab-content">
                        <div id="w4-step1" class="tab-pane active">

                        </div>
                        <div id="w4-step2" class="tab-pane">

                        </div>
                        <div id="w4-step3" class="tab-pane">

                        </div>
                        <div id="w4-step31" class="tab-pane">

                        </div>
                        <div id="w4-step4" class="tab-pane">

                        </div>
                        <div id="w4-step5" class="tab-pane">

                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <ul class="pager">
                    <li class="previous disabled">
                        <a class="">
                            <i class="fas fa-angle-left"></i>
                            Quay về
                        </a>
                    </li>
                    <li class="finish hidden float-right">
                        <a class="">
                            Lưu hồ sơ
                        </a>
                    </li>
                    <li class="next">
                        <a class="">
                            Tiếp tục
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">

</div>
<input id="txt_MasterKey" type="hidden" value="@ViewBag.ID" />
@section Scripts{
    <script src="~/assets/Appjs/tableHeadFixer.js"></script>
    <script>
        var Url_DeleteStep1 = "@Url.Action("DeleteStep1", "Employee")";
        var Url_EditStep2 = "@Url.Action("EditStep2", "Employee")";
        var Url_DeleteStep2 = "@Url.Action("DeleteStep2", "Employee")";
        var Url_SaveStep2 = "@Url.Action("SaveStep2", "Employee")";

        var Url_EditStep31 = "@Url.Action("EditStep31", "Employee")";
        var Url_DeleteStep31 = "@Url.Action("DeleteStep31", "Employee")";
        var Url_SaveStep31 = "@Url.Action("SaveStep31", "Employee")";

        var Url_SaveStep4 = "@Url.Action("SaveStep4", "Employee")";
        var Url_SaveStep5 = "@Url.Action("LuuGhiChu", "Employee")";
        //
        var Url_OverTimeEdit = '@Url.Action("OverTimeEdit", "Employee")';
        var Url_SaveOverTime = '@Url.Action("SaveOverTime", "Employee")';
        var Url_DeleteOverTime = '@Url.Action("DeleteOverTime", "Employee")';
        var Url_OverTimeRow = '@Url.Action("OverTimeRow", "Employee")';
        var Url_BHXH = '@Url.Action("BHXH", "Employee")';
        //
        var Url_Step1 = '@Url.Action("PayrollStep1", "Employee")';
        var Url_Step2 = '@Url.Action("PayrollStep2", "Employee")';
        var Url_Step3 = '@Url.Action("PayrollStep3", "Employee")';
        var Url_Step31 = '@Url.Action("PayrollStep31", "Employee")';
        var Url_Step4 = '@Url.Action("PayrollStep4", "Employee")';
        var Url_Step5 = '@Url.Action("PayrollStep5", "Employee")';
        //
        var Url_Close = "@Url.Action("PayrollClose","Employee")";
        var Url_List = "@Url.Action("PayrollTable","Employee")";
    </script>
    <script>
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var width = $(window).width();
        var height = $(window).height() - 350;
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }

        var
            $w4finish = $('#w4').find('ul.pager li.finish'),
            $w4validator = $("#w4 form").validate({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                    $(element).remove();
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                }
            });
        $w4finish.on('click', function (ev) {
            ev.preventDefault();
            LockDocument();
        });

        $('#w4').bootstrapWizard({
            tabClass: 'wizard-steps',
            nextSelector: 'ul.pager li.next',
            previousSelector: 'ul.pager li.previous',
            firstSelector: null,
            lastSelector: null,
            onNext: function (tab, navigation, index, newindex) {

            },
            onTabClick: function (tab, navigation, index, newindex) {
                if (newindex == index + 1) {
                    return this.onNext(tab, navigation, index, newindex);
                } else if (newindex > index + 1) {
                    return false;
                } else {
                    return true;
                }
            },
            onTabChange: function (tab, navigation, index, newindex) {
                var $total = navigation.find('li').length - 1;
                $w4finish[newindex != $total ? 'addClass' : 'removeClass']('hidden');
                $('#w4').find(this.nextSelector)[newindex == $total ? 'addClass' : 'removeClass']('hidden');
            },
            onTabShow: function (tab, navigation, index) {
                var $total = navigation.find('li').length - 1;
                var $current = index;
                var $percent = Math.floor(($current / $total) * 100);

                navigation.find('li').removeClass('active');
                navigation.find('li').eq($current).addClass('active');

                $('#w4').find('.progress-indicator').css({ 'width': $percent + '%' });
                tab.prevAll().addClass('completed');
                tab.nextAll().removeClass('completed');

                if (index === 0) {
                    Step1();
                }
                if (index === 1) {
                    Step2();
                }
                if (index === 2) {
                    Step3();
                }
                if (index === 3) {
                    Step31();
                }
                if (index === 4) {
                    Step4();
                }
                if (index === 5) {
                    Step5();
                }
            },
        });

        function Step1() {
            var Id = $("#txt_MasterKey").val();
            $.ajax({
                url: Url_Step1,
                type: 'GET',
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    $("#w4-step1").empty();
                    Utils.LoadIn()
                },
                success: function (r) {
                    $("#w4-step1").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    $("#panel1").css({
                        "height": height,
                    });

                    $("#tbl01").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 2,
                        right: 0,
                        'z-index': '50'
                    });
                    InitClick();
                    Utils.LoadOut();
                }
            });
        }
        function Step2() {
            var Id = $("#txt_MasterKey").val();
            $.ajax({
                url: Url_Step2,
                type: 'GET',
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    $("#w4-step2").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#w4-step2").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    InitClick();
                    Utils.LoadOut();
                }
            });
        }
        function Step3() {
            var Id = $("#txt_MasterKey").val();
            $.ajax({
                url: Url_Step3,
                type: 'GET',
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    $("#w4-step3").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#w4-step3").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function Step31() {
            var Id = $("#txt_MasterKey").val();
            $.ajax({
                url: Url_Step31,
                type: 'GET',
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    $("#w4-step31").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#w4-step31").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function Step4() {
            var Id = $("#txt_MasterKey").val();
            $.ajax({
                url: Url_Step4,
                type: 'GET',
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    $("#w4-step4").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#w4-step4").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    $("#panel4").css({
                        "height": height,
                    });

                    $("#tblPayroll").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 2,
                        right: 0,
                        'z-index': '50'
                    });
                    InitClick();
                    Utils.LoadOut();
                    $('tr[rel="popover"]').popover({ trigger: "hover", placement: "top" });
                }
            });
        }
        function Step5() {
            var Id = $("#txt_MasterKey").val();
            $.ajax({
                url: Url_Step5,
                type: 'GET',
                data: {
                    "Id": Id,
                },
                beforeSend: function () {
                    $("#w4-step5").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#w4-step5").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                    $('div[name="panelt5"]').css({
                        "height": height,
                    });
                    $("#tbl51").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 2,
                        right: 0,
                        'z-index': '50'
                    });
                    $("#tbl52").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 2,
                        right: 0,
                        'z-index': '50'
                    });
                    $("#tbl53").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 2,
                        right: 0,
                        'z-index': '50'
                    });
                    $("#tbl54").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 2,
                        right: 0,
                        'z-index': '50'
                    });
                    $("#tbl56").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 2,
                        right: 0,
                        'z-index': '50'
                    });
                    InitClick();
                    Utils.LoadOut();
                }
            });
        }
        function InitClick() {
            $("table tr").click(function () {
                var selected = $(this).hasClass("selectRow");
                $("table tr").removeClass("selectRow");
                if (!selected)
                    $(this).addClass("selectRow");
            });
        }
    </script>
    <script>
        function DeleteStep1(EmployeeKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Bạn có chắc xóa thông tin này !.',
                content: ' Thông tin này sẽ ảnh hưởng đến tính toán lương ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: Url_DeleteStep1,
                                type: 'POST',
                                data: {
                                    "EmployeeKey": EmployeeKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        $("tbl01 tr[name='b1+" + EmployeeKey + "']").remove();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });


                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

        function EditStep2(AutoKey) {
            $.ajax({
                url: Url_EditStep2,
                type: 'GET',
                data: {
                    "AutoKey": AutoKey,
                },
                beforeSend: function () {
                    $("#modalEdit").empty();
                },
                success: function (r) {
                    $("#modalEdit").append(r);
                    Utils.OpenMagnific("#modalEdit");
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    $('.select2').select2({ width: '100%' });
                }
            });
        }
        function DeleteStep2(AutoKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Bạn có chắc xóa thông tin này !.',
                content: ' Thông tin này sẽ ảnh hưởng đến tính toán lương ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: Url_DeleteStep2,
                                type: 'POST',
                                data: {
                                    "AutoKey": AutoKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        $("#" + AutoKey).remove();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        function SaveStep2() {
            var AutoKey = $('#txt_AutoKey').val();
            var DateWrite = $('#txt_DateWrite').val();
            var EmployeeKey = $('#cbo_Employee').val();
            var Days = $('#txt_Days').val()
            var Description = $('#txt_Description').val();
            $.ajax({
                url: Url_SaveStep2,
                type: 'POST',
                data: {
                    "AutoKey": AutoKey,
                    "EmployeeKey": EmployeeKey,
                    "Days": Days,
                    "DateWrite": DateWrite,
                    "Description": Description
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        Step2();
                        $.magnificPopup.close();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }

        //

        function EditStep31(SupportKey) {
            $.ajax({
                url: Url_EditStep31,
                type: 'GET',
                data: {
                    "SupportKey": SupportKey,
                },
                beforeSend: function () {
                    $("#modalEdit").empty();
                },
                success: function (r) {
                    $("#modalEdit").append(r);
                    Utils.OpenMagnific("#modalEdit");
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    $('.select2').select2({ width: '100%' });
                }
            });
        }
        function DeleteStep31(SupportKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Bạn có chắc xóa thông tin này !.',
                content: ' Thông tin này sẽ ảnh hưởng đến tính toán lương ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: Url_DeleteStep31,
                                type: 'POST',
                                data: {
                                    "SupportKey": SupportKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        $("#" + SupportKey).remove();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        function SaveStep31() {
            var SupportKey = $('#txt_SupportKey').val();
            var EmployeeKey = $('#cbo_Employee').val();
            var EmployeeName = $('#cbo_Employee option:selected').text();
            var Money = $('#txt_SupportMoney').val()
            var Description = $('#txt_SupportDescription').val();
            $.ajax({
                url: Url_SaveStep31,
                type: 'POST',
                data: {
                    "SupportKey": SupportKey,
                    "EmployeeKey": EmployeeKey,
                    "EmployeeName": EmployeeName,
                    "Money": Money,
                    "Description": Description
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        Step31();
                        $.magnificPopup.close();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }

        //

        function SaveStep4() {
            $.ajax({
                url: Url_SaveStep4,
                type: 'POST',
                data: {
                    "Description": $("#txt_Notestep4").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn()
                },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify('Cập nhật thành công !.', 'Thông báo', 'success');
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    Utils.LoadOut()
                }
            });
        }
        function SaveNote(type) {
            var desc = "";

            if (type == 51)
                desc = $("#txt_NoteTruLuong").val();
            if (type == 52)
                desc = $("#txt_NoteTienTruc").val();
            if (type == 53)
                desc = $("#txt_NotePhuCap").val();
            if (type == 54)
                desc = $("#txt_NoteThanhToan").val();
            if (type == 55)
                desc = $("#txt_NoteTongHop").val();

            $.ajax({
                url: Url_SaveStep5,
                type: 'POST',
                data: {
                    "Description": desc,
                    "Type": type,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (!r.Success) {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
    </script>
    <script>
        function Detail(OvertimeKey) {
            Utils.OpenMagnific('#modalEdit');
            $.ajax({
                url: Url_OverTimeEdit,
                type: 'GET',
                data: {
                    "OvertimeKey": OvertimeKey,
                },
                beforeSend: function () {
                    $("#modalEdit").empty();
                },
                success: function (r) {
                    $("#modalEdit").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    $('.select2').select2({ width: '100%' });
                }
            });
        }
        function SaveOverTime() {
            var OvertimeKey = $("#txt_Key").val();
            var OverTimeDate = $("#txt_OverTimeDate").val();
            var Paramater = $('#txt_Paramater').val();
            var ItemKey = $('#cbo_Item').val().split(';')[0];
            var ItemID = $('#cbo_Item').val().split(';')[1];
            var ItemName = $("#cbo_Item option:selected").text();
            var Description = $("#txt_Description").val();

            if (OverTimeDate.length === 0) {
                Utils.OpenNotify('Bạn phải nhập thời gian', 'Thông báo', 'warning');
                return;
            }
            if (OverTimeDate.length === 0) {
                ToDate = '01/01/0001';
            }

            var ListItem = [];
            $('#tblBodyOver tr').each(function () {

                var AutoKey = $(this).attr('AutoKey');
                var EmployeeKey = $(this).find('select[name=cbo_Employee]').val();
                var OverTimeDate = $("#txt_OverTimeDate").val();
                var Hours = $(this).find('input[name=txt_Hours]').val();
                var Paramater = $("#txt_Paramater").val();
                var RecordStatus = $(this).attr('RecordStatus');
                var Description = $(this).find('input[name=txt_DescriptionItem]').val();

                var item = new Object();
                item.AutoKey = AutoKey;
                item.EmployeeKey = EmployeeKey;
                item.OverTimeDate = OverTimeDate;
                item.Hours = Utils.ParseDouble(Hours);
                item.Paramater = Utils.ParseDouble(Paramater);
                item.RecordStatus = RecordStatus;
                item.Description = Description,
                    ListItem.push(item);
            });
            var Obj = {
                OvertimeKey: OvertimeKey,
                OverTimeDate: OverTimeDate,
                ItemKey: ItemKey,
                ItemID: ItemID,
                ItemName: ItemName,
                Paramater: Utils.ParseDouble(Paramater),
                Description: Description,
                ListItem: ListItem
            };

            $.ajax({
                url: Url_SaveOverTime,
                type: 'POST',
                dataType: 'json',
                data: { "OverTimeObj": JSON.stringify(Obj) },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify('Đã cập nhật thành công !.', 'Thông báo', 'success');
                        Step3();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                }
            });
        }
        function Delete(OvertimeKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: Url_DeleteOverTime,
                                type: 'POST',
                                data: {
                                    "OvertimeKey": OvertimeKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        Step3();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        function AddRow() {
            $.ajax({
                url: Url_OverTimeRow,
                type: 'GET',
                data: {

                },
                beforeSend: function () {

                },
                success: function (r) {
                    $("#tblBodyOver").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    CountRow();
                    $('.select2').select2({ width: '100%' });
                }
            });
        }
        function RemoveRow(obj) {
            var count = $('#tblBodyOver tr').length;
            if (count > 1) {
                $(obj).closest('tr').hide();
                $(obj).closest('tr').attr('recordstatus', 99);
                CountRow();
            }
            else {
                Utils.OpenNotify(r.Message, 'Bạn không được xóa dòng đầu tiên !.', 'error');
            }
        }
        function CountRow() {
            $('#tblBodyOver tr[recordstatus!="99"]').each(function (idx) {
                $(this).children(":eq(0)").html(idx + 1);
            });
        }
    </script>
    <script>
        function LockDocument() {
            var Key = $("#txt_MasterKey").val();
            var Description = $("#txt_Description").val();
            var title = $("#txt_Title").val();
            var Type = 9;// 9 - khoá, 2 - đang làm
            if ($("#chkLock").is(":checked")) {
                Type = 9;
            }
            else {
                Type = 2;
            }

            $.ajax({
                url: Url_Close,
                type: 'POST',
                data: {
                    "Key": Key,
                    "Description": Description,
                    "Title": title,
                    "Type": Type,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.Success) {
                        window.location = Url_List;
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    Utils.LoadOut();
                },
                complete: function () {

                }
            });
        }
    </script>
}