﻿@model ABG.Payroll_Person_Model
@{
    List<Payroll_Person_Detail_Model> _ListData = new List<Payroll_Person_Detail_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Payroll_Person_Detail_Model>;
    }

    //if (Model != null && Model.Count > 0)
    //{
    //    _ListData = Model;
    //}
}
<table class="table Custom table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Nội dung</th>
            <th>Số tiền</th>
            <th>Ghi chú</th>
            <th class="text-right">

            </th>
        </tr>
    </thead>
    <tbody id="tblBody">
        @if (_ListData.Count > 0)
        {
            for (int i = 0; i < _ListData.Count; i++)
            {
                Payroll_Person_Detail_Model zItem = _ListData[i];

                <tr>
                    <td>@(i + 1)</td>
                    <td>@zItem.ItemName</td>
                    <td class="text-right">@zItem.Total.ToString("#,###,###")</td>
                    <td>@zItem.Description</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="DetailItem(@zItem.AutoKey)">
                            <i class="far fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteItem(@zItem.AutoKey)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <div class="alert alert-primary">
                        <strong>Bạn chưa có phát sinh, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>