﻿
@{
    ViewBag.Title = "PersonList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Employee_Model> _ListSelectEmployee = new List<Employee_Model>();
    if (ViewBag.ListSelectEmployee != null)
    {
        _ListSelectEmployee = ViewBag.ListSelectEmployee as List<Employee_Model>;
    }
}
@section Styles{

}
<header class="page-header">
    <h2>
        <i class="far fa-list-alt"></i>
        Cài đặt thông số lương đến thời điểm hiện tại của các cán bộ nhân viên.
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <div class="row d-none">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-success">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <div class="card-body border-primary">
                <table class="table Custom table-sm">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ và tên</th>
                            <th>Chức vụ</th>
                            <th>Phòng ban</th>
                            <th>Ghi chú</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail()">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide modal-block-lg">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Khởi tạo lương cá nhân</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Tháng</label>
                <div class="col-lg-7 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_DateWrite" required="" name="FatherBirthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Nhân viên</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Employee" class="form-control select2" name="Employee">
                        <option value="0" selected="selected">--//--</option>
                        @foreach (Employee_Model zItem in _ListSelectEmployee)
                        {
                            <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật > tiếp theo
            </button>
        </div>
    </div>
</div>
<input id="txt_PayrollKey" type="hidden" name="FeaKey" value="" />

@section scripts {
    <script>
        var URL_SaveList = '@Url.Action("StandardNew", "Employee")';
        $(document).ready(function () {

        });
        function Save() {
            var PayrollKey = $('#txt_PayrollKey').val();
            var EmployeeKey = $('#cbo_Employee').val();
            var DateWrite = $('#txt_DateWrite').val();
            if (DateWrite.length <= 0) {
                Utils.OpenNotify('Bạn phải nhập thời gian !.', 'Thông báo', 'warning');
                return;
            }

            if (EmployeeKey.length <= 0) {
                Utils.OpenNotify('Bạn phải chọn nhân viên !.', 'Thông báo', 'warning');
                return;
            }

            $.ajax({
                url: URL_SaveList,
                type: 'POST',
                data: {
                    "PayrollKey": PayrollKey,
                    "EmployeeKey": EmployeeKey,
                    "DateWrite": DateWrite
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        window.location.href = '/Employee/Salary/StandardEdit?Key=' + r.Message;
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }

        function Detail() {
            Utils.OpenMagnific('#modalEdit');
            Utils.ClearUI('#modalEdit');
            $('#txt_PayrollKey').val('');
         }
    </script>
}

