﻿@model ABG.Payroll_Person_Model
@{
    ViewBag.Title = "StandardEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Payroll_Code_Model> _ListItem = new List<Payroll_Code_Model>();
    if (ViewBag.ListItem != null)
    {
        _ListItem = ViewBag.ListItem as List<Payroll_Code_Model>;
    }
    List<Payroll_Person_Detail_Model> _ListData = new List<Payroll_Person_Detail_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.Data as List<Payroll_Person_Detail_Model>;
    }

}

<header class="page-header">
    <h2>
        <i class="fas fa-file-signature"></i>
        Cập nhật thông tin lương
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContractList","Customer")">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
            <li>
                <a href="#" class="active">
                    <i class="fas fa-file-signature"></i>

                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-lg-12 text-right">
        <a class="btn btn-default" href="javascript:window.history.back();">
            <i class="fas fa-chevron-left"></i>
            Quay về
        </a>
        <button id="btn_Delete" type="button" class="btn btn-danger" onclick="DeletePayroll()">
            <i class="fas fa-trash"></i>
            Xóa
        </button>
    </div>
</div>
<div class="row pt-1">
    <div class="col-lg-12">
        <div class="toggle toggle-tertiary" data-plugin-toggle="" data-plugin-options="{ 'isAccordion': true }">
            <section class="toggle active">
                <label>THÔNG TIN NHÂN VIÊN</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="fathername" class="col-md-2 control-label text-right">Nhân viên</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_Employee" placeholder="" required="" value="@Model.EmployeeName" />
                            </div>
                            <label for="fatherbirthday" class="col-md-2 control-label text-right">Chi nhánh</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_SubContract" placeholder="" required="" value="@Model.BranchName" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fathername" class="col-md-2 control-label text-right">Chức vụ</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_ContractID" placeholder="" required="" value="@Model.PositionName" />
                            </div>
                            <label for="fatherbirthday" class="col-md-2 control-label text-right">Bộ phận</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_SubContract" placeholder="" required="" value="@Model.DepartmentName" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right">Tháng/Năm</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_DateWrite" name="ToDate" placeholder="Chọn ngày" class="form-control datepicker" value="@((Model.Year == 0? "" : Model.Month+"/"+Model.Year))" data-plugin-datepicker="" data-date-format="mm/yyyy">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>THÔNG TIN LƯƠNG</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" class="modal-with-zoom-anim btn btn-info" id="btn_AddMinus" onclick="DetailItem(0)">
                                    <i class="fa fa-plus"></i>Thêm nội dung
                                </button>
                            </div>
                        </div>
                        <hr />
                        <div id="PanelItem">
                            @Html.Partial("~/Views/Employee/Salary/StandardItem.cshtml", _ListData)
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div id="modalEditItem" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin lương</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Loại Lương</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Item" class="form-control select2">
                        <option value="">--//--</option>
                        @foreach (Payroll_Code_Model zItem in _ListItem)
                        {
                            <option value="@zItem.ItemKey">@zItem.ItemName</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control number" id="txt_Total" value="0" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_DescriptionItem" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveItem()">
                <i class="far fa-save"></i>
                Lưu
            </button>
        </div>
    </div>

</div>
<input id="txt_PayrollKey" type="hidden" name="LeaveKey" value="@Model.PayrollKey" />
<input id="txt_AutoKey" type="hidden" name="LeaveKey" value="0" />

@section Scripts{
    <script>

        var URL_DetailItem = '@Url.Action("DetailStandardItem", "Employee")';
        var URL_DeleteItem = '@Url.Action("DeleteStandardItem", "Employee")';
        var URL_SaveItem = '@Url.Action("SaveStandardItem", "Employee")';

        $(document).ready(function () {

        });

        ///
        function SaveItem() {
            var PayrollKey = $("#txt_PayrollKey").val();
            var AutoKey = $('#txt_AutoKey').val();
            var ItemKey = $('#cbo_Item').val();
            var Total = $('#txt_Total').val();
            var Description = $('#txt_DescriptionItem').val();
            $.ajax({
                url: URL_SaveItem,
                type: 'POST',
                data: {
                    "PayrollKey": PayrollKey,
                    "AutoKey": AutoKey,
                    "ItemKey": ItemKey,
                    "Total": Total,
                    "Description": Description,
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                }
            });
        }
        function DetailItem(AutoKey) {
            Utils.OpenMagnific('#modalEditItem');
            alert(AutoKey);
            if (AutoKey != 0) {
                $.ajax({
                    url: URL_DetailItem,
                    type: 'GET',
                    data: {
                        "AutoKey": AutoKey
                    },
                    beforeSend: function () {
                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);

                            $('#txt_AutoKey').val(obj.AutoKey);
                            $('#cbo_Item').val(obj.ItemKey).trigger('change');
                            $('#txt_Total').val(obj.Total);
                            $('#txt_DescriptionItem').val(obj.Description);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {
                    }
                });
            }
            else {
                Utils.ClearUI('#modalEditItem');
                $('#txt_AutoKey').val(0);
                $('#txt_Total').val(0);
            }
        }
        function DeleteItem(AutoKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_DeleteItem,
                                type: 'POST',
                                data: {
                                    "AutoKey": AutoKey
                                },
                                beforeSend: function () {
                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

    </script>
}
