﻿@model Payroll_Person_Model
@{
    Layout = null;

    string FromDate = "", ToDate = "";
    if (Model.FromDate != DateTime.MinValue)
    {
        FromDate = Model.FromDate.ToString("dd/MM/yyyy");
    }
    if (Model.ToDate != DateTime.MinValue)
    {
        ToDate = Model.ToDate.ToString("dd/MM/yyyy");
    }
}
<div class="card border border-primary">
    <div class="card-header">
        <h2 class="card-title">Chi tiết áp dụng</h2>
    </div>
    <div class="card-body border-primary">
        <div class="col-lg-12">
            <div class="form-group row">
                <div class="col-sm-4">
                    <select class="form-control select2" id="cbo_Active">
                        @{
                            if (Model.Activated)
                            {
                                <option value="true" selected>Áp dụng</option>
                                <option value="false">Không áp dụng</option>
                            }
                            else
                            {
                                <option value="true">Áp dụng</option>
                                <option value="false" selected>Không áp dụng</option>
                            }
                        }

                    </select>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_FromDate" name="ToDate" placeholder="Từ ngày" class="form-control datepicker" value="@FromDate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_ToDate" name="FromDate" placeholder="Đến ngày" class="form-control datepicker" value="@ToDate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <textarea type="text" class="form-control" id="txt_DescriptionItem" placeholder="Ghi chú" data-plugin-textarea-autosize rows="3">@Model.Description</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    @Html.Partial("~/Views/Employee/Salary/StandardPayrollDetail.cshtml", Model.ListItem);
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer border-primary text-center">
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>
        <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="SavePayroll();">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
    </div>
</div>
<input id="txt_PayrollKey" type="hidden" value="@Model.PayrollKey">