﻿@model Payroll_Support_Model
@{
    Layout = null;
    List<Employee_Model> _ListSelectEmployee = new List<Employee_Model>();
    if (ViewBag.ListSelectEmployee != null)
    {
        _ListSelectEmployee = ViewBag.ListSelectEmployee as List<Employee_Model>;
    }
}
<div class="card border border-primary">
    <div class="card-header">
        <h2 class="card-title">Nhập phát sinh phụ cấp</h2>
    </div>
    <div class="card-body border-primary">
        <div class="form-group row">
            <label for="txt_Days" class="col-lg-5 col-xl-3 control-label text-lg-right">Chọn nhân sự</label>
            <div class="col-lg-7 col-xl-9">
                <select class="form-control select2" id="cbo_Employee">
                    @foreach (Employee_Model zSelect in _ListSelectEmployee)
                    {
                        if (Model.EmployeeKey == zSelect.EmployeeKey)
                        {
                            <option value="@zSelect.EmployeeKey" selected>@(zSelect.LastName + ' ' + zSelect.FirstName)</option>
                        }
                        else
                        {
                            <option value="@zSelect.EmployeeKey">@(zSelect.LastName + ' ' + zSelect.FirstName)</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="txt_Description" class="col-lg-5 col-xl-3 control-label text-lg-right">Nội dung</label>
            <div class="col-lg-7 col-xl-9">
                <textarea type="text" class="form-control" id="txt_SupportDescription" placeholder="" data-plugin-textarea-autosize rows="3">@Model.Description</textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="txt_Days" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền</label>
            <div class="col-lg-7 col-xl-9">
                <input type="text" class="form-control" id="txt_SupportMoney" value="@Model.Money" placeholder="">
            </div>
        </div>
    </div>
    <div class="card-footer border-primary text-center">
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>
        <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveStep31()">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
    </div>
</div>
<input id="txt_SupportKey" type="hidden" value="@Model.SupportKey" />
