﻿
@{
    ViewBag.Title = "WorkDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Employee_Model> _ListSelectEmployee = new List<Employee_Model>();
    if (ViewBag.ListSelectEmployee != null)
    {
        _ListSelectEmployee = ViewBag.ListSelectEmployee as List<Employee_Model>;
    }

    List<Work_Day_Model> _ListData = new List<Work_Day_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Work_Day_Model>;
    }
}

<header class="page-header">
    <h2>Điều chỉnh ngày công thực tế nhân sự</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <a class="modal-with-zoom-anim btn btn-info float-right" href="#" onclick="Detail(0)">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>
            </div>
            <div class="card-body border-primary p-0" id="divTable">
                <table class="table table-sm Custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kỳ tính lương</th>
                            <th>Họ tên</th>
                            <th>Số ngày tính lương thực tế</th>
                            <th>Ghi chú</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            if (_ListData.Count > 0)
                            {
                                for (int i = 0; i < _ListData.Count; i++)
                                {
                                    Work_Day_Model Model = _ListData[i];

                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>@Model.DateWrite</td>
                                        <td>@Model.EmployeeName</td>
                                        <td>@Model.Days</td>
                                        <td>@Model.Description</td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail(@Model.AutoKey)">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Model.AutoKey)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        <div class="alert alert-primary">
                                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

</div>

@section scripts{
    <script>
        var URL_WorkDayEdit = '@Url.Action("WorkDayEdit", "Employee")';
        var URL_SaveWorkDay = '@Url.Action("SaveWorkDay", "Employee")';
        var URL_DeleteWorkDay = '@Url.Action("DeleteWorkDay", "Employee")';
    </script>
    <script>
        function Detail(AutoKey) {
            $.ajax({
                url: URL_WorkDayEdit,
                type: 'GET',
                data: {
                    "AutoKey": AutoKey,
                },
                beforeSend: function () {
                    $("#modalEdit").empty();
                },
                success: function (r) {
                    $("#modalEdit").append(r);
                    Utils.OpenMagnific("#modalEdit");
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    $('.select2').select2({ width: '100%' });
                }
            });
        }
        function Delete(AutoKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Bạn có chắc xóa thông tin này !.',
                content: ' Thông tin này sẽ ảnh hưởng đến tính toán lương ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_DeleteWorkDay,
                                type: 'POST',
                                data: {
                                    "AutoKey": AutoKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        function Save() {
            var AutoKey = $('#txt_AutoKey').val();
            var DateWrite = $('#txt_DateWrite').val();
            var EmployeeKey = $('#cbo_Employee').val();
            var Days = $('#txt_Days').val()
            var Description = $('#txt_Description').val();
            $.ajax({
                url: URL_SaveWorkDay,
                type: 'POST',
                data: {
                    "AutoKey": AutoKey,
                    "EmployeeKey": EmployeeKey,
                    "Days": Days,
                    "DateWrite": DateWrite,
                    "Description": Description
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
    </script>
}