﻿@model  List<Document_Model>
@{
    Layout = null;
    List<Document_Model> _ListFile = new List<Document_Model>();
    if (ViewBag.ListFile != null)
    {
        _ListFile = ViewBag.ListFile as List<Document_Model>;
    }

    if (Model != null)
    {
        _ListFile = Model;
    }
}

@{
    if (_ListFile.Count > 0)
    {
        <div class="row mg-files">
            @{
                for (int i = 0; i < _ListFile.Count; i++)
                {
                    Document_Model zFile = (Document_Model)_ListFile[i];
                    string zPath = zFile.FilePath;
                    string zExt = zFile.FileExt;
                    int zKey = zFile.AutoKey;
                    string thumbnail = Helper.DefaultFileThumbnail;
                    if (zExt == ".doc" || zExt == ".docx")
                    {
                        thumbnail = Helper.DefaultFileDoc;
                    }
                    if (zExt == ".pdf" || zExt == ".docx")
                    {
                        thumbnail = Helper.DefaultFilePDF;
                    }

                    <div class="isotope-item document" style="width:128px">
                        <div class="thumbnail">
                            <div class="thumb-preview">
                                <a class="thumb-image" href="@Url.Content(zPath)" viewdoc>
                                    <img src="@Url.Content(thumbnail)" class="img-fluid" alt="Project">
                                </a>
                                <div class="mg-description text-truncate text-primary"
                                     style="width:128px; white-space:normal">
                                    @zFile.FileName
                                    @zFile.Description
                                </div>
                                <div class="mg-thumb-options">
                                    <div class="mg-group">
                                        <button class="dropdown-toggle mg-toggle w-100" data-toggle="dropdown">
                                            Tùy chọn
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu mg-dropdown" role="menu">
                                            <a class="dropdown-item text-1" href="@Url.Content(zPath)" download="">
                                                <i class="fas fa-download"></i> Tải xuống
                                            </a>
                                            <a class="dropdown-item text-1" href="@Url.Content(zPath)" viewdoc>
                                                <i class="fas fa-check"></i> Xem
                                            </a>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Chưa có tập tin !</strong>.
        </div>
    }
}
