﻿@model List<DebitNote_Model>
@{
    Layout = null;
}

<table class="table table-border Custom">
    <tr>
        <th>Stt</th>
        <th>Khách hàng</th>
        <th>Hợp đồng & Phụ lục</th>
        <th>Ngày thanh toán</th>
        <th>Số tiền thanh toán</th>
        <th>Nợ còn phải trả</th>
        <th>Phụ ghi</th>
        <th>Người cập nhật</th>
        <th>#</th>
    </tr>
    <tbody>
        @{
            int No = 1;
            foreach (var rec in Model)
            {
                string ID = string.Empty;
                if (rec.SubContract != string.Empty)
                {
                    ID = rec.SubContract;
                }
                else
                {
                    ID = rec.ContractID;
                }

                string Name = rec.ModifiedName + "-" + TN_Utils.TimeAgo(rec.DebitDate, DateTime.Now);
                string ButtonDelete = "";
                if (Session["User_Model"] != null)
                {
                    User_Model Model = (User_Model)Session["User_Model"];
                    if (rec.CreatedBy.ToLower() == Model.UserKey.ToLower())
                    {
                        ButtonDelete = "<button type=\"button\" class=\"btn btn-danger float-right hide\" onclick=\"DeleteNote(" + rec.AutoKey + ")\">Xóa</button>";
                    }
                }

                <tr key="@rec.AutoKey">
                    <td>@(No++)</td>
                    <td>@rec.BuyerName</td>
                    <td>@ID</td>
                    <td>@rec.DebitDate.ToString("dd/MM/yyyy")</td>
                    <td>@rec.AmountPaid.ToString("n0")</td>
                    <td>@rec.AmountLeft.ToString("n0")</td>
                    <td>@rec.DebitNote</td>
                    <td>@Name</td>
                    <td>@Html.Raw(ButtonDelete)</td>
                </tr>

                if (rec.PhotoPath.Length > 0)
                {
                    <tr key="@rec.AutoKey">
                        <td colspan="9" style="text-align:left">
                            <div class="thumbnail-gallery">
                                @{
                                    if (rec.PhotoPath.Contains(";"))
                                    {
                                        string[] temp = rec.PhotoPath.Split(';');
                                        foreach (string s in temp)
                                        {
                                            if (s != string.Empty)
                                            {
                                                string ext = s.Split('.')[1].ToLower();
                                                switch (ext)
                                                {
                                                    case "jpg":
                                                    case "png":
                                                        <a class="img-thumbnail lightbox" href="@Url.Content(s)" data-plugin-options="{ &quot;type&quot;:&quot;image&quot; }">
                                                            <img class="img-fluid" style="height:50px" src="@Url.Content(s)">
                                                            <span class="zoom">
                                                                <i class="fas fa-search"></i>
                                                            </span>
                                                        </a>
                                                        break;
                                                    case "doc":
                                                    case "docx":
                                                        <a href="@Url.Content(s)" target="_blank">
                                                            <img class="img-fluid" style="height:50px" src="@Url.Content(Helper.DefaultFileDoc)">
                                                        </a>
                                                        break;
                                                    case "xls":
                                                    case "xlsx":
                                                        <a href="@Url.Content(s)" target="_blank">
                                                            <img class="img-fluid" style="height:50px" src="@Url.Content(Helper.DefaultFileExcel)">
                                                        </a>
                                                        break;
                                                    case "pdf":
                                                        <a href="@Url.Content(s)" target="_blank">
                                                            <img class="img-fluid" style="height:50px" src="@Url.Content(Helper.DefaultFilePDF)">
                                                        </a>
                                                        break;
                                                }
                                            }
                                        }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>