﻿
@{
    Layout = null;
    List<Product_Diary_Model> _ListData = new List<Product_Diary_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Product_Diary_Model>;
    }

    <style>
    </style>

    <div class="timeline timeline-simple mt-3 mb-3" id="log">
        @{
            if (_ListData.Count > 0)
            {
                <div class="tm-body text-left">
                    <div class="tm-title">
                        <h5 class="m-0 pt-2 pb-2 text-uppercase text-primary">@(_ListData[0].DateWrite.ToString("dd/MM/yyyy"))</h5>
                    </div>
                    <ol class="tm-items">
                        @{
                            foreach (Product_Diary_Model Item in _ListData)
                            {
                                string ButtonDelete = "";
                                if (Session["User_Model"] != null)
                                {
                                    User_Model Model = (User_Model)Session["User_Model"];
                                    if (Item.CreatedBy.ToLower() == Model.UserKey.ToLower())
                                    {
                                        ButtonDelete = "<button type=\"button\" class=\"btn btn-danger float-right hide\" onclick=\"DeleteDiary(" + Item.AutoKey + ")\">Xóa</button>";
                                    }
                                }

                                <li class="text-left" key="@Item.AutoKey">
                                    <div class="tm-box">
                                        @Html.Raw(ButtonDelete)
                                        <p class="text-muted mb-0">@TN_Utils.TimeAgo(Item.DateWrite, DateTime.Now), @Item.EmployeeName</p>
                                        <p>@Item.Description</p>
                                        <div class="thumbnail-gallery">
                                            @{
                                                if (Item.PhotoPath.Contains(";"))
                                                {
                                                    string[] temp = Item.PhotoPath.Split(';');
                                                    foreach (string s in temp)
                                                    {
                                                        if (s != string.Empty)
                                                        {
                                                            string ext = s.Split('.')[1].ToLower(); //s.Substring(s.Length - 3).ToLower();
                                                            switch (ext)
                                                            {
                                                                case "jpg":
                                                                case "png":
                                                                    <a class="img-thumbnail lightbox" href="@Url.Content(s)" data-plugin-options="{ &quot;type&quot;:&quot;image&quot; }">
                                                                        <img class="img-fluid" style="height:50px" src="@Url.Content(s)">
                                                                        <span class="zoom">
                                                                            <i class="fas fa-search"></i>
                                                                        </span>
                                                                    </a>
                                                                    break;
                                                                case "doc":
                                                                case "docx":
                                                                    <a href="@Url.Content(s)" target="_blank">
                                                                        <img class="img-fluid" style="height:50px" src="@Url.Content(Helper.DefaultFileDoc)">
                                                                    </a>
                                                                    break;
                                                                case "xls":
                                                                case "xlsx":
                                                                    <a href="@Url.Content(s)" target="_blank">
                                                                        <img class="img-fluid" style="height:50px" src="@Url.Content(Helper.DefaultFileExcel)">
                                                                    </a>
                                                                    break;
                                                                case "pdf":
                                                                    <a href="@Url.Content(s)" target="_blank">
                                                                        <img class="img-fluid" style="height:50px" src="@Url.Content(Helper.DefaultFilePDF)">
                                                                    </a>
                                                                    break;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ol>
                </div>
            }
            else
            {
                <div class="alert alert-primary">
                    <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                </div>
            }
        }
    </div>
}