﻿@{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-warning float-right" onclick="AddNote()">Ghi thêm</button>
    </div>
    <div class="card-body" id="divnote">
        @Html.Action("DataDebit", "Customer", new { ContractKey = ViewBag.ContractKey, ItemKey = ViewBag.ItemKey });
    </div>
</div>

<input id="txt_ProductKey" type="hidden" value="@ViewBag.ItemKey" />
<input id="txt_ContractKey" type="hidden" value="@ViewBag.ContractKey" />
<input id="txt_CustomerKey" type="hidden" value="@ViewBag.CustomerKey" />