﻿
@{
    Layout = null;

    List<Product_Feature_Model> _ListFea = new List<Product_Feature_Model>();
    if (ViewBag.ListFeature != null)
    {
        _ListFea = ViewBag.ListFeature as List<Product_Feature_Model>;
    }
    List<Product_Equipment_Model> _ListEquip = new List<Product_Equipment_Model>();
    if (ViewBag.ListEquipment != null)
    {
        _ListEquip = ViewBag.ListEquipment as List<Product_Equipment_Model>;
    }
    List<Document_Model> _ListFile = new List<Document_Model>();
    if (ViewBag.ListFile != null)
    {
        _ListFile = ViewBag.ListFile as List<Document_Model>;
    }
}

<div class="card-body row">
    <div class="col-md-4">
        <div class="toggle toggle-primary" data-plugin-toggle>
            <section class="toggle active text-left">
                <label>
                    Hiện trạng
                </label>
                <div class="toggle-content" style="display: block">
                    <table class="table table-responsive-md mb-0">
                        @Html.Raw(ViewBag.ContractRaw)
                        <tr>
                            <td colspan="2">
                                <div class="col-12">
                                    @Html.Partial("~/Views/Customer/Contract/ReadOnly/ListFile.cshtml", _ListFile)
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
            <section class="toggle active text-left">
                <label>
                    Thông số kỹ thuật
                </label>
                <div class="toggle-content" style="display: block">
                    @{
                        if (_ListFea.Count > 0)
                        {
                            <table class="table table-responsive-md mb-0">
                                <tbody>
                                    @{
                                        int No = 0;
                                        foreach (Product_Feature_Model Item in _ListFea)
                                        {
                                            No++;
                                            <tr>
                                                <td>@No</td>
                                                <td class="text-left">@Item.Name</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        }
                    }
                </div>
            </section>
            <section class="toggle active text-left">
                <label>
                    Trang thiết bị
                </label>
                <div class="toggle-content" style="display: block">
                    @{
                        if (_ListEquip.Count > 0)
                        {
                            <table class="table table-responsive-md mb-0">
                                <tbody>
                                    @{
                                        int No = 0;
                                        foreach (Product_Equipment_Model Item in _ListEquip)
                                        {
                                            No++;
                                            <tr>
                                                <td>@No</td>
                                                <td class="text-left">@Item.ItemName</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        }
                    }
                </div>
            </section>
        </div>
    </div>
    <div class="col-md-8 text-primary">       
        <h4 class="text-primary text-left pb-1 font-weight-semibold">
            <i class="far fa-clock"></i>
            Nhật ký.
            <button type="button" class="btn btn-warning float-right" onclick="AddDiary()">Ghi thêm</button>
        </h4>
        <div class="timeline timeline-simple mt-3 mb-3" id="log">
            @Html.Action("LogDiary", "Customer", new { ProductKey = ViewBag.ProductKey });
        </div>
    </div>
</div>