﻿@{ 
    Layout = null;

    List<Document_Model> _ListFile = new List<Document_Model>();
    if (ViewBag.ListFile != null)
    {
        _ListFile = ViewBag.ListFile as List<Document_Model>;
    }
}
<div class="card-body">
    @Html.Partial("~/Views/Customer/Contract/ReadOnly/ListFile.cshtml", _ListFile)
</div>