﻿
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ListData = new List<Company_Model>();
    if (ViewBag.List != null)
    {
        ListData = ViewBag.List as List<Company_Model>;
    }
}
@section styles{
    <style>
        .hide {
            display: none;
        }

        .img-thumbnail .zoom {
            right: -10px;
            bottom: -10px;
        }

        .tm-box:hover .hide {
            display: initial;
        }
    </style>
}
<header class="page-header">
    <h2>Lịch sử hình thành</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <button id="btn_Add" type="button" class="btn btn-primary" onclick="Detail(0)">
                    Thêm nội dung
                </button>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="timeline">
    <div class="tm-body">
        <div class="tm-title">
            <h5 class="m-0 pt-2 pb-2 text-dark font-weight-semibold text-uppercase">Khởi đầu</h5>
        </div>
        <ol class="tm-items">
            @{
                foreach (var item in ListData)
                {
                    string ButtonDelete = "";
                    if (Session["User_Model"] != null)
                    {
                        User_Model Model = (User_Model)Session["User_Model"];
                        if (item.CreatedBy.ToLower() == Model.UserKey.ToLower())
                        {
                            ButtonDelete = "<div class='float-right' style='width:155px'><button type=\"button\" class=\"btn btn-warning hide\" onclick=\"Detail(" + item.AutoKey + ")\">Điều chỉnh</button> ";
                            ButtonDelete += "<button type=\"button\" class=\"btn btn-danger hide\" onclick=\"Delete(" + item.AutoKey + ")\">Xóa</button></div>";
                        }
                    }

                    <li>
                        <div class="tm-info">
                            <div class="tm-icon"><i class="fas fa-star"></i></div>
                            <time class="tm-datetime" datetime="">
                                <div class="tm-datetime-date">@item.Time</div>
                            </time>
                        </div>
                        <div class="tm-box appear-animation animated fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="100" style="animation-delay: 100ms;">
                            @Html.Raw(ButtonDelete)
                            <p>
                                @item.Title1
                            </p>
                            <p>@item.Description</p>
                            @{
                                string s = item.FileAttack;
                                if (s.Contains("."))
                                {
                                    string ext = s.Split('.')[1].ToLower();
                                    switch (ext)
                                    {
                                        case "jpg":
                                        case "png":
                                            <a class="img-thumbnail lightbox" href="@Url.Content(s)" data-plugin-options="{ &quot;type&quot;:&quot;image&quot; }">
                                                <img class="img-fluid" style="height:50px" src="@Url.Content(s)">
                                                <span class="zoom">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </a>
                                            break;
                                        case "doc":
                                        case "docx":
                                            <a href="@Url.Content(s)" target="_blank">
                                                <img class="img-fluid" style="height:50px" src="@Url.Content(Helper.DefaultFileDoc)">
                                            </a>
                                            break;
                                        case "xls":
                                        case "xlsx":
                                            <a href="@Url.Content(s)" target="_blank">
                                                <img class="img-fluid" style="height:50px" src="@Url.Content(Helper.DefaultFileExcel)">
                                            </a>
                                            break;
                                        case "pdf":
                                            <a href="@Url.Content(s)" target="_blank">
                                                <img class="img-fluid" style="height:50px" src="@Url.Content(Helper.DefaultFilePDF)">
                                            </a>
                                            break;
                                    }
                                }

                            }
                            <div class="tm-meta">
                                <span>
                                    <i class="bx bx-user-circle"></i> Người cập nhật: @item.CreatedName
                                </span>

                            </div>
                        </div>
                    </li>
                }
            }

        </ol>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Nội dung</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thời gian</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Time" name="Time" value="" placeholder="Nhập mốc thời gian ví dụ: 11/2021">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Tiêu đề</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Title1" name="Title1" placeholder="Ghi chú" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" rows="5" class="form-control" id="txt_Description" name="Description" placeholder="Ghi chú"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-lg-5 col-xl-3 control-label text-lg-right">Tập tin đính kèm</label>
                <input id="ArticleAttach" type="file" name="ArticleAttach" />
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
        <input id="txt_AutoKey" type="hidden" name="AutoKey" value="0" />
    </div>
</div>

@section scripts {
    <script>
        var URL_Detail = '@Url.Action("Edit_History", "Config")';
        var URL_Delete = '@Url.Action("Delete_History", "Config")';
        var URL_Save = '@Url.Action("Save_History", "Config")';

        function Save() {
            var AutoKey = $('#txt_AutoKey').val();
            var Description = $('#txt_Description').val();
            var Title1 = $('#txt_Title1').val();
            var Time = $('#txt_Time').val();

            var formData = new FormData();
            var totalFiles = $("#ArticleAttach").get(0).files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = $("#ArticleAttach").get(0).files[i];
            }

            var obj = {
                "AutoKey": AutoKey,
                "Description": Description,
                "Title1": Title1,
                "Time": Time,
            };

            formData.append("ObjectData", JSON.stringify(obj));
            formData.append("File", file);

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(autokey) {
            Utils.OpenMagnific('#modalEdit');
            if (autokey !== 0) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "key": autokey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);

                            $('#txt_AutoKey').val(obj.AutoKey);
                            $('#txt_Description').val(obj.Description);
                            $('#txt_Time').val(obj.Time);
                            $('#txt_Title1').val(obj.Title1);
                            $('#txt_Rank').val(obj.Rank);

                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
            }
        }
        function Delete(autokey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "key": autokey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
    </script>
}