﻿@model Company_Model 
@{
    ViewBag.Title = "HistoryEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="card border border-primary">
    <div class="card-header">
        <h2 class="card-title">Nội dung</h2>
    </div>
    <div class="card-body border-primary">
        <div class="form-group row">
            <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thời gian</label>
            <div class="col-lg-7 col-xl-9">
                <input type="text" class="form-control" id="txt_Rank" name="Time" value="@Model.Time.ToString("dd/MM/yyyy")" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Tiêu đề</label>
            <div class="col-lg-7 col-xl-9">
                <input type="text" class="form-control" id="txt_Title1" name="Title1" placeholder="Ghi chú" required="" value="@Model.Title1">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
            <div class="col-lg-7 col-xl-9">
                <textarea type="text" rows="5" class="form-control" id="txt_Description" name="Description" placeholder="Ghi chú" required="">@Model.Description</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">Tập tin đính kèm</label>
            @if (Model.FileAttack.Length > 0)
            {
                <a href="@Model.FileAttack">
                    <i class="fas fa-paperclip"></i>
                    Tải xuống
                </a>
            }
            <br />
            <input id="ArticleAttach" type="file" name="ArticleAttach" />
        </div>
    </div>
    <div class="card-footer border-primary text-center">
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>
        <button id="btn_Save" type="submit" class="btn btn-outline-primary">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
    </div>
    <input id="txt_PositionKey" type="hidden" name="AutoKey" value="@Model.AutoKey" />
</form>
