﻿
@{
    ViewBag.Title = "Tree";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ListData = new List<Company_Model>();
    if (ViewBag.List != null)
    {
        ListData = ViewBag.List as List<Company_Model>;
    }
    var _SelectEmployee = new List<Employee_Model>();
    if (ViewBag.SelectEmployee != null)
    {
        _SelectEmployee = ViewBag.SelectEmployee as List<Employee_Model>;
    }
}
@section styles{
    <style>
        .thumb-info .thumb-info-title {
            background: rgba(36, 27, 28, 0.5);
        }

        .thumb-info .thumb-info-inner {
            text-align: center;
            white-space: unset !important;
        }

        .thumb-info .thumb-info-title {
            bottom: -15% !important;
            width: 100%;
        }
        .thumb-info .thumb-info-type {
            width: 100%;
            text-align: center;
        }

        .hide {
            display: none;
        }

        .card:hover .hide {
            display: initial;
        }

        .member-image img {
            object-fit: cover;
            border: 1px solid #0088cc;
            width: 150px;
            height: 150px;
            border-radius: 6px;
            background-color: #673ab74f;
            z-index: 1;
        }
    </style>
}
<header class="page-header">
    <h2>Ban lãnh đạo công ty</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <button id="btn_Add" type="button" class="btn btn-primary" onclick="Detail(0)">
                    Thêm nội dung
                </button>
            </li>
            <li></li>
        </ol>
    </div>
</header>


@{
    var max = ListData.Max(x => x.Parent);
    for (int i = 1; i <= max; i++)
    {
        <div class="row" style="display: flex; justify-content: center; align-items: center;">
            @{var datacap = ListData.Where(s => s.Parent == i);
                foreach (var rec in datacap)
                {
                    string ButtonDelete = "";
                    if (Session["User_Model"] != null)
                    {
                        User_Model Model = (User_Model)Session["User_Model"];
                        if (rec.CreatedBy.ToLower() == Model.UserKey.ToLower())
                        {
                            ButtonDelete = "<div class='text-center' style='position: absolute; z-index: 10; width: 100%;'><button type=\"button\" class=\"btn btn-sm btn-warning hide\" onclick=\"Detail(" + rec.AutoKey + ")\">Điều chỉnh</button> ";
                            ButtonDelete += "<button type=\"button\" class=\"btn btn-sm btn-danger hide\" onclick=\"Delete(" + rec.AutoKey + ")\">Xóa</button></div>";
                        }
                    }
                    <div class="card mt-0 mr-4" style="width:150px">
                        @Html.Raw(ButtonDelete)
                        <div class="">
                            <div class="thumb-info member-image">
                                @{
                                    if (rec.FileAttack == String.Empty)
                                    {
                                        <img src="/assets/img/avatar.jpg" class="rounded img-fluid img-fluid appear-animation animated zoomInUp appear-animation-visible"
                                             data-appear-animation="zoomInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s" alt="John Doe" style="width:100%">
                                    }
                                    else
                                    {
                                        <img src="@rec.FileAttack" class="rounded img-fluid img-fluid appear-animation animated zoomInUp appear-animation-visible"
                                             data-appear-animation="zoomInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s" alt="John Doe" style="width:100%">
                                    }
                                }
                                <div class="thumb-info-title">
                                    <span class="thumb-info-inner ">@rec.Description</span>
                                    <span class="thumb-info-type">@rec.Title2</span>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    }
}


<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Nội dung</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Chọn nhân sự</label>
                <div class="col-lg-7 col-xl-9">
                    <select class="form-control select2" id="cbo_Employee" placeholder="Employee" name="Employee">
                        <option value="" selected>--Tất cả--</option>
                        @{
                            foreach (var item in _SelectEmployee)
                            {
                                if (item.EmployeeKey == ViewBag.Employee as string)
                                {
                                    <option value="@item.EmployeeKey" selected>@(item.LastName + " " +item.FirstName)</option>
                                }
                                else
                                {
                                    <option value="@item.EmployeeKey">@(item.LastName + " " +item.FirstName)</option>
                                }

                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Cấp</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Parent" name="Parent" placeholder="Ghi chú" value="">
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
        <input id="txt_AutoKey" type="hidden" name="AutoKey" value="0" />
    </div>
</div>

@section scripts {
    <script>
        var URL_Detail = '@Url.Action("Edit_Tree", "Config")';
        var URL_Delete = '@Url.Action("Delete_Tree", "Config")';
        var URL_Save = '@Url.Action("Save_Tree", "Config")';

        function Save() {
            var AutoKey = $('#txt_AutoKey').val();
            var Title1 = $('#cbo_Employee').val();
            var Parent = $('#txt_Parent').val();

            var obj = {
                "AutoKey": AutoKey,
                "Title1": Title1,
                "Parent": Parent,
            };

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: obj,
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(autokey) {
            Utils.OpenMagnific('#modalEdit');
            if (autokey !== 0) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "key": autokey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);

                            $('#txt_AutoKey').val(obj.AutoKey);
                            $('#cbo_Employee').val(obj.Title1).trigger('change');
                            $('#txt_Parent').val(obj.Parent);

                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
            }
        }
        function Delete(autokey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "key": autokey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
    </script>
}