﻿<!-- #Auth hợp đồng-->
@{
    User_Model UserLog = Session["User_Model"] as User_Model;
    User_Role Role = UserLog.ListRole.SingleOrDefault(x => x.RoleID == "CRM10");
    if (Role == null)
    {
        Role = new User_Role();
    }
}
<!-- #end -->
@{
    Layout = null;
    List<Contract_Object> _ListData = new List<Contract_Object>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Contract_Object>;
    }
}

<blockquote class="info m-3">
    <table class="table table-sm mb-0 Custom">
        <thead>
            <tr>
                <th>STT</th>
                <th style="width:100px">Số HĐ</th>
                <th style="width:100px">Ngày ký</th>
                <th style="width:170px">Thời gian</th>
                <th>Địa điểm</th>
                <th style="width:100px">Đơn vị</th>
                <th style="width:100px">Đơn giá</th>
                <th style="width:80px">SL</th>
                <th style="width:100px">Số tiền (+V)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (_ListData.Count > 0)
                {
                    for (int i = 0; i < _ListData.Count; i++)
                    {
                        Contract_Object Obj = _ListData[i];
                        string ContractKey = Obj.Contract.ContractKey;
                        string ContractID = Obj.Contract.ContractID;
                        string Purpose = Obj.Contract.Purpose;
                        string Description = Obj.Contract.Description;
                        string SignDate = Obj.Contract.DateSign.ToString("dd/MM/yyyy");
                        string FromDate = Obj.Contract.FromDate.ToString("dd/MM/yyyy");
                        string ToDate = Obj.Contract.ToDate.ToString("dd/MM/yyyy");
                        string Style = "style='font-weight:bolder;font-style: italic;color: darkmagenta;background: palegreen;'";

                        if (Obj.Contract.SubContract.Length > 0)
                        {
                            ContractID = Obj.Contract.SubContract;
                            Style = "";
                        }

                        string DateTerminate = "";
                        string ReasonTerminate = "";
                        if (Obj.Contract.Liquidated == 1)
                        {
                            DateTerminate = "</br><span style='color: #FF5722'>Thanh lý " + Obj.Contract.DateLiquidation.ToString("dd/MM/yyyy") + "</span>";
                            ReasonTerminate = "<span style='color: #FF5722'>" + Obj.Contract.ReasonLiquidation + "</span>";
                        }

                        List<Contract_Land_Model> ListItem = Obj.ListItem;

                        if (ListItem.Count > 0)
                        {
                            for (int n = 0; n < ListItem.Count; n++)
                            {
                                Contract_Land_Model zItem = ListItem[n];
                                string ItemNote = zItem.Description;
                                string ItemRaw = "";
                                if (ItemNote != string.Empty)
                                {
                                    ItemRaw = "<br><span class='text-1 text-info'>" + ItemNote + "<span>";
                                }

                                <tr @Html.Raw(Style) contractkey="@ContractKey">
                                    <td class="merge1">@(i + 1)</td>
                                    <td class="merge2" style="width:100px">@ContractID</td>
                                    <td class="merge3" style="width:100px">@SignDate</td>
                                    <td class="merge4" style="width:170px">
                                        @(FromDate + " - " + ToDate)
                                        @Html.Raw(DateTerminate)
                                    </td>
                                    <td>
                                        @zItem.ItemName
                                        @Html.Raw(ItemRaw)
                                    </td>
                                    <td style="width:100px">@zItem.UnitName</td>
                                    <td class="text-right" style="width:100px">@zItem.Price.ToString("n2")</td>
                                    <td class="text-right" style="width:80px">@zItem.Area.ToString("n2")</td>
                                    <td class="text-right" style="width:100px">@zItem.TotalCurrencyMain.ToString("n0")</td>
                                    <td class="merge6">
                                        <span class="d-none">@ContractKey</span>
                                        <div class="btn-group-sm flex-wrap">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                ....
                                                <span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item text-primary" href="javascript:;" onclick="OpenModelContractView('@ContractKey')">
                                                    <i class="fas fa-eye"></i>
                                                    Xem nhanh
                                                </a>
                                                @if (Role.RoleEdit)
                                                {
                                                    <a class="dropdown-item text-info" href="javascript:;" onclick="OpenModalContract('@ContractKey')">
                                                        <i class="far fa-edit"></i>
                                                        Cập nhật nhanh
                                                    </a>
                                                    <a class="dropdown-item text-info" href="@Url.Action("ContractEdit", new { Key = ContractKey })">
                                                        <i class="far fa-edit"></i>
                                                        Cập nhật tổng quát
                                                    </a>
                                                }
                                                @if (Role.RoleDel)
                                                {
                                                    <a class="dropdown-item text-danger" href="javascript:;" onclick="DeleteContract('@ContractKey','@ContractID')">
                                                        <i class="fa fa-trash"></i>
                                                        Xóa
                                                    </a>
                                                }
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr @Html.Raw(Style) contractkey="@ContractKey">
                                <td class="merge1">@(i + 1)</td>
                                <td class="merge2">@ContractID</td>
                                <td class="merge3">@(FromDate + " - " + ToDate)</td>
                                <td class="merge4">@Purpose</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="merge6">
                                    <span class="d-none">@ContractKey</span>
                                    <div class="btn-group-sm flex-wrap">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            ....
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            <a class="dropdown-item text-primary" href="javascript:;" onclick="OpenModelContractView('@ContractKey')">
                                                <i class="fas fa-eye"></i>
                                                Xem nhanh
                                            </a>
                                            @if (Role.RoleEdit)
                                            {
                                                <a class="dropdown-item  text-info" href="javascript:;" onclick="OpenModalContract('@ContractKey')">
                                                    <i class="far fa-edit"></i>
                                                    Cập nhật nhanh
                                                </a>
                                                <a class="dropdown-item text-info" href="@Url.Action("ContractEdit", new { Key = ContractKey })">
                                                    <i class="far fa-edit"></i>
                                                    Cập nhật tổng quát
                                                </a>
                                            }
                                            @if (Role.RoleDel)
                                            {
                                                <a class="dropdown-item text-danger" href="javascript:;" onclick="DeleteContract('@ContractKey')">
                                                    <i class="fa fa-trash"></i>
                                                    Xóa
                                                </a>
                                            }
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10">
                            <div class="alert alert-primary">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</blockquote>