﻿@using ABG.Customer
@{
    /**/

    ViewBag.Title = "ContractList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Product_Land_Model> _SelectLand = new List<Product_Land_Model>();
    if (ViewBag.SelectLand != null)
    {
        _SelectLand = ViewBag.SelectLand as List<Product_Land_Model>;
    }
    List<Customer_Model> _SelectCustomer = new List<Customer_Model>();
    if (ViewBag.SelectCustomer != null)
    {
        _SelectCustomer = ViewBag.SelectCustomer as List<Customer_Model>;
    }
    List<Contract_Model> _ListData = new List<Contract_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Contract_Model>;
    }
    
}


@section Styles{
    <style>
        #MainData blockquote {
            padding: 0px !important;
        }

        #MainData label > i {
            display: none !important;
        }

        :disabled {
            border: 0px !important;
        }

        .jconfirm.jconfirm-supervan
        .jconfirm-box div.jconfirm-content {
            text-align: left !important;
        }
    </style>
}

<header class="page-header">
    <h2>
        <i class="far fa-list-alt"></i>
        Danh sách hợp đồng kinh tế
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContractList","Customer")">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <form class="row" method="get" action="@Url.Action("ContractSearch","Customer")">
                    <div class="col-md-3">
                        <select id="cbo_SearchArea" class="form-control select2" name="Area">
                            <option value="">--//--</option>
                            @foreach (Product_Land_Model Item in _SelectLand)
                            {
                                if (ViewBag.SelectDefault != null &&
                                    ViewBag.SelectDefault == Item.ProductKey)
                                {
                                    <option value="@Item.ProductKey" selected>@Item.ProductName</option>
                                }
                                else
                                {
                                    <option value="@Item.ProductKey">@Item.ProductName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-7">
                        <select id="cbo_SearchBuyer" class="form-control select2" name="Buyer">
                            <option value="">--//--</option>
                            @foreach (Customer_Model zItem in _SelectCustomer)
                            {
                                <option value="@zItem.CustomerKey">@zItem.FullName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2 text-right">
                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    </div>
                </form>
            </div>
            <div class="card-body border-primary">
                <div class="row">
                    <div class="col-md-12">
                        <button class="modal-with-zoom-anim btn btn-info" type="button" id="btn_AddNew">
                            <i class="fa fa-plus"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="toggle toggle-primary" data-plugin-toggle id="MainData">
                            @{
                                if (_ListData.Count > 0)
                                {
                                    for (int i = 0; i < _ListData.Count; i++)
                                    {
                                        Contract_Model zModel = _ListData[i];
                                        string BuyerName = zModel.BuyerName;
                                        string ContractKey = zModel.ContractKey;
                                        string ContractID = zModel.ContractID;

                                        <section class="toggle" contractkey="@ContractKey" contractid="@ContractID" name="clickable">
                                            <label>
                                                <span class="float-left" style="width:27%"><b>@((i + 1) + " - " + ContractID)</b></span>
                                                <span class="">@BuyerName</span>
                                            </label>
                                            <div class="toggle-content" name="@ContractKey"></div>
                                        </section>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalContractNew" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Khởi tạo thông tin hợp đồng cho thuê</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Khách hàng</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Buyer" class="form-control select2" name="Buyer">
                        <option value="">--//--</option>
                        @foreach (Customer_Model zItem in _SelectCustomer)
                        {
                            <option value="@zItem.CustomerKey">@zItem.FullName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Tổng kho</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Area" class="form-control select2" name="Area">
                        <option value="">--//--</option>
                        @foreach (Product_Land_Model zItem in _SelectLand)
                        {
                            <option value="@zItem.ProductKey">@zItem.ProductName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số hợp đồng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ContractID" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số phụ lục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_SubContract" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày ký</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_DateSign" required="" name="Birthday"
                           placeholder="Chọn ngày" class="form-control datepicker" value=""
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveContract()">
                <i class="far fa-save"></i>
                Cập nhật > tiếp theo
            </button>
        </div>
    </div>
</div>
<div id="modalContractEnd" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thanh lý</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group">
                <label for="txt_DateLiquidation" class="">Ngày thanh lý</label>
                <div class="">
                    <input type="text" id="txt_DateLiquidation" name="DateLiquidation" placeholder="Chọn ngày" class="form-control datepicker"
                           value="" data-plugin-datepicker="" data-date-format="dd/mm/yyyy">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="">Ghi chú thanh lý</label>
                <div class="">
                    <textarea type="text" class="form-control" id="txt_ReasonLiquidation" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveContractEnd()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
<div id="modalContractCopy" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Khởi tạo thông tin phụ lục hợp đồng</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số hợp đồng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_CopyContractID" placeholder="" required="" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số phụ lục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_CopySubContract" placeholder="" required="" value="Phụ lục 000">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày ký</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_CopyDateSign" required="" name="Birthday"
                           placeholder="Chọn ngày" class="form-control datepicker" value=""
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveCopy()">
                <i class="far fa-save"></i>
                Cập nhật > tiếp theo
            </button>
        </div>
    </div>
</div>
<div id="modalContractView" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">

</div>
<input id="txt_ContractKey" type="hidden" value="" />

@section scripts {
    <script>
        var URL_ContractCheck = '@Url.Action("ContractCheck", "Customer")';
        var URL_ContractNew = '@Url.Action("ContractNew", "Customer")';
        var URL_ContractEditQuick = '@Url.Action("ContractEditQuick", "Customer")';
        var URL_ContractSubView = '@Url.Action("ContractSubView", "Customer")';
        var URL_ContractEdit = '@Url.Action("ContractEdit", "Customer")';
        var URL_ContractDelete = '@Url.Action("ContractDelete", "Customer")';
        var URL_ContractView = '@Url.Action("ContractView","Customer")';
        var URL_ContractEnd = '@Url.Action("ContractEnd", "Customer")';
        var URL_ContractCopy = '@Url.Action("ContractCopy", "Customer")';
        var URL_ContractCopyOpen = '@Url.Action("ContractEdit", new { Key = "contractkey" })';
    </script>
    <script>
        $(document).ready(function () {
            $('section[name="clickable"]').on('click', function (e) {
                var contractid = $(this).attr("contractid");
                var contractkey = $(this).attr("contractkey");
                if ($('div[name="' + contractkey + '"]').is(':visible')) {
                    OpenTableSub(contractkey, contractid);
                }
            });
            $('section[name="clickable"]').on('click', 'button', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'table', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'a.dropdown-item', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'tr[contractkey]', function (e) {
                e.stopPropagation();
                var key = $(this).attr('contractkey');
                if (key !== null) {
                    OpenModelContractView(key);
                }
            });

            $("#btn_AddNew").click(function () {
                OpenModalContract('');
            });
        });

        //1 Open Modal Copy
        function OpenModalCopy() {
            Utils.OpenMagnific("#modalContractCopy");
            var id = $('#txt_ContractViewID').val();
            $("#txt_CopyContractID").val(id);
            $(".mfp-bg").css('z-index', 999999999);
            $(".mfp-wrap").css('z-index', 999999999);
        }
        //2 Save Copy
        function SaveCopy() {
            var ContractKey = $('#txt_ContractViewKey').val();
            var ContractID = $('#txt_ContractViewID').val();
            var ContractSub = $('#txt_CopySubContract').val();

            if (ContractKey.length <= 0) {
                Utils.OpenNotify('BUG INIT CONTRACT', 'Thông báo', 'error');
                return;
            }

            $.ajax({
                url: URL_ContractCopy,
                type: 'POST',
                data: {
                    "ContractKey": ContractKey,
                    "ContractID": ContractID,
                    "ContractSub": ContractSub,
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.Success) {
                        var url = URL_ContractCopyOpen;
                        window.location.href = url.replace('contractkey', r.Data);
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                }
            });
        }
        //3 Open Page Copy
        function OpenEditCopy(contractkey) {
            var url = URL_ContractCopyOpen;
            window.location.href = url.replace('contractkey', contractkey);
        }
        //mở thanh lý hợp đồng
        function OpenModalContractEnd() {
            Utils.OpenMagnific('#modalContractEnd');
            Utils.ClearUI('#modalContractEnd');
        }
        //lưu thanh lý hợp đồng
        function SaveContractEnd() {
            var ContractKey = $('#txt_ContractViewKey').val();
            var DateTerminate = $('#txt_DateLiquidation').val();
            var ReasonTerminate = $('#txt_ReasonLiquidation').val();

            $.ajax({
                url: URL_ContractEnd,
                type: 'POST',
                data: {
                    "ContractKey": ContractKey,
                    "DateTerminate": DateTerminate,
                    "ReasonTerminate": ReasonTerminate,
                },
                beforeSend: function () {
                },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify('Đã cập nhật thanh lý !.', 'Thông báo', 'success');
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                }
            });
        }
        //mở thông tin hợp đồng
        function OpenModalContract(contractkey) {
            if (contractkey === '') {
                Utils.OpenMagnific('#modalContractNew');
                Utils.ClearUI('#modalContractNew');
                $('#txt_ContractKey').val('');
                return;
            }
            else {
                $.ajax({
                    url: URL_ContractEditQuick,
                    type: 'GET',
                    data: {
                        "ContractKey": contractkey,
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            $('#txt_ContractKey').val(obj.ContractKey);
                            $('#txt_ContractID').val(obj.ContractID);
                            $('#txt_SubContract').val(obj.SubContract);
                            $('#txt_DateSign').val(Utils.ConvertToDDMMYYYY(obj.DateSign));
                            $('#cbo_Buyer').val(obj.BuyerKey).trigger('change');
                            $('#cbo_Area').val(obj.RegionKey.toLowerCase()).trigger('change');

                            Utils.OpenMagnific('#modalContractNew');
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
                return;
            }
        }
        //lưu thông tin hợp đồng
        function SaveContract() {

            var ContractKey = $('#txt_ContractKey').val();
            var ContractID = $('#txt_ContractID').val();
            var SubContract = $('#txt_SubContract').val();
            var DateSign = $('#txt_DateSign').val();
            var BuyerKey = $("#cbo_Buyer").val();
            var BuyerName = $("#cbo_Buyer option:selected").text();
            var RegionKey = $('#cbo_Area').val();

            if (DateSign.length <= 0) {
                Utils.OpenNotify('Bạn phải nhập ngày ký hợp đồng !.', 'Thông báo', 'warning');
                return;
            }
            if (BuyerKey.length <= 0) {
                Utils.OpenNotify('Bạn phải chọn khách hàng !.', 'Thông báo', 'warning');
                return;
            }
            if (RegionKey.length <= 0) {
                Utils.OpenNotify('Bạn phải chọn địa điểm thuê !.', 'Thông báo', 'warning');
                return;
            }
            if (ContractID.length <= 0) {
                Utils.OpenNotify('Bạn phải nhập số hợp đồng !.', 'Thông báo', 'warning');
                return;
            }
            if (ContractKey.length <= 0) {
                var ExistsKey = '';
                var Message = '';
                if (ContractID.length > 0 &&
                    SubContract.length > 0) {
                    //kiểm tra hđ chính và phụ lục
                    $.ajax({
                        async: false,
                        url: URL_ContractCheck,
                        type: 'GET',
                        data: {
                            "ContractID": ContractID,
                            "SubContract": SubContract
                        },
                        beforeSend: function () {

                        },
                        success: function (r) {
                            if (r.Success) {
                                ExistsKey = r.Data;
                                Message = 'Đã có phụ lục hơp đồng ' + SubContract + 'của hợp đồng ' + ContractID;
                                //window.location.href = '/Customer/ContractEdit?Key=' + r.Data;
                            }
                            else {
                                Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                            }
                        },
                        error: function (err) {
                            Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                        },
                        complete: function () {
                            if (ExistsKey.length >= 36) {
                                $.confirm({
                                    title: Message,
                                    content: 'Bạn có muốn mở xem thông tin !',
                                    buttons: {
                                        confirm: {
                                            text: 'OK',
                                            keys: ['enter', 'shift'],
                                            btnClass: 'btn-blue',
                                            action: function () {
                                                window.location.href = '/Customer/ContractEdit?Key=' + ExistsKey;
                                            }
                                        },
                                        cancel: {
                                            text: 'Đóng',
                                            action: function () {

                                            }
                                        },
                                    },
                                });
                                return;
                            }
                            else {
                                $.ajax({
                                    url: URL_ContractNew,
                                    type: 'POST',
                                    data: {
                                        "ContractKey": ContractKey,
                                        "ContractID": ContractID,
                                        "SubContract": SubContract,
                                        "DateSign": DateSign,
                                        "BuyerKey": BuyerKey,
                                        "BuyerName": BuyerName,
                                        "RegionKey": RegionKey
                                    },
                                    beforeSend: function () {

                                    },
                                    success: function (r) {
                                        if (r.Success) {
                                            window.location.href = '/Customer/ContractEdit?Key=' + r.Message;
                                        }
                                        else {
                                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                        }
                                    },
                                    error: function (err) {
                                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                    },
                                    complete: function () {

                                    }
                                });
                            }
                        }
                    });
                }
                else {
                    if (ContractID.length > 0) {
                        //kiểm tra hđ chính
                        $.ajax({
                            async: false,
                            url: URL_ContractCheck,
                            type: 'GET',
                            data: {
                                "ContractID": ContractID,
                                "SubContract": ""
                            },
                            beforeSend: function () {

                            },
                            success: function (r) {
                                if (r.Success) {
                                    ExistsKey = r.Data;
                                    Message = 'Đã có hợp đồng ' + ContractID;
                                    //window.location.href = '/Customer/ContractEdit?Key=' + r.Data;
                                } else {
                                    Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                }
                            },
                            error: function (err) {
                                Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                            },
                            complete: function () {
                                if (ExistsKey.length >= 36) {
                                    $.confirm({
                                        title: Message,
                                        content: 'Bạn có muốn mở xem thông tin !',
                                        buttons: {
                                            confirm: {
                                                text: 'OK',
                                                keys: ['enter', 'shift'],
                                                btnClass: 'btn-blue',
                                                action: function () {
                                                    window.location.href = '/Customer/ContractEdit?Key=' + ExistsKey;
                                                }
                                            },
                                            cancel: {
                                                text: 'Đóng',
                                                action: function () {

                                                }
                                            },
                                        },
                                    });
                                    return;
                                }
                                else {
                                    $.ajax({
                                        url: URL_ContractNew,
                                        type: 'POST',
                                        data: {
                                            "ContractKey": ContractKey,
                                            "ContractID": ContractID,
                                            "SubContract": SubContract,
                                            "DateSign": DateSign,
                                            "BuyerKey": BuyerKey,
                                            "BuyerName": BuyerName,
                                            "RegionKey": RegionKey
                                        },
                                        beforeSend: function () {
                                            $('.se-pre-con').fadeIn('slow');
                                        },
                                        success: function (r) {
                                            if (r.Success) {
                                                window.location.href = '/Customer/ContractEdit?Key=' + r.Message;
                                            }
                                            else {
                                                Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                            }
                                        },
                                        error: function (err) {
                                            Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                        },
                                        complete: function () {

                                        }
                                    });
                                }
                            }
                        });
                    }
                }
            }
            else {
                $.ajax({
                    url: URL_ContractNew,
                    type: 'POST',
                    data: {
                        "ContractKey": ContractKey,
                        "ContractID": ContractID,
                        "SubContract": SubContract,
                        "DateSign": DateSign,
                        "BuyerKey": BuyerKey,
                        "BuyerName": BuyerName,
                        "RegionKey": RegionKey
                    },
                    beforeSend: function () {
                        $('.se-pre-con').fadeIn('slow');
                    },
                    success: function (r) {
                        if (r.Success) {
                            window.location.href = '/Customer/ContractEdit?Key=' + r.Message;
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
        }
        //mở thông tin hợp đồng chỉ xem
        function OpenModelContractView(contractkey) {
            $.dialog({
                theme: 'bootstrap',
                closeIcon: true,
                columnClass: 'xlarge',
                title: 'Chi tiết',
                content: 'url:' + URL_ContractView + '?ContractKey=' + contractkey,
                animation: 'scale',
                closeAnimation: 'scale',
                backgroundDismiss: true,
            });
            return;
        }
        //xóa hợp đồng
        function DeleteContract(contractkey, contractid) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_ContractDelete,
                                type: 'POST',
                                data: {
                                    "ContractKey": contractkey,
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        Utils.OpenNotify('Đã xóa !.', 'Thông báo', 'success');
                                        $("tr[contractkey='" + contractkey + "']").remove();
                                        //OpenTableSub(contractkey, contractid);
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
            return;
        }
        //mở xem bảng hợp đồng con
        function OpenTableSub(contractkey, contractid) {
            $.ajax({
                url: URL_ContractSubView,
                type: 'GET',
                data: {
                    "ContractID": contractid,
                },
                beforeSend: function () {
                    $('div[name="' + contractkey + '"]').empty();
                },
                success: function (r) {
                    $('div[name="' + contractkey + '"]').append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    var table = $('div[name="' + contractkey + '"]').find('table');
                    MergeGridCells(table, '.merge1');
                    MergeGridCells(table, '.merge2');
                    MergeGridCells(table, '.merge3');
                    MergeGridCells(table, '.merge4');
                    MergeGridCells(table, '.merge6');

                    $('.dropdown-toggle').dropdown();
                }
            });
        }
    </script>
    <script>
        function MergeGridCells(table, cls) {
            var topMatchTd;
            var previousValue = "";
            var rowSpan = 1;

            table.find(cls).each(function () {

                if ($(this).text() == previousValue && $(this).text().length > 0) {
                    rowSpan++;
                    $(topMatchTd).attr('rowspan', rowSpan);
                    $(this).remove();
                }
                else {
                    topMatchTd = $(this);
                    rowSpan = 1;
                }

                previousValue = $(this).text();
            });
        }
    </script>
}