﻿@model ABG.Customer.Contract_Model
@{
    ViewBag.Title = "ContractEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Customer_Model> _SelectLandCustomer = new List<Customer_Model>();
    if (ViewBag.SelectCustomer != null)
    {
        _SelectLandCustomer = ViewBag.SelectCustomer as List<Customer_Model>;
    }

    //LẤY CÁC KHO CON TẠI TỔNG KHO ĐÃ TẠO TRƯƠC ĐÓ
    List<Product_Land_Model> _SelectLand = new List<Product_Land_Model>();
    if (ViewBag.SelectLand != null)
    {
        _SelectLand = ViewBag.SelectLand as List<Product_Land_Model>;
    }

    List<Contract_Land_Model> _ListItem = new List<Contract_Land_Model>();
    if (ViewBag.ListItem != null)
    {
        _ListItem = ViewBag.ListItem as List<Contract_Land_Model>;
    }

    List<Document_Model> _ListFile = new List<Document_Model>();
    if (ViewBag.ListFile != null)
    {
        _ListFile = ViewBag.ListFile as List<Document_Model>;
    }

    string TitleHead = "Cập nhật ";
    if (Model.SubContract.Length > 0)
    {
        TitleHead += Model.SubContract + " của hợp đồng " + Model.ContractID;
    }
    else
    {
        TitleHead += Model.ContractID;
    }
}

<header class="page-header">
    <h2>
        <i class="fas fa-file-signature"></i>
        @TitleHead
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContractList", "Customer")">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
            <li>
                <a href="#" class="active">
                    <i class="fas fa-file-signature"></i>
                    @{
                        if (Model.SubContract.Length > 0)
                        {
                            @Model.SubContract
                        }
                        else
                        {
                            @Model.ContractID
                        }
                    }
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>
<div class="row">
    <div class="col-lg-5">
        @{
            if (Model.Liquidated > 0)
            {
                <h5 class="text-danger">@("Đã thanh lý " + Model.DateLiquidation.ToString("dd/MM/yyyy") + ", " + Model.ReasonLiquidation)</h5>
            }
        }
    </div>
    <div class="col-lg-7 text-right">
        <a class="btn btn-default" href="javascript:window.history.back();">
            <i class="fas fa-chevron-left"></i>
            Quay về
        </a>
        <button id="btn_Delete" type="button" class="btn btn-danger" onclick="DeleteContract()">
            <i class="fas fa-trash"></i>
            Xóa
        </button>
        <button id="btn_Save" type="button" class="btn btn-primary" onclick="SaveContract()">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
        <button id="btn_CreateSubContract" type="button" class="btn btn-warning" onclick="OpenModalCopy()">
            <i class="far fa-copy"></i>
            Lập phụ lục
        </button>
        <button id="btn_Terminate" type="button" class="btn btn-warning" onclick="OpenModalContractEnd()">
            <i class="far fa-times-circle"></i>
            Thanh lý
        </button>
    </div>
</div>
<div class="row pt-1">
    <div class="col-lg-12">
        <div class="toggle toggle-tertiary" data-plugin-toggle="" data-plugin-options="{ 'isAccordion': true }">
            <section class="toggle active">
                <label>HỢP ĐỒNG CHO THUÊ</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="fathername" class="col-md-2 control-label text-right">Số hợp đồng chính</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_ContractID" placeholder="Số hợp đồng (ký lần đầu)" required="" value="@Model.ContractID" />
                            </div>
                            <label for="fatherbirthday" class="col-md-2 control-label text-right">Số phụ lục</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_SubContract" placeholder="Phụ lục" required="" value="@Model.SubContract" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right">Thuê/ gia hạn từ ngày</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_FromDate" name="ToDate" placeholder="Chọn ngày" class="form-control datepicker"
                                           value="@(Model.FromDate == DateTime.MinValue ? "" : Model.FromDate.ToString("dd/MM/yyyy"))" data-plugin-datepicker="" data-date-format="dd/mm/yyyy">
                                </div>
                            </div>
                            <label class="col-sm-2 control-label text-right">Đến ngày</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_ToDate" name="ToDate" placeholder="Chọn ngày" class="form-control datepicker"
                                           value="@(Model.ToDate == DateTime.MinValue ? "" : Model.ToDate.ToString("dd/MM/yyyy"))" data-plugin-datepicker="" data-date-format="dd/mm/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fathername" class="col-md-2 control-label text-right">Ngày ký</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_DateSign" required="" name="Birthday"
                                           placeholder="Chọn ngày" class="form-control datepicker" value="@(Model.DateSign == DateTime.MinValue ? "" : Model.DateSign.ToString("dd/MM/yyyy"))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>THÔNG TIN BÊN THUÊ - A</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right">Bên thuê (Bên A)</label>
                            <div class="col-sm-10">
                                <select id="cbo_Buyer" class="form-control select2" name="Buyer">
                                    <option value="">--//--</option>
                                    @foreach (Customer_Model zItem in _SelectLandCustomer)
                                    {
                                        if (Model.BuyerKey.ToUpper() == zItem.CustomerKey.ToUpper())
                                        {
                                            <option value="@zItem.CustomerKey" selected="selected">@zItem.FullName</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.CustomerKey">@zItem.FullName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right">Địa chỉ</label>
                            <div class="col-sm-10">
                                <input name="BuyerAddress" type="text" id="txt_BuyerAddress" class="form-control" placeholder="...." value="@Model.BuyerAddress">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right">Điện thoại</label>
                            <div class="col-sm-4">
                                <input name="BuyerPhone" type="text" id="txt_BuyerPhone" class="form-control" placeholder="...." value="@Model.BuyerPhone">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right">Mã số thuế/ CMND</label>
                            <div class="col-sm-4">
                                <input name="BuyerTaxCode" type="text" id="txt_BuyerTaxCode" class="form-control" placeholder="...." value="@Model.BuyerTaxCode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right">Số tài khoản</label>
                            <div class="col-sm-4">
                                <input name="BuyerBankCode" type="text" id="txt_BuyerBankCode" class="form-control" placeholder="...." value="@Model.BuyerBankCode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right">Địa chỉ ngân hàng</label>
                            <div class="col-sm-10">
                                <input name="BuyerAddressBank" type="text" id="txt_BuyerAddressBank" class="form-control" placeholder="...." value="@Model.BuyerAddressBank">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right">Đại diện</label>
                            <div class="col-sm-4">
                                <input name="BuyerRepresent" type="text" id="txt_BuyerRepresent" class="form-control" placeholder="...." value="@Model.BuyerRepresent">
                            </div>
                            <label class="col-sm-2 control-label text-right">Chức vụ</label>
                            <div class="col-sm-4">
                                <input name="BuyerPosition" type="text" id="txt_BuyerPosition" class="form-control" placeholder="...." value="@Model.BuyerPosition">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="toggle active">
                <label>VỊ TRÍ ĐỊA ĐIỂM THUÊ TẠI</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div id="PanelProduct">
                            @Html.Partial("~/Views/Customer/Contract/ContractItem.cshtml", _ListItem)
                        </div>

                        <div class="checkbox-custom checkbox-warning float-right">
                            @if (Model.Style.Trim() == "1")
                            {
                                <input type="checkbox" id="chkStyle" value="true" checked="checked">
                            }
                            else
                            {
                                <input type="checkbox" id="chkStyle" value="false" >
                            }
                            <label for="chkStyle">Địa diểm là diện tích chung</label>
                        </div>
                        <input id="txtStyle" type="hidden" name="chkStyle" value="@Model.Style.Trim()" />
                        <label for="txt_Description" class="control-label">Mục đích thuê</label>
                        <textarea type="text" class="form-control" id="txt_Purpose" placeholder="...." data-plugin-textarea-autosize rows="3">@Model.Purpose</textarea>
                        <label for="txt_Description" class="control-label">Ghi chú</label>
                        <textarea type="text" class="form-control" id="txt_Description" placeholder="...." data-plugin-textarea-autosize rows="3">@Model.Description</textarea>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>TẬP TIN KÈM THEO HỢP ĐỒNG</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" readonly="">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            <i class="fas fa-file-upload"></i>
                                            Tải tập tin
                                            <input type="file" style="display: none;" multiple="" id="fileUpload">
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="PanelFile">
                            @Html.Partial("~/Views/Shared/_DocumentAttach.cshtml", _ListFile)
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="modalContractItem" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin địa điểm</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Vị trí địa điểm</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Item" class="form-control select2">
                        <option value="">--//--</option>
                        @foreach (Product_Land_Model zItem in _SelectLand)
                        {
                            <option value="@zItem.ProductKey">@zItem.ProductName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Đơn vị tính</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Unit" class="form-control select2">
                        <option value="">--//--</option>
                        <option value="1">Nhà/Căn/Kios</option>
                        <option value="2">m<sup>2</sup></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Đơn giá</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control money" id="txt_Price" value="0" placeholder="" onkeyup="CalculationTotal()">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Số lượng/ diện tích m<sup>2</sup></label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control money" id="txt_Area" value="0" placeholder="" onkeyup="CalculationTotal()">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">VAT 10%</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control money" id="txt_VAT_Percent" value="10" placeholder="" onkeyup="CalculationTotal()">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thành tiền chưa VAT</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control money" id="txt_SubTotal" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thành tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control money" id="txt_TotalCurrencyMain" value="0" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_DescriptionItem" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="ItemSave()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>

</div>
<div id="modalContractEnd" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thanh lý</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group">
                <label for="txt_DateLiquidation" class="">Ngày thanh lý</label>
                <div class="">
                    <input type="text" id="txt_DateLiquidation" name="DateLiquidation" placeholder="Chọn ngày" class="form-control datepicker"
                           value="@(Model.DateLiquidation == DateTime.MinValue ? "" : Model.DateLiquidation.ToString("dd/MM/yyyy"))" data-plugin-datepicker="" data-date-format="dd/mm/yyyy">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="">Ghi chú thanh lý</label>
                <div class="">
                    <textarea type="text" class="form-control" id="txt_ReasonLiquidation" placeholder="" data-plugin-textarea-autosize rows="3">@Model.ReasonLiquidation</textarea>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveContractEnd()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
<div id="modalContractCopy" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Khởi tạo thông tin phụ lục hợp đồng</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số hợp đồng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_CopyContractID" placeholder="" required="" value="@Model.ContractID">
                </div>
            </div>
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số phụ lục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_CopySubContract" placeholder="" required="" value="Phụ lục 000">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày ký</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_CopyDateSign" required="" name="Birthday"
                           placeholder="Chọn ngày" class="form-control datepicker" value=""
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveCopy()">
                <i class="far fa-save"></i>
                Cập nhật > tiếp theo
            </button>
        </div>
    </div>
</div>
<input id="txt_ContractKey" type="hidden" value="@Model.ContractKey" />
<input id="txt_RegionKey" type="hidden" value="@Model.RegionKey" />
<input id="txt_AutoKey" type="hidden" value="" />

@section Scripts{
    <script>
        var URL_CustomerGetInfo = '@Url.Action("CustomerGetInfo", "Customer")';

        var URL_ContractEnd = '@Url.Action("ContractEnd", "Customer")';
        var URL_ContractCopyOpen = '@Url.Action("ContractEdit", new { Key = "contractkey" })';
        var URL_ContractCopy = '@Url.Action("ContractCopy", "Customer")';
        var URL_ContractDelete = '@Url.Action("ContractDelete", "Customer")';
        var URL_ContractSave = '@Url.Action("ContractSave", "Customer")';
        var URL_ContractFileList = '@Url.Action("ContractFileList", "Customer")';
        var URL_ContractFileDelete = '@Url.Action("ContractFileDelete", "Customer")';
        var URL_ContractItemList = '@Url.Action("ContractItemList", "Customer")';
        var URL_ContractItemDetail = '@Url.Action("ContractItemDetail", "Customer")';
        var URL_ContractItemDelete = '@Url.Action("ContractItemDelete", "Customer")';
        var URL_ContractItemSave = '@Url.Action("ContractItemSave", "Customer")';
    </script>
    <script src="~/assets/Appjs/Customer/Contract.js"></script>
    <script>
        $(document).ready(function () {
            $('#chkStyle').change(function () {
                if (this.checked) {
                    $('#txtStyle').val('1');
                }
                else {
                    $('#txtStyle').val('0');
                }
            });
        });
    </script>
}
