﻿
@{
    /**/
    ViewBag.Title = "ContractView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product_Land_Model> _ListSelectLand = new List<Product_Land_Model>();
    if (ViewBag.ListSelectLand != null)
    {
        _ListSelectLand = ViewBag.ListSelectLand as List<Product_Land_Model>;
    }
    List<Customer_Model> _ListSelectLandCustomer = new List<Customer_Model>();
    if (ViewBag.ListSelectCustomer != null)
    {
        _ListSelectLandCustomer = ViewBag.ListSelectCustomer as List<Customer_Model>;
    }
    List<Customer_Model> _ListCustomer = new List<Customer_Model>();
    if (ViewBag.ListCustomer != null)
    {
        _ListCustomer = ViewBag.ListCustomer as List<Customer_Model>;
    }
    //kết quả tìm kiếm nếu có
    if (ViewBag.ListCustomerSearch != null)
    {
        _ListCustomer = ViewBag.ListCustomerSearch as List<Customer_Model>;
    }
}

@section Styles{

}

<header class="page-header">
    <h2>
        <i class="far fa-list-alt"></i>
        Hợp đồng kinh tế
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContractView","Customer")">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <form action="@Url.Action("ContractViewSearch","Customer")" method="get" class="row">
                    <div class="col-md-3">
                        <select id="cbo_SearchArea" class="form-control select2" name="SearchArea">
                            <option value="">--//--</option>
                            @foreach (Product_Land_Model Item in _ListSelectLand)
                            {
                                <option value="@Item.ProductKey">@Item.ProductName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="cbo_SearchBuyer" class="form-control select2" name="SearchBuyer">
                            <option value="">--//--</option>
                            @foreach (Customer_Model zItem in _ListSelectLandCustomer)
                            {
                                <option value="@zItem.CustomerKey">@zItem.FullName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="txt_ContractName" value="" placeholder="Hợp đồng/Khách hàng" name="SearchName">
                    </div>
                    <div class="col-md-3 text-right">
                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    </div>
                </form>
            </div>
            <div class="card-body border-primary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="toggle toggle-primary" data-plugin-toggle>
                            @{
                                for (int i = 0; i < _ListCustomer.Count; i++)
                                {
                                    Customer_Model zModel = _ListCustomer[i];
                                    string CustomerKey = zModel.CustomerKey;

                                    <section class="toggle" id="@CustomerKey" name="clickable">
                                        <label>@((i + 1) + " - " + zModel.FullName)</label>
                                        <div class="toggle-content" name="@CustomerKey">

                                        </div>
                                    </section>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Khởi tạo thông tin hợp đồng cho thuê</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Khách hàng</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Buyer" class="form-control select2" name="Buyer">
                        <option value="">--//--</option>
                        @foreach (Customer_Model zItem in _ListSelectLandCustomer)
                        {
                            <option value="@zItem.CustomerKey">@zItem.FullName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Tổng kho</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Area" class="form-control select2" name="Area">
                        <option value="">--//--</option>
                        @foreach (Product_Land_Model zItem in _ListSelectLand)
                        {
                            <option value="@zItem.ProductKey">@zItem.ProductName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số hợp đồng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ContractID" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số phụ lục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_SubContract" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày ký</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_DateSign" required="" name="Birthday"
                           placeholder="Chọn ngày" class="form-control datepicker" value=""
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật > tiếp theo
            </button>
        </div>
    </div>
</div>
<input id="txt_ContractKey" type="hidden" name="FeaKey" value="0" />
@section scripts {
    <script>
        var URL_Info = '@Url.Action("ContractInfoView", "Customer")';
    </script>
    <script>
        $(document).ready(function () {
            $('section[name="clickable"]').on('click', function (e) {

                var id = $(this).attr("id");
                if ($('div[name="' + id + '"]').is(':visible')) {
                    console.log(id);
                    Info(id);
                }
            });
            $('section[name="clickable"]').on('click', 'button', function (e) {
                e.stopPropagation();
            });
        });

        function Info(id) {
            $.ajax({
                url: URL_Info,
                type: 'GET',
                data: {
                    "CustomerKey": id,
                },
                beforeSend: function () {
                    $('div[name="' + id + '"]').empty();
                },
                success: function (r) {
                    $('div[name="' + id + '"]').append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    var table = $('#' + id);
                    MergeGridCells(table, '.merge1');
                    MergeGridCells(table, '.merge2');
                    MergeGridCells(table, '.merge3');
                    MergeGridCells(table, '.merge4');
                }
            });
        }
        function MergeGridCells(table, cls) {
            var topMatchTd;
            var previousValue = "";
            var rowSpan = 1;

            table.find(cls).each(function () {

                if ($(this).text() == previousValue && $(this).text().length > 0) {
                    rowSpan++;
                    $(topMatchTd).attr('rowspan', rowSpan);
                    $(this).remove();
                }
                else {
                    topMatchTd = $(this);
                    rowSpan = 1;
                }

                previousValue = $(this).text();
            });
        }
    </script>
}

