﻿
@{
    /**/
    ViewBag.Title = "ContractList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Product_Land_Model> _SelectLand = new List<Product_Land_Model>();
    if (ViewBag.SelectLand != null)
    {
        _SelectLand = ViewBag.SelectLand as List<Product_Land_Model>;
    }

    List<Customer_Model> _SelectCustomer = new List<Customer_Model>();
    if (ViewBag.SelectCustomer != null)
    {
        _SelectCustomer = ViewBag.SelectCustomer as List<Customer_Model>;
    }

    List<Contract_Object> _ListData = new List<Contract_Object>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Contract_Object>;
    }
}

@section Styles{

}

<header class="page-header">
    <h2>
        <i class="far fa-list-alt"></i>
        Danh sách hợp đồng kinh tế
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContractList","Customer")">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <form class="row" method="get" action="@Url.Action("ContractSearch","Customer")">
                    <div class="col-md-3">
                        <select id="cbo_SearchArea" class="form-control select2" name="SearchArea">
                            <option value="">--//--</option>
                            @foreach (Product_Land_Model Item in _SelectLand)
                            {
                                <option value="@Item.ProductKey">@Item.ProductName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="cbo_SearchBuyer" class="form-control select2" name="SearchBuyer">
                            <option value="">--//--</option>
                            @foreach (Customer_Model zItem in _SelectCustomer)
                            {
                                <option value="@zItem.CustomerKey">@zItem.FullName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    </div>
                </form>
            </div>
            <div class="card-body border-primary">
                <div class="row">
                    <div class="col-md-12">
                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail('')">
                            <i class="fa fa-plus"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @{
                            if (_ListData.Count > 0)
                            {
                                for (int i = 0; i < _ListData.Count; i++)
                                {
                                    Contract_Object zModel = _ListData[i];
                                    string ContractID = zModel.Contract.ContractID;
                                    string Customer = zModel.Contract.BuyerName;

                                    <section class="toggle" id="@ContractID" name="clickable">
                                        <label>
                                            <span class="col-md-3">@((i + 1) + " - " + ContractID)</span>
                                            <span class="col-md-9">@Customer</span>
                                        </label>
                                        <div class="toggle-content" name="@ContractID"></div>
                                    </section>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Khởi tạo thông tin hợp đồng cho thuê</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Khách hàng</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Buyer" class="form-control select2" name="Buyer">
                        <option value="">--//--</option>
                        @foreach (Customer_Model zItem in _SelectCustomer)
                        {
                            <option value="@zItem.CustomerKey">@zItem.FullName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Tổng kho</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Area" class="form-control select2" name="Area">
                        <option value="">--//--</option>
                        @foreach (Product_Land_Model zItem in _SelectLand)
                        {
                            <option value="@zItem.ProductKey">@zItem.ProductName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số hợp đồng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ContractID" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số phụ lục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_SubContract" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày ký</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_DateSign" required="" name="Birthday"
                           placeholder="Chọn ngày" class="form-control datepicker" value=""
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật > tiếp theo
            </button>
        </div>
    </div>
</div>
<input id="txt_ContractKey" type="hidden" name="FeaKey" value="0" />
@section scripts {
    <script>
        var URL_Check = '@Url.Action("CheckContract", "Customer")';
        var URL_SaveList = '@Url.Action("ContractNew", "Customer")';
        var URL_QuickEdit = '@Url.Action("ContractEditQuick", "Customer")';
        var URL_Info = '@Url.Action("ContractInfo", "Customer")';
        var URL_Detail = '@Url.Action("ContractSub", "Customer")';
        var URL_Delete = '@Url.Action("DeleteContractEdit", "Customer")';

    </script>
    <script>
        $(document).ready(function () {
            $('section[name="clickable"]').on('click', function (e) {
                var id = $(this).attr("id");
                if ($('div[name="' + id + '"]').is(':visible')) {
                    console.log(id);
                    Info(id);
                }
            });
            $('section[name="clickable"]').on('click', 'button', function (e) {
                e.stopPropagation();
            });
            $('section[name="clickable"]').on('click', 'table', function (e) {
                e.stopPropagation();
            });
        });
        function Edit(Key) {
            $.ajax({
                url: URL_Detail,
                type: 'POST',
                data: {
                    "ContractKey": Key,
                },
                beforeSend: function () {

                },
                success: function (r) {

                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Save() {

            var ContractKey = $('#txt_ContractKey').val();
            var ContractID = $('#txt_ContractID').val();
            var SubContract = $('#txt_SubContract').val();
            var DateSign = $('#txt_DateSign').val();
            var BuyerKey = $("#cbo_Buyer").val();
            var BuyerName = $("#cbo_Buyer option:selected").text();
            var RegionKey = $('#cbo_Area').val();

            if (DateSign.length <= 0) {
                Utils.OpenNotify('Bạn phải nhập ngày ký hợp đồng !.', 'Thông báo', 'warning');
                return;
            }
            if (BuyerKey.length <= 0) {
                Utils.OpenNotify('Bạn phải chọn khách hàng !.', 'Thông báo', 'warning');
                return;
            }
            if (RegionKey.length <= 0) {
                Utils.OpenNotify('Bạn phải chọn địa điểm thuê !.', 'Thông báo', 'warning');
                return;
            }
            if (ContractID.length <= 0) {
                Utils.OpenNotify('Bạn phải nhập số hợp đồng !.', 'Thông báo', 'warning');
                return;
            }
            if (ContractKey.length <= 0) {
                var ExistsKey = '';
                var Message = '';
                if (ContractID.length > 0 &&
                    SubContract.length > 0) {
                    //kiểm tra hđ chính và phụ lục
                    $.ajax({
                        async: false,
                        url: URL_Check,
                        type: 'GET',
                        data: {
                            "ContractID": ContractID,
                            "SubContract": SubContract
                        },
                        beforeSend: function () {

                        },
                        success: function (r) {
                            if (r.Success) {
                                ExistsKey = r.Data;
                                Message = 'Đã có phụ lục hơp đồng ' + SubContract + 'của hợp đồng ' + ContractID;
                                //window.location.href = '/Customer/ContractEdit?Key=' + r.Data;
                            }
                            else {
                                Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                            }
                        },
                        error: function (err) {
                            Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                        },
                        complete: function () {
                            if (ExistsKey.length >= 36) {
                                $.confirm({
                                    title: Message,
                                    content: 'Bạn có muốn mở xem thông tin !',
                                    buttons: {
                                        confirm: {
                                            text: 'OK',
                                            keys: ['enter', 'shift'],
                                            btnClass: 'btn-blue',
                                            action: function () {
                                                window.location.href = '/Customer/ContractEdit?Key=' + ExistsKey;
                                            }
                                        },
                                        cancel: {
                                            text: 'Đóng',
                                            action: function () {

                                            }
                                        },
                                    },
                                });
                                return;
                            }
                        }
                    });


                }
                else {
                    if (ContractID.length > 0) {
                        //kiểm tra hđ chính
                        $.ajax({
                            async: false,
                            url: URL_Check,
                            type: 'GET',
                            data: {
                                "ContractID": ContractID,
                                "SubContract": ""
                            },
                            beforeSend: function () {

                            },
                            success: function (r) {
                                if (r.Success) {
                                    ExistsKey = r.Data;
                                    Message = 'Đã có hợp đồng ' + ContractID;
                                    //window.location.href = '/Customer/ContractEdit?Key=' + r.Data;
                                } else {
                                    Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                }
                            },
                            error: function (err) {
                                Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                            },
                            complete: function () {
                                if (ExistsKey.length >= 36) {
                                    $.confirm({
                                        title: Message,
                                        content: 'Bạn có muốn mở xem thông tin !',
                                        buttons: {
                                            confirm: {
                                                text: 'OK',
                                                keys: ['enter', 'shift'],
                                                btnClass: 'btn-blue',
                                                action: function () {
                                                    window.location.href = '/Customer/ContractEdit?Key=' + ExistsKey;
                                                }
                                            },
                                            cancel: {
                                                text: 'Đóng',
                                                action: function () {

                                                }
                                            },
                                        },
                                    });
                                    return;
                                }
                            }
                        });
                    }
                }
            }
            else {
                $.ajax({
                    url: URL_SaveList,
                    type: 'POST',
                    data: {
                        "ContractKey": ContractKey,
                        "ContractID": ContractID,
                        "SubContract": SubContract,
                        "DateSign": DateSign,
                        "BuyerKey": BuyerKey,
                        "BuyerName": BuyerName,
                        "RegionKey": RegionKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            window.location.href = '/Customer/ContractEdit?Key=' + r.Message;
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
        }
        function Detail(Key) {
            if (Key === '') {
                Utils.OpenMagnific('#modalEdit');
                Utils.ClearUI('#modalEdit');
                $('#txt_ContractKey').val('');
            }
            else {
                $.ajax({
                    url: URL_QuickEdit,
                    type: 'GET',
                    data: {
                        "ContractKey": Key,
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        var obj = JSON.parse(r.Data);
                        $('#txt_ContractKey').val(obj.ContractKey);
                        $('#txt_ContractID').val(obj.ContractID);
                        $('#txt_SubContract').val(obj.SubContract);
                        $('#txt_DateSign').val(Utils.ConvertToDDMMYYYY(obj.DateSign));
                        $('#cbo_Buyer').val(obj.BuyerKey).trigger('change');
                        $('#cbo_Area').val(obj.RegionKey).trigger('change');

                        Utils.OpenMagnific('#modalEdit');
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
        }
        function Info(id) {
            $.ajax({
                url: URL_Info,
                type: 'GET',
                data: {
                    "CustomerKey": id,
                },
                beforeSend: function () {
                    $('div[name="' + id + '"]').empty();
                },
                success: function (r) {
                    $('div[name="' + id + '"]').append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    var table = $('#' + id);
                    MergeGridCells(table, '.merge1');
                    MergeGridCells(table, '.merge2');
                    MergeGridCells(table, '.merge3');
                    MergeGridCells(table, '.merge4');
                    MergeGridCells(table, '.merge5');
                }
            });
        }
        function Delete(id) {
            $.ajax({
                url: URL_Delete,
                type: 'POST',
                data: {
                    "ContractKey": id,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify('Đã xóa !.', 'Thông báo', 'success');
                        Info(id);
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function MergeGridCells(table, cls) {
            var topMatchTd;
            var previousValue = "";
            var rowSpan = 1;

            table.find(cls).each(function () {

                if ($(this).text() == previousValue && $(this).text().length > 0) {
                    rowSpan++;
                    $(topMatchTd).attr('rowspan', rowSpan);
                    $(this).remove();
                }
                else {
                    topMatchTd = $(this);
                    rowSpan = 1;
                }

                previousValue = $(this).text();
            });
        }
    </script>
}