﻿@{
    Layout = null;
    var ListTrack = new List<Track_Item>();
    if (ViewBag.ListData != null)
    {
        ListTrack = ViewBag.ListData as List<Track_Item>;
    }
}
<table class="table table-sm Custom">
    <thead>
        <tr>
            <th>#</th>
            <th>Ngày ghi</th>
            <th>Mô tả</th>
            <th class="d-none">Đường dẫn</th>
            <th>.</th>
        </tr>
    </thead>
    <tbody id="">
        @if (ListTrack.Count > 0)
        {
            int No = 1;
            foreach (var item in ListTrack)
            {
                <tr>
                    <td>@(No++)</td>
                    <td>@TN_Utils.TimeAgo(item.CreatedOn, DateTime.Now)</td>
                    <td>@item.Description</td>
                    <td class="d-none"><a href="@item.Url">Đường dẫn</a></td>
                    <td></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <div class="alert alert-primary">
                        <strong>Chưa có phát sinh hoạt đồng nào !</strong>.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>