﻿
@{
    ViewBag.Title = "UserTracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<User_Model> ListUser = new List<User_Model>();
    if (ViewBag.ListUser != null)
    {
        ListUser = ViewBag.ListUser as List<User_Model>;
    }
}

<header class="page-header">
    <h2>Hoạt động người dùng</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <table class="table Custom table-sm" id="tblUser">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Đăng nhập</th>
                            <th>Tài khoản/ nhân sự</th>
                            <th>.</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ListUser.Count > 0)
                        {
                            for (int i = 0; i < ListUser.Count; i++)
                            {
                                User_Model Model = ListUser[i];

                                <tr id="@Model.UserKey">
                                    <td>@(i + 1)</td>
                                    <td>@Model.LastLoginDate.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>
                                        @Model.UserName<br />
                                        @Model.EmployeeName
                                    </td>
                                    <td>.</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body" id="pnData">

            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script>
        var Url = "@Url.Action("UserData", "Config")";
        $("#tblUser").on("click", "tr", function (e) {
            var id = $(this).attr("id");
            e.preventDefault();
            // removes all highlights from tr's
            $("#tblUser tr").removeClass("highlight");
            // adds the highlight to this row
            $(this).addClass("highlight");

            GetUserData(id);
        });

        function GetUserData(id) {
            $.ajax({
                url: Url,
                type: "GET",
                data: {
                    "UserKey": id,
                },
                beforeSend: function () {
                    $("#pnData").empty();
                },
                success: function (r) {
                    $("#pnData").html(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}
