﻿@using ABG.Employee
@{
    ViewBag.Title = "ContractList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Contract_Model> _ListData = new List<Contract_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Contract_Model>;
    }
}



<header class="page-header">
    <h2>
        <i class="far fa-list-alt"></i>
        Danh sách hợp đồng lao động
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContractList","Employee")">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <form action="@Url.Action("SearchContract","Employee")" method="get" class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm số hợp đồng hoặc tên nhân viên" name="SearchName">
                            <span class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body border-primary">
                <table class="table Custom table-sm" id="table-1">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hợp đồng số</th>
                            <th>Loại</th>
                            <th>Người lao động</th>
                            <th>Ngày ký</th>
                            <th>Thời gian</th>
                            <th>Ghi chú</th>
                            <th class="text-right">
                                <a class="modal-with-zoom-anim btn btn-info" href="@Url.Action("ContractEdit","Employee")">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @for (int i = 0; i < _ListData.Count; i++)
                        {
                            Contract_Model Model = _ListData[i];
                            string SignDate = (Model.SignDate == DateTime.MinValue ? "Chưa cập nhật" : Model.SignDate.ToString("dd/MM/yyyy"));
                            string FromDate = (Model.FromDate == DateTime.MinValue ? "Chưa cập nhật" : Model.FromDate.ToString("dd/MM/yyyy"));
                            string ToDate = (Model.ToDate == DateTime.MinValue ? "Chưa cập nhật" : Model.ToDate.ToString("dd/MM/yyyy"));

                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model.ContractID</td>
                                <td>@Model.ContractTypeName</td>
                                <td>@Model.EmployeeName</td>
                                <td>@SignDate</td>
                                <td>@(FromDate + " - " + ToDate)</td>
                                <td>@Model.Note</td>
                                <td class="text-right">
                                    <a type="button" data-toggle="tooltip" data-placement="top"
                                       title="Cập nhật thông tin" class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                                       href="@Url.Action("ContractEdit", "Employee", new { Model.ContractKey })">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <button type="button" data-toggle="tooltip" data-placement="top"
                                            title="Xóa hợp đồng" class="btn btn-outline-danger btn-sm modal-with-zoom-anim"
                                            onclick="Delete('@Model.ContractKey')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>

    </script>
}