﻿
@{
                /**/

                ViewBag.Title = "Areas";
                Layout = "~/Views/Shared/_Layout.cshtml";

                List<Product_Land_Model> ListArea = new List<Product_Land_Model>();
                if (ViewBag.ListArea != null)
                {
                    ListArea = ViewBag.ListArea as List<Product_Land_Model>;
                }
}
@section Styles{

}

<header class="page-header">
    <h2>Các địa điểm tổng kho An Bình Group (Cập nhật thông tin)</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">

            </div>
            <div class="card-body border-primary">
                <table class="table Custom table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã khu</th>
                            <th>Tên khu</th>
                            <th>Địa chỉ</th>
                            <th>Thứ tự</th>
                            <th class="text-right">
                                <a class="modal-with-zoom-anim btn btn-info" href="#" onclick="Detail(0)"><i class="fa fa-plus"></i>Thêm tổng kho mới</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (ListArea.Count > 0)
                        {
                            for (int i = 0; i < ListArea.Count; i++)
                            {
                                Product_Land_Model Model = ListArea[i];

                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.ProductID</td>
                                    <td>@Model.ProductName</td>
                                    <td>@Model.Address</td>
                                    <td>@Model.Rank.Value</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@Model.ProductKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm modal-with-zoom-anim" onclick="Delete('@Model.ProductKey')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin khu kho</h2>
        </div>
        <div class="card-body border-primary">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="username" class="">Ảnh đại diện</label>
                        <div class="">
                            <img id="imgpreview" src="@Url.Content("~/assets/img/unnamed.png")" alt="your image" style="width:100%; height:200px;" class="rounded-lg" />
                            <input type="file" id="fileListPhoto" multiple name="files" class="d-none">
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group row">
                        <label for="username" class="col-lg-3 col-xl-3 control-label text-right">Mã khu kho</label>
                        <div class="col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txt_ProductID" placeholder="Mã khu kho tổng" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-lg-3 col-xl-3 control-label text-right">Tên tổng kho</label>
                        <div class="col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txt_ProductName" placeholder="Tên địa diểm tổng kho" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-lg-3 col-xl-3 control-label text-right">Địa chỉ</label>
                        <div class="col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txt_Address" placeholder="Địa chỉ khu vực" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-lg-3 col-xl-3 control-label text-right">Thứ tự hiển thị</label>
                        <div class="col-lg-9 col-xl-9">
                            <input type="number" class="form-control" id="txt_Rank" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_ProductKey" type="hidden" name="Role" value="" />
</div>

@section scripts {
    <script>
        var URL_Detail = '@Url.Action("DetailArea", "Config")';
        var URL_Delete = '@Url.Action("DeleteArea", "Config")';
        var URL_Save = '@Url.Action("SaveArea", "Config")';
    </script>
    <script>
        $(document).ready(function () {
            $("#imgpreview").click(function () {
                $("#fileListPhoto").trigger('click');
            });
            $("#fileListPhoto").change(function () {
                Utils.PreviewImg(this, "#imgpreview");
            });
        });
        function Save() {
            var ProductKey = $('#txt_ProductKey').val();
            var ProductID = $('#txt_ProductID').val();
            var ProductName = $('#txt_ProductName').val();
            var Address = $('#txt_Address').val();
            var Rank = $('#txt_Rank').val();

            var formData = new FormData();
            var totalFiles = $("#fileListPhoto").get(0).files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = $("#fileListPhoto").get(0).files[i];
            }

            var obj = {
                "ProductKey": ProductKey,
                "ProductID": ProductID,
                "ProductName": ProductName,
                "Address": Address,
                "Rank": Rank
            };

            formData.append("Area", JSON.stringify(obj));
            formData.append("File", file);

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(ProductKey) {
            Utils.OpenMagnific('#modalEdit');
            if (ProductKey.length >= 36) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "ProductKey": ProductKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);

                            $('#txt_ProductKey').val(obj.ProductKey);
                            $('#txt_ProductID').val(obj.ProductID);
                            $('#txt_ProductName').val(obj.ProductName);
                            $('#txt_Address').val(obj.Address);
                            $('#txt_Rank').val(obj.Rank);

                            if (obj.PhotoPath.length > 0) {
                                $("#imgpreview").attr("src", obj.PhotoPath);
                            }
                            else {
                                $("#imgpreview").attr("src", "/assets/img/unnamed.png");
                            }
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $("#imgpreview").attr("src", "/assets/img/unnamed.png");
            }
        }
        function Delete(ProductKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "ProductKey": ProductKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
    </script>
}