﻿
@{
    ViewBag.Title = "Banner";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _ListBanner = new List<Banner_Model>();
    if (ViewBag.ListBanner != null)
    {
        _ListBanner = ViewBag.ListBanner as List<Banner_Model>;
    }
}

<header class="page-header">
    <h2>Các slide hình ảnh</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border">


            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Stt</th>
                            <th>Hình ảnh</th>
                            <th>Nội dung hiển thị kèm theo</th>
                            <th>Ẩn/ hiện</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail(0)">
                                    <i class="fa fa-plus"></i>
                                    Thêm
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            if (_ListBanner.Count > 0)
                            {
                                for (int i = 0; i < _ListBanner.Count; i++)
                                {
                                    Banner_Model zModel = _ListBanner[i];
                                    string Key = zModel.BannerKey.ToString();
                                    string No = (i + 1).ToString();
                                    string Url = zModel.Url;
                                    string Title = zModel.Title;
                                    string Description = zModel.Description;
                                    int Rank = zModel.Rank;
                                    bool Publish = zModel.Publish;

                                    <tr>
                                        <th>@Rank</th>
                                        <td>
                                            <img id="imgpreview" src="@Url" alt="your image" style="width:100px; height:50px;" class="rounded-lg" />
                                        </td>
                                        <td>
                                            @Title<br />
                                            @Description
                                        </td>
                                        <td>
                                            @if (zModel.Publish)
                                            {
                                                <div class="switch switch-sm switch-success">
                                                    <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" onchange="Activate(@Key)" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="switch switch-sm switch-success">
                                                    <input type="checkbox" name="switch" data-plugin-ios-switch onchange="Activate(@Key)" />
                                                </div>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail(@Key)">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Key)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">
                                        <div class="alert alert-primary">
                                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin Banner </h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tiêu đề</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Title" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Diễn giải</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea id="txt_Description" rows="3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ảnh</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="file" id="txt_Url" class="form-control" accept="image/*;capture=camera" />
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Rank" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ẩn/ hiện</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Publish" class="form-control" name="Publish">
                        <option value="1" selected>Hiển thị</option>
                        <option value="0">Ẩn</option>
                    </select>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="Save()">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
        <input id="txt_BannerKey" type="hidden" name="FeaKey" value="0" />
    </div>
</div>
@section scripts{
    <script>
        var URL_Detail = "@Url.Action("DetailBanner", "Config")";
        var URL_Delete = "@Url.Action("DeleteBanner", "Config")";
        var URL_Save = "@Url.Action("SaveBanner", "Config")";
        var URL_Active = "@Url.Action("ActivateBanner", "Config")";
    </script>
    <script>
        $(document).ready(function () {

        });
        function Save() {
            var zPublish = $("#cbo_Publish").val();
            if (zPublish == 1)
                zPublish = true;
            else
                zPublish = false;
            var obj = {
                BannerKey: $("#txt_BannerKey").val(),
                Title: $("#txt_Title").val(),
                Description: $("#txt_Description").val(),
                Rank: $("#txt_Rank").val(),
                Publish: zPublish,
            };

            var fileUpload = $("#txt_Url").get(0);
            var files = fileUpload.files;

            // Create  a FormData object
            var fileData = new FormData();

            // if there are multiple files , loop through each files
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            fileData.append("BannerObj", JSON.stringify(obj));
            fileData.append("BannerKey", $("#txt_BannerKey").val());
            $.ajax({
                url: URL_Save,
                processData: false,
                contentType: false,
                type: "POST",
                data: fileData,
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function Detail(BannerKey) {
            Utils.OpenMagnific("#modalEdit");
            if (BannerKey > 0) {
                $.ajax({
                    url: URL_Detail,
                    type: "GET",
                    data: {
                        "BannerKey": BannerKey
                    },
                    beforeSend: function () {
                        Utils.LoadIn();
                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            $("#txt_BannerKey").val(obj.BannerKey);
                            $("#txt_Title").val(obj.Title);
                            $("#txt_Description").val(obj.Description);
                            $("#txt_Rank").val(obj.Rank);
                            var zPublish = 0;
                            if (obj.Publish == true)
                                zPublish = 1;
                            else
                                zPublish = 0;
                            $("#cbo_Publish").val(zPublish).trigger("change");
                        }
                        else {
                            Utils.OpenNotify(r.Message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {
                        Utils.LoadOut();
                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
                $("#cbo_Rank").val(0);
                $("#txt_BannerKey").val(0);
                $("#cbo_Publish").val(1);
            }
        }
        function Delete(BannerKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "BannerKey": BannerKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Activate(BannerKey) {
            $.ajax({
                url: URL_Active,
                type: "POST",
                data: {
                    "BannerKey": BannerKey,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify("Cập nhật tình trạng thành công", "Thông báo", "success");
                    }
                    else {
                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}