﻿
@{
    ViewBag.Title = "CommentList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _List = new List<Comment_Model>();
    if (ViewBag.List != null)
    {
        _List = ViewBag.List as List<Comment_Model>;
    }
}

<header class="page-header">
    <h2>Thông tin liên hệ của khách hàng</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm Custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ngày gửi</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Nội dung</th>
                            <th class="text-right">

                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @for (int i = 0; i < _List.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@_List[i].CommentDate.ToString("dd/MM/yyyy")</td>
                                <td>@_List[i].CustomerName</td>
                                <td>@_List[i].CustomerEmail</td>
                                <td>
                                    @_List[i].CommentID
                                </td>
                                <td >
                                    <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@_List[i].CommentKey')">
                                        <i class="far fa-eyes"></i>Xem
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@_List[i].CommentKey')">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Họ tên</label>
                <div class="col-lg-7 col-xl-9">
                    <input name="BuyerPhone" type="text" id="txt_Name" class="form-control" placeholder="...." readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Email</label>
                <div class="col-lg-7 col-xl-9">
                    <input name="BuyerPhone" type="text" id="txt_Email" class="form-control" placeholder="...." readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tiêu đề</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ID" placeholder="" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Nội dung</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="" data-plugin-textarea-autosize readonly></textarea>
                </div>
            </div>

        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
        </div>
    </div>
</div>

@section scripts {

    <script>
        var URL_Detail = '@Url.Action("ViewComment", "Config")';
        var URL_Delete = '@Url.Action("DeleteComment", "Config")';
    </script>
    <script>

        $(document).ready(function () {

        });

        function Detail(Key) {
            $.ajax({
                url: URL_Detail,
                type: 'GET',
                data: {
                    "Key": Key
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        var obj = JSON.parse(r.Data);

                        $('#txt_ID').val(obj.CommentID);
                        $('#txt_Name').val(obj.CustomerName);
                        $('#txt_Email').val(obj.CustomerEmail);
                        $('#txt_Description').val(obj.Description);

                        Utils.OpenMagnific('#modalEdit');
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Delete(Key) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "Key": Key
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
    </script>
}