﻿
@{
    ViewBag.Title = "Leave_Close";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Leave_Close_Model> _ListData = new List<Leave_Close_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Leave_Close_Model>;
    }
    List<Employee_Model> _ListSelectEmployee = new List<Employee_Model>();
    if (ViewBag.ListSelectEmployee != null)
    {
        _ListSelectEmployee = ViewBag.ListSelectEmployee as List<Employee_Model>;
    }
}

<header class="page-header">
    <h2>Cập nhật tồn phép</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">

            </div>
        </div>
        <div class="card-body border-primary">
            <table class="table Custom table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã nhân viên</th>
                        <th>Họ tên</th>
                        <th>Thời gian</th>
                        <th>Tiêu chuẩn phép</th>
                        <th>Phép thâm niên</th>
                        <th>Số ngày phép còn lại trong năm</th>
                        <th>Ghi chú</th>
                        <th class="text-right">
                            <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail('')">
                                <i class="fa fa-plus"></i>
                                Thêm mới
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody id="tblBody">
                    @if (_ListData.Count > 0)
                    {
                        for (int i = 0; i < _ListData.Count; i++)
                        {
                            Leave_Close_Model Model = _ListData[i];

                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model.EmployeeID</td>
                                <td>@Model.EmployeeName</td>
                                <td>@Model.CloseYear</td>
                                <td>@Model.StandardBegin</td>
                                <td>@Model.StandardPlus</td>
                                <td>@Model.StandardEnd</td>
                                <td>@Model.Description</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@Model.AutoKey')">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Model.AutoKey')">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">
                                <div class="alert alert-primary">
                                    <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer border-primary">
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Cập nhật tiêu chuẩn phép</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="departmentid" class="col-lg-5 col-xl-3 control-label text-lg-right">Nhân sự</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Employee" class="form-control select2" name="Employee">
                        <option value="" selected>--//--</option>
                        @{
                            foreach (Employee_Model zItem in _ListSelectEmployee)
                            {
                                <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="deparmentname" class="col-lg-5 col-xl-3 control-label text-lg-right">Thời gian</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_CloseYear" placeholder="tháng/năm" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="deparmentname" class="col-lg-5 col-xl-3 control-label text-lg-right">Tiêu chuẩn phép</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_StandardBegin" placeholder="số phép tiêu chuẩn quy định" required="">

                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Phép thâm niên</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_StandardPlus" value="0" placeholder="số phép đạt thâm niên đến hiện tại">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Số ngày phép còn lại trong năm</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_StandardEnd" value="0" placeholder="số phép còn lại">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="" data-plugin-textarea-autosize rows="2"></textarea>
                </div>
            </div>

        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_AutoKey" type="hidden" name="AutoKey" value="0" />
</div>

@section scripts {
    <script>
        var URL_Detail = '@Url.Action("DetailLeave_Close", "Config")';
        var URL_Delete = '@Url.Action("DeleteLeave_Close", "Config")';
        var URL_Save = '@Url.Action("SaveLeave_Close", "Config")';

        $(document).ready(function () {

        });

        function Save() {
            var AutoKey = $('#txt_AutoKey').val();
            var EmployeeKey = $('#cbo_Employee').val();
            var EmployeeName = $("#cbo_Employee option:selected").text();
            var CloseYear = $('#txt_CloseYear').val();
            var StandardBegin = $('#txt_StandardBegin').val();
            var StandardPlus = $('#txt_StandardPlus').val();
            var StandardEnd = $('#txt_StandardEnd').val();
            var Description = $('#txt_Description').val();

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "AutoKey": AutoKey,
                    "EmployeeKey": EmployeeKey,
                    "EmployeeName": EmployeeName,
                    "CloseYear": CloseYear,
                    "StandardBegin": StandardBegin,
                    "StandardPlus": StandardPlus,
                    "StandardEnd": StandardEnd,
                    "Description": Description
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(AutoKey) {
            Utils.OpenMagnific('#modalEdit');
            if (AutoKey != 0) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "AutoKey": AutoKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);

                            $('#cbo_Employee').val(obj.EmployeeKey).trigger('change');
                            $('#txt_CloseYear').val(obj.CloseYear);
                            $('#txt_StandardBegin').val(obj.StandardBegin);
                            $('#txt_StandardPlus').val(obj.StandardPlus);
                            $('#txt_StandardEnd').val(obj.StandardEnd);
                            $('#txt_Description').val(obj.Description);
                            $('#txt_AutoKey').val(obj.AutoKey);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $('#txt_AutoKey').val(0);
            }
        }
        function Delete(AutoKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "AutoKey": AutoKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
    </script>
}