﻿
@{
    ViewBag.Title = "Payroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Payroll_Sample_Model> _ListPayroll = new List<Payroll_Sample_Model>();
    if (ViewBag.ListPayroll != null)
    {
        _ListPayroll = ViewBag.ListPayroll as List<Payroll_Sample_Model>;
    }
    List<Payroll_Category_Model> _ListCategory = new List<Payroll_Category_Model>();
    if (ViewBag.ListCategory != null)
    {
        _ListCategory = ViewBag.ListCategory as List<Payroll_Category_Model>;
    }
}
@section Styles{

}
<header class="page-header">
    <h2>Công thức tiêu chuẩn</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">

            </div>
            <div class="card-body border-primary">
                <table class="table table-sm Custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã số</th>
                            <th>Khoản</th>
                            <th>Nội dung</th>
                            <th>Đơn vị tính</th>
                            <th>Tham số</th>
                            <th>Công thức</th>
                            <th>Ghi chú</th>
                            <th>Sắp xếp</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail(0)">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (_ListPayroll.Count > 0)
                        {
                            for (int i = 0; i < _ListPayroll.Count; i++)
                            {
                                Payroll_Sample_Model Model = _ListPayroll[i];

                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.ItemID</td>
                                    <td style="width:200px">@Model.CategoryName</td>
                                    <td style="width:200px">@Model.ItemName</td>
                                    <td>@Model.UnitName</td>
                                    <td>@Model.Parameter.ToString()</td>
                                    <td style="width:150px">@Model.Formula</td>
                                    <td>@Model.Description</td>
                                    <td>@Model.Rank</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail(@Model.ItemKey)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Model.ItemKey)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin thuộc tính</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Mã lương</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ItemID" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên lương</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_ItemName" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Tham số</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control number" id="txt_Parameter" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Đơn vị tính</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_UnitName" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Công thức</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Formula" value="" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Danh mục</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Category" class="form-control select2" name="Branch">
                        @foreach (Payroll_Category_Model zItem in _ListCategory)
                        {
                            <option value="@zItem.CategoryKey">@zItem.CategoryName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Rank" value="0" placeholder="">
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_ItemKey" type="hidden" name="FeaKey" value="0" />
</div>

@section scripts {

    <script>
        var URL_Detail = '@Url.Action("DetailPayroll", "Config")';
        var URL_Delete = '@Url.Action("DeletePayroll", "Config")';
        var URL_Save = '@Url.Action("SavePayroll", "Config")';

        $(document).ready(function () {

        });

        function Save() {
            var ItemKey = $('#txt_ItemKey').val();
            var ItemID = $('#txt_ItemID').val();
            var ItemName = $('#txt_ItemName').val();
            var Description = $('#txt_Description').val();
            var Rank = $("#txt_Rank").val();
            var UnitName = $("#txt_UnitName").val();
            var Parameter = $("#txt_Parameter").val();
            var Formula = $("#txt_Formula").val();
            var CategoryKey = $('#cbo_Category').val();
            var CategoryName = $("#cbo_Category option:selected").text();
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "ItemKey": ItemKey,
                    "ItemID": ItemID,
                    "ItemName": ItemName,
                    "Description": Description,
                    "Rank": Rank,
                    "UnitName": UnitName,
                    "Parameter": Parameter,
                    "Formula": Formula,
                    "CategoryKey": CategoryKey,
                    "CategoryName": CategoryName
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(ItemKey) {
            Utils.OpenMagnific('#modalEdit');
            if (ItemKey > 0) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "ItemKey": ItemKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            $('#txt_ItemKey').val(obj.ItemKey);
                            $('#txt_ItemID').val(obj.ItemID);
                            $('#txt_ItemName').val(obj.ItemName);
                            $('#txt_Description').val(obj.Description);
                            $('#txt_Rank').val(obj.Rank);
                            $('#txt_Parameter').val(obj.Parameter);
                            $('#txt_UnitName').val(obj.UnitName);
                            $('#txt_Formula').val(obj.Formula);
                            $('#cbo_Category').val(obj.CategoryKey).trigger('change');
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $('#txt_ItemKey').val(0);
                $('#txt_Rank').val(0);
                $('#txt_Total').val(0);
                $('#txt_Parameter').val(0);
            }
        }
        function Delete(ItemKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "ItemKey": ItemKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

    </script>
}



