﻿@model Product_Land_Model
@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product_Land_Model> _ListSelectArea = new List<Product_Land_Model>();
    if (ViewBag.ListSelectArea != null)
    {
        _ListSelectArea = ViewBag.ListSelectArea as List<Product_Land_Model>;
    }
    List<Product_Land_Class_Model> _ListSelectClass = new List<Product_Land_Class_Model>();
    if (ViewBag.ListSelectClass != null)
    {
        _ListSelectClass = ViewBag.ListSelectClass as List<Product_Land_Class_Model>;
    }
    List<Product_Feature_Model> _ListFeature = new List<Product_Feature_Model>();
    if (ViewBag.ListFeature != null)
    {
        _ListFeature = ViewBag.ListFeature as List<Product_Feature_Model>;
    }
    List<Product_Equipment_Model> _ListEqu = new List<Product_Equipment_Model>();
    if (ViewBag.ListEqu != null)
    {
        _ListEqu = ViewBag.ListEqu as List<Product_Equipment_Model>;
    }
    List<Document_Model> _ListFeaXN = new List<Document_Model>();
    if (ViewBag.ListXN != null)
    {
        _ListFeaXN = ViewBag.ListXN as List<Document_Model>;
    }
}

@section Styles{

}

<header class="page-header">
    <h2>Chi tiết @Model.ProductName</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("Assets","Config")">
                    Các sản phẩm, dịch vụ
                </a>
            </li>
            <li><a href="#">Chi tiết @Model.ProductName</a></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="toggle toggle-tertiary" data-plugin-toggle="" data-plugin-options="{ 'isAccordion': true }">
            <section class="toggle active">
                <label>1. Thông tin kho tài sản</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="fathername" class="col-md-2 control-label text-right">Mã tài sản</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_ProductID" placeholder="Mã tài sản" required="" value="@Model.ProductID">
                            </div>
                            <label for="fatherbirthday" class="col-md-2 control-label text-right">Tổng kho</label>
                            <div class="col-md-4">
                                <select id="cbo_Area" class="form-control select2" name="Area">
                                    @foreach (Product_Land_Model zItem in _ListSelectArea)
                                    {
                                        if (Model.ParentKey == zItem.ProductKey)
                                        {
                                            <option value="@zItem.ProductKey" selected>@zItem.ProductName</option>
                                        }
                                        else
                                        {
                                            < option value = "@zItem.ProductKey" > @zItem.ProductName </ option >
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fathername" class="col-md-2 control-label text-right">Tên tài sản</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_ProductName" placeholder="Tên tài sản" required="" value="@Model.ProductName">
                            </div>
                            <label for="fatherbirthday" class="col-md-2 control-label text-right">Loại</label>
                            <div class="col-md-4">
                                <select id="cbo_Class" class="form-control select2" name="Class">
                                    @foreach (Product_Land_Class_Model zItem in _ListSelectClass)
                                    {
                                        if (Model.Class == zItem.ClassID)
                                        {
                                            <option value="@zItem.ClassID" selected>@zItem.ClassName</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.ClassID">@zItem.ClassName</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-lg-right">Địa chỉ</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txt_Address" placeholder="Địa chỉ " required="" value="@Model.Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Latlong</label>
                            <div class="col-md-4">
                                <textarea type="text" class="form-control" id="txt_LngLat" placeholder="" data-plugin-textarea-autosize rows="2">@Model.LngLat</textarea>
                            </div>
                            <label for="username" class="col-md-2 control-label text-right">Sắp xếp</label>
                            <div class="col-md-4">
                                <input type="number" class="form-control" id="txt_Rank" value="@Model.Rank" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Ghi chú</label>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" id="txt_Description" placeholder="" data-plugin-textarea-autosize rows="3">@Model.Description</textarea>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-right">
                        <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveProduct()">
                            <i class="far fa-save"></i>
                            Cập nhật
                        </button>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>2.Thông số kỹ thuật</label>
                <div class="toggle-content">
                    <!------------------------------------------------------------------------------------------------------------------------------------------>
                    <div class="card-body" id="divFea">
                        <table class="table Custom table-borderd">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nội dung</th>
                                    <th>Ghi chú</th>
                                    <th>Sắp xếp</th>
                                    <th class="text-right">
                                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="DetailFea(0)">
                                            <i class="fa fa-plus"></i>
                                            Thêm mới
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @if (_ListFeature.Count > 0)
                                {
                                    for (int i = 0; i < _ListFeature.Count; i++)
                                    {
                                        Product_Feature_Model Model = _ListFeature[i];

                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@Model.Name</td>
                                            <td>@Model.Description</td>
                                            <td>@Model.Rank</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="DetailFea(@Model.FeatureKey)"><i class="far fa-edit"></i></button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteFea(@Model.FeatureKey)"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">
                                            <div class="alert alert-primary">
                                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!------------------------------------------------------------------------------------------------------------------------------------------>
                    <div class="card-body" id="divFeaXN">
                        <table class="table Custom table-borderd">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nội dung</th>
                                    <th>Ghi chú</th>
                                    <th>Tập tin</th>
                                    <th class="text-right">
                                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="DetailFeaXN(0)">
                                            <i class="fa fa-plus"></i>
                                            Thêm mới
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @if (_ListFeaXN.Count > 0)
                                {
                                    for (int i = 0; i < _ListFeaXN.Count; i++)
                                    {
                                        Document_Model Model = _ListFeaXN[i];

                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@Model.Title</td>
                                            <td>@Model.Description</td>
                                            <td><a href="@Model.FilePath">Tập tin</a></td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="DetailFeaXN(@Model.AutoKey)"><i class="far fa-edit"></i></button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteFeaXN(@Model.AutoKey)"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">
                                            <div class="alert alert-primary">
                                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!------------------------------------------------------------------------------------------------------------------------------------------>
                </div>
            </section>
            <section class="toggle active">
                <label>3.Trang bị</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <table class="table Custom table-borderd">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Thiết bị</th>
                                    <th>Số lượng</th>
                                    <th>Ghi chú</th>
                                    <th class="text-right">
                                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="DetailEqu(0)">
                                            <i class="fa fa-plus"></i>
                                            Thêm mới
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @if (_ListEqu.Count > 0)
                                {
                                    for (int i = 0; i < _ListEqu.Count; i++)
                                    {
                                        Product_Equipment_Model Model = _ListEqu[i];

                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@Model.ItemName</td>
                                            <td>@Model.Value</td>
                                            <td>@Model.Description</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="DetailEqu(@Model.AutoKey)"><i class="far fa-edit"></i></button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteEqu(@Model.AutoKey)"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">
                                            <div class="alert alert-primary">
                                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div id="modalEditFea" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin kỹ thuật</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Nội dung</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_NameFea" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_DescriptionFea" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_RankFea" value="0" placeholder="">
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveFea()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
<div id="modalEditEqu" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin trang bị</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Thiết bị</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_ItemNameEqu" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Số lượng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_ValueEqu" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_DescriptionEqu" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveEqu()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
<div id="modalEditFeaXN" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin kỹ thuật nhà xe nâng</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="txt_NameFeaXN" class="col-lg-5 col-xl-3 control-label text-lg-right">Nội dung</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_NameFeaXN" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_DescriptionFeaXN" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_DescriptionFeaXN" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_UrlXN" class="col-lg-5 col-xl-3 control-label text-lg-right">Tập tin</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="file" id="txt_UrlXN" class="form-control" accept="image/*;capture=camera" />
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_CancelXN" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_SaveXN" type="button" class="btn btn-outline-primary" onclick="SaveFeaXN()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
<input id="txt_ProductKey" type="hidden" name="ProductKey" value="@Model.ProductKey" />
<input id="txt_FeaKey" type="hidden" name="FeaKey" value="0" />
<input id="txt_FeaKeyXN" type="hidden" name="FeaKey" value="0" />
<input id="txt_EquKey" type="hidden" name="EquKey" value="0" />

@section scripts {
    <script src="@Url.Content("~/assets/Appjs/Config/ProductEdit.js")"></script>
    <script>
        var URL_Delete = '@Url.Action("DeleteProduct", "Config")';
        var URL_Save = '@Url.Action("SaveProduct", "Config")';

        var URL_DetailFea = '@Url.Action("DetailFea", "Config")';
        var URL_DeleteFea = '@Url.Action("DeleteFea", "Config")';
        var URL_SaveFea = '@Url.Action("SaveFea", "Config")';

        var URL_DetailEqu = '@Url.Action("DetailEqu", "Config")';
        var URL_DeleteEqu = '@Url.Action("DeleteEqu", "Config")';
        var URL_SaveEqu = '@Url.Action("SaveEqu", "Config")';

        var URL_DetailFeaXN = '@Url.Action("DetailFeaXN", "Config")';
        var URL_DeleteFeaXN = '@Url.Action("DeleteFeaXN", "Config")';
        var URL_SaveFeaXN = '@Url.Action("SaveFeaXN", "Config")';
    </script>
}


