﻿@{ 
    Layout = null;
    var _ListCat = new List<Article_Category_Model>();
    if (ViewBag.CateChild != null)
    {
        _ListCat = ViewBag.CateChild as List<Article_Category_Model>;
    }
}
<ul class="sidebar-link">
    @if (_ListCat.Count > 0)
    {
        foreach (var item in _ListCat)
        {
            <li><a href="@Url.Action("danhsachTin", new { Category = item.CategoryKey })">@item.CategoryName</a></li>
        }
    }
</ul>
