﻿
@{
    Layout = null;

    var GioiThieuCty = new Article_Model();
    var GioiThieuKho = new Article_Model();
    var GioiThieuXeNang = new Article_Model();
    var GioiThieuXangDau = new Article_Model();
    var ThongtinCty = "";

    if (ViewBag.GioiThieuXeNang != null)
    {
        GioiThieuXeNang = ViewBag.GioiThieuXeNang as Article_Model;
    }
    if (ViewBag.GioiThieuKho != null)
    {
        GioiThieuKho = ViewBag.GioiThieuKho as Article_Model;
    }
    if (ViewBag.GioiThieuXangDau != null)
    {
        GioiThieuXangDau = ViewBag.GioiThieuXangDau as Article_Model;
    }
    if (ViewBag.GioiThieuCty != null)
    {
        GioiThieuCty = ViewBag.GioiThieuCty as Article_Model;
    }
    if (ViewBag.ThongtinCty != null)
    {
        ThongtinCty = ViewBag.ThongtinCty;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AN BINH GROUP</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/Web/css/vendor/vendor.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/Web/css/plugins/plugins.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/Web/css/style.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/web/css/custom.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css" integrity="sha512-D0B6cFS+efdzUE/4wh5XF5599DtW7Q1bZOjAYGBfC0Lg9WjcrqPXZto020btDyrlDUrfYKsmzFvgf/9AB8J0Jw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" integrity="sha512-kJ30H6g4NGhWopgdseRb8wTsyllFUYIx3hiUwmGAkgA9B/JbzUBDQVr2VVlWGde6sdBVOG7oU8AL35ORDuMm8g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/regular.min.css" integrity="sha512-rVrbAp27ffQyFnzJ/aC5fZv9JgvL6cdB4zsL5HmM+DhJdzThc/F//62SJF+CaGiOZTP35e1p8JGcc+zRRVuhRw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css" integrity="sha512-SazV6tF6Ko4GxhyIZpKoXiKYndqzh7+cqxl9HDH7DGSpjkCN3QLqTAlhJHJnKxu3/2rfCsltzwFC4CmxZE1hPg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/svg-with-js.min.css" integrity="sha512-CfIjRw0J4f63YNZarIPUt9psHYYSppYFt3Ru9f0xKvhqf4piVbE8YjrM14c2uL+K2e+RAinJM6dNtLa5CnuAng==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/v4-shims.min.css" integrity="sha512-KNosrY5jkv7dI1q54vqk0N3x1xEmEn4sjzpU1lWL6bv5VVddcYKQVhHV08468FK6eBBSXTwGlMMZLPTXSpHYHA==" crossorigin="anonymous" />
</head>
<body>
    <header class="main-header-area header-transparent header-sticky">
        <!-- Main Header Area Start -->
        <div class="main-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-xl-2 col-md-6 col-6">
                        <div class="header-logo d-flex align-items-center">
                            <a href="@Url.Action("trangchu","WebSite")">
                                <img class="nonsticky-logo img-full" src="@Url.Content("~/assets/Web/images/logo/white-logo.png")" alt="Header Logo" style="height:45px; width:55px;">
                                <img class="sticky-logo img-full" src="@Url.Content("~/assets/Web/images/logo/white-logo.png")" alt="Header Logo" style="height:55px; width:65px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-6 col-6 d-flex justify-content-end">
                        <nav class="main-nav d-none d-lg-flex">
                            <ul class="nav">
                                <li>
                                    <a href="@Url.Action("trangchu","WebSite")">
                                        <span class="menu-text"> Trang chủ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuCty.ArticleKey })">
                                        <span class="menu-text">Giới thiệu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="menu-text">Dịch vụ & lĩnh vực</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-submenu dropdown-hover">
                                        <li><a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuKho.ArticleKey })">Thuê kho bãi, nhà kiot</a></li>
                                        <li><a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuXeNang.ArticleKey })">Thuê xe nâng</a></li>
                                        <li><a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuXangDau.ArticleKey })">Kinh xoanh xăng dầu</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("coDong", "WebSite")">
                                        <span class="menu-text">Cổ đông</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="menu-text">Thông báo</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-submenu dropdown-hover">
                                        <li>
                                            <a href="@Url.Action("danhsachtin", new {Category = "69"})">
                                                <!--vào thằng danh sách tin của công ty-->
                                                Hành chính & nhân sự
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("danhsachtin", new {Category = "43"})">
                                                <!--vào thằng danh sách tin của sóng thần bỏ qua cấp cate cha-->
                                                Cho thuê kho, nhà kiot
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("danhsachtin", new {Category = "44"})">
                                                <!--vào thằng danh sách tin của xe nâng bỏ qua cấp cate cha-->
                                                Cho thuê xe nâng
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("lienhe")">
                                        <span class="menu-text">Liên hệ</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="header-right-area main-nav">
                            <ul class="nav">
                                <li class="account-menu-wrap d-none">
                                    <a href="#" class="off-canvas-menu-btn">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                                <li class="search-box-menu d-none">
                                    <a href="#" class="off-canvas-search-btn">
                                        <span class="btn-search"><i class="fa fa-search"></i></span>
                                    </a>
                                </li>
                                <li class="mobile-menu-btn d-block d-lg-none">
                                    <a class="off-canvas-btn" href="#">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Header Area End -->
        <!-- off-canvas mobile menu start -->
        <aside class="off-canvas-wrapper" id="mobileMenu">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <div class="btn-close-off-canvas">
                    <i class="fa fa-times"></i>
                </div>
                <div class="off-canvas-inner">
                    <div class="offcanvas-widget-area">
                        <!-- Start Serach Box -->
                        <!-- End Search Box -->
                        <!-- mobile menu start -->
                        <div class="mobile-navigation">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children">
                                        <a href="@Url.Action("trangchu","WebSite")">Trang chủ</a>
                                    </li>
                                    <li><a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuCty.ArticleKey })">Giới thiệu</a></li>
                                    <li><a href="@Url.Action("coDong", "WebSite")">Cổ đông</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Dịch vụ và lĩnh vực</a>
                                        <ul class="dropdown">
                                            <li><a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuKho.ArticleKey })">Thuê kho bãi, nhà kiot</a></li>
                                            <li><a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuXeNang.ArticleKey })">Thuê xe nâng</a></li>
                                            <li><a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuXangDau.ArticleKey })">Kinh xoanh xăng dầu</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Thông báo</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="@Url.Action("danhsachtin", new {Category = "43"})">
                                                    <!--vào thằng danh sách tin của sóng thần bỏ qua cấp cate cha-->
                                                    Cho thuê kho, nhà kiot
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("danhsachtin", new {Category = "44"})">
                                                    <!--vào thằng danh sách tin của sóng thần bỏ qua cấp cate cha-->
                                                    Cho thuê xe nâng
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("lienhe")">Liên hệ</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->
                        <!-- Soclial Link Start -->
                        <div class="widget-social">
                            <a title="Facebook" href="https://www.facebook.com/C%C3%B4ng-ty-C%E1%BB%95-ph%E1%BA%A7n-An-B%C3%ACnh-1728036513942445/"><i class="fa fa-facebook-f"></i></a>
                            <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                            <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                        <!-- Social Link End -->
                    </div>
                </div>
            </div>
        </aside>
        <!-- off-canvas menu end -->
        <!-- Offcanvas Serach Start -->
        <aside class="off-canvas-search-wrapper">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <div class="off-canvas-inner">
                    <form action="#" method="post">
                        <input type="search" placeholder="Search..">
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </aside>
        <!-- Offcanvas Search End -->
        <!-- off-canvas menu start -->
        <aside class="off-canvas-menu-wrapper" id="sideMenu">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <div class="off-canvas-inner">
                    <!-- offcanvas widget area start -->
                    <div class="offcanvas-widget-area">
                        <!-- Start Serach Box -->
                        <div class="search-box-wrap off-canvas-item">
                            <form action="#" method="post">
                                <input placeholder="Search..">
                                <button class="btn-search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- End Search Box -->
                        <ul class="menu-top-menu">
                            <li><span>Về An Bình</span></li>
                        </ul>
                        <p class="desc-content">Công ty Cổ Phần An Bình đang sở hữu hệ thống kho bãi chất lượng cao với tổng diện tích kho gần 200.000m2 ở các vị trí vô cùng thuận lợi..</p>
                        <ul class="useful-link">
                            <li><a href="@Url.Action("trangchu","WebSite")">Trang chủ</a></li>
                            <li><a href="#">Dịch vụ</a></li>
                            <li><a href="#">Cổ đông</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                        <div class="widget-social">
                            <ul class="menu-top-menu">
                                <li><span>Tìm chúng tôi</span></li>
                            </ul>
                            <a title="Facebook" href="https://www.facebook.com/C%C3%B4ng-ty-C%E1%BB%95-ph%E1%BA%A7n-An-B%C3%ACnh-1728036513942445/"><i class="fa fa-facebook-f"></i></a>
                            <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                            <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                    </div>
                    <!-- offcanvas widget area end -->
                </div>
                <div class="btn-close-off-canvas">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </aside>
        <!-- off-canvas menu end -->
    </header>
    <!-- Slider/Intro Section Start -->
    <!-- Slider/Intro Section End -->
    @RenderBody()

    <footer class="footer-section pt-90">
        <div class="footer-widget-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-custom">
                        <div class="single-footer-widget m-0" data-aos="fade-up" data-aos-delay="300" data-aos-anchor-placement="bottom bottom">
                            <div class="footer-logo pb-3">
                                <a href="@Url.Action("trangchu","WebSite")">
                                    <img src="@Url.Content("~/assets/Web/images/logo/white-logo.png")" alt="Logo Image">
                                </a>
                            </div>
                            <p class="desc-content pt-3 pb-3" style="white-space: pre-line;">
                                @ThongtinCty
                            </p>
                            <!-- Soclial Link Start -->
                            <div class="widget-social pt-4">
                                <a title="Facebook" href="https://www.facebook.com/C%C3%B4ng-ty-C%E1%BB%95-ph%E1%BA%A7n-An-B%C3%ACnh-1728036513942445/"><i class="fa fa-facebook-f"></i></a>
                                <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                                <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                            </div>
                            <!-- Social Link End -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-custom">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="400" data-aos-anchor-placement="bottom bottom">
                            <h2 class="widget-title">Dịch vụ của chúng tôi</h2>
                            <ul class="widget-list pt-3">
                                <li><a href="@Url.Action("chitietTin", "WebSite", new { ArticleKey = GioiThieuKho.ArticleKey })">Thuê kho bãi, nhà kiot</a></li>
                                <li><a href="@Url.Action("chitietTin", "WebSite", new { ArticleKey = GioiThieuXeNang.ArticleKey })">Thuê xe nâng</a></li>
                                <li><a href="@Url.Action("chitietTin", "WebSite", new { ArticleKey = GioiThieuXangDau.ArticleKey })">Kinh xoanh xăng dầu</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2 col-custom">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="500" data-aos-anchor-placement="bottom bottom">
                            <h2 class="widget-title">Liên kết nhanh</h2>
                            <ul class="widget-list pt-3">
                                <li><a href="@Url.Action("trangchu", "WebSite")">Trang chủ</a></li>
                                <li><a href="@Url.Action("chitietTin", "WebSite", new { ArticleKey = GioiThieuCty.ArticleKey })">Giới thiệu</a></li>
                                <li><a href="@Url.Action("danhsachtin", "WebSite", new {Category = "43"})">Thông báo</a></li>
                                <li><a href="@Url.Action("coDong", "WebSite")">Cổ đông</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-custom">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="600" data-aos-anchor-placement="bottom bottom">
                            <h2 class="widget-title">Nhận thông tin</h2>
                            <div class="widget-body pt-3">
                                <p class="desc-content pb-3">Hãy điền email của bạn để được nhận thông tin về kho bãi của chúng tôi.</p>
                                <div class="newsletter-form-wrap pt-4">
                                    <form id="mc-form" class="mc-form d-flex position-relative">
                                        <input type="email" id="txt_email" class="form-control email-box rounded-0" placeholder="email@example.com" name="EMAIL">
                                        <button class="btn newsletter-btn position-absolute bounce3 animated3 " type="button" id="btnEmail">
                                            <i class="fa fa-envelope"></i>
                                        </button>
                                    </form>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts text-centre">
                                        <div class="mailchimp-submitting text-empty"></div><!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
                                        <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area pt-5 border-top mt-90 mb-5">
            <div class="container custom-area">
                <div class="row">
                    <div class="col-12 text-center col-custom">
                        <div class="copyright-content">
                            <p class="mb-0">Copyright © 2021 <a href="#">An Bình</a> | Dev by&nbsp;<a href="https://tnsolution.vn">TNS</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fa fa-angle-double-up"></i>
        <i class="arrow-bottom fa fa-angle-double-up"></i>
    </a>

    <script src="@Url.Content("~/assets/Web/js/vendor/vendor.min.js")"></script>
    <script src="@Url.Content("~/assets/Web/js/plugins/plugins.min.js")"></script>

    <!--Main JS-->
    <script src="@Url.Content("~/assets/Web/js/main.js")"></script>
    @RenderSection("Scripts", false)
    <script>
        $(".menu-text").css("text-shadow", "2px 2px #000000");
        $("#txt_email").change(function () {
            var inputvalues = $(this).val();
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (!regex.test(inputvalues))
            {
                $(".text-danger").empty().append("Email không đúng !.");
                return regex.test(inputvalues);
            }
        });
        $("#btnEmail").click(function () {
            var url = "@Url.Action("guilienhe", "WebSite")";

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    "name": 'Chưa xác định',
                    "email": $("#txt_email").val(),
                    "subject": 'Chưa xác định',
                    "message": 'Chưa xác định',
                },
                beforeSend: function () {
                    $(".text-empty").empty().append("Đang gửi !.");
                    $(".text-success").empty();
                    $(".text-danger").empty();
                },
                success: function (r) {
                    $(".text-empty").empty();
                    $(".text-success").append(r.Message);
                },
                error: function (err) {
                    $(".text-danger").append(err.responseText);
                },
                complete: function () {

                }
            });
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() <= 0) {
                $(".menu-text").css("text-shadow", "2px 2px #000000");
            }
            else {
                $(".menu-text").css("text-shadow", "none");
            }
        });
    </script>
</body>
</html>