﻿@model Article_Model
@{
    ViewBag.Title = "chitietTin";
    Layout = "~/Views/WebSite/_Layout.cshtml";
    int Parent = 38;
    if (ViewBag.Category != null)
    {
        Parent = ViewBag.Category;
    }
    //string Css = "background: url('/FileUpload/184FDCA5-CCB4-41EC-BE98-85CD3537989B/ArticlePicture/bab23698-d1af-42b8-b36e-4b6a590040ff_z2385232356077_afd8b414faab356c2b5b5876d7b94f30.jpg');background-size: cover;background-repeat: no-repeat;";
    //if (Model.CategoryKey == 48)
    //{
    //    Css = "background: url('/FileUpload/184FDCA5-CCB4-41EC-BE98-85CD3537989B/ArticlePicture/bab23698-d1af-42b8-b36e-4b6a590040ff_z2385232356077_afd8b414faab356c2b5b5876d7b94f30.jpg');background-size: cover;background-repeat: no-repeat;";
    //}
    //else
    //{
    //    if (Model.CategoryKey == 60 ||
    //        Model.CategoryKey == 61 ||
    //        Model.CategoryKey == 62)
    //    {
    //        Css = "background: url('/assets/web/images/dichvu.jpg');background-size: cover;background-repeat: no-repeat; background-position:center;";
    //    }
    //}
}
<div class="breadcrumbs-area position-relative mb-text-p" style="@Helper.ArticleHeaderWebSite">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title" style="color:white; text-shadow: rgb(0 0 0) 2px 2px">
                        @ViewBag.Cate2
                    </h3>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-section pt-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 order-lg-2 mt-6 mt-md-0">
               @if (ViewBag.Message != null)
               {
                   <h2 class="text-center">@ViewBag.Message</h2>
               }
                <!-- Portfolio Details Content Start -->
                <div class="portfolio-details-content" data-aos="fade-up" data-aos-delay="300">
                    <div class="portfolio-details-desc mb-8">
                        <h2 class="title text-center">@Model.ArticleName</h2>
                    </div>
                    <div class="mb-3">
                        @Model.Summarize
                    </div>
                    @if (Model.ImageLarge.Length > 0)
                    {
                        <div class="text-center mb-3">
                            <img src="@Url.Content(Model.ImageLarge)" class="fit-image" />
                        </div>
                    }
                    <div class="portfolio-details-info">
                        <ul>
                            <li>
                                @(new HtmlString(Model.ArticleContent))
                            </li>

                            <li class="">
                                <div class="meta-list mb-3">
                                    <a href="#" class="meta-item author">@Model.CreatedName</a>

                                    @if (Model.FileAttack.Length > 0)
                                    {
                                        <a href="@Model.FileAttack" download="" class="float-right" style="font-style: oblique;">
                                            Tập tin đính kèm
                                            <i class="fas fa-paperclip bounce3 animated3 "></i>
                                        </a>
                                    }

                                    <span class="meta-item date">@Model.ModifiedOn.ToString("dd/MM/yyyy")</span>
                                </div>
                                @*
                                    <span>Share</span>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                    *@
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Portfolio Details Content End -->
            </div>
            <div class="col-lg-4 col-12 order-lg-1" id="sticky-sidebar">
                <div class="sidebar-wrap">
                    <!--Sidebar Category Start-->
                    <div class="sidebar" data-aos="fade-up" data-aos-delay="300">
                        <h4 class="sidebar-title">Thông báo</h4>
                        <ul class="sidebar-link">
                            @Html.Action("dichvu", "WebSite", new { Parent })
                        </ul>
                    </div>
                    <!--Sidebar Category End-->
                    <!--Sidebar Post Start-->
                    <div class="sidebar" data-aos="fade-up" data-aos-delay="400">
                        <h4 class="sidebar-title">Thông báo mới</h4>
                        @Html.Action("thongbaoMoi", "WebSite")
                    </div>
                    <!--Sidebar Post End-->
                    <!--Sidebar Tags Start-->
                    <div class="sidebar" data-aos="fade-up" data-aos-delay="500">
                        <h4 class="sidebar-title">Từ khóa xem nhanh</h4>
                        @Html.Action("allTag", "WebSite")
                    </div>
                    <!--Sidebar Tags End-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- nếu là các tin dịch vụ và giới thiệu -->
@if (Model.CategoryKey == 40 ||
       Model.CategoryKey == 41 ||
       Model.CategoryKey == 42 ||
       Model.CategoryKey == 48)
{
    <div class="support-area bg-light pt-90 pb-90 mt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="support-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <div class="section-title text-center">
                            <h1 class="title">Hãy liên hệ với chúng tôi</h1>
                            <div class="mt-5 mb-5 pb-3">
                                <div class="mt-5 mb-5 pb-3">
                                    <p class="text-center">CÔNG TY CỔ PHẦN AN BÌNH</p>
                                    <p class="text-center">Địa chỉ: số 10 Đại lộ Độc Lập, P. An Bình, Tp. Dĩ An, tỉnh Bình Dương</p>
                                    <p class="text-center">Phòng: Kinh doanh</p>
                                    <p class="text-center">Điện thoại: 0937 631384 (Ms. Sương)</p>
                                </div>
                            </div>
                        </div>
                        <div class="support-button">
                            <a class="btn btn-green btn-hover-primary" href="@Url.Action("lienhe","Website")">Liên hệ ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}