﻿@{
    ViewBag.Title = "lienhe";
    Layout = "~/Views/WebSite/_Layout.cshtml";
}

<div class="breadcrumbs-area position-relative mb-text-p" style="@Helper.ArticleHeaderWebSite">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title" style="color:white; text-shadow: rgb(0 0 0) 2px 2px">Liên hệ</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Contact Information And Title Area Start -->
<div class="contact-info mt-5 pt-90 pb-90">
    <div class="container">
        <div class="row mb-n10">
            <div class="col-md-4 mb-10" data-aos="fade-up" data-aos-delay="100">
                <div class="info">
                    <div class="info-icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="info-content">
                        <h4 class="title">Địa chỉ</h4>
                        <span class="info-text"> Số 10 Đại lộ Độc Lập, KP. Bình Đường 1,<br> P. An Bình, TP. Dĩ An, tỉnh Bình Dương</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-10" data-aos="fade-up" data-aos-delay="300">
                <div class="info">
                    <div class="info-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="info-content">
                        <h4 class="title">Điện thoại</h4>
                        <span class="info-text"> 0283 8960964 <br> (Fax) 0283 8960961</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-10" data-aos="fade-up" data-aos-delay="600">
                <div class="info">
                    <div class="info-icon">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="info-content">
                        <h4 class="title">Email</h4>
                        <span class="info-text">
                            <a href="#">absc@anbinhgroup.vn</a>
                            <br>
                            <a href="#">sales@anbinhgroup.vn</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Information End -->
<!-- Contact Map Start -->
<div class="contac-map pb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Google Map Area Start-->
                <div class="google-map-area">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18772.76300544059!2d106.74794823065164!3d10.88036553990921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d87461d72c97%3A0x2f851c58dc9d7f10!2zQ8OUTkcgVFkgQ-G7lCBQSOG6pk4gQU4gQsOMTkg!5e0!3m2!1sen!2sus!4v1615947094148!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
                <!--Google Map Area Start-->
            </div>
        </div>
    </div>
</div>
<!-- Contact Map End -->
<!-- Contact Form Start -->
<div class="contact-form-area bg-light pt-90 pb-90" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1 class="title">LIÊN HỆ VỚI CHÚNG TÔI</h1>
                <p class="mt-5 mb-5 pb-3">Để biết thêm thông tin chi tiết, vui lòng điền thông tin liên lạc bên dưới và chúng tôi sẽ liên lạc với quí khách sớm nhất</p>
            </div>
            <div class="offset-lg-2 col-lg-8">
                <div class="contact-form">
                    <div>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-6">
                                <input class="input-item" type="text" placeholder="Họ tên *" name="name" id="txt_name">
                            </div>
                            <div class="col-md-6 col-12 mb-6">
                                <input class="input-item" type="email" placeholder="Email *" name="email" id="txt_email">
                            </div>
                            <div class="col-12 mb-6">
                                <input class="input-item" type="text" placeholder="Tiêu đề *" name="subject" id="txt_subject">
                            </div>
                            <div class="col-12 mb-6">
                                <textarea class="textarea-item" name="message" placeholder="Nội dung" id="txt_message"></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary btn-hover-dark" type="button" id="btnSend">Gửi</button>
                            </div>
                        </div>
                    </div>
                    <p class="form-messege">

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var url = "@Url.Action("guilienhe", "WebSite")";
        $("#btnSend").click(function () {
            $.ajax({
            url: url,
            type: 'POST',
            data: {
                "name": $("#txt_name").val(),
                "email": $("#txt_email").val(),
                "subject": $("#txt_subject").val(),
                "message": $("#txt_message").val(),
            },
            beforeSend: function () {
                $(".form-messege").empty();
            },
            success: function (r) {
                $(".form-messege").append(r.Message);
            },
            error: function (err) {
                $(".form-messege").append(err.responseText);
            },
            complete: function () {

            }
        });
        });
    </script>
}