﻿
@{
    ViewBag.Title = "trangchu";
    Layout = "~/Views/WebSite/_Layout.cshtml";

    var GioiThieuCty = new Article_Model();
    var GioiThieuKho = new Article_Model();
    var GioiThieuXeNang = new Article_Model();
    var GioiThieuXangDau = new Article_Model();
    var CacDiaDiem = new List<Article_Model>();
    var TinChoThueMoiNhat = new List<Article_Model>();
    var LinkYoutube = "";
    var LienHe = "";

    if (ViewBag.GioiThieuXeNang != null)
    {
        GioiThieuXeNang = ViewBag.GioiThieuXeNang as Article_Model;
    }
    if (ViewBag.GioiThieuKho != null)
    {
        GioiThieuKho = ViewBag.GioiThieuKho as Article_Model;
    }
    if (ViewBag.GioiThieuXangDau != null)
    {
        GioiThieuXangDau = ViewBag.GioiThieuXangDau as Article_Model;
    }
    if (ViewBag.GioiThieuCty != null)
    {
        GioiThieuCty = ViewBag.GioiThieuCty as Article_Model;
    }
    if (ViewBag.CacDiaDiem != null)
    {
        CacDiaDiem = ViewBag.CacDiaDiem as List<Article_Model>;
    }
    if (ViewBag.TinChoThueMoiNhat != null)
    {
        TinChoThueMoiNhat = ViewBag.TinChoThueMoiNhat as List<Article_Model>;
    }
    if (ViewBag.LinkYoutube != null)
    {
        LinkYoutube = ViewBag.LinkYoutube;
    }
    if (ViewBag.LienHe != null)
    {
        LienHe = ViewBag.LienHe;
    }
}

@Html.Action("slideHinhAnh")

<!-- GIỚI THIỆU -->
<div class="about-section pt-90 pb-90">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-5 order-1" data-aos="fade-up" data-aos-delay="100">
                <div class="restaurant-about-content section-title">
                    <h2 class="title mb-5">GIỚI THIỆU</h2>
                    <p class="desc-content mb-7">@GioiThieuCty.Summarize</p>
                    <a href="@Url.Action("chitietTin", new { ArticleKey = GioiThieuCty.ArticleKey })" class="btn btn-hover-primary">Xem thêm</a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 order-0 order-lg-1 mb-5" data-aos="fade-up" data-aos-delay="300">
                <iframe width="100%" height="315" src="@LinkYoutube"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- DỊCH VỤ TỔNG HỢP -->
<div class="service-section bg-light pt-90 pb-90">
    <div class="container">
        <div class="row text-center mb-10">
            <div class="section-title" data-aos="fade-up" data-aos-delay="100">
                <h3 class="title">LĨNH VỰC HOẠT ĐỘNG</h3>
                <h4 class="sub-title mb-0">
                    Công ty Cổ phần An Bình là một trong những đoanh nghiệp chuyên về dịch vụ cho thuê kho bãi với quy mô lớn tại Bình Dương, Đồng Nai. Tại đây, Quý khách hàng sẽ được tư vấn các giải pháp tốt nhất về nhu cầu thuê kho bãi, đồng thời cung cấp đầy đủ các dịch vụ cho thuê xe nâng và cung ứng xăng dầu.
                </h4>
            </div>
        </div>
        <div class="row mb-n10">
            <div class="col-lg-4 col-md-6 mb-10">
                <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="100">
                    <a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuKho.ArticleKey })">
                        <div class="service-icon">
                            <i class="fas fa-warehouse"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="title">Cho thuê kho bãi, nhà kiot</h4>
                            <p class="desc-content">Sở hữu hệ thống kho bãi chất lượng cao với tổng diện tích kho hơn 200.000 ha ở các vị trí vô cùng thuận lợi cho khu công nghiệp</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-10">
                <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="300">
                    <a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuXeNang.ArticleKey })">
                        <div class="service-icon">
                            <!--  <i class="fa fa-pencil-square-o"></i> -->
                            <i class="fas fa-truck-loading"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="title">Cho thuê xe nâng</h4>
                            <p class="desc-content">
                            cung cấp nhiều loại xe nâng hàng bằng điện hoặc nhiên liệu (xăng, dầu) để vận chuyển hàng hóa.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-10">
                <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="600">
                    <a href="@Url.Action("chitietTin","WebSite", new { ArticleKey = GioiThieuXangDau.ArticleKey })">
                        <div class="service-icon">
                            <!--  <i class="fa fa-compass"></i> -->
                            <i class="fas fa-store"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="title">Kinh doanh xăng dầu</h4>
                            <p class="desc-content">Cửa hàng xăng dầu An Bình được đặt tại trục đường giao thông chính đi vào Khu công nghiệp Sóng Thần tạo thuận lợi cho doanh nghiệp và người tiêu dùng.</p>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- ĐẾM -->
<div class="funfact-section d-flex flex-column justify-content-center">
    <div class="container-fluid p-0">
        <div class="row no-gutters counters align-items-center">
            <div class="col-lg-3 col-6">
                <div class="single-fun-fact-wrap" data-aos="fade-up" data-aos-delay="100">
                    <div class="counter-area">
                        <strong class="counter">150</strong>
                    </div>
                    <div class="counter-content">
                        <h3 class="title">Khách hàng</h3>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 item">
                <div class="single-fun-fact-wrap" data-aos="fade-up" data-aos-delay="300">
                    <div class="counter-area">
                        <strong class="counter">200000</strong>
                        <span class="text-white ml-2">m<sup style="top:-0.5em; font-size:40px">2</sup></span>
                    </div>
                    <div class="counter-content">
                        <h3 class="title">Diện tích kho bãi</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="single-fun-fact-wrap" data-aos="fade-up" data-aos-delay="600">
                    <div class="counter-area">
                        <strong class="counter">97</strong>
                        <span class="text-white ml-2">%</span>
                    </div>
                    <div class="counter-content">
                        <h3 class="title">Hài lòng</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="single-fun-fact-wrap" data-aos="fade-up" data-aos-delay="900">
                    <div class="counter-area">
                        <strong class="counter">5</strong>
                    </div>
                    <div class="counter-content">
                        <h3 class="title">Tổng kho</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--KHO BÃI-->
<div class="portfolio-section bg-light  pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="section-title text-center" data-aos="fade-up" data-aos-delay="100">
                <h4 class="title">CÁC ĐỊA ĐIỂM KHO BÃI</h4>
                <h5 class="sub-title"></h5>
            </div>
        </div>
        <div class="row">
            @{

                foreach (Article_Model zItem in CacDiaDiem)
                {
                    string zTitle = zItem.ArticleName;
                    string zSumamarize = zItem.Summarize;
                    string zKey = zItem.ArticleKey;

                    <div class="col-lg-4 col-sm-6 mt-30">
                        <div class="single-portfolio-wrap" data-aos="fade-up" data-aos-delay="300">
                            <figure class="portfolio-thumb hover-style position-relative m-0">
                                <a href="@Url.Action("chitietTin", new { ArticleKey = zKey })">
                                    <img height="300" src="@zItem.ImageLarge" alt="Portfolio Image">
                                    <div class="overlay-1"></div>
                                </a>
                                <figcaption class="portfolio-details">
                                    <div class="port-info">
                                        <h3 class="title text-center">
                                            <a href="@Url.Action("chitietTin", new { ArticleKey = zKey })">@zItem.ArticleName</a>
                                        </h3>
                                        <nav class="nav portfolio-cate">
                                            @zItem.CategoryName
                                        </nav>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- GIỚI THIỆU CHỨC NĂNG CÔNG TY -->
<div class="blog-section bg-light pt-90 d-none">
    <div class="container">
        <div class="row mb-n10">
            <div class="col-md-6 mb-10">
                <!-- Single Blog Post Start -->
                <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="200">
                    <div class="blog-thumbnail martop30">
                        <a href="blog-details.html">
                            <img class="fit-image" src="@Url.Content("~/assets/web/images/funfact/dich-vu-ossif-2.png")" alt="Blog Thumb">
                        </a>
                    </div>

                </div>
                <!-- Single Blog Post End -->
            </div>
            <div class="col-md-6 mb-10">
                <!-- Single Blog Post Start -->
                <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="300">

                    <div class="blog-post-details pt-5">
                        <h2 class="title tabdt">
                            <i class="fas fa-share-square"></i>
                            <a href="#">TIẾT KIỆM CHI PHÍ</a>
                        </h2>
                        <h2 class="title tabdt">
                            <i class="fas fa-share-square"></i>
                            <a href="#">AN TOÀN CHẤT LƯỢNG</a>
                        </h2>
                        <h2 class="title tabdt">
                            <i class="fas fa-share-square"></i>
                            <a href="#">NHANH CHÓNG, TIẾT KIỆM THỜI GIAN</a>
                        </h2>
                        <h2 class="title tabdt">
                            <i class="fas fa-share-square"></i>
                            <a href="#">GIAO THÔNG HOÀN CHỈNH</a>
                        </h2>
                        <h2 class="title tabdt">
                            <i class="fas fa-share-square"></i>
                            <a href="#">LỢI THẾ CẠNH TRANH</a>
                        </h2>
                        <h2 class="title tabdt">
                            <i class="fas fa-share-square"></i>
                            <a href="#">ĐẦY ĐỦ DỊCH VỤ HỖ TRỢ NHÀ ĐẦU TƯ</a>
                        </h2>
                    </div>
                </div>
                <!-- Single Blog Post End -->
            </div>
        </div>
    </div>
</div>
<!-- THÔNG BÁO -->
<div class="blog-section pt-90">
    <div class="container">
        <div class="row">
            <div class="section-title text-center mb-8" data-aos="fade-up" data-aos-delay="100">
                <h3 class="title">THÔNG BÁO MỚI</h3>
                <h4 class="sub-title"></h4>
            </div>
        </div>
        <div class="row mb-n10">
            @{
                int Count = 0;
                foreach (Article_Model zItem in TinChoThueMoiNhat)
                {
                    if (Count <= 6)
                    {
                        string zDate = zItem.ModifiedOn.ToString("dd/MM/yyyy");
                        string zAuthor = zItem.ModifiedName;
                        string zTitle = zItem.ArticleName;
                        string zSumamarize = zItem.Summarize;
                        string zKey = zItem.ArticleKey;

                        <div class="col-md-4 mb-10">
                            <!-- Single Blog Post Start -->
                            <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="100">
                                <div class="blog-thumbnail">
                                    <a href="@Url.Action("chitietTin", new { ArticleKey = zKey })">
                                        <img style="height:300px" class="fit-image" src="@zItem.ImageLarge" alt="Blog Thumb">
                                        <img class="btn-plus" src="@Url.Content("~/assets/web/images/icon/plus.svg")" alt="Plus Icons">
                                    </a>
                                </div>
                                <div class="blog-post-details pt-5">
                                    <h3 class="title">
                                        <a href="@Url.Action("chitietTin", new { ArticleKey = zKey })">@zTitle</a>
                                    </h3>
                                    <div class="post-meta mb-3 mt-3">
                                        <a href="@Url.Action("chitietTin", new { ArticleKey = zKey })">
                                            <i class="fa fa-user"></i> @zAuthor
                                        </a>
                                        <span><i class="fa fa-clock-o"></i> @zDate</span>
                                    </div>
                                    <p class="desc-content mb-2 mb-md-5">@zSumamarize</p>
                                    <a href="@Url.Action("chitietTin", new { ArticleKey = zKey })" class="btn btn-hover-primary read-more">Xem</a>
                                </div>
                            </div>
                            <!-- Single Blog Post End -->
                        </div>
                    }
                    Count++;
                }
            }
        </div>
    </div>
</div>
<!-- TƯ VẤN LIÊN HỆ -->
<div class="support-area bg-light pt-90 pb-90 mt-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="support-wrapper" data-aos="fade-up" data-aos-delay="300">
                    <div class="section-title text-center">
                        <h1 class="title">TƯ VẤN KHÁCH HÀNG</h1>
                        <div class="mt-5 mb-5 pb-3">
                            <p class="text-center" style="white-space: pre-line;">@LienHe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>