﻿@using System.Data
@{
    Layout = null;
    DataTable _PvtTable = new DataTable();
    if (ViewBag.PivotTable != null)
    {
        _PvtTable = ViewBag.PivotTable as DataTable;
    }
}

<table class="table table-sm table-bordered" id="tblPayroll">
    <thead>
        <tr>
            @{
                for (int i = 1; i < _PvtTable.Columns.Count; i++)
                {
                    DataColumn c = _PvtTable.Columns[i];
                    if (i < 5)
                    {
                        <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                    }
                    else
                    {
                        if (i == _PvtTable.Columns.Count - 1)
                        {
                            <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                        }
                        else
                        {
                            <th class="">@c.ColumnName</th>
                        }
                    }
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            //string GroupName = _PvtTable.Rows[0][0].ToString();
            foreach (DataRow r in _PvtTable.Rows)
            {
                //string Name = r[0].ToString();
                //if (Name == GroupName)
                //{
                <tr>
                    @{
                        for (int i = 1; i < _PvtTable.Columns.Count; i++)
                        {
                            if (i < 5)
                            {
                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                            }
                            else
                            {
                                if (i == _PvtTable.Columns.Count - 1)
                                {
                                    <td class="text-right text-primary font-weight-semibold">@r[i].FormatMoneyFromObject()</td>
                                }
                                else
                                {
                                    <td class="text-right">@r[i].FormatMoneyFromObject()</td>
                                }
                            }
                        }
                    }

                </tr>
                //}
                //else
                //{
                //    <tr>
                //        <td colspan="3">@Name</td>
                //    </tr>

                //    Name = GroupName;
                //}
            }
        }
    </tbody>
</table>