﻿@{ 
    Layout = null;
    List<Employee_Model> _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
}

<table class="table Custom table-sm" id="tbl01">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã nhân viên</th>
            <th>Họ và tên</th>
            <th>Chức vụ</th>
            <th>Phòng ban</th>
            <th>Ngày tuyển dụng</th>
            <th>HĐLĐ</th>
            <th>Lương thoả thuận</th>
            <th>BHXH</th>
        </tr>
    </thead>
    <tbody id="tblBody">
        @for (int i = 0; i < _ListData.Count; i++)
        {
            Employee_Model Model = _ListData[i];
            string zStartingDate = "";

            if (Model.StartingDate != DateTime.MinValue)
            {
                zStartingDate = Model.StartingDate.ToString("dd/MM/yyyy");
            }

            string BH = "";
            if (Model.Style == "KO")
            {
                BH = "Không tham gia BH";
            }

        <tr>
            <td>@(i + 1)</td>
            <td>@Model.EmployeeID</td>
            <td>@(Model.LastName + " " + Model.FirstName)</td>
            <td>@Model.PositionName</td>
            <td>@Model.DepartmentName</td>
            <td>@zStartingDate</td>
            <td>@Model.HDLD</td>
            <td class="text-right">@Model.LuongTT</td>
            <td>@BH</td>
        </tr>
        }
    </tbody>
</table>