﻿
@using System.Data
@{
    Layout = null;
    DataTable _InsuranceTable = new DataTable();
    if (ViewBag.InsuranceTable != null)
    {
        _InsuranceTable = ViewBag.InsuranceTable as DataTable;
    }
    DataTable _OverTimeTable = new DataTable();
    if (ViewBag.OverTimeTable != null)
    {
        _OverTimeTable = ViewBag.OverTimeTable as DataTable;
    }
    DataTable _SupportTable = new DataTable();
    if (ViewBag.SupportTable != null)
    {
        _SupportTable = ViewBag.SupportTable as DataTable;
    }
    DataTable _PaymentTable = new DataTable();
    if (ViewBag.PaymentTable != null)
    {
        _PaymentTable = ViewBag.PaymentTable as DataTable;
    }
}
<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link" href="#t5" data-toggle="tab">Excel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#t4" data-toggle="tab">PHẢI TRỪ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#t2" data-toggle="tab">TIỀN TRỰC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#t3" data-toggle="tab">PHỤ CẤP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#t1" data-toggle="tab"> Bảng lương thanh toán</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="t5" class="tab-pane">
            <a class="btn btn-info mb-2" href="/Employee/ExportExcel?Type=1">
                <i class="fa fa-download"></i>
                Bảng các khoản trừ lương
            </a>
            <a class="btn btn-info mb-2" href="/Employee/ExportExcel?Type=2">
                <i class="fa fa-download"></i>
                Bảng tổng hợp tiền trực ngày lễ
            </a>
            <a class="btn btn-info mb-2" href="/Employee/ExportExcel?Type=3">
                <i class="fa fa-download"></i>
                Bảng các khoản phụ cấp
            </a>
            <a class="btn btn-info mb-2" href="/Employee/ExportExcel?Type=4">
                <i class="fa fa-download"></i>
                Bảng thanh toán lương
            </a>
        </div>
        <div id="t1" class="tab-pane">
            <table class="table table-sm table-bordered" id="tbl4">
                <thead>
                    <tr>
                        @{
                            for (int i = 1; i < _PaymentTable.Columns.Count; i++)
                            {
                                DataColumn c = _PaymentTable.Columns[i];
                                if (i < 5)
                                {
                                    <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                                }
                                else
                                {
                                    if (i == _PaymentTable.Columns.Count - 1)
                                    {
                                        <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                                    }
                                    else
                                    {
                                        <th class="">@c.ColumnName</th>
                                    }
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        //string GroupName = _PvtTable.Rows[0][0].ToString();
                        foreach (DataRow r in _PaymentTable.Rows)
                        {
                            //string Name = r[0].ToString();
                            //if (Name == GroupName)
                            //{
                            <tr>
                                @{
                                    for (int i = 1; i < _PaymentTable.Columns.Count; i++)
                                    {
                                        if (i < 5)
                                        {
                                            <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                        }
                                        else
                                        {
                                            if (i == _PaymentTable.Columns.Count - 1)
                                            {
                                                <td class="text-right text-primary font-weight-semibold">@r[i].FormatMoneyFromObject()</td>
                                            }
                                            else
                                            {
                                                <td class="text-right">@r[i].FormatMoneyFromObject()</td>
                                            }
                                        }
                                    }
                                }

                            </tr>
                            //}
                            //else
                            //{
                            //    <tr>
                            //        <td colspan="3">@Name</td>
                            //    </tr>

                            //    Name = GroupName;
                            //}
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="t2" class="tab-pane">
            <table class="table table-sm table-bordered" id="tbl2">
                <thead>
                    <tr>
                        @{
                            for (int i = 1; i < _OverTimeTable.Columns.Count; i++)
                            {
                                DataColumn c = _OverTimeTable.Columns[i];
                                if (i < 5)
                                {
                                    <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                                }
                                else
                                {
                                    if (i == _OverTimeTable.Columns.Count - 1)
                                    {
                                        <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                                    }
                                    else
                                    {
                                        <th class="">@c.ColumnName</th>
                                    }
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        //string GroupName = _PvtTable.Rows[0][0].ToString();
                        foreach (DataRow r in _OverTimeTable.Rows)
                        {
                            //string Name = r[0].ToString();
                            //if (Name == GroupName)
                            //{
                            <tr>
                                @{
                                    for (int i = 1; i < _OverTimeTable.Columns.Count; i++)
                                    {
                                        if (i < 5)
                                        {
                                            <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                        }
                                        else
                                        {
                                            if (i == _OverTimeTable.Columns.Count - 1)
                                            {
                                                <td class="text-right text-primary font-weight-semibold">@r[i].FormatMoneyFromObject()</td>
                                            }
                                            else
                                            {
                                                <td class="text-right">@r[i].FormatMoneyFromObject()</td>
                                            }
                                        }
                                    }
                                }

                            </tr>
                            //}
                            //else
                            //{
                            //    <tr>
                            //        <td colspan="3">@Name</td>
                            //    </tr>

                            //    Name = GroupName;
                            //}
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="t3" class="tab-pane">
            <div class="toggle-content">
                <table class="table table-sm table-bordered" id="tbl3">
                    <thead>
                        <tr>
                            @{
                                for (int i = 1; i < _SupportTable.Columns.Count; i++)
                                {
                                    DataColumn c = _SupportTable.Columns[i];
                                    if (i < 5)
                                    {
                                        <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                                    }
                                    else
                                    {
                                        if (i == _SupportTable.Columns.Count - 1)
                                        {
                                            <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                                        }
                                        else
                                        {
                                            <th class="">@c.ColumnName</th>
                                        }
                                    }
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            //string GroupName = _PvtTable.Rows[0][0].ToString();
                            foreach (DataRow r in _SupportTable.Rows)
                            {
                                //string Name = r[0].ToString();
                                //if (Name == GroupName)
                                //{
                                <tr>
                                    @{
                                        for (int i = 1; i < _SupportTable.Columns.Count; i++)
                                        {
                                            if (i < 5)
                                            {
                                                <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                            }
                                            else
                                            {
                                                if (i == _SupportTable.Columns.Count - 1)
                                                {
                                                    <td class="text-right text-primary font-weight-semibold">@r[i].FormatMoneyFromObject()</td>
                                                }
                                                else
                                                {
                                                    <td class="text-right">@r[i].FormatMoneyFromObject()</td>
                                                }
                                            }
                                        }
                                    }

                                </tr>
                                //}
                                //else
                                //{
                                //    <tr>
                                //        <td colspan="3">@Name</td>
                                //    </tr>

                                //    Name = GroupName;
                                //}
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="t4" class="tab-pane">
            <table class="table table-sm table-bordered" id="tbl1">
                <thead>
                    <tr>
                        @{
                            for (int i = 1; i < _InsuranceTable.Columns.Count; i++)
                            {
                                DataColumn c = _InsuranceTable.Columns[i];
                                if (i < 5)
                                {
                                    <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                                }
                                else
                                {
                                    if (i == _InsuranceTable.Columns.Count - 1)
                                    {
                                        <th class="text-primary font-weight-semibold">@c.ColumnName</th>
                                    }
                                    else
                                    {
                                        <th class="">@c.ColumnName</th>
                                    }
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        //string GroupName = _PvtTable.Rows[0][0].ToString();
                        foreach (DataRow r in _InsuranceTable.Rows)
                        {
                            //string Name = r[0].ToString();
                            //if (Name == GroupName)
                            //{
                            <tr>
                                @{
                                    for (int i = 1; i < _InsuranceTable.Columns.Count; i++)
                                    {
                                        if (i < 5)
                                        {
                                            <td class="text-primary font-weight-semibold">@r[i].ToString()</td>
                                        }
                                        else
                                        {
                                            if (i == _InsuranceTable.Columns.Count - 1)
                                            {
                                                <td class="text-right text-primary font-weight-semibold">@r[i].FormatMoneyFromObject()</td>
                                            }
                                            else
                                            {
                                                <td class="text-right">@r[i].FormatMoneyFromObject()</td>
                                            }
                                        }
                                    }
                                }

                            </tr>
                            //}
                            //else
                            //{
                            //    <tr>
                            //        <td colspan="3">@Name</td>
                            //    </tr>

                            //    Name = GroupName;
                            //}
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>