﻿
@{
    ViewBag.Title = "SetupPayroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        #tblPayroll {
            white-space: nowrap
        }

        .tabs .nav-tabs li.active .nav-link {
            font-weight: bold !important;
        }

        .selectRow {
            background-color: #0088cc38;
            color: #2196f3;
        }
    </style>
}

<header class="page-header">
    <h2>Xử lý tính lương nhân sự</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <section class="card form-wizard" id="w4">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
                </div>
                <h2 class="card-title">Các bước xử lý</h2>
            </header>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-lg-right">Ngày tính lương</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </span>
                            <input type="text" id="txt_CloseDate" data-plugin-datepicker="" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-lg-right">Tên hồ sơ lương</label>
                    <div class="col-lg-6">
                        <input type="text" id="txt_Description" placeholder="Hồ sơ lương tháng 11/2020" class="form-control" value="Hồ sơ lương tháng @DateTime.Now.ToString("dd/MM/yyyy")">
                    </div>
                </div>

                <div class="wizard-progress wizard-progress-lg">
                    <div class="steps-progress">
                        <div class="progress-indicator" style="width: 0%;"></div>
                    </div>
                    <ul class="nav wizard-steps">
                        <li class="nav-item active">
                            <a class="nav-link" href="#w4-step1" data-toggle="tab">
                                <span>1</span>
                                Danh sách nhân sự.
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#w4-step2" data-toggle="tab">
                                <span>2</span>
                                Khoản lương chuẩn.
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#w4-step3" data-toggle="tab">
                                <span>3</span>
                                Ngày công thực tế.
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#w4-step4" data-toggle="tab">
                                <span>4</span>
                                Làm thêm ngoài giờ.
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#w4-step5" data-toggle="tab">
                                <span>5</span>
                                Xử lý tính lương<br />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#w4-step6" data-toggle="tab">
                                <span>6</span>
                                Lưu hồ sơ lương tháng<br />
                            </a>
                        </li>
                    </ul>
                </div>

                <form class="form-horizontal p-3" novalidate="novalidate">
                    <div class="tab-content">
                        <div id="w4-step1" class="tab-pane active">
                            @Html.Action("PayrollStep1", "Employee")
                        </div>
                        <div id="w4-step2" class="tab-pane">
                            @*Html.Action("PayrollStep2", "Employee")*@
                        </div>
                        <div id="w4-step3" class="tab-pane">
                            @*Html.Action("PayrollStep3", "Employee")*@
                        </div>
                        <div id="w4-step4" class="tab-pane">
                            @*Html.Action("PayrollStep4", "Employee")*@
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <ul class="pager">
                    <li class="previous disabled">
                        <a class="">
                            <i class="fas fa-angle-left"></i>
                            Quay về
                        </a>
                    </li>
                    <li class="finish hidden float-right">
                        <a class="">
                            Lưu hồ sơ
                        </a>
                    </li>
                    <li class="next">
                        <a class="">
                            Tiếp tục
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>

@section Scripts{
    <script src="~/assets/Appjs/tableHeadFixer.js"></script>
    <script>
        var URL_Step1 = '@Url.Action("PayrollStep1", "Employee")';
        var URL_Step2 = '@Url.Action("PayrollStep2", "Employee")';
        var URL_Step3 = '@Url.Action("PayrollStep3", "Employee")';
        var URL_Step4 = '@Url.Action("PayrollStep4", "Employee")';
        var URL_Save = '@Url.Action("PayrollClose", "Employee")';
    </script>
    <script>
        $("#w4-step1").css({
            "height": $(window).height() - 350,
        });
        $("#tbl01").tableHeadFixer({
            head: true,
            foot: false,
            left: 2,
            right: 0,
            'z-index': '501'
        });
        InitClick();

        //
        var
            $w4finish = $('#w4').find('ul.pager li.finish'),
            $w4validator = $("#w4 form").validate({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                    $(element).remove();
                },
                errorPlacement: function (error, element) {
                    element.parent().append(error);
                }
            });

        $w4finish.on('click', function (ev) {
            ev.preventDefault();

            var CloseDate = $("#txt_CloseDate").val();
            var Description = $("#txt_Description").val();

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "CloseDate": CloseDate,
                    "Description": Description,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        Utils.OpenNotify('Đã lưu thành công bộ hồ sơ lương !.', 'Thông báo', 'success');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });

            //var validated = $('#w4 form').valid();
            //if (validated) {
            //    new PNotify({
            //        title: 'Congratulations',
            //        text: 'You completed the wizard form.',
            //        type: 'custom',
            //        addclass: 'notification-success',
            //        icon: 'fas fa-check'
            //    });
            //}
        });

        $('#w4').bootstrapWizard({
            tabClass: 'wizard-steps',
            nextSelector: 'ul.pager li.next',
            previousSelector: 'ul.pager li.previous',
            firstSelector: null,
            lastSelector: null,
            onNext: function (tab, navigation, index, newindex) {
                var validated = $('#w4 form').valid();
                if (!validated) {
                    $w4validator.focusInvalid();
                    return false;
                }
            },
            onTabClick: function (tab, navigation, index, newindex) {
                if (newindex == index + 1) {
                    return this.onNext(tab, navigation, index, newindex);
                } else if (newindex > index + 1) {
                    return false;
                } else {
                    return true;
                }
            },
            onTabChange: function (tab, navigation, index, newindex) {
                var $total = navigation.find('li').length - 1;
                $w4finish[newindex != $total ? 'addClass' : 'removeClass']('hidden');
                $('#w4').find(this.nextSelector)[newindex == $total ? 'addClass' : 'removeClass']('hidden');
            },
            onTabShow: function (tab, navigation, index) {
                var $total = navigation.find('li').length - 1;
                var $current = index;
                var $percent = Math.floor(($current / $total) * 100);

                navigation.find('li').removeClass('active');
                navigation.find('li').eq($current).addClass('active');

                $('#w4').find('.progress-indicator').css({ 'width': $percent + '%' });
                tab.prevAll().addClass('completed');
                tab.nextAll().removeClass('completed');

                if (index === 1) {
                    Step2();
                }
                if (index === 2) {
                    Step3();
                }
                if (index === 3) {
                    Step4();
                }
            },
        });

        function Step1() {
            $.ajax({
                url: URL_Step1,
                type: 'GET',
                data: {

                },
                beforeSend: function () {
                    $("#w4-step1").empty();
                },
                success: function (r) {
                    $("#w4-step1").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Step2() {
            $.ajax({
                url: URL_Step2,
                type: 'GET',
                data: {

                },
                beforeSend: function () {
                    $("#w4-step2").empty();
                },
                success: function (r) {
                    $("#w4-step2").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Step3() {
            $.ajax({
                url: URL_Step3,
                type: 'GET',
                data: {
                    "Date": $("#txt_CloseDate").val()
                },
                beforeSend: function () {
                    $("#w4-step3").empty();
                },
                success: function (r) {
                    $("#w4-step3").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    $("#w4-step3").css({
                        "height": $(window).height() - 350,
                    });
                    $("#tblPayroll").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 2,
                        right: 1,
                        'z-index': '501'
                    });
                    InitClick();
                }
            });
        }
        function Step4() {
            $.ajax({
                url: URL_Step4,
                type: 'GET',
                data: {

                },
                beforeSend: function () {
                    $("#w4-step4").empty();
                },
                success: function (r) {
                    $("#w4-step4").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }

        function InitClick() {
            $("table tr").click(function () {
                var selected = $(this).hasClass("selectRow");
                $("table tr").removeClass("selectRow");
                if (!selected)
                    $(this).addClass("selectRow");
            });
        }
    </script>
}