﻿@{
    Layout = null;
    List<Contract_Object> _ListData = new List<Contract_Object>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Contract_Object>;
    }
    string CustomerKey = "";
    if (ViewBag.CustomerKey != null)
    {
        CustomerKey = ViewBag.CustomerKey;
    }

    bool ViewOnly = false;
    if (ViewBag.ViewOnly != null)
    {
        ViewOnly = ViewBag.ViewOnly;
    }
}
<blockquote class="info m-3">
    <table class="table table-bordered table-sm mb-0 Custom table-no-more" id="@CustomerKey">
        <thead>
            <tr>
                <th>STT</th>
                <th style="width:10%">Số HĐ</th>
                <th style="width:15%">Thời gian</th>
                <th style="width:25%">Ghi chú, mục đích</th>
                <th>Địa điểm</th>
                <th>Đơn giá,</th>
                <th>Số lượng, </th>
                <th>Đơn vị, </th>
                <th>Số tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (_ListData.Count > 0)
                {
                    for (int i = 0; i < _ListData.Count; i++)
                    {
                        Contract_Object zObj = _ListData[i];
                        string ContractKey = zObj.Contract.ContractKey;
                        string ContractID = zObj.Contract.ContractID;
                        string Purpose = zObj.Contract.Purpose;
                        string Description = zObj.Contract.Description;
                        string FromDate = zObj.Contract.FromDate.ToString("dd/MM/yyyy");
                        string ToDate = zObj.Contract.ToDate.ToString("dd/MM/yyyy");
                        string Style = "style='font-weight:bolder;font-style: italic;color: darkmagenta;background: palegreen;'";

                        if (zObj.Contract.SubContract.Length > 0)
                        {
                            ContractID = zObj.Contract.SubContract;
                            Style = "";
                        }

                        string DateTerminate = "";
                        string ReasonTerminate = "";
                        if (zObj.Contract.Liquidated == 1)
                        {
                            DateTerminate = "</br><span style='color: #FF5722'>Thanh lý " + zObj.Contract.DateLiquidation.ToString("dd/MM/yyyy") + "</span>";
                            ReasonTerminate = "<span style='color: #FF5722'>" + zObj.Contract.ReasonLiquidation + "</span>";
                        }

                        List<Contract_Land_Model> ListItem = zObj.ListContractItem;

                        if (ListItem.Count > 0)
                        {
                            for (int n = 0; n < ListItem.Count; n++)
                            {
                                Contract_Land_Model zItem = ListItem[n];
                                <tr @Html.Raw(Style)>
                                    <td class="merge1">@(i + 1)</td>
                                    <td class="merge2">@ContractID</td>
                                    <td class="merge3">
                                        @(FromDate + " - " + ToDate)
                                        @Html.Raw(DateTerminate)
                                    </td>
                                    <td class="merge4">
                                        @Purpose
                                        @Description
                                        @Html.Raw(ReasonTerminate)
                                    </td>
                                    <td>@zItem.ItemName</td>
                                    <td class="text-right">@zItem.Price.ToString("n2")</td>
                                    <td class="text-right">@zItem.Area.ToString("n2")</td>
                                    <td>@zItem.UnitName</td>
                                    <td class="text-right">@zItem.TotalCurrencyMain.ToString("n0")</td>
                                    <td class="merge5">
                                        <span class="d-none">@ContractKey</span>
                                        @if (!ViewOnly)
                                        {
                                            <a class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                                               href="@Url.Action("ContractEdit", new { Key= ContractKey })">
                                                <i class="far fa-folder-open"></i>
                                            </a>
                                            <button type="button" data-toggle="tooltip" data-placement="top"
                                                    title="Cập nhật thông tin cơ bản"
                                                    class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                                                    onclick="Detail('@ContractKey')">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Xóa"
                                                    class="btn btn-outline-danger btn-sm modal-with-zoom-anim"
                                                    onclick="Delete('@ContractKey')">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr @Html.Raw(Style)>
                                <td class="merge1">@(i + 1)</td>
                                <td class="merge2">@ContractID</td>
                                <td class="merge3">
                                    @(FromDate + " - " + ToDate)
                                </td>
                                <td class="merge4">@Purpose</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    @if (!ViewOnly)
                                    {
                                        <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Cập nhật thông tin cơ bản"
                                                class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                                                onclick="Detail('@ContractKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Xóa người lao động"
                                                class="btn btn-outline-danger btn-sm modal-with-zoom-anim"
                                                onclick="Delete('@ContractKey')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10">
                            <div class="alert alert-primary">
                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</blockquote>

