﻿
@{
    Layout = null;
    List<Contract_Object> _ListData = new List<Contract_Object>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Contract_Object>;
    }
    string CustomerKey = "";
    if (ViewBag.CustomerKey != null)
    {
        CustomerKey = ViewBag.CustomerKey;
    }
}
<blockquote class="info m-3">
    <table class="table table-bordered table-sm mb-0 Custom" id="@CustomerKey">
        <thead>
            <tr>
                <th>STT</th>
                <th style="width:10%">Số HĐ</th>
                <th style="width:15%">Thời gian</th>
                <th style="width:25%">Ghi chú, mục đích</th>
                <th>Địa điểm</th>
                <th>Đơn giá,</th>
                <th>Số lượng, </th>
                <th>Đơn vị, </th>
                <th>Số tiền</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < _ListData.Count; i++)
                {
                    Contract_Object zObj = _ListData[i];
                    string ContractKey = zObj.Contract.ContractKey;
                    string ContractID = zObj.Contract.ContractID;
                    string Purpose = zObj.Contract.Purpose;
                    string FromDate = zObj.Contract.FromDate.ToString("dd/MM/yyyy");
                    string ToDate = zObj.Contract.ToDate.ToString("dd/MM/yyyy");
                    string Style = "style='font-weight:bolder;font-style: italic;color: darkmagenta;background: palegreen;'";
                    if (zObj.Contract.SubContract.Length > 0)
                    {
                        ContractID = zObj.Contract.SubContract;
                        Style = "";
                    }
                    List<Contract_Land_Model> ListItem = zObj.ListContractItem;

                    if (ListItem.Count > 0)
                    {
                        for (int n = 0; n < ListItem.Count; n++)
                        {
                            Contract_Land_Model zItem = ListItem[n];
                            <tr @Html.Raw(Style)>
                                <td class="merge1">@(i + 1)</td>
                                <td class="merge2">@ContractID</td>
                                <td class="merge3">
                                    @(FromDate + " - " + ToDate)
                                </td>
                                <td class="merge4">@Purpose</td>
                                <td>@zItem.ItemName</td>
                                <td class="text-right">@zItem.Price.ToString("n2")</td>
                                <td class="text-right">@zItem.Area.ToString("n2")</td>
                                <td>@zItem.UnitName</td>
                                <td class="text-right">@zItem.SubTotal.ToString("n0")</td>
                               
                            </tr>
                        }
                    }
                    else
                    {
                        <tr @Html.Raw(Style)>
                            <td class="merge1">@(i + 1)</td>
                            <td class="merge2">@ContractID</td>
                            <td class="merge3">
                                @(FromDate + " - " + ToDate)
                            </td>
                            <td class="merge4">@Purpose</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</blockquote>

