﻿@{
    /**/
    string _UserKey = "";
    string _UserName = "";
    string _EmployeeKey = "";
    string _EmployeeName = "";
    string _PhotoPath = Helper.DefaultImage;
    if (Session["User_Model"] != null)
    {
        User_Model Model = (User_Model)Session["User_Model"];

        _UserKey = Model.UserKey;
        _UserName = Model.UserName;
        _EmployeeKey = Model.EmployeeKey;
        _EmployeeName = Model.EmployeeName;
        if (Model.PhotoPath.Length > 0)
        {
            _PhotoPath = Model.PhotoPath;
        }
    }
}

<!DOCTYPE html>
<html class="fixed sidebar-light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App ABG</title>
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/animate/animate.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/font-awesome/css/all.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/jstree/themes/default/style.css")" />
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/jquery-ui/jquery-ui.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/jquery-ui/jquery-ui.theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/jquery-confirm/css/jquery-confirm.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/magnific-popup/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/pnotify/pnotify.custom.css")" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/theme.css")" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/skins/default.css")" />
    <!-- Head Libs -->
    <script src="@Url.Content("~/assets/vendor/modernizr/modernizr.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/assets/Appcss/Layout.css")" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="se-pre-con"></div>
    <section class="body">
        <header class="header">
            <div class="logo-container">
                <a href="@Url.Action("Index","Home")" class="logo">
                    <img src="@Url.Content("~/assets/img/logo_AB.png")" height="35" width="35">
                </a>
                <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">
                <ul class="notifications d-none">
                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="badge"></span>
                        </a>
                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="float-end badge badge-default">3</span>
                                Thông báo
                            </div>
                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <span class="title">Có 3 hợp đồng lao động quá hạn !</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <span class="separator"></span>
                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="@Url.Content(_PhotoPath)" alt="Joseph Doe" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" style="object-fit:cover" height="35">
                        </figure>
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="..">
                            <span class="name">@_EmployeeName</span>
                        </div>
                        <i class="fa custom-caret"></i>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled mb-2">
                            <li role="menuitem">
                                <a href="#" id="btnChangePass">
                                    <i class="fas fa-key"></i>
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="@Url.Action("Personal","Employee", new { EmployeeKey = _EmployeeKey })">
                                    <i class="fas fa-info"></i>
                                    Hồ sơ cá nhân
                                </a>
                            </li>
                            <li>
                                <a role="menuitem" href="@Url.Action("Login","Login")">
                                    <i class="fas fa-power-off"></i>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <div class="inner-wrapper" style="background-image: url('@Url.Content("~/assets/img/logo_AB.png")')">
            <aside id="sidebar-left" class="sidebar-left" style="">
                <div class="sidebar-header">
                    <div class="sidebar-title">

                    </div>
                    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            @Html.Partial("~/Views/Shared/_Menu.cshtml")
                        </nav>
                    </div>
                </div>
            </aside>
            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>
    </section>

    <div id="modalChangePass" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
        <div class="card border border-primary">
            <div class="card-header">
                <h2 class="card-title">Đổi mật khẩu</h2>
            </div>
            <div class="card-body border-primary">
                <div class="form-group row">
                    <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Mật khẩu cũ</label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="password" class="form-control" id="txt_OldPass" placeholder="" required="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="unitwork" class="col-lg-5 col-xl-3 control-label text-lg-right">Mật khẩu mới</label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="password" class="form-control" id="txt_NewPass" placeholder="" required="">
                    </div>
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="button" class="btn btn-outline-primary modal-dismiss" onclick="ChangePass()">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/assets/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
    <script src="@Url.Content("~/assets/vendor/popper/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/assets/vendor/common/common.js")"></script>
    <script src="@Url.Content("~/assets/vendor/nanoscroller/nanoscroller.js")"></script>
    <script src="@Url.Content("~/assets/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
    <script src="@Url.Content("~/assets/vendor/moment/moment.js")"></script>
    <script src="@Url.Content("~/assets/vendor/jquery-confirm/js/jquery-confirm.js")"></script>
    <script src="@Url.Content("~/assets/vendor/pnotify/pnotify.custom.js")"></script>
    <script src="@Url.Content("~/assets/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/assets/vendor/ios7-switch/ios7-switch.js")"></script>
    <script src="@Url.Content("~/assets/vendor/autosize/autosize.js")"></script>
    <script src="@Url.Content("~/assets/vendor/inputmask/jquery.inputmask.bundle.js")"></script>
    <script src="@Url.Content("~/assets/vendor/jquery-validation/jquery.validate.js")"></script>
    <script src="@Url.Content("~/assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.number.js")"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="@Url.Content("~/assets/js/theme.js")"></script>
    <!-- Theme Initialization Files -->
    <script src="@Url.Content("~/assets/js/theme.init.js")"></script>
    <script src="@Url.Content("~/assets/Appjs/Utils.js")"></script>
    <script src="@Url.Content("~/assets/Appjs/Layout.js")"></script>
    <script src="@Url.Content("~/assets/js/session-timeout.js")"></script>
    @RenderSection("Scripts", false)
    <script>
        sessionTimeout({
            warnAfter: 7200000,
            titleText: "Thông báo.",
            message: "Phiên làm việc của bạn sắp hết thời gian, phần mềm sẽ quay về trang đăng nhập trong lần thao tác kế tiếp !.",
            logOutUrl: "@Url.RouteUrl("Login")",
            keepAliveUrl: "@Url.Action("KeepSessionAlive", "Base")",
            timeOutUrl:"@Url.RouteUrl("Login")",
            logOutBtnText: "Kết thúc phiên làm việc",
            stayConnectedBtnText:"Giữ phiên làm việc"
        });
    </script>
</body>
</html>
