﻿@{ 
    Layout = null;
    List<Leave_Note_Model> _ListData = new List<Leave_Note_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Leave_Note_Model>;
    }
}
<table class="table Custom table-sm" id="table-1">
    <thead>
        <tr>
            <th>STT</th>
            <th>Người lập</th>
            <th>Thời gian</th>
            <th>Nội dung</th>
            <th>Loại phép</th>
            <th class="text-right">
                <button type="button" class="modal-with-zoom-anim btn btn-info" onclick="Detail('')">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </button>
            </th>
        </tr>
    </thead>
    <tbody id="tblBody">
        @for (int i = 0; i < _ListData.Count; i++)
        {
            Leave_Note_Model Model = _ListData[i];
            string FromDate = (Model.FromDate == DateTime.MinValue ? "Chưa cập nhật" : Model.FromDate.ToString("dd/MM/yyyy"));
            string ToDate = (Model.ToDate == DateTime.MinValue ? "Chưa cập nhật" : Model.ToDate.ToString("dd/MM/yyyy"));
            string Time = "Số ngày " + Model.TotalDate + ", " + (FromDate + " - " + ToDate);
            <tr>
                <td>@(i + 1)</td>
                <td>@Model.EmployeeName</td>
                <td>@Time</td>
                <td>@Model.Description</td>
                <td>@Model.CategoryName</td>
                <td class="text-right">
                    <button type="button" data-toggle="tooltip" data-placement="top"
                            title="Cập nhật thông tin" class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                            onclick="Detail('@Model.NoteKey')">
                        <i class="far fa-edit"></i>
                    </button>
                    <button type="button" data-toggle="tooltip" data-placement="top"
                            title="Xóa" class="btn btn-outline-danger btn-sm modal-with-zoom-anim"
                            onclick="Delete('@Model.NoteKey')">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>