﻿
@{
    Layout = null;
    User_Model _UserData = new User_Model();
    if (ViewBag.Info != null)
    {
        _UserData = ViewBag.Info as User_Model;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/font-awesome/css/all.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/theme.css")" />
    <style>
        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }

        .form {
            background: transparent;
            border: 1px solid #4d4d4d78;
            border-radius: 10px;
            position: relative;
            z-index: 1;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

            .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;                
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

            .form button {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #4CAF50;
                width: 100%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
            }

                .form button:hover, .form button:active, .form button:focus {
                    background: #43A047;
                }

            .form .message {
                margin: 15px 0 0;
                color: #b3b3b3;
                font-size: 12px;
            }

                .form .message a {
                    color: #4CAF50;
                    text-decoration: none;
                }

            .form .register-form {
                display: none;
            }

        .container {
            position: relative;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }

            .container:before, .container:after {
                content: "";
                display: block;
                clear: both;
            }

            .container .info {
                margin: 50px auto;
                text-align: center;
            }

                .container .info h1 {
                    margin: 0 0 15px;
                    padding: 0;
                    font-size: 36px;
                    font-weight: 300;
                    color: #1a1a1a;
                }

                .container .info span {
                    color: #4d4d4d;
                    font-size: 12px;
                }

                    .container .info span a {
                        color: #000000;
                        text-decoration: none;
                    }

                    .container .info span .fa {
                        color: #EF3B3A;
                    }

        form label {
            font-weight: bold;
            font-size: 0.9rem;
            color: black;
        }
    </style>
</head>
<body style="
      background-image: url('@Url.Content("~/assets/img/backgroundAB.jpg")');
      background-size: 100% 100%;
      height: 100%;
        position: absolute;">
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="@Url.Action("Login","Login")" method="post">
                <input type="text" placeholder="Tên đăng nhập" name="UserName" value="@_UserData.UserName" />
                <input type="password" placeholder="Mật khẩu" name="Password" value="@_UserData.Password" />
                <div class="checkbox-custom checkbox-success mb-3">
                    <input type="checkbox" checked="" id="chkRemember" name="Remember" value="true">
                    <label for="checkboxExample3">Ghi nhớ thông tin</label>
                </div>
                <button type="submit">login</button>
                @if (ViewBag.Message != null)
                {
                    <b>@ViewBag.Message</b>
                }
            </form>
        </div>
    </div>
</body>
</html>
