﻿@model Employee_Object
@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Name = Model.Employee.LastName + " " + Model.Employee.FirstName;

    List<Position_Model> _ListSelectPosition = new List<Position_Model>();
    if (ViewBag.ListSelectPosition != null)
    {
        _ListSelectPosition = ViewBag.ListSelectPosition as List<Position_Model>;
    }
    List<Employee_Model> _ListSelectReportTo = new List<Employee_Model>();
    if (ViewBag.ListSelectReportTo != null)
    {
        _ListSelectReportTo = ViewBag.ListSelectReportTo as List<Employee_Model>;
    }
    List<Department_Model> _ListSelectDepartment = new List<Department_Model>();
    if (ViewBag.ListSelectDepartment != null)
    {
        _ListSelectDepartment = ViewBag.ListSelectDepartment as List<Department_Model>;
    }
    List<Education_Model> _ListEdu = new List<Education_Model>();
    if (ViewBag.ListEdu != null)
    {
        _ListEdu = ViewBag.ListEdu as List<Education_Model>;
    }
    List<Experience_Model> _ListExperience = new List<Experience_Model>();
    if (ViewBag.ListExperience != null)
    {
        _ListExperience = ViewBag.ListExperience as List<Experience_Model>;
    }
    List<Skill_Model> _ListSkill = new List<Skill_Model>();
    if (ViewBag.ListSkill != null)
    {
        _ListSkill = ViewBag.ListSkill as List<Skill_Model>;
    }
    List<HistoryInsure_Model> _ListInsure = new List<HistoryInsure_Model>();
    if (ViewBag.ListInsure != null)
    {
        _ListInsure = ViewBag.ListInsure as List<HistoryInsure_Model>;
    }
    List<Review_Model> _ListReview = new List<Review_Model>();
    if (ViewBag.ListReview != null)
    {
        _ListReview = ViewBag.ListReview as List<Review_Model>;
    }
    List<Branch_Model> _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }
    List<Payroll_Person_Model> _ListPayroll = new List<Payroll_Person_Model>();
    if (ViewBag.ListPayroll != null)
    {
        _ListPayroll = ViewBag.ListPayroll as List<Payroll_Person_Model>;
    }

    List<Select_Item> _ListStatus = new List<Select_Item>();
    _ListStatus.Add(new Select_Item
    {
        Key = "0",
        Name = "Chưa xác định"
    });
    _ListStatus.Add(new Select_Item
    {
        Key = "1",
        Name = "Đang làm việc"
    });
    _ListStatus.Add(new Select_Item
    {
        Key = "2",
        Name = "Đã nghĩ việc"
    });
    _ListStatus.Add(new Select_Item
    {
        Key = "3",
        Name = "Tạm nghĩ chế độ"
    });
    _ListStatus.Add(new Select_Item
    {
        Key = "4",
        Name = "Đang thử việc"
    });
}
@section Styles{
    <style>
        .modal-block-info .fa,
        .modal-block-info .fas {
            color: unset !important;
        }
    </style>
}
<header class="page-header">
    <h2>
        <i class="fas fa-info"></i>
        Chi tiết @Name
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("List", "Employee")">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-info"></i>
                    @Name
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row" id="employeediv">
    <div class="col-md-12">
        <div class="toggle toggle-tertiary" data-plugin-toggle="" data-plugin-options="{ 'isAccordion': true }">
            <section class="toggle active">
                <label>1. Thông tin cá nhân</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <form class="row" method="post" action="@Url.Action("SaveInfo", "Employee")" enctype="multipart/form-data">
                            <!---------------------------------------------------------------------Master Key------------------------------------------------------------->
                            <input id="txt_EmployeeKey" type="hidden" value="@Model.Employee.EmployeeKey" name="EmployeeKey">

                            <div class="col-md-4 text-center">
                                <div class="form-group-sm mb-2">
                                    @if (Model.Employee.PhotoPath == string.Empty)
                                    {
                                        <img id="imgpreview" src="@Url.Content("~/assets/img/unnamed.png")" alt="your image" style="max-width:200px; min-height:200px;" class="rounded-lg" />
                                    }
                                    else
                                    {
                                        <img id="imgpreview" src="@Url.Content(Model.Employee.PhotoPath)" alt="your image" style="max-width:200px; min-height:200px;" class="rounded-lg" />
                                    }

                                    <input type="file" id="fileListPhoto" multiple name="files" class="d-none">
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-8 border-left">
                                <div class="form-group row">
                                    <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Họ tên lót</label>
                                    <div class="col-lg-7 col-xl-9">
                                        <input type="text" class="form-control" id="txt_LastName" placeholder="" required="" value="@Model.Employee.LastName" name="LastName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Tên nhân viên</label>
                                    <div class="col-lg-7 col-xl-9">
                                        <input type="text" class="form-control" id="txt_FirstName" placeholder="" required="" value="@Model.Employee.FirstName" name="FirstName">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Giới tính</label>
                                    @if (Model.Employee.Gender == 1)
                                    {
                                        <div class="col-lg-2 col-xl-2">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="rdo1" name="rdoGender" value="1" checked>
                                                <label for="rdo1">Nam</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-xl-2">
                                            <div class="radio-custom radio-primary col-lg-2 col-xl-2">
                                                <input type="radio" id="rdo0" name="rdoGender" value="0">
                                                <label for="rdo0">Nữ</label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-2 col-xl-2">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="rdo1" name="rdoGender" value="1">
                                                <label for="rdo1">Nam</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-xl-2">
                                            <div class="radio-custom radio-primary col-lg-2 col-xl-2">
                                                <input type="radio" id="rdo0" name="rdoGender" value="0" checked>
                                                <label for="rdo0">Nữ</label>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày sinh</label>
                                    <div class="col-lg-7 col-xl-9">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-calendar-alt"></i>
                                                </span>
                                            </span>
                                            <input type="text" id="txt_Birthday" required="" name="Birthday"
                                                   placeholder="Chọn ngày" class="form-control datepicker" value="@(Model.Employee.Birthday == DateTime.MinValue ? "" : Model.Employee.Birthday.ToString("dd/MM/yyyy"))"
                                                   data-plugin-datepicker=""
                                                   data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-lg-5 col-xl-3 control-label text-right">CMND</label>
                                    <div class="col-lg-7 col-xl-9">
                                        <input type="text" class="form-control" id="txt_Passport" placeholder="" required="" value="@Model.Employee.PassportNumber" name="Passport">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Địa chỉ</label>
                                    <div class="col-lg-7 col-xl-9">
                                        <input type="text" class="form-control" id="txt_Address" placeholder="Địa chỉ nơi ở" required="" value="@Model.Employee.AddressRegister" name="Address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Email</label>
                                    <div class="col-lg-7 col-xl-9">
                                        <input type="text" class="form-control" id="txt_Email" placeholder="" required="" value="@Model.Employee.Email" name="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Số điện thoại</label>
                                    <div class="col-lg-7 col-xl-9">
                                        <input type="text" class="form-control" id="txt_MobiPhone" placeholder="" required="" value="@Model.Employee.MobiPhone" name="MobiPhone">
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button id="btn_Save" type="submit" class="btn btn-outline-primary">
                                        <i class="far fa-save"></i>
                                        Cập nhật
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>2. Quan hệ gia đình</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="fathername" class="col-md-2 control-label text-right">Họ tên cha</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_FatherName" placeholder="" value="@Model.Family.FatherName">
                            </div>
                            <label for="fatherbirthday" class="col-md-2 control-label text-right">Ngày sinh</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_FatherBirthday" required="" name="FatherBirthday"
                                           placeholder="Chọn ngày" class="form-control datepicker" value="@(Model.Family.FatherBirthday == DateTime.MinValue ? "" : Model.Family.FatherBirthday.ToString("dd/MM/yyyy"))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy">
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fatherwork" class="col-md-2 control-label text-right">Nghề nghiệp</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txt_FatherWork" placeholder="" value="@Model.Family.FatherWork">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fatheraddress" class="col-md-2 control-label text-right">Nơi ở</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txt_FatherAddress" placeholder="" value="@Model.Family.FatherAddress">
                            </div>
                        </div>
                        <div class="border-bottom mb-3"></div>
                        <div class="form-group row">
                            <label for="mothername" class="col-md-2 control-label text-right">Họ tên mẹ</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_MotherName" placeholder="" value="@Model.Family.MotherName">
                            </div>
                            <label for="motherbirthday" class="col-md-2 control-label text-right">Ngày sinh</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_MotherBirthday" required="" name="MotherBirthday"
                                           placeholder="Chọn ngày" class="form-control datepicker" value="@(Model.Family.MotherBirthday == DateTime.MinValue ? "" : Model.Family.MotherBirthday.ToString("dd/MM/yyyy"))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy">
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="motherwork" class="col-md-2 control-label text-right">Nghề nghiệp</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txt_MotherWork" placeholder="" required="" value="@Model.Family.MotherWork">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="motheraddress" class="col-md-2 control-label text-right">Nơi ở</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txt_MotherAddress" placeholder="" value="@Model.Family.MotherAddress">
                            </div>
                        </div>
                        <div class="border-bottom mb-3"></div>
                        <div class="form-group row">
                            <label for="partnersname" class="col-md-2 control-label text-right">Họ tên chồng/vợ</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_PartnersName" placeholder="" value="@Model.Family.PartnersName">
                            </div>
                            <label for="partnersbirthday" class="col-md-2 control-label text-right">Ngày sinh</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_PartnersBirthday" required="" name="PartnersBirthday"
                                           placeholder="Chọn ngày" class="form-control datepicker" value="@(Model.Family.PartnersBirthday == DateTime.MinValue ? "" : Model.Family.PartnersBirthday.ToString("dd/MM/yyyy"))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy">
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="partnerswork" class="col-md-2 control-label text-right">Nghề nghiệp</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txt_PartnersWork" placeholder="" value="@Model.Family.PartnersWork">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="partnersaddress" class="col-md-2 control-label text-right">Nơi ở</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txt_PartnersAddress" placeholder="" value="@Model.Family.PartnersAddress">
                            </div>
                        </div>
                        <div class="border-bottom mb-3"></div>
                        <div class="form-group row">
                            <label for="childextend" class="col-md-2 control-label text-right">Họ tên các con, nghề nghiệp, nơi ở</label>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" id="txt_ChildExtend" placeholder="" data-plugin-textarea-autosize rows="3">@Model.Family.ChildExtend</textarea>
                            </div>
                        </div>
                        <div class="border-bottom mb-3"></div>
                        <div class="form-group row">
                            <label for="ortherextend" class="col-md-2 control-label text-right">Họ tên anh chị em, nghề nghiệp, nơi ở</label>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" id="txt_OrtherExtend" placeholder="" data-plugin-textarea-autosize rows="3">@Model.Family.OrtherExtend</textarea>
                            </div>
                        </div>
                        <div class="border-bottom mb-3"></div>
                        <div class="text-right">
                            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveFamily()">
                                <i class="far fa-save"></i>
                                Cập nhật
                            </button>
                        </div>
                    </div>
                    <input id="txt_FamiKey" type="hidden" name="FamiKey" value="@Model.Family.AutoKey" />
                </div>
            </section>
            <section class="toggle active">
                <label>3. Thông tin công việc</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Ngày tuyển dụng vào làm việc</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_StartingDate" required="" name="StartingDate"
                                           placeholder="Chọn ngày" class="form-control datepicker" 
                                           value="@(Model.Employee.StartingDate == DateTime.MinValue ? "" : Model.Employee.StartingDate.ToString("dd/MM/yyyy"))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Chi nhánh</label>
                            <div class="col-md-10">
                                <select id="cbo_Branch" class="form-control select2" name="Branch">
                                    <option value="">--//--</option>
                                    @foreach (Branch_Model zItem in _ListBranch)
                                    {
                                        if (Model.Employee.BranchKey == zItem.BranchKey)
                                        {
                                            <option value="@zItem.BranchKey" selected>@zItem.BranchName</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.BranchKey">@zItem.BranchName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Phòng Ban</label>
                            <div class="col-md-10">
                                <select id="cbo_Department" class="form-control select2" name="Department">
                                    <option value="">--//--</option>
                                    @foreach (Department_Model zItem in _ListSelectDepartment)
                                    {
                                        if (Model.Employee.DepartmentKey == zItem.DepartmentKey)
                                        {
                                            <option value="@zItem.DepartmentKey" selected>@zItem.DepartmentName</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.DepartmentKey">@zItem.DepartmentName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Người quản lý trực tiếp</label>
                            <div class="col-md-10">
                                <select id="cbo_ReportTo" class="form-control select2" name="ReportTo">
                                    <option value="">--//--</option>
                                    @foreach (Employee_Model zItem in _ListSelectReportTo)
                                    {
                                        if (Model.Employee.ReportToKey == zItem.EmployeeKey)
                                        {
                                            <option value="@zItem.EmployeeKey" selected>@(zItem.LastName + ' ' + zItem.FirstName)</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.EmployeeKey">@(zItem.LastName + ' ' + zItem.FirstName)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Chức vụ, vị trí</label>
                            <div class="col-md-10">
                                <select id="cbo_Position" class="form-control select2">
                                    <option value="">--//--</option>
                                    @foreach (Position_Model zItem in _ListSelectPosition)
                                    {
                                        if (Model.Employee.PositionKey == zItem.PositionKey)
                                        {
                                            <option value="@zItem.PositionKey" selected>@zItem.PositionNameVN</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.PositionKey">@zItem.PositionNameVN</option>
                                        }
                                    }



                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Tình trạng</label>
                            <div class="col-md-10">
                                <select id="cbo_Status" class="form-control select2">
                                    @foreach (var rec in _ListStatus)
                                    {
                                        if (rec.Key == Model.Employee.WorkingStatusKey.ToString())
                                        {
                                            <option value="@rec.Key" selected>@rec.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@rec.Key">@rec.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Ghi chú</label>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" id="txt_Note" placeholder="" data-plugin-textarea-autosize rows="3">@Model.Employee.Note</textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveJob()">
                                <i class="far fa-save"></i>
                                Cập nhật
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>4. Quá trình học vấn</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <table class="table Custom table-borderd">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Thời gian/ Khóa học</th>
                                    <th>Trường</th>
                                    <th>Bằng cấp</th>
                                    <th>Tốt nghiệp</th>
                                    <th>Xếp loại</th>
                                    <th>Đào tạo</th>
                                    <th>Ghi chú</th>
                                    <th class="text-right">
                                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="DetailEdu(0)">
                                            <i class="fa fa-plus"></i>
                                            Thêm mới
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (_ListEdu.Count > 0)
                                {
                                    for (int i = 0; i < _ListEdu.Count; i++)
                                    {
                                        Education_Model zModel = _ListEdu[i];

                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@(zModel.FromDate.ToString("yyyy") + '-' + zModel.ToDate.ToString("yyyy"))</td>
                                            <td>@zModel.DegreeBy</td>
                                            <td>@zModel.DegreeName</td>
                                            <td>@zModel.StatusName</td>
                                            <td>@zModel.TypeName</td>
                                            <td>@zModel.ClassifiedName</td>
                                            <td>@zModel.Description</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="DetailEdu('@zModel.AutoKey')"><i class="far fa-edit"></i></button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteEdu('@zModel.AutoKey')"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9">
                                            <div class="alert alert-primary">
                                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>5. Kinh nghiệm làm việc</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <table class="table Custom table-borderd">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Thời gian làm việc</th>
                                    <th>Đơn vị công tác</th>
                                    <th>Vị trí</th>
                                    <th>Mô tả công việc</th>
                                    <th class="text-right">
                                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="DetailExp(0)">
                                            <i class="fa fa-plus"></i>
                                            Thêm mới
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (_ListExperience.Count > 0)
                                {
                                    for (int i = 0; i < _ListExperience.Count; i++)
                                    {
                                        Experience_Model zModel = _ListExperience[i];

                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@(zModel.FromDate.ToString("yyyy") + '-' + zModel.ToDate.ToString("yyyy"))</td>
                                            <td>@zModel.UnitWork</td>
                                            <td>@zModel.UnitPosition</td>
                                            <td>@zModel.Description</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="DetailExp(@zModel.AutoKey)"><i class="far fa-edit"></i></button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteExp(@zModel.AutoKey)"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">
                                            <div class="alert alert-primary">
                                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>6. Trình độ chuyên môn</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <table class="table Custom table-borderd">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Kỹ năng</th>
                                    <th>Mô tả thêm</th>
                                    <th>Mức độ</th>
                                    <th class="text-right">
                                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="DetailSkill(0)">
                                            <i class="fa fa-plus"></i>
                                            Thêm mới
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (_ListSkill.Count > 0)
                                {
                                    for (int i = 0; i < _ListSkill.Count; i++)
                                    {
                                        Skill_Model zModel = _ListSkill[i];

                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@zModel.SkillName</td>
                                            <td>@zModel.Description</td>
                                            <td>@(zModel.Levels + "/" + zModel.Maxlevels)</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="DetailSkill(@zModel.AutoKey)"><i class="far fa-edit"></i></button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteSkill(@zModel.AutoKey)"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">
                                            <div class="alert alert-primary">
                                                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>7. Nhật ký BHXH</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <table class="table Custom table-borderd">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ngày</th>
                                    <th>Mô tả</th>
                                    <th>Tình trạng</th>
                                    <th class="text-right">
                                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="DetailIn(0)">
                                            <i class="fa fa-plus"></i>
                                            Thêm mới
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (_ListInsure.Count > 0)
                                    {
                                        for (int i = 0; i < _ListInsure.Count; i++)
                                        {
                                            HistoryInsure_Model zModel = _ListInsure[i];

                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@zModel.DateWrite.ToString("dd/MM/yyyy")</td>
                                                <td>@zModel.Description</td>
                                                <td>@zModel.StatusName</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="DetailIn(@zModel.AutoKey)"><i class="far fa-edit"></i></button>
                                                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteIn(@zModel.AutoKey)"><i class="fas fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <div class="alert alert-primary">
                                                    <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>8. Mức lương áp dụng</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <table class="table Custom table-borderd">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ghi chú</th>
                                    <th>Thời gian áp dụng</th>
                                    <th>Tình trạng</th>
                                    <th class="text-right">
                                        <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="DetailPayroll(0)">
                                            <i class="fa fa-plus"></i>
                                            Thêm mới
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbodySalary">
                               @Html.Partial("~/Views/Employee/Salary/StandardList.cshtml", _ListPayroll)
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!--Modal popup-->

<div id="modalEditEdu" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Quá trình học tập</h2>

        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="degreeName" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên bằng cấp</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DegreeNameEdu" placeholder="Tên bằng cấp" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="degreeby" class="col-lg-5 col-xl-3 control-label text-lg-right">Trường/Khóa học</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DegreeByEdu" placeholder="Trường/Khóa học" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-lg-5 col-xl-3 control-label text-lg-right">Từ năm</label>
                <div class="col-lg-3 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_FromDateEdu" required="" name="StartingDate"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-lg-5 col-xl-3 control-label text-lg-right">Đến năm</label>
                <div class="col-lg-3 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_ToDateEdu" required="" name="StartingDate"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="rank" class="col-lg-5 col-xl-3 control-label text-lg-right">Tốt nghiệp</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_StatusEdu" class="form-control select2" name="Status">
                        <option value="0" selected>Chưa xác định</option>
                        <option value="1"> Chưa tốt nghiệp</option>
                        <option value="2">Đã tốt nghiệp</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="rank" class="col-lg-5 col-xl-3 control-label text-lg-right">Xếp loại</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_ClassifiedEdu" class="form-control select2" name="Status">
                        <option value="0" selected>Chưa xác định</option>
                        <option value="1"> Xuất săc</option>
                        <option value="2">Giỏi</option>
                        <option value="3">Khá</option>
                        <option value="4">Trung bình</option>
                        <option value="5">Kém</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Đào tạo</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_TypeNameEdu" placeholder="Đại học" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DescriptionEdu" placeholder="Ghi chú" required="">
                </div>
            </div>

        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveEdu()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_EduKey" type="hidden" name="EduKey" value="0" />

</div>
<div id="modalEditExp" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Kinh nghiệm làm việc</h2>

        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="unitwork" class="col-lg-5 col-xl-3 control-label text-lg-right">Đơn vị công tác</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_UnitWorkExp" placeholder="Đơn vị công tác" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="unitposition" class="col-lg-5 col-xl-3 control-label text-lg-right">Vị trí/ chức vụ</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_UnitPositionExp" placeholder="Trưởng phòng" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-lg-5 col-xl-3 control-label text-lg-right">Từ năm</label>
                <div class="col-lg-3 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_FromDateExp" required="" name="StartingDate"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-lg-5 col-xl-3 control-label text-lg-right">Đến năm</label>
                <div class="col-lg-3 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_ToDateExp" required="" name="StartingDate"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Mô tả công việc</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DescriptionExp" placeholder="Mô tả" required="">
                </div>
            </div>

        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveExp()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_ExpKey" type="hidden" name="ExpKey" value="0" />

</div>
<div id="modalEditSkill" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Kỹ năng nổi bật</h2>

        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="unitwork" class="col-lg-5 col-xl-3 control-label text-lg-right">Kỹ năng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_SkillNameSk" placeholder="Kỹ năng" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Mô tả kỹ năng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DescriptionSk" placeholder="Mô tả" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Mức độ</label>
                <div class="col-lg-2 col-xl-2">
                    <input type="text" class="form-control" id="txt_LevelsSk" placeholder="0" value="0" required="">
                </div>
                <label for="description">/ </label>
                <div class="col-lg-2 col-xl-2">
                    <input class="form-control" id="txt_MaxLevelsSk" placeholder="0" value="10" required="">
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveSkill()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_SkillKey" type="hidden" name="SkillKey" value="0" />

</div>
<div id="modalEditIn" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Nhật kí BHXH</h2>

        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="address" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày</label>
                <div class="col-lg-3 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_DateWriteIn" required="" name="StartingDate"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Mô tả</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DescriptionIn" placeholder="Mô tả" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="unitwork" class="col-lg-5 col-xl-3 control-label text-lg-right">Tình trạng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_StatusNameIn" placeholder="" required="">
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveIn()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_InKey" type="hidden" name="InKey" value="0" />

</div>
<div id="modalEditPayroll" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">

</div>

@section scripts{
    <script src="@Url.Content("~/assets/Appjs/Employee/Edit.js")"></script>
    <script>
        var URL_SaveInfo = '@Url.Action("SaveInfo", "Employee")';
        var URL_DetailFamily = '@Url.Action("DetailFamily", "Employee")';
        var URL_SaveFamily = '@Url.Action("SaveFamily", "Employee")';
        var URL_DetailJob = '@Url.Action("DetailJob", "Employee")';
        var URL_SaveJob = '@Url.Action("SaveJob", "Employee")';
        var URL_DetailEdu = '@Url.Action("DetailEdu", "Employee")';
        var URL_SaveEdu = '@Url.Action("SaveEdu", "Employee")';
        var URL_DeleteEdu = '@Url.Action("DeleteEdu", "Employee")';
        var URL_DetailExp = '@Url.Action("DetailExp", "Employee")';
        var URL_SaveExp = '@Url.Action("SaveExp", "Employee")';
        var URL_DeleteExp = '@Url.Action("DeleteExp", "Employee")';
        var URL_DetailSkill = '@Url.Action("DetailSkill", "Employee")';
        var URL_SaveSkill = '@Url.Action("SaveSkill", "Employee")';
        var URL_DeleteSkill = '@Url.Action("DeleteSkill", "Employee")';
        var URL_DetailIn = '@Url.Action("DetailIn", "Employee")';
        var URL_SaveIn = '@Url.Action("SaveIn", "Employee")';
        var URL_DeleteIn = '@Url.Action("DeleteIn", "Employee")';
        var URL_Payroll = '@Url.Action("SalaryStandard", "Employee")';
        var URL_SavePay = '@Url.Action("SalarySave", "Employee")';
        var URL_PayrollList = '@Url.Action("SalaryStandardList", "Employee")';
        var URL_DeletePayroll = '@Url.Action("SalaryDelete","Employee")';
    </script>
}
