﻿@{
    Layout = null;

    List<Department_Model> _SelectDepartment = new List<Department_Model>();
    if (ViewBag.SelectDepartment != null)
    {
        _SelectDepartment = ViewBag.SelectDepartment as List<Department_Model>;
    }
    List<Select_Item> _SelectAge = new List<Select_Item>();
    if (ViewBag.SelectAge != null)
    {
        _SelectAge = ViewBag.SelectAge as List<Select_Item>;
    }
    List<Select_Item> _SelectEdu = new List<Select_Item>();
    if (ViewBag.SelectEdu != null)
    {
        _SelectEdu = ViewBag.SelectEdu as List<Select_Item>;
    }
    List<Position_Model> _SelectPosition = new List<Position_Model>();
    if (ViewBag.SelectPosition != null)
    {
        _SelectPosition = ViewBag.SelectPosition as List<Position_Model>;
    }
    List<Select_Item> _ListStatus = new List<Select_Item>();
    _ListStatus.Add(new Select_Item
    {
        Key = "0",
        Name = "--Tình trạng--"
    });
    _ListStatus.Add(new Select_Item
    {
        Key = "1",
        Name = "Đang làm việc"
    });
    _ListStatus.Add(new Select_Item
    {
        Key = "2",
        Name = "Đã nghĩ việc"
    });
    _ListStatus.Add(new Select_Item
    {
        Key = "3",
        Name = "Tạm nghĩ chế độ"
    });
    _ListStatus.Add(new Select_Item
    {
        Key = "4",
        Name = "Đang thử việc"
    });
}

<form class="card border border-primary" method="get" action="@Url.Action("Search", "Employee")">
    <div class="card-header">
        <h2 class="card-title">Tìm nhân sự theo điều kiện</h2>
    </div>
    <div class="card-body border-primary">
        <div class="form-label-group">
            <input type="text" class="form-control" placeholder="Tìm" id="txt_EmloyeeName" name="SearchName">
            <label for="txt_EmloyeeName">Tìm họ tên</label>
        </div>
        <div class="form-group">
            <select class="form-control select2" id="cbo_Department" placeholder="Department" name="Department">
                <option value="" selected>--//--</option>
                @{
                    List<Department_Model> ListParent = _SelectDepartment
                        .GroupBy(o => o.BranchKey)
                        .Select(v => v.First())
                        .ToList<Department_Model>();

                    foreach (Department_Model ParentItem in ListParent)
                    {
                        <optgroup label="@ParentItem.BranchName">

                            @{
                                List<Department_Model> ListChild = _SelectDepartment
                                    .Where(x => x.BranchKey == ParentItem.BranchKey)
                                    .ToList<Department_Model>();
                                if (ListChild.Count >= 2)
                                {
                                    var data = "'" + String.Join("', '", ListChild.Select(x => x.DepartmentKey).ToArray()) + "'";
                                    <option value="@data">-  Tất cả (@ParentItem.BranchName)</option>
                                }
                                foreach (Department_Model zItem in ListChild)
                                {
                                    <option value="@zItem.DepartmentKey">-  @zItem.DepartmentName</option>
                                }
                            }
                        </optgroup>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <select class="form-control " id="cbo_Gender" placeholder="Gender" name="Gender">
                <option value="-1">--Giới tính--</option>
                <option value="1">Nam</option>
                <option value="0">Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control " id="cbo_Age" placeholder="Age" name="Age">
                <option value="0">--Độ tuổi--</option>
                @{
                    foreach (Select_Item Age in _SelectAge)
                    {
                        <option value="@Age.Name">@Age.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <select class="form-control " id="cbo_Edu" placeholder="Edu" name="Edu">
                <option value="">--Trình độ--</option>
                @{
                    foreach (Select_Item Edu in _SelectEdu)
                    {
                        <option value="@Edu.Name">@Edu.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <select class="form-control select2" id="cbo_Position" placeholder="Position" name="Position">
                <option value="">--Chức vụ--</option>
                @{
                    foreach (Position_Model Item in _SelectPosition)
                    {
                        <option value="@Item.PositionKey">@Item.PositionNameVN</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <select class="form-control select2" id="cbo_Status" placeholder="Status" name="Status">
                @foreach (var rec in _ListStatus)
                {
                    <option value="@rec.Key">@rec.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <select class="form-control select2" id="cbo_Social" placeholder="Social" name="Social">
                <option value="">--BHXH--</option>
                <option value="BH">--Có BHXH--</option>
                <option value="KO">--Không BHXH--</option>
            </select>
        </div>
        <div class="row">
            <label class="control-label col-md-4">
                Ngày tuyển dụng
            </label>
            <div class="col-md-4">
                <div class="form-label-group">
                    <input type="text" id="txt_FromDate" name="FromDate"
                           placeholder="Chọn ngày" class="form-control datepicker"
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                    <label for="txt_FromDate">Từ ngày</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-label-group">
                    <input type="text" id="txt_ToDate" name="ToDate"
                           placeholder="Chọn ngày" class="form-control datepicker"
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                    <label for="txt_ToDate">Đến ngày</label>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer border-primary text-center">
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>
        <button id="btn_Save" type="submit" class="btn btn-outline-primary">
            <i class="fas fa-search"></i>
            Tìm
        </button>
    </div>
    <input id="Hidden1" type="hidden" name="ViewPage" value="@ViewBag.ViewPage" />
</form>