﻿
@{
    ViewBag.Title = "List_Leave";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ToYear = "";
    string Name = "";
    List<Leave_Close_Model> _ListData = new List<Leave_Close_Model>();
    if (ViewBag.ListData != null)
    {

        _ListData = ViewBag.ListData as List<Leave_Close_Model>;
    }
    if (ViewBag.Year != null && ViewBag.Name != null)
    {
        ToYear = ViewBag.Year;
        Name = ViewBag.Name;
    }
}

@section Styles{
    <style>
        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 12px;
                    color: #777
                }
    </style>
}

<header class="page-header">
    <h2>
        <i class="fas fa-file-signature"></i>
        Truy xuất nghỉ phép
    </h2>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <form class="form-group row" id="idform" method="post" action="@Url.Action("List_Leave", "Employee")">
                    <div class="col-2">
                        <input type="number" class="form-control" id="txt_Year" placeholder="Năm" required="" value="@ToYear" name="Year">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="txt_Name" placeholder="Họ tên" value="@Name" name="Name">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-primary" type="submit" name="sbutton" value="btn_Search" id="btn_Search">
                            <i class="fas fa-search"></i>
                            Tìm
                        </button>
                    </div>
                    <div class="col-5">
                        <button class="btn btn-outline-primary float-right" type="button" name="sbutton" value="btn_Export" id="btn_Export" onclick="tableToExcel('table-1', 'Theo dõi phép')">
                            <i class="fa fa-download"></i>
                            Tải Excel
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-body border-primary">
                <table class="table table-sm" id="table-1">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Nội dung</th>
                            <th>Lý do</th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">

                        @{
                            int No = 0;
                            var Emp = _ListData.DistinctBy(x => x.EmployeeKey).ToList();
                            foreach (var rec in Emp)
                            {
                                No++;
                                var ListItem = _ListData.FindAll(x => x.EmployeeKey == rec.EmployeeKey);
                                if (ListItem.Count > 0)
                                {
                                    for (int i = 0; i < ListItem.Count; i++)
                                    {
                                        var Model = ListItem[i];
                                        <tr view="@rec.EmployeeKey">
                                            <td>@No</td>
                                            <td>@rec.EmployeeName</td>
                                            <td>@Html.Raw(Model.Description)</td>
                                            <td>@Model.Message</td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/assets/Appjs/jquery.table2excel.js"></script>
    <script src="~/assets/js/row-merge-bundle.js"></script>
    <script type="text/javascript">
        var tableToExcel = (function () {
            // Define your style class template.
            var style = "<style>.green { background-color: green; }</style>";
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->' + style + '</head><body><table>{table}</table></body></html>'
                , base64 = function (s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                }
                , format = function (s, c) {
                    return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })
                }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)

                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
    </script>
    <script>
        var URL_Detail = '@Url.Action("LeaveOpenNote", "Employee")';
        var URL_Delete = '@Url.Action("LeaveDeleteNote", "Employee")';
        var URL_Save = '@Url.Action("LeaveSaveNote", "Employee")';
        var URL_Employee = '@Url.Action("GetInfoEmployee", "Employee")';
        var URL_Track = '@Url.Action("LeaveTracking", "Employee")';

        $(document).ready(function () {
            $("#cbo_Employee").change(function () {
                var EmployeeKey = $('#cbo_Employee').val();
                GetInfoEmployee(EmployeeKey)
            });
            $('#tblBody').on("click", "tr", function () {
                var id = $(this).attr("id");
                $("tr[view='" + id + "']").toggle();
            });

        });

        $(function () {
            var table = $('#table-1').rowMerge({
                excludedColumns: [3,4,5,6,7],
                zeroIndexed: false,
            });
        });

        function Excel() {
            $("#table-1").table2excel({
                exclude: ".noExl",
                name: "Theo doi phep"
            });
        }



    </script>
}

