﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Employee_Model> _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
    List<Position_Model> _SelectPosition = new List<Position_Model>();
    if (ViewBag.SelectPosition != null)
    {
        _SelectPosition = ViewBag.SelectPosition as List<Position_Model>;
    }
    List<Employee_Model> _SelectReportTo = new List<Employee_Model>();
    if (ViewBag.SelectReportTo != null)
    {
        _SelectReportTo = ViewBag.SelectReportTo as List<Employee_Model>;
    }
    List<Branch_Model> _SelectBranch = new List<Branch_Model>();
    if (ViewBag.SelectBranch != null)
    {
        _SelectBranch = ViewBag.SelectBranch as List<Branch_Model>;
    }
    List<Department_Model> _SelectDepartment = new List<Department_Model>();
    if (ViewBag.SelectDepartment != null)
    {
        _SelectDepartment = ViewBag.SelectDepartment as List<Department_Model>;
    }

}
@section Styles{
    <style>
        :root {
            --input-padding-x: .75rem;
            --input-padding-y: .75rem
        }

        .form-control {
            min-height: 2.7rem !important;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem
        }

            .form-label-group > input, .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x)
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent
            }

            .form-label-group input::-moz-placeholder {
                color: transparent
            }

            .form-label-group input::placeholder {
                color: transparent
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
                padding-bottom: calc(var(--input-padding-y)/3)
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y)/3);
                    padding-bottom: calc(var(--input-padding-y)/3);
                    font-size: 12px;
                    color: #777
                }
    </style>
}
<header class="page-header">
    <h2>Danh sách cán bộ công nhân viên</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <button class="btn btn-outline-primary" type="button" id="btn_Search">
                    <i class="fas fa-search"></i>
                    Bộ tìm kiếm
                </button>
                <form class="float-right" method="post" action="@Url.Action("ExportList", "Employee")">
                    <button class="btn btn-outline-primary" type="submit" name="sbutton" value="btn_Export" id="btn_Export">
                        <i class="fa fa-download"></i>
                        Tải Excel
                    </button>
                </form>
            </div>
            <div class="card-body border-primary p-0" id="divTable">
                <table class="table Custom table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã nhân viên</th>
                            <th>Họ và tên</th>
                            <th>Chức vụ</th>
                            <th>Tình trạng</th>
                            <th>Tuyển dụng</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>CMND</th>
                            <th>Địa chỉ nơi ở</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail(0)">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @for (int i = 0; i < _ListData.Count; i++)
                        {
                            Employee_Model Model = _ListData[i];
                            string zBirthday = "", zStartingDate = "";
                            if (Model.Birthday != DateTime.MinValue)
                            {
                                zBirthday = Model.Birthday.ToString("dd/MM/yyyy");
                            }
                            if (Model.StartingDate != DateTime.MinValue)
                            {
                                zStartingDate = Model.StartingDate.ToString("dd/MM/yyyy");
                            }
                            string Gender = "";
                            if (Model.Gender == 0)
                            {
                                Gender = "Nữ";
                            }
                            else
                            {
                                Gender = "Nam";
                            }
                            <tr>
                                <td>@(i + 1)</td>
                                <td style="white-space: nowrap">@Model.EmployeeID</td>
                                <td style="white-space: nowrap">@(Model.LastName + " " + Model.FirstName)</td>
                                <td style="white-space: nowrap">@Model.PositionName</td>
                                <td style="white-space: nowrap">@Model.WorkingStatusName</td>
                                <td>@zStartingDate</td>
                                <td>@Gender</td>
                                <td>@zBirthday</td>
                                <td>@Model.PassportNumber</td>
                                <td style="white-space: nowrap">@Model.AddressRegister</td>
                                <td style="white-space: nowrap">@Model.Email</td>
                                <td>@Model.MobiPhone</td>
                                <td class="text-right">
                                    <a type="button" data-toggle="tooltip" data-placement="top" title="Hồ sơ người lao động" class="btn btn-outline-info btn-sm modal-with-zoom-anim" href="@Url.Action("Edit", "Employee", new { Model.EmployeeKey })">
                                        <i class="far fa-folder-open"></i>
                                    </a>
                                    <button type="button" data-toggle="tooltip" data-placement="top" title="Cập nhật thông tin cơ bản" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@Model.EmployeeKey')">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" data-toggle="tooltip" data-placement="top" title="Xóa người lao động" class="btn btn-outline-danger btn-sm modal-with-zoom-anim" onclick="Delete('@Model.EmployeeKey')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin cơ bản của cán bộ công nhân viên</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Mã nhân viên</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_EmployeeID" placeholder="" required="" readonly disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Họ tên lót</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_LastName" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Tên nhân viên</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_FirstName" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Chức vụ</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Position" class="form-control select2" name="Position">
                        @foreach (Position_Model zItem in _SelectPosition)
                        {
                            <option value="@zItem.PositionKey">@zItem.PositionNameVN</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Người quản lý</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_ReportTo" class="form-control select2" name="ReportTo">
                        @foreach (Employee_Model zItem in _SelectReportTo)
                        {
                            <option value="@zItem.EmployeeKey">@(zItem.LastName + ' ' + zItem.FirstName)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Chi nhánh</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Branch" class="form-control select2" name="Branch">
                        <option value="">--//--</option>
                        @foreach (Branch_Model zItem in _SelectBranch)
                        {
                            <option value="@zItem.BranchKey">@zItem.BranchName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Phòng Ban</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Department" class="form-control select2" name="Department">
                        <option value="">--//--</option>
                        @foreach (Department_Model zItem in _SelectDepartment)
                        {
                            <option value="@zItem.DepartmentKey">@zItem.DepartmentName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Tuyển dụng</label>
                <div class="col-lg-7 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_StartDate" required="" name="Birthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Giới tính</label>
                <div class="col-lg-2 col-xl-2">
                    <div class="radio-custom radio-primary">
                        <input type="radio" id="rdo1" name="rdoGender" value="1" checked>
                        <label for="rdo1">Nam</label>
                    </div>
                </div>
                <div class="col-lg-2 col-xl-2">
                    <div class="radio-custom radio-primary col-lg-2 col-xl-2">
                        <input type="radio" id="rdo0" name="rdoGender" value="0">
                        <label for="rdo0">Nữ</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày sinh</label>
                <div class="col-lg-7 col-xl-9">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_Birthday" required="" name="Birthday"
                               placeholder="Chọn ngày" class="form-control datepicker" value=""
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">CMND</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Passport" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Địa chỉ</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Address" placeholder="Địa chỉ nơi ở" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Email</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Email" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Số điện thoại</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_MobiPhone" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="cbo_Insure" class="col-lg-5 col-xl-3 control-label text-right">Tham gia BHXH</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Insure" class="form-control" name="Insure">
                        <option value="" selected>-- Chọn --</option>
                        <option value="KO">Không</option>
                        <option value="BH">Có</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_EmployeeKey" type="hidden" name="Role" value="" />

</div>
<div id="modalSearch" class="zoom-anim-dialog modal-block mfp-hide modal-header-color modal-block-info">
    @Html.Action("Filter", "Employee", new { ViewPage = "LIST" })
</div>
@section scripts {
    <script src="~/assets/AppJs/tableHeadFixer.js"></script>
    <script>
        var URL_Detail = '@Url.Action("DetailEmployee", "Employee")';
        var URL_Delete = '@Url.Action("DeleteEmployee", "Employee")';
        var URL_Save = '@Url.Action("SaveEmployee", "Employee")';
        var URL_AutoID = '@Url.Action("GetID", "Employee")';
    </script>
    <script>
        $(document).ready(function () {
            $("#btn_Search").click(function () {
                Utils.OpenMagnific("#modalSearch");
            });
            $("#divTable").css({
                "height": $(window).height() - 290,
            });
            $("#tblData").tableHeadFixer({
                head: true,
                foot: false,
                left: 3,
                right: 1,
                'z-index': '501'
            });
        });

        function Save() {
            var EmployeeKey = $('#txt_EmployeeKey').val();
            var EmployeeID = $('#txt_EmployeeID').val();
            var LastName = $('#txt_LastName').val();
            var FirstName = $('#txt_FirstName').val();
            var PositionKey = $("#cbo_Position").val();
            var PositionName = $("#cbo_Position option:selected").text();
            var rdoGender = $('input[name="rdoGender"]:checked').val();
            var BirthDay = $('#txt_Birthday').val();
            var Passport = $('#txt_Passport').val();
            var Address = $('#txt_Address').val();
            var Email = $('#txt_Email').val();
            var MobiPhone = $('#txt_MobiPhone').val();
            var ReportToKey = $('#cbo_ReportTo').val();
            var ReportToName = $("#cbo_ReportTo option:selected").text();
            var BranchKey = $('#cbo_Branch').val();
            var BranchName = $("#cbo_Branch option:selected").text();
            var DepartmentKey = $('#cbo_Department').val();
            var DepartmentName = $("#cbo_Department option:selected").text();
            var StartDate = $('#txt_StartDate').val();
            var Style = $('#cbo_Insure').val();
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "EmployeeKey": EmployeeKey,
                    "EmployeeID": EmployeeID,
                    "LastName": LastName,
                    "FirstName": FirstName,
                    "PositionKey": PositionKey,
                    "PositionName": PositionName,
                    "Gender": rdoGender,
                    "BirthDay": BirthDay,
                    "Passport": Passport,
                    "Address": Address,
                    "Email": Email,
                    "MobiPhone": MobiPhone,
                    "ReportToKey": ReportToKey,
                    "ReportToName": ReportToName,
                    "BranchKey": BranchKey,
                    "BranchName": BranchName,
                    "DepartmentKey": DepartmentKey,
                    "DepartmentName": DepartmentName,
                    "StartDate": StartDate,
                    "Style": Style
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(EmployeeKey) {
            Utils.OpenMagnific('#modalEdit');
            if (EmployeeKey.length >= 36) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "EmployeeKey": EmployeeKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            var zBirthDay = Utils.ConvertToDDMMYYYY(obj.Birthday);
                            var zStartDate = Utils.ConvertToDDMMYYYY(obj.StartingDate);
                            $('#txt_EmployeeKey').val(obj.EmployeeKey);
                            $('#txt_EmployeeID').val(obj.EmployeeID);
                            $('#txt_LastName').val(obj.LastName);
                            $('#txt_FirstName').val(obj.FirstName);
                            $("input[name=rdoGender][value=" + obj.Gender + "]").attr('checked', 'checked');
                            $('#txt_Birthday').val(zBirthDay);
                            $('#txt_Passport').val(obj.PassportNumber);
                            $('#txt_Address').val(obj.AddressRegister);
                            $('#txt_Email').val(obj.Email);
                            $('#txt_MobiPhone').val(obj.MobiPhone);
                            $('#cbo_ReportTo').val(obj.ReportToKey).trigger('change');
                            $('#cbo_Position').val(obj.PositionKey).trigger('change');
                            $('#cbo_Branch').val(obj.BranchKey).trigger('change');
                            $('#cbo_Department').val(obj.DepartmentKey).trigger('change');
                            $('#txt_StartDate').val(zStartDate);
                            $('#cbo_Insure').val(obj.Style);
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
                $("#rdo1").val(1);
                $("#rdo0").val(0);

                $.ajax({
                    url: URL_AutoID,
                    type: 'GET',
                    data: {

                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        $('#txt_EmployeeID').val(r);
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
        }
        function Delete(EmployeeKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "EmployeeKey": EmployeeKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

    </script>
}