﻿
@{
    ViewBag.Title = "Seniority";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int ToYear = 0;
    int Status = 0;
    List<Employee_Model> _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null && ViewBag.Year != null)
    {
        ToYear = ViewBag.Year;
        Status = ViewBag.Status;
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
}

<header class="page-header">
    <h2>Danh sách thâm niên cán bộ công nhân viên</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <form class="form-group row" id="idform" method="post" action="@Url.Action("List_Seniority", "Employee")">
                    <div class="col-2">
                        <input type="number" class="form-control" id="txt_Year" placeholder="Năm" required="" value="@ToYear" name="Year">
                    </div>
                    <div class="col-2">
                        <select class="form-control select2" id="Status" placeholder="Status" name="Status">
                            @{
                                if (Status == 1)
                                {
                                    <option value="0" disabled>Tình trạng làm việc</option>
                                    <option value="0">--Tất cả--</option>
                                    <option value="1" selected>Đang làm việc</option>
                                    <option value="2">Đã nghĩ việc</option>
                                }
                                else
                                {
                                    if (Status == 2)

                                    {
                                        <option value="0" disabled>Tình trạng làm việc</option>
                                        <option value="0">--Tất cả--</option>
                                        <option value="1">Đang làm việc</option>
                                        <option value="2" selected>Đã nghĩ việc</option>
                                    }
                                    else
                                    {
                                        <option value="0" disabled selected>Tình trạng làm việc</option>
                                        <option value="0">--Tất cả--</option>
                                        <option value="1">Đang làm việc</option>
                                        <option value="2">Đã nghĩ việc</option>
                                    }
                                }
                            }


                        </select>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-primary" type="submit" name="sbutton" value="btn_Search" id="btn_Search">
                            <i class="fas fa-search"></i>
                            Tìm
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-outline-primary float-right" type="submit" name="sbutton" value="btn_Export" id="btn_Export">
                            <i class="fa fa-download"></i>
                            Tải Excel
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-body border-primary p-0" id="divTable">
                <table class="table Custom table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã nhân viên</th>
                            <th>Họ và tên</th>
                            <th>Chức vụ</th>
                            <th>Tuyển dụng</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Thâm niên</th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @for (int i = 0; i < _ListData.Count; i++)
                        {
                            Employee_Model Model = _ListData[i];
                            string zBirthday = "", zStartingDate = "";
                            if (Model.Birthday != DateTime.MinValue)
                            {
                                zBirthday = Model.Birthday.ToString("dd/MM/yyyy");
                            }
                            if (Model.StartingDate != DateTime.MinValue)
                            {
                                zStartingDate = Model.StartingDate.ToString("dd/MM/yyyy");
                            }
                            string Gender = "";
                            if (Model.Gender == 0)
                            {
                                Gender = "Nữ";
                            }
                            else
                            {
                                Gender = "Nam";
                            }
                            <tr>
                                <td>@(i + 1)</td>
                                <td style="white-space: nowrap">@Model.EmployeeID</td>
                                <td style="white-space: nowrap">@(Model.LastName + " " + Model.FirstName)</td>
                                <td style="white-space: nowrap">@Model.PositionName</td>
                                <td>@zStartingDate</td>
                                <td>@Gender</td>
                                <td>@zBirthday</td>
                                <td>@Model.Note</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/assets/AppJs/tableHeadFixer.js"></script>
    <script>
        var URL_Export= '@Url.Action("ExportSeniority", "Employee")';
    </script>
    <script>
        $(document).ready(function () {

            $("#divTable").css({
                "height": $(window).height() - 290,
            });
            $("#tblData").tableHeadFixer({
                head: true,
                foot: false,
                left: 3,
                right: 1,
                'z-index': '501'
            });
        });
        function ExportExcel() {
            $.ajax({
                url: URL_Export,
                type: 'POST',
                data: {
                    "Year": $("#txt_Year").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    //if (!r.Success) {
                    //    Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    //}
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
    </script>
}