﻿@using System.Data
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Map = "";
    if (ViewBag.Map != null)
    {
        Map = ViewBag.Map;
    }
    List<Employee_Model> _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
    var _BranchTable = new DataTable();
    if (ViewBag.BranchTable != null)
    {
        _BranchTable = ViewBag.BranchTable as DataTable;
    }
}
<link href="@Url.Content("/assets/Appcss/Employee/Map.css")" rel="stylesheet" />
<style>
    :root {
        --input-padding-x: .75rem;
        --input-padding-y: .75rem
    }

    .form-control {
        min-height: 2.7rem !important;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem
    }

        .form-label-group > input, .form-label-group > label {
            padding: var(--input-padding-y) var(--input-padding-x)
        }

        .form-label-group > label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            line-height: 1.5;
            color: #495057;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out
        }

        .form-label-group input::-webkit-input-placeholder {
            color: transparent
        }

        .form-label-group input:-ms-input-placeholder {
            color: transparent
        }

        .form-label-group input::-ms-input-placeholder {
            color: transparent
        }

        .form-label-group input::-moz-placeholder {
            color: transparent
        }

        .form-label-group input::placeholder {
            color: transparent
        }

        .form-label-group input:not(:placeholder-shown) {
            padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
            padding-bottom: calc(var(--input-padding-y)/3)
        }

            .form-label-group input:not(:placeholder-shown) ~ label {
                padding-top: calc(var(--input-padding-y)/3);
                padding-bottom: calc(var(--input-padding-y)/3);
                font-size: 12px;
                color: #777
            }
</style>
<header class="page-header">
    <h2>
        <i class="fas fa-sitemap"></i>
        Sơ đồ nhân sự
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("Map", "Employee")">
                    <i class="fas fa-sitemap"></i>
                    Sơ đồ nhân sự
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<a class="modal-with-zoom-anim btn btn-info"
   style="position: fixed; right: 40px; z-index:999" href="#" id="btn_Search">
    Bộ tìm kiếm
</a>

@{
    if (Map != string.Empty)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="body genealogy-body genealogy-scroll" id="Map">
                    <div class="genealogy-tree">
                        @Html.Raw(ViewBag.Map)
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                @if (_ListData.Count > 0)
                {
                    <div class="body genealogy-body genealogy-scroll" id="Map">
                        <div class="genealogy-tree">
                            <ul class="">
                                @{
                                    foreach (Employee_Model zEmployee in _ListData)
                                    {
                                        string Name = zEmployee.LastName + " " + zEmployee.FirstName;
                                        string Key = zEmployee.EmployeeKey;
                                        string Photo = Helper.DefaultImage;
                                        if (zEmployee.PhotoPath.Length > 0)
                                        {
                                            Photo = zEmployee.PhotoPath;
                                        }

                                        <li>
                                            <a href="javascript: void(0); ">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="@Photo" alt="Member">
                                                        <span class="btn btn-outline-primary border-0 exInfo" name="@Key"
                                                              data-toggle="tooltip" data-placement="right"
                                                              title="" data-original-title="Hồ sơ">
                                                            <i class="fas fa-lg fa-info-circle"></i>
                                                        </span>
                                                        <span class="btn btn-outline-warning border-0 exRate"
                                                              style="display:none;"
                                                              name="@Key"
                                                              data-toggle="tooltip" data-placement="right" title=""
                                                              data-original-title="Đánh giá">
                                                            <i class="far fa-star"></i>
                                                        </span>
                                                        <div class="member-details">
                                                            <h3>@Name</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">
                        <strong>Không tìm thấy dữ liệu phù hợp !</strong>.
                    </div>
                }
            </div>
        </div>
    }

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">Nhân sự các phòng ban</h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <tr>
                            <th rowspan="2" class="text-center">Bộ phận, chi nhánh</th>
                            <th colspan="4" class="text-center">Số lao động</th>
                        </tr>
                        <tr>
                            <th class="text-center">Đang làm việc</th>
                            <th class="text-center">Đã nghĩ việc</th>
                            <th class="text-center">Có BHXH</th>
                            <th class="text-center">Không BHXH</th>
                        </tr>

                        @{
                            int TongNSLV = 0;
                            int TongNSNV = 0;
                            int TongNSCO = 0;
                            int TongNSKO = 0;

                            foreach (DataRow r in _BranchTable.Rows)
                            {
                                string BranchName = r["BranchName"].ToString();
                                int NSLV = r["NSLV"].ToInt();
                                int NSNV = r["NSNV"].ToInt();
                                int CoBHXH = r["CoBHXH"].ToInt();
                                int KoBHXH = r["KoBHXH"].ToInt();

                                TongNSLV += NSLV;
                                TongNSNV += NSNV;
                                TongNSCO += CoBHXH;
                                TongNSKO += KoBHXH;
                                <tr>
                                    <th>@BranchName</th>
                                    <td class="text-center">@NSLV</td>
                                    <td class="text-center">@NSNV</td>
                                    <td class="text-center">@CoBHXH</td>
                                    <td class="text-center">@KoBHXH</td>
                                </tr>
                            }

                            <tr class="bg-info text-white">
                                <th>Tổng</th>
                                <th class="text-center">@TongNSLV</th>
                                <th class="text-center">@TongNSNV</th>
                                <th class="text-center">@TongNSCO</th>
                                <th class="text-center">@TongNSKO</th>
                            </tr>
                        }
                    </table>
                </div>
            </div>

        </div>
    </div>
}

<div id="modalSearch" class="zoom-anim-dialog modal-block mfp-hide modal-header-color modal-block-info">
    @Html.Action("Filter", "Employee", new { ViewPage = "MAP" })
</div>

@section  scripts{
    <script>
        //view
        var URL_Info = '@Url.Action("Info", "Employee")';
        var URL_History = '@Url.Action("History", "Employee")';
        var URL_General = '@Url.Action("General","Employee")';
        var URL_Gross = '@Url.Action("Gross", "Employee")';
        var URL_Seniority = '@Url.Action("Seniority", "Employee")';
        var URL_Review = '@Url.Action("Review", "Employee")';

        //action
        var URL_ReviewQuick = '@Url.Action("ReviewQuick", "Employee")';
        var URL_ReviewSave = '@Url.Action("ReviewSave", "Employee")';
        var URL_GrossView = '@Url.Action("GrossDetail", "Employee")';
    </script>
    <script src="~/assets/Appjs/Employee/Map.js"></script>
    <script>

    </script>
}