﻿
<div class="card border border-primary">
    <div class="card-header">
        <h2 class="card-title">Chi tiết áp dụng</h2>
    </div>
    <div class="card-body border-primary">
        <div class="col-lg-12">
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right">Từ ngày</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_DateWrite" name="ToDate" placeholder="Chọn ngày" class="form-control datepicker" value="" data-plugin-datepicker="" data-date-format="mm/yyyy">
                    </div>
                </div>
                <label class="col-sm-2 control-label text-right">Đến ngày</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input type="text" id="txt_DateWrite" name="ToDate" placeholder="Chọn ngày" class="form-control datepicker" value="" data-plugin-datepicker="" data-date-format="mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right">Ghi chú</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="txt_DescriptionItem" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <table class="table Custom table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nội dung</th>
                                <th>Chi phí</th>
                                <th>Loại phí</th>
                                <th>Ghi chú</th>
                                <th class="text-right">
                                    <button type="button" class="modal-with-zoom-anim btn btn-info" onclick="AddRow()">
                                        <i class="fa fa-plus"></i>Thêm
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblBody">
                            <tr RecordStatus='0'>
                                <td>1</td>
                                <td>
                                    <select id="cbo_ClassifiedEdu" class="form-control select2" name="">
                                        <option value="0" selected>Mức lương cơ bản</option>
                                        <option value="1">Hỗ trợ xăng</option>
                                        <option value="2">Điện thoại</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" id="txt_TypeNameEdu" placeholder="100.000" required=""></td>
                                <td>
                                    <select id="cbo_ClassifiedEdu" class="form-control select2" name="">
                                        <option value="0" selected>Tiền mặt</option>
                                        <option value="1">%</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" id="txt_TypeNameEdu" placeholder="Ghi chú" required=""></td>
                                <td>
                                    <button type='button' class='btn btn-outline-danger float-right' name='btnDeleteOrder' onclick='RemoveRow(this)'>
                                        <i class='fas fa-trash'></i>
                                    </button>
                                </td>
                            </tr>
                            <tr RecordStatus='0'>
                                <td>1</td>
                                <td>
                                    <select id="cbo_ClassifiedEdu" class="form-control select2" name="">
                                        <option value="0" selected>Mức lương cơ bản</option>
                                        <option value="1">Hỗ trợ xăng</option>
                                        <option value="2">Điện thoại</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" id="txt_TypeNameEdu" placeholder="100.000" required=""></td>
                                <td>
                                    <select id="cbo_ClassifiedEdu" class="form-control select2" name="">
                                        <option value="0" selected>Tiền mặt</option>
                                        <option value="1">%</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="txt_TypeNameEdu" placeholder="Ghi chú" required="">
                                </td>
                                <td>
                                    <button type='button' class='btn btn-outline-danger float-right' name='btnDelete' onclick='RemoveRow(this)'>
                                        <i class='fas fa-trash'></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer border-primary text-center">
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>

    </div>
</div>


