﻿
@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string EmployeeName = Model.Employee.LastName + " " + Model.Employee.FirstName;

    List<Education_Model> _ListEdu = new List<Education_Model>();
    if (ViewBag.ListEdu != null)
    {
        _ListEdu = ViewBag.ListEdu as List<Education_Model>;
    }
    List<Experience_Model> _ListExperience = new List<Experience_Model>();
    if (ViewBag.ListExperience != null)
    {
        _ListExperience = ViewBag.ListExperience as List<Experience_Model>;
    }
    List<Skill_Model> _ListSkill = new List<Skill_Model>();
    if (ViewBag.ListSkill != null)
    {
        _ListSkill = ViewBag.ListSkill as List<Skill_Model>;
    }
}

<header class="page-header">
    <h2>Hồ sơ cá nhân</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="card-body row">
    <div class="col-md-3" id="LeftPanel">
        <div class="card-body mb-3 bg-success">
            <div class="form-group">
                @if (Model.Employee.PhotoPath.Length > 0)
                {
                    <img src="@Model.Employee.PhotoPath.Remove(0,1)" alt="Member" class="rounded-circle" style="width:100%">
                }
                else
                {
                    <img src="@Helper.DefaultImage" alt="Member" class="rounded-circle" style="width:100%">
                }
            </div>
            <div class="form-group row">
                <h3 class="col-12 text-center">@EmployeeName</h3>
                <h4 class="col-12 text-center">@Model.Employee.PositionName</h4>
            </div>
        </div>
        <div class="card-body p-0 text-primary text-left mb-3">
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="far fa-calendar-alt"></i>
                </span>
                Ngày sinh:
                @(Model.Employee.Birthday == DateTime.MinValue ? "Chưa cập nhật" : Model.Employee.Birthday.ToString("dd/MM/yyyy"))
            </div>
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="fas fa-circle"></i>
                </span>
                CMND:
                @(Model.Employee.PassportNumber + ", Ngày cấp: " + (Model.Employee.IssueDate == DateTime.MinValue ? "Chưa cập nhật" : Model.Employee.IssueDate.ToString("dd/MM/yyyy")) + ", Nơi cấp: " + Model.Employee.IssuePlace)
            </div>
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="fas fa-map-marker-alt"></i>
                </span>
                @Model.Employee.AddressRegister

            </div>
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="fas fa-phone"></i>
                </span>
                @Model.Employee.MobiPhone
            </div>
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="fas fa-envelope-square"></i>
                </span>
                @Model.Employee.Email
            </div>
            <h4 class="text-primary border-bottom border-primary pb-1 font-weight-semibold">
                <i class="fas  fa-list-ol"></i>
                Kỹ năng
            </h4>
            <div class=" pb-1">
                @if (_ListSkill.Count > 0)
                {
                    for (int i = 0; i < _ListSkill.Count; i++)
                    {
                        Skill_Model zModel = _ListSkill[i];

                        <span>@zModel.SkillName</span>
                        <div class="progress light m-2">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@((zModel.Levels*10).ToString())" aria-valuemin="0" aria-valuemax="@((zModel.Maxlevels*10).ToString())" style="width: @((zModel.Levels*10).ToString())%;">
                                @(zModel.Levels.ToString() + "/" + zModel.Maxlevels.ToString())
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-danger">
                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                    </div>
                }
            </div>
        </div>
        <div class="card-body p-0 text-primary text-left mb-3">
            <h4 class="text-primary border-bottom border-primary pb-1 font-weight-semibold">
                <i class='fas fa-house-damage'></i>Người thân, gia cảnh
            </h4>
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="fas fa-circle"></i>
                </span>
                Cha: <b>@Model.Family.FatherName</b><br />
                Ngày sinh: @(Model.Family.FatherBirthday == DateTime.MinValue ? "Chưa cập nhật" : Model.Family.FatherBirthday.ToString("dd/MM/yyyy"))<br />
                Nơi ở: @Model.Family.FatherAddress<br />
                Công việc: @Model.Family.FatherWork
            </div>
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="fas fa-circle"></i>
                </span>
                Mẹ: <b>@Model.Family.MotherName</b><br />
                Ngày sinh: @(Model.Family.MotherBirthday == DateTime.MinValue ? "Chưa cập nhật" : Model.Family.MotherBirthday.ToString("dd/MM/yyyy"))<br />
                Nơi ở: @Model.Family.MotherAddress<br />
                Công việc: @Model.Family.MotherWork
            </div>
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="fas fa-circle"></i>
                </span>
                Vợ/Chồng: <b>@Model.Family.PartnersName</b><br />
                Ngày sinh: @(Model.Family.PartnersBirthday == DateTime.MinValue ? "Chưa cập nhật" : Model.Family.PartnersBirthday.ToString("dd/MM/yyyy"))<br />
                Nơi ở: @Model.Family.PartnersAddress<br />
                Công việc: @Model.Family.PartnersWork
            </div>
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="fas fa-circle"></i>
                </span>
                Con: <br />
                @Model.Family.ChildExtend
            </div>
            <div class=" pb-1">
                <span class="badge badge-primary">
                    <i class="fas fa-circle"></i>
                </span>
                Anh/chị, em: <br />
                @Model.Family.OrtherExtend
            </div>
        </div>
    </div>
    <div class="col-md-9" id="RightPanel">
        <h4 class="text-primary text-left pb-1 font-weight-semibold">
            <i class="fas  fa-lg fa-user-tie"></i>
            Thông tin công tác
        </h4>
        <div class="text-left text-dark">
            Phòng ban:
            <span class="text-primary font-weight-semibold">@(Model.Employee.DepartmentName == "" ? "Chưa cập nhật" : Model.Employee.DepartmentName)</span>
        </div>
        <div class="text-left text-dark">
            Địa diểm làm việc:
            <span class="text-primary font-weight-semibold">@(Model.Employee.BranchName == "" ? "Chưa cập nhật" : Model.Employee.BranchName)</span>
        </div>
        <div class="text-left text-dark">
            Hiện tại:
            <span class="text-primary font-weight-semibold">@Model.Employee.WorkingStatusName</span>
        </div>
        <div class="text-left text-dark">
            Người quản lý trực tiếp:
            <span class="text-primary font-weight-semibold">@Model.Employee.ReportToName</span>
        </div>
        <hr />
        <h4 class="text-primary text-left pb-1 font-weight-semibold">
            <i class="fas  fa-school"></i>
            Học vấn
        </h4>
        @if (_ListEdu.Count > 0)
        {
            <div class="timeline timeline-simple ">
                <div class="tm-body text-left">
                    <div class="tm-title">
                        <h5 class="m-0 pt-2 pb-2 text-uppercase text-primary font-weight-semibold">Từ @(_ListEdu[0].FromDate.ToString("yyyy"))</h5>
                    </div>
                    <ol class="tm-items">
                        @{
                            for (int i = 0; i < _ListEdu.Count; i++)
                            {
                                Education_Model zItem = _ListEdu[i];
                                string From = zItem.FromDate.ToString("dd/MM/yyyy");
                                string To = zItem.ToDate.ToString("dd/MM/yyyy");
                                string Time = From + " - " + To;
                                if (i == _ListEdu.Count - 1)
                                {
                                    Time = From + " - đến nay.";
                                }

                                <li class="text-left">
                                    <div class="tm-box appear-animation animated fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                                        <p>
                                            @Time
                                            @if (i < _ListEdu.Count - 1)
                                            {
                                                <span class="float-right font-weight-semibold">@TN_Utils.TimeAgo(zItem.ToDate, DateTime.Now)</span>
                                            }
                                            <br />
                                            <span class="text-dark">Trường/Khóa học: </span>
                                            <span class="text-primary font-weight-semibold"> @zItem.DegreeBy</span>
                                            <br />
                                            <span class="text-dark">Đào tạo: </span>
                                            <span class="text-primary">@(zItem.DegreeName + " : " + zItem.ClassifiedName)</span>
                                        </p>
                                    </div>
                                </li>
                            }
                        }
                    </ol>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
            </div>
        }
        <h4 class="text-primary text-left pb-1 font-weight-semibold">
            <i class="fas  fa-briefcase"></i>
            Kinh nghiệm
        </h4>
        @if (_ListExperience.Count > 0)
        {
            <div class="timeline timeline-simple ">
                <div class="tm-body text-left">
                    <div class="tm-title">
                        <h5 class="m-0 pt-2 pb-2 text-uppercase text-primary font-weight-semibold">Từ @(_ListExperience[0].FromDate.ToString("yyyy"))</h5>
                    </div>
                    <ol class="tm-items">
                        @{
                            for (int i = 0; i < _ListExperience.Count; i++)
                            {
                                Experience_Model zItem = _ListExperience[i];
                                string From = zItem.FromDate.ToString("dd/MM/yyyy");
                                string To = zItem.ToDate.ToString("dd/MM/yyyy");
                                string Time = From + " - " + To;
                                if (i == _ListExperience.Count - 1)
                                {
                                    Time = From + " - đến nay.";
                                }

                                <li class="text-left">
                                    <div class="tm-box appear-animation animated fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                                        <p>
                                            @Time
                                            @if (i < _ListExperience.Count - 1)
                                            {
                                                <span class="float-right font-weight-semibold">@TN_Utils.TimeAgo(zItem.ToDate, DateTime.Now)</span>
                                            }
                                            <br />
                                            <span class="text-dark">Đơn vị: </span>
                                            <span class="text-primary font-weight-semibold"> @zItem.UnitWork</span><br />
                                            <span class="text-dark">Chức vụ: </span>
                                            <span class="text-primary">@zItem.UnitPosition</span><br />
                                            <span class="text-dark">Mô tả công việc: </span>
                                            <span class="text-primary">@zItem.Description</span>
                                        </p>
                                    </div>
                                </li>
                            }
                        }
                    </ol>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
            </div>
        }
    </div>
</div>