﻿
@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department_Model> _ListSelectDepartment = new List<Department_Model>();
    if (ViewBag.ListSelectDepartment != null)
    {
        _ListSelectDepartment = ViewBag.ListSelectDepartment as List<Department_Model>;
    }
    List<Employee_Model> _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
}
<link href="@Url.Content("/assets/EmployeeTree.css")" rel="stylesheet" />

<header class="page-header">
    <h2>
        <i class="fas fa-sitemap"></i>
        Kết quả tìm nhân sự
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("Map", "Employee")">
                    <i class="fas fa-sitemap"></i>
                    Sơ đồ nhân sự
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<a class="modal-with-zoom-anim btn btn-info"
   style="position: fixed; right: 40px; z-index:999" href="#" id="btn_Search">
    Bộ tìm kiếm
</a>

<div class="row">
    <div class="col-md-12">
        @if (_ListData.Count > 0)
        {
            <div class="body genealogy-body genealogy-scroll" id="Map">
                <div class="genealogy-tree">
                    <ul class="">
                        @{
                            foreach (Employee_Model zEmployee in _ListData)
                            {
                                string Name = zEmployee.LastName + " " + zEmployee.FirstName;
                                string Key = zEmployee.EmployeeKey;
                                string Photo = Helper.DefaultImage;
                                if (zEmployee.PhotoPath.Length > 0)
                                {
                                    Photo = zEmployee.PhotoPath;
                                }

                                <li>
                                    <a href="javascript: void(0); ">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="@Photo" alt="Member">
                                                <span class="btn btn-outline-primary border-0 exInfo" name="@Key"
                                                      data-toggle="tooltip" data-placement="right"
                                                      title="" data-original-title="Hồ sơ">
                                                    <i class="fas fa-lg fa-info-circle"></i>
                                                </span>
                                                <span class="btn btn-outline-warning border-0 exRate" name="@Key"
                                                      data-toggle="tooltip" data-placement="right" title=""
                                                      data-original-title="Đánh giá">
                                                    <i class="far fa-star"></i>
                                                </span>
                                                <div class="member-details">
                                                    <h3>@Name</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                <strong>Không tìm thấy dữ liệu phù hợp !</strong>.
            </div>
        }
    </div>
</div>

<div id="modalSearch" class="zoom-anim-dialog modal-block mfp-hide modal-header-color modal-block-info">
    <form class="card border border-primary" method="get" action="@Url.Action("SearchResults","Employee")">
        <div class="card-header">
            <h2 class="card-title">Tìm nhân sự theo điều kiện</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-label-group">
                <input type="text" class="form-control" placeholder="Tìm" id="txt_EmloyeeName" name="SearchName">
                <label for="txt_EmloyeeName">Tìm họ tên</label>
            </div>
            <div class="form-group">
                <select class="form-control select2" id="cbo_Department" placeholder="Department" name="Department">
                    <option value="" selected>--//--</option>
                    @foreach (Department_Model zItem in _ListSelectDepartment)
                    {
                        <option value="@zItem.DepartmentKey">@zItem.DepartmentName</option>
                    }
                </select>
            </div>
            <div class="row">
                <label class="control-label col-md-4">
                    Ngày tuyển dụng
                </label>
                <div class="col-md-4">
                    <div class="form-label-group">
                        <input type="text" id="txt_FromDate" name="FromDate"
                               placeholder="Chọn ngày" class="form-control datepicker"
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy" />
                        <label for="txt_FromDate">Từ ngày</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-label-group">
                        <input type="text" id="txt_ToDate" name="ToDate"
                               placeholder="Chọn ngày" class="form-control datepicker"
                               data-plugin-datepicker=""
                               data-date-format="dd/mm/yyyy" />
                        <label for="txt_ToDate">Đến ngày</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="submit" class="btn btn-outline-primary">
                <i class="fas fa-search"></i>
                Tìm
            </button>
        </div>
    </form>
</div>

@section  scripts{
    <script>
        var URL_Info = '@Url.Action("Info", "Employee")';
        $(function () {
            $('#btn_Search').click(function () {
                Utils.OpenMagnific('#modalSearch');
            });
            $('.genealogy-tree li').on('click', 'span.btn', function (e) {
                e.preventDefault();
                e.stopPropagation();
                var employeekey = $(this).attr('name');
                $.dialog({
                    theme: 'supervan',
                    closeIcon: true,
                    columnClass: 'xlarge',
                    title: 'Hồ sơ nhân sự',
                    content: 'url:' + URL_Info + '?EmployeeKey=' + employeekey,
                    animation: 'scale',
                    closeAnimation: 'scale',
                    backgroundDismiss: true,
                });
            });
            $('.genealogy-tree ul').hide();
            $('.genealogy-tree > ul').show();
            $('.genealogy-tree ul.active').show();
            $('.genealogy-tree li').on('click', function (e) {
                var children = $(this).find('> ul');
                if (children.is(":visible")) {
                    children.hide('normal').removeClass('active');
                }
                else {
                    children.show('normal').addClass('active');
                }
                e.stopPropagation();
            });
            $(".genealogy-tree li").children('ul:has(li)').first().show();
        });
    </script>
}