﻿

.select2-container--default
.select2-selection--single {
    border: 1px solid #ced4da;
}

    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
        height: 38px;
    }

.select2-container--open {
    z-index: 100000 !important;
}

.select2-selection__rendered {
    line-height: 38px !important;
}

.select2-selection {
    height: 38.5px !important;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background: url(/assets/img/loading.gif) center no-repeat #fff;
}

label {
    top: 9px;
}

.inner-wrapper {
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
    min-height: 47vh;
}

#sidebar-left a.active,
.breadcrumbs a.active {
    font-weight: bold;
    color: seagreen !important;
}

table.Custom tr td:first-child,
table.Custom tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

table.Custom tr th:first-child,
table.Custom tr th:last-child {
    width: 1%;
    white-space: nowrap;
}

table > tbody > tr:hover {
    box-shadow: inset 1px 0 0 #EFF3F8, inset -1px 0 0 #EFF3F8, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    background-color: #f5f5f5;
    cursor: pointer;
}
