﻿/*@media print {
    body * {
        visibility: hidden;
    }

    #section-to-print, #section-to-print * {
        visibility: visible;
    }

}*/

.page-header {
    margin-bottom: 10px !important;
}

#DivSubCategory > ul {
    display: block !important;
}

li.active > button.btn {
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
    /* overlay animate in */
    .mfp-fade.mfp-bg.mfp-ready {
        opacity: 0.8;
    }
    /* overlay animate out */
    .mfp-fade.mfp-bg.mfp-removing {
        opacity: 0;
    }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.dialog.dialog-exlg {
    max-width: none;
    width: 100%;
}

div[data-action] {
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 14px 28px #b2c6e0, 0 10px 10px #5bc0de73;
    cursor: pointer;
}

.isotope-item {
    margin: 4px;
    border: 1px solid #0088cc73;
    border-radius: 4px;
}

    .isotope-item .thumbnail {
        margin-bottom: 0px !important;
        border: 0px !important;
        border-radius: inherit !important;
    }

    .isotope-item:hover {
        box-shadow: 0 14px 28px #b2c6e0, 0 10px 10px #5bc0de73;
        cursor: pointer;
    }

.dropdown-item {
    padding: 0.35rem 1.5rem
}

.HeaderItem div {
    font-weight: bold;
    text-align: center;
    height: 35px;
}

.BodyItem {
    border-bottom: 1px solid #007bff;
    cursor: pointer;
}

.FooterItem div {
    font-weight: bold;
    padding: 0px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-purple {
    background-color: #563d7c;
    color: white;
}

    .btn-purple:hover {
        background-color: #563d7ccc;
        color: white;
    }

form label {
    font-weight: bold !important;
}