﻿
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Customer_Model> _ListData = new List<Customer_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Customer_Model>;
    }
    List<Customer_Category_Model> _ListSelect = new List<Customer_Category_Model>();
    if (ViewBag.ListSelectCategory != null)
    {
        _ListSelect = ViewBag.ListSelectCategory as List<Customer_Category_Model>;
    }
}

<header class="page-header">
    <h2>Danh sách khách hàng</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <form action="@Url.Action("CustomerSearch","Customer")" method="get" class="row">
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txt_CustomerSearch" placeholder="Tìm khách hàng" name="SearchName">
                    </div>
                    <div class="col-md-2 text-right">
                        <button class="btn btn-primary" type="submit" id="btn_Search"><i class="fa fa-search"></i>Tìm</button>
                    </div>
                </form>
            </div>
            <div class="card-body border-primary">
                <table class="table Custom table-sm">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã khách hàng</th>
                            <th>Tên khách hàng</th>
                            <th class="d-none">Viết tắt</th>
                            <th>Lĩnh vực kinh doanh</th>
                            <th>Mã số thuế/CMND</th>
                            <th class="d-none">Loại </th>
                            <th>Điện thoại</th>
                            <th>Địa chỉ</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Detail('')">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (_ListData.Count > 0)
                        {
                            for (int i = 0; i < _ListData.Count; i++)
                            {
                                Customer_Model Model = _ListData[i];

                                string zCustomerNameType = "Cá nhân";
                                if (Model.CustomerType == 0)
                                {
                                    zCustomerNameType = "Cá nhân";
                                }
                                else if (Model.CustomerType == 1)
                                {
                                    zCustomerNameType = "Doanh nghiêp/Côngty";
                                }
                                else
                                {
                                    zCustomerNameType = "Cửa hàng";
                                }
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.CustomerID</td>
                                    <td>@Model.FullName</td>
                                    <td class="d-none">@Model.Aliases</td>
                                    <td>@Model.JobTitle</td>
                                    <td>@Model.TaxNumber</td>
                                    <td class="d-none">@zCustomerNameType</td>
                                    <td>@Model.Phone</td>
                                    <td>@Model.Address</td>
                                    <td class="text-right">
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Hồ sơ khách hàng" class="btn btn-outline-info btn-sm modal-with-zoom-anim d-none" onclick="Extra('@Model.CustomerKey')">
                                            <i class="far fa-folder-open"></i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Cập nhật thông tin cơ bản" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Detail('@Model.CustomerKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Xóa khách hàng" class="btn btn-outline-danger btn-sm modal-with-zoom-anim" onclick="Delete('@Model.CustomerKey')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="10">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin khách hàng</h2>
        </div>
        <div class="card-body border-primary">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" href="#popular" data-toggle="tab">
                            Thông tin chung
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#recent" data-toggle="tab">
                            Người liên hệ
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="popular" class="tab-pane active">
                        <div class="form-group row">
                            <label class="col-lg-5 col-xl-3 control-label text-right">Loại KH</label>
                            <div class="ccol-lg-7 col-xl-9">
                                <select id="cbo_Type" class="form-control select2" name="Type">
                                    <option value="0" selected="selected">--//--</option>
                                    @{
                                        foreach (Customer_Category_Model zItem in _ListSelect)
                                        {
                                            <option value="@zItem.CategoryKey">@zItem.CategoryName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Mã khách hàng</label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" id="txt_CustomerID" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Tên khách hàng</label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" id="txt_FullName" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Viết tắt</label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" id="txt_Aliases" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Lĩnh vực kinh doanh</label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" id="txt_JobTitle" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row" id="canhan" style="display:none">
                            <label for="username" class="col-lg-5 col-xl-3 control-label text-right">CMND/CCCD</label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" id="txt_IDCard" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row" id="tochuc" style="display:none">
                            <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Mã số thuế</label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" id="txt_TaxNumber" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Địa chỉ</label>
                            <div class="col-lg-7 col-xl-9">
                                <textarea type="text" class="form-control" id="txt_Address" placeholder="" data-plugin-textarea-autosize rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Số điện thoại</label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" id="txt_Phone" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Email</label>
                            <div class="col-lg-7 col-xl-9">
                                <input type="text" class="form-control" id="txt_Email" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ghi chú</label>
                            <div class="col-lg-7 col-xl-9">
                                <textarea type="text" class="form-control" id="txt_Note" placeholder="" data-plugin-textarea-autosize rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="recent" class="tab-pane">
                        <table class="table table-sm" >
                            <thead>
                                <tr>
                                    <th>Họ tên</th>
                                    <th>Điện thoại</th>
                                    <th>Ghi chú</th>
                                </tr>                                
                            </thead>
                            <tbody id="tblContact">
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Họ tên" name="FullName">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Số điện thoại" name="Phone">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Ghi chú" name="Description">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Họ tên" name="FullName">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Số điện thoại" name="Phone">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Ghi chú" name="Description">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Họ tên" name="FullName">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Số điện thoại" name="Phone">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Ghi chú" name="Description">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Họ tên" name="FullName">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Số điện thoại" name="Phone">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Ghi chú" name="Description">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Họ tên" name="FullName">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Số điện thoại" name="Phone">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Ghi chú" name="Description">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_CustomerKey" type="hidden" name="Role" value="" />
</div>

@section scripts {
    <script>
        var URL_Detail = '@Url.Action("DetailCustomer", "Customer")';
        var URL_Delete = '@Url.Action("DeleteCustomer", "Customer")';
        var URL_Save = '@Url.Action("SaveCustomer", "Customer")';

        $(document).ready(function () {
            $("#txt_CustomerID").blur(function () {
                $("#txt_IDCard").val($(this).val());
                $("#txt_TaxNumber").val($(this).val());
            });
            $("#cbo_Type").on("change",function () {
                var val = $(this).val();
                console.log(val);
                if (val === '6') {
                    //Cá nhân
                    $("#tochuc").hide();
                    $("#canhan").show();
                }
                if (val === '7') {
                    //Tổ chức, doanh nghiệp
                    $("#tochuc").show();
                    $("#canhan").hide();
                }
            });
        });

        function Save() {
            var CustomerKey = $('#txt_CustomerKey').val();
            var CustomerID = $('#txt_CustomerID').val();
            var FullName = $('#txt_FullName').val();
            var Aliases = $('#txt_Aliases').val();
            var JobTitle = $("#txt_JobTitle").val();
            var CustomerType = $("#cbo_Type").val();
            var CustomerTypeName = $("#cbo_Type option:selected").text();
            var TaxNumber = $('#txt_TaxNumber').val();
            var Address = $('#txt_Address').val();
            var Email = $('#txt_Email').val();
            var Phone = $('#txt_Phone').val();
            var Note = $('#txt_Note').val();
            var IDCard = $('#txt_IDCard').val();

            if (CustomerType === "0") {
                Utils.OpenNotify('Bạn phải chọn loại khách hàng', 'Thông báo', 'warning');
                return;
            }
            if (CustomerID.length <= 0) {
                Utils.OpenNotify('Bạn phải nhập mã khách hàng', 'Thông báo', 'warning');
                return;
            }
            if (FullName.length <= 0) {
                Utils.OpenNotify('Bạn phải nhập tên khách hàng', 'Thông báo', 'warning');
                return;
            }

            var ar = [];
            $("#tblContact tbody tr").each(function () {
                rowData = $(this).find('input').serializeArray();
                var rowAr = {};
                $.each(rowData, function (e, v) {
                     rowAr[v['name']] = v['value'];
                });
                ar.push(rowAr);
            });

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "CustomerKey": CustomerKey,
                    "CustomerID": CustomerID,
                    "FullName": FullName,
                    "Aliases": Aliases,
                    "JobTitle": JobTitle,
                    "IDCard": IDCard,
                    "CustomerType": CustomerType,
                    "CustomerTypeName": CustomerTypeName,
                    "TaxNumber": TaxNumber,
                    "Address": Address,
                    "Email": Email,
                    "Phone": Phone,
                    "Note": Note,
                    "Contact": JSON.stringify(ar),
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.Success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Detail(CustomerKey) {
            Utils.OpenMagnific('#modalEdit');
            if (CustomerKey.length >= 36) {
                $.ajax({
                    url: URL_Detail,
                    type: 'GET',
                    data: {
                        "CustomerKey": CustomerKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.Success) {
                            var obj = JSON.parse(r.Data);
                            $('#txt_CustomerKey').val(obj.CustomerKey);
                            $('#txt_CustomerID').val(obj.CustomerID);
                            $('#txt_FullName').val(obj.FullName);
                            $('#txt_Aliases').val(obj.Aliases);
                            $('#txt_JobTitle').val(obj.JobTitle);
                            $('#cbo_Type').val(obj.CustomerType).trigger('change');
                            $('#txt_TaxNumber').val(obj.TaxNumber);
                            $('#txt_Address').val(obj.Address);
                            $('#txt_Email').val(obj.Email);
                            $('#txt_Phone').val(obj.Phone);
                            $('#txt_Note').val(obj.Note);

                            if (obj.Contact.length > 0) {
                                $("#tblContact tbody").empty();                               
                                var html = '';
                                var data = JSON.parse(obj.Contact);
                                $.each(data, function (index, value) {
                                    html += '<tr>';
                                    $.each(value, function (index2, value2) {
                                        var input = '<input type="text" class="form-control" placeholder="." name="'+index2+'" value="'+value2+'">'
                                        html += '<td>' + input + '</td>';
                                    });
                                    html += '<tr>';
                                });
                                $("#tblContact tbody").append(html);
                            }
                        }
                        else {
                            Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {
                        $(".select2").select2({ width: "100%", placeholder: "--Chọn--" });
                    }
                });
            }
            else {
                Utils.ClearUI('#modalEdit');
            }
        }
        function Delete(CustomerKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "CustomerKey": CustomerKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
    </script>
}