﻿
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product_Land_Model> _SelectLand = new List<Product_Land_Model>();
    if (ViewBag.SelectLand != null)
    {
        _SelectLand = ViewBag.SelectLand as List<Product_Land_Model>;
    }
    List<Customer_Model> _SelectCustomer = new List<Customer_Model>();
    if (ViewBag.SelectCustomer != null)
    {
        _SelectCustomer = ViewBag.SelectCustomer as List<Customer_Model>;
    }

    string _Key = ViewBag.Key;
}

<style>
    .mfp-bg {
        z-index: 999999999;
    }

    .mfp-wrap {
        z-index: 999999999;
    }

    .hide {
        display: none;
    }

    .tm-box:hover .hide {
        display: block;
    }

    tr:hover .hide {
        display: block;
    }
</style>

<header class="page-header">
    <h2>
        <i class="far fa-map"></i>
        Các địa điểm khu tổng kho
    </h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="far fa-map"></i>
                    Địa điểm
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>
<div class="row">
    <div class="col-md-3">
        <select class="form-control select2" id="cbo_Map">
            <option value="">--//--</option>
            @foreach (Product_Land_Model Item in _SelectLand)
            {
                if (Item.ProductKey == _Key)
                {
                    <option selected="selected" value="@Item.ProductKey">@Item.ProductName</option>
                }
                else
                {
                    <option value="@Item.ProductKey">@Item.ProductName</option>
                }
            }
        </select>
    </div>
    <div class="col-md-3">
        <select id="cbo_SearchBuyer" class="form-control select2" name="SearchBuyer">
            <option value="">--//--</option>
            @foreach (Customer_Model zItem in _SelectCustomer)
            {
                <option value="@zItem.CustomerKey">@zItem.FullName</option>
            }
        </select>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <input name="txt_ContractID" type="text" id="txt_ContractID" class="form-control" placeholder="Số hđ/ phụ lục">
            <div class="input-group-append">
                <button type="button" class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="btn-group flex-wrap btn-block">
            <button type="button" class="btn btn-success">Sử dụng (@ViewBag.Type1)</button>
            <button type="button" class="btn btn-warning">Gần hạn (@ViewBag.Type2)</button>
            <button type="button" class="btn btn-danger">Trống (@ViewBag.Type3)</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="map" style="width: 100%; border-radius: 5px; border: 1px solid #0088cc;"></div>
    </div>
</div>

<div id="modalDiary" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thêm mới nội dung nhật ký kho</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group">
                <label for="" class="control-label">Thời gian</label>
                <div class="">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input class="form-control datepicker" placeholder="dd/MM/yyyy" id="txt_DateWrite" name="" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Nội dung</label>
                <div class="">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="control-label">Tập tin (có thể chọn 1 hoặc nhiều tập tin cùng lúc)</label>
                <div class="">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                <i class="fas fa-file-upload"></i>
                                Chọn
                                <input type="file" style="display: none;" multiple="" id="fileUpload">
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveDiary()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
<div id="modalContractEnd" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thanh lý</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group">
                <label for="txt_DateLiquidation" class="">Ngày thanh lý</label>
                <div class="">
                    <input type="text" id="txt_DateLiquidation" name="DateLiquidation" placeholder="Chọn ngày" class="form-control datepicker"
                           value="" data-plugin-datepicker="" data-date-format="dd/mm/yyyy">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="">Ghi chú thanh lý</label>
                <div class="">
                    <textarea type="text" class="form-control" id="txt_ReasonLiquidation" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveContractEnd()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
<div id="modalContractCopy" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Khởi tạo thông tin phụ lục hợp đồng</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số hợp đồng</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_CopyContractID" placeholder="" required="" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Số phụ lục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_CopySubContract" placeholder="" required="" value="Phụ lục 000">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Ngày ký</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_CopyDateSign" required="" name="Birthday"
                           placeholder="Chọn ngày" class="form-control datepicker" value=""
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="SaveCopy()">
                <i class="far fa-save"></i>
                Cập nhật > tiếp theo
            </button>
        </div>
    </div>
</div>
<div id="modalContractView" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">

</div>
<div id="modalContractDebt" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thêm mới nội dung công nợ</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group">
                <label for="" class="control-label">Thời gian thanh toán</label>
                <div class="">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </span>
                        <input class="form-control datepicker" placeholder="dd/MM/yyyy" id="txt_DebitDate" name="" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Số tiền thanh toán</label>
                <div class="">
                    <input class="form-control money" id="txt_AmountPaid" name="" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Còn nợ phải trả</label>
                <div class="">
                    <input class="form-control money" id="txt_AmountLeft" name="" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Phụ ghi</label>
                <div class="">
                    <textarea type="text" class="form-control" id="txt_DebitNote" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="control-label"> Tập tin (có thể chọn 1 hoặc nhiều tập tin cùng lúc)</label>
                <div class="">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                <i class="fas fa-file-upload"></i>
                               Chọn
                                <input type="file" style="display: none;" multiple="" id="fileDebitUpload">
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveNote()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>

<!---các Key quan trọng xử lý tương tác MAP-->
<input id="txt_ProductKey" type="hidden" value="" />
<input id="txt_RegionKey" type="hidden" value="" />
<input id="txt_ContractKey" type="hidden" value="" />
<input id="txt_CustomerKey" type="hidden" value="" />
<!----->

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJb0N2stuK1qw0128DbvgSedBjB8lWxU4" type="text/javascript"></script>
    @if (ViewBag.Message != null)
    {
        <script>
            $(document).ready(function () {
                $.alert({
                    title: 'Thông báo',
                    icon: 'fa fa-warning',
                    type: 'orange',
                    content: '@Html.Raw(ViewBag.Message)',
                });
            });
        </script>
    }

<script>
        var URL_ContractView = '@Url.Action("ContractView","Customer")';
        var URL_ContractEnd = '@Url.Action("ContractEnd", "Customer")';
        var URL_ContractCopyOpen = '@Url.Action("ContractEdit", new { Key = "contractkey" })';
        var URL_ContractCopy = '@Url.Action("ContractCopy", "Customer")';

        var URL_Contract = '@Url.Action("View_Contract","Customer")';
        var URL_General = '@Url.Action("General", "Customer")';
        var URL_Maintain = '@Url.Action("Maintain", "Customer")';
        var URL_History = '@Url.Action("History","Customer")';
        var URL_Technical = '@Url.Action("FileTech", "Customer")';

        var URL_AddDiary = '@Url.Action("AddDiary", "Customer")';
        var URL_LogDiary = '@Url.Action("LogDiary", "Customer")';
        var URL_DelDiary = '@Url.Action("DelDiary", "Customer")';

        var URL_DebitNote = '@Url.Action("DebitNote","Customer")';
        var URL_AddNote = '@Url.Action("AddNote","Customer")';
        var URL_DelNote = '@Url.Action("DelNote", "Customer")';
        var URL_LogNote = '@Url.Action("DataDebit", "Customer")';
</script>
    @Html.Raw(ViewBag.StringMap)
    <script src="~/assets/Appjs/Customer/Map.js"></script>
    <script>

    </script>
}