﻿@using System.Data
@{
    Layout = null;

    DataTable _InsuranceTable = new DataTable();
    if (ViewBag.InsuranceTable != null)
    {
        _InsuranceTable = ViewBag.InsuranceTable as DataTable;
    }
    DataTable _OverTimeTable = new DataTable();
    if (ViewBag.OverTimeTable != null)
    {
        _OverTimeTable = ViewBag.OverTimeTable as DataTable;
    }
    DataTable _SupportTable = new DataTable();
    if (ViewBag.SupportTable != null)
    {
        _SupportTable = ViewBag.SupportTable as DataTable;
    }
    DataTable _PaymentTable = new DataTable();
    if (ViewBag.PaymentTable != null)
    {
        _PaymentTable = ViewBag.PaymentTable as DataTable;
    }



    var _Table = new DataTable();
    if (ViewBag.Table != null)
    {
        _Table = ViewBag.Table as DataTable;
    }

    var _PvtTable = new DataTable();
    if (ViewBag.Employee != null)
    {
        _PvtTable = ViewBag.Employee as DataTable;
    }

    double TongLuong = 0;
    double BHXH = 0;
    if (_Table.Rows.Count > 0)
    {
        TongLuong = _Table.Rows[3]["Amount"].ToDouble();
        BHXH = _Table.Rows[4]["Amount"].ToDouble();
    }
}
@{
    if (ViewBag.Message == "NODATA")
    {
        <div class="alert alert-danger text-center">
            <strong>Hiện chưa cập nhật các bảng lương, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
        </div>
    }
    else
    {
        <div class="tabs">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link" data-target="#popular10" href="#popular10" data-toggle="tab">
                        <i class="fas fa-star"></i>
                        1.Tổng quát
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#recent10" href="#recent10" data-toggle="tab">2.Bảng chi tiết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#recent2" href="#recent2" data-toggle="tab">3.Thanh toán</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#recent3" href="#recent3" data-toggle="tab">4.Làm ngoài giờ/ lễ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#recent4" href="#recent4" data-toggle="tab">5.Phụ cấp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#recent5" href="#recent5" data-toggle="tab">6.Trừ BHXH</a>
                </li>
            </ul>
            <div class="tab-content" style="text-align:left">
                <div id="popular10" class="tab-pane active">
                    <div class="row">
                        <div class="col-5">
                            <div class="card-body text-primary">
                                <ul style="padding-left:0px; list-style:none;">
                                    @{
                                        foreach (DataRow r in _Table.Rows)
                                        {
                                            string Name = r[1].ToString();
                                            double value = r["Amount"].ToDouble();

                                            if (Name[0].ToInt() > 0)
                                            {
                                                <li style="text-align:end;" class="font-weight-semibold">
                                                    <span class="float-left">@Html.Raw(Name)</span>
                                                    <span class="count" data-stop="@value">@value.ToString("n0")</span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li style="text-align:end; color:black">
                                                    <span class="float-left">@Html.Raw(Name)</span>
                                                    <span class="count" data-stop="@value">@value.ToString("n0")</span>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="card-body" style="position:relative">
                                <canvas id="canvas" style="height:37vh"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recent10" class="tab-pane">
                    <div id="panelTable" style="text-align:left;">
                        <table class="table table-sm table-bordered Custom" id="tblData">
                            <thead>
                                <tr>
                                    @{
                                        for (int i = 3; i < _PvtTable.Columns.Count; i++)
                                        {
                                            DataColumn c = _PvtTable.Columns[i];
                                            <th class="text-center">@c.ColumnName</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int No = 0;
                                    string Branch = "";
                                    foreach (DataRow r in _PvtTable.Rows)
                                    {
                                        No++;
                                        string tmp = r[0].ToString();
                                        string img = r[1].ToString();
                                        string key = r[2].ToString();
                                        string name = r[3].ToString();
                                        string description = Helper.CheckPayroll(key, ViewBag.Id as string);
                                        string popover = "";
                                        string attr = "";
                                        string Css = "";
                                        if (description != string.Empty)
                                        {
                                            popover = "data-content='" + description + "' rel='popover' data-placement='top'";
                                            Css = "style='color: orangered;'";
                                            attr = Css + popover;
                                        }
                                        if (img == string.Empty)
                                        {
                                            img = Helper.DefaultImage;
                                        }
                                        if (tmp != Branch)
                                        {
                                            Branch = tmp;
                                            No = 1;

                                            <tr @Html.Raw(attr) style="background-color: mediumpurple; font-style: italic; color: white;">
                                                <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                                @{
                                                    for (int i = 5; i < _PvtTable.Columns.Count; i++)
                                                    {
                                                        double value = Helper.SumRow(_PvtTable, i, Branch);
                                                        <td class="text-right align-middle">@value.ToString("n0")</td>
                                                    }
                                                }
                                            </tr>

                                            <tr>
                                                <td class="member-image align-middle">
                                                    <img src="@img" alt="Member" class="rounded-circle" style="height:40px">
                                                    <span>@(No + ". " +name)</span>
                                                </td>
                                                @for (int i = 4; i < _PvtTable.Columns.Count; i++)
                                                {
                                                    if (i > 4)
                                                    {
                                                        <td class="align-middle text-right">@r[i].ToDouble().ToString("n0")</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="align-middle" style="white-space:nowrap">@r[i].ToString()</td>
                                                    }
                                                }
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr @Html.Raw(attr)>
                                                <td class="member-image align-middle">
                                                    <img src="@img" alt="Member" class="rounded-circle" style="height:40px">
                                                    <span>@(No + ". " +name)</span>
                                                </td>
                                                @for (int i = 4; i < _PvtTable.Columns.Count; i++)
                                                {
                                                    if (i > 4)
                                                    {
                                                        <td class="align-middle text-right">@r[i].ToDouble().ToString("n0")</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="align-middle" style="white-space:nowrap">@r[i].ToString()</td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="recent2" class="tab-pane">
                    <div name="panelt5">
                        <table class="table table-sm table-bordered Custom" id="tbl54">
                            <thead>
                                <tr>
                                    @{
                                        for (int i = 3; i < _PaymentTable.Columns.Count; i++)
                                        {
                                            DataColumn c = _PaymentTable.Columns[i];
                                            <th class="text-center">@c.ColumnName</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    Branch = "";
                                    foreach (DataRow r in _PaymentTable.Rows)
                                    {
                                        string tmp = r[0].ToString();
                                        if (tmp != Branch)
                                        {
                                            Branch = tmp;
                                            <!--DÒNG TIÊU ĐỀ-->
                                            <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                                <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                                @{
                                                    for (int i = 5; i < _PaymentTable.Columns.Count; i++)
                                                    {
                                                        double value = Helper.SumRow(_PaymentTable, i, Branch);
                                                        <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                                    }
                                                }
                                            </tr>
                                            <!---->
                                            <tr>
                                                @{
                                                    for (int i = 3; i < _PaymentTable.Columns.Count; i++)
                                                    {
                                                        if (i > 4)
                                                        {
                                                            <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                        }
                                                    }
                                                }

                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                @{
                                                    for (int i = 3; i < _PaymentTable.Columns.Count; i++)
                                                    {
                                                        if (i > 4)
                                                        {
                                                            <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="recent3" class="tab-pane">
                    <div name="panelt5">
                        <table class="table table-sm table-bordered Custom" id="tbl52">
                            <thead>
                                <tr>
                                    @{
                                        for (int i = 3; i < _OverTimeTable.Columns.Count; i++)
                                        {
                                            DataColumn c = _OverTimeTable.Columns[i];
                                            <th class="text-center">@c.ColumnName</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    Branch = "";
                                    foreach (DataRow r in _OverTimeTable.Rows)
                                    {
                                        string tmp = r[0].ToString();
                                        if (tmp != Branch)
                                        {
                                            Branch = tmp;
                                            <!--DÒNG TIÊU ĐỀ-->
                                            <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                                <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                                @{
                                                    for (int i = 5; i < _OverTimeTable.Columns.Count; i++)
                                                    {
                                                        double value = Helper.SumRow(_OverTimeTable, i, Branch);
                                                        <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                                    }
                                                }
                                            </tr>
                                            <!---->
                                            <tr>
                                                @{
                                                    for (int i = 3; i < _OverTimeTable.Columns.Count; i++)
                                                    {
                                                        if (i > 4)
                                                        {
                                                            <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                        }
                                                    }
                                                }

                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                @{
                                                    for (int i = 3; i < _OverTimeTable.Columns.Count; i++)
                                                    {
                                                        if (i > 4)
                                                        {
                                                            <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="recent4" class="tab-pane">
                    <div name="panelt5">
                        <table class="table table-sm table-bordered Custom" id="tbl53">
                            <thead>
                                <tr>
                                    @{
                                        for (int i = 3; i < _SupportTable.Columns.Count; i++)
                                        {
                                            DataColumn c = _SupportTable.Columns[i];
                                            <th class="text-center">@c.ColumnName</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    Branch = "";
                                    foreach (DataRow r in _SupportTable.Rows)
                                    {
                                        string tmp = r[0].ToString();
                                        if (tmp != Branch)
                                        {
                                            Branch = tmp;
                                            <!--DÒNG TIÊU ĐỀ-->
                                            <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                                <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                                @{
                                                    for (int i = 5; i < _SupportTable.Columns.Count; i++)
                                                    {
                                                        double value = Helper.SumRow(_SupportTable, i, Branch);
                                                        <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                                    }
                                                }
                                            </tr>
                                            <!---->
                                            <tr>
                                                @{
                                                    for (int i = 3; i < _SupportTable.Columns.Count; i++)
                                                    {
                                                        if (i > 4)
                                                        {
                                                            <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                @{
                                                    for (int i = 3; i < _SupportTable.Columns.Count; i++)
                                                    {
                                                        if (i > 4)
                                                        {
                                                            <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="recent5" class="tab-pane">
                    <div name="panelt5">
                        <table class="table table-sm table-bordered Custom" id="tbl51">
                            <thead>
                                <tr>
                                    @{
                                        for (int i = 3; i < _InsuranceTable.Columns.Count; i++)
                                        {
                                            DataColumn c = _InsuranceTable.Columns[i];
                                            <th class="text-center">@c.ColumnName</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    Branch = "";
                                    foreach (DataRow r in _InsuranceTable.Rows)
                                    {
                                        string tmp = r[0].ToString();
                                        if (tmp != Branch)
                                        {
                                            Branch = tmp;
                                            <!--DÒNG TIÊU ĐỀ-->
                                            <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                                <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                                @{
                                                    for (int i = 5; i < _InsuranceTable.Columns.Count; i++)
                                                    {
                                                        double value = Helper.SumRow(_InsuranceTable, i, Branch);
                                                        <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                                    }
                                                }
                                            </tr>
                                            <!---->
                                            <tr>
                                                @{
                                                    for (int i = 3; i < _InsuranceTable.Columns.Count; i++)
                                                    {
                                                        if (i > 4)
                                                        {
                                                            <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                @{
                                                    for (int i = 3; i < _InsuranceTable.Columns.Count; i++)
                                                    {
                                                        if (i > 4)
                                                        {
                                                            <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" value="@(TongLuong+BHXH))" id="txt_tong" />
    }
}

<script>
    var tong = $("#txt_tong").val();
    var data = {
        labels: ['Chi trả người lao động', 'Chi BHXH 30.5%'],
        datasets: [
            {
                label: 'Dataset 1',
                data: [@TongLuong, @BHXH],
                backgroundColor: ['#383f4882', '#e361598f'],
            }
        ]
    };
</script>
