﻿@{
    Layout = null;
}

<table class="table table-responsive-md table-hover mb-0">
    <thead>
        <tr>
            <th>#</th>
            <th>Nội dung</th>
            <th>Ghi chú</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td class="actions-hover actions-fade">
                <a href="">
                    <i class="fas fa-download"></i>Tải file
                </a>
                <a href="" class="delete-row">
                    <i class="far fa-eye"></i>
                    Xem
                </a>
            </td>
        </tr>

    </tbody>
</table>