﻿@using System.Data
@{
    Layout = null;

    var _Table = new DataTable();
    if (ViewBag.Table != null)
    {
        _Table = ViewBag.Table as DataTable;
    }
}
@{
    if (ViewBag.Message == "NODATA")
    {
        <div class="alert alert-danger text-center">
            <strong>Hiện chưa cập nhật các bảng lương, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
        </div>
    }
    else
    {
        <div class="pricing-table row no-gutters mt-3 mb-3" id="tblInfo">
            @for (int i = 1; i < _Table.Columns.Count; i++)
            {
                DataColumn c = _Table.Columns[i];
                string temp = c.ColumnName;
                string Key = "";
                string Name = "AB GROUP";
                if (temp.Contains(";"))
                {
                    Key = temp.Split(';')[0];
                    Name = temp.Split(';')[1];
                }

                <div class="col-lg-3 col-sm-6" style="cursor:pointer">
                    <div class="plan">
                        <h3 class="mb-0">
                            @Name
                        </h3>
                        <ul>
                            @foreach (DataRow r in _Table.Rows)
                            {
                                string title = r[0].ToString();
                                double value = r[i].ToDouble();

                                <li style="text-align:end">
                                    <span class="float-left">@Html.Raw(title)</span>
                                    <span class="count" data-stop="@value">@value.ToString("n0")</span>
                                </li>
                            }

                            <li><button type="button" class="btn btn-sm btn-success" onclick="View('@Key', '@Name')">Xem chi tiết</button></li>
                        </ul>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-sm table-responsive-md table-hover mb-0 Custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hồ sơ lương tổng hợp</th>
                            <th>Phụ ghi</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">1</td>
                            <td class="align-middle">
                                Các khoản trừ lương
                            </td>
                            <td>@ViewBag.NoteTruLuong</td>
                            <td class="">
                                <a href="@Url.Action("ExportExcel","Employee", new { Type = 1})" class="btn btn-sm btn-success">
                                    <i class="fas fa-download"></i>
                                    Tải file Excel
                                </a>
                                <button type="button" url="@Url.Action("Payroll_DataIndex", "Employee", new { Type = 1})" class="btn btn-sm btn-success" name="Open">
                                    <i class="far fa-eye"></i>
                                    Xem
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">2</td>
                            <td class="align-middle">
                                Bảng chi phí làm ngoài giờ/ lễ
                            </td>
                            <td>@ViewBag.NoteNgoaiGio</td>
                            <td class="">
                                <a href="@Url.Action("ExportExcel","Employee", new { Type = 2})" class="btn btn-sm btn-success">
                                    <i class="fas fa-download"></i>
                                    Tải file Excel
                                </a>
                                <button type="button" url="@Url.Action("Payroll_DataIndex", "Employee", new { Type = 2})" class="btn btn-sm btn-success" name="Open">
                                    <i class="far fa-eye"></i>
                                    Xem
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">3</td>
                            <td class="align-middle">
                                Bảng chi phí phụ cấp
                            </td>
                            <td>@ViewBag.NotePhuCap</td>
                            <td class="">
                                <a href="@Url.Action("ExportExcel","Employee", new { Type = 3})" class="btn btn-sm btn-success">
                                    <i class="fas fa-download"></i>
                                    Tải file Excel
                                </a>
                                <button type="button" url="@Url.Action("Payroll_DataIndex", "Employee", new { Type = 3})" class="btn btn-sm btn-success" name="Open">
                                    <i class="far fa-eye"></i>
                                    Xem
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">4</td>
                            <td class="align-middle">
                                Bảng thanh toán lương
                            </td>
                            <td>@ViewBag.NoteThanhToan</td>
                            <td class="">
                                <a href="@Url.Action("ExportExcel","Employee", new { Type = 4})" class="btn btn-sm btn-success">
                                    <i class="fas fa-download"></i>
                                    Tải file Excel
                                </a>
                                <button type="button" url="@Url.Action("Payroll_DataIndex", "Employee", new { Type = 4})" class="btn btn-sm btn-success" name="Open">
                                    <i class="far fa-eye"></i>
                                    Xem
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">5</td>
                            <td class="align-middle">
                                Bảng tổng hợp tính lương
                            </td>
                            <td>@ViewBag.NoteTongHop</td>
                            <td class="">
                                <a href="@Url.Action("ExportExcel","Employee", new { Type = 0})" class="btn btn-sm btn-success">
                                    <i class="fas fa-download"></i>
                                    Tải file Excel
                                </a>
                                <button type="button" url="@Url.Action("Payroll_DataIndex", "Employee", new { Type = 0})" class="btn btn-sm btn-success" name="Open">
                                    <i class="far fa-eye"></i>
                                    Xem
                                </button>
                            </td>
                        </tr>
                        <tr class="d-none">
                            <td class="align-middle">5</td>
                            <td class="align-middle">Bảng tổng hợp BHXH</td>
                            <td></td>
                            <td class="">
                                <a href="@Url.Action("ExportExcel", "Employee", new { Type = 5})" class="btn btn-sm btn-success">
                                    <i class="fas fa-download"></i>
                                    Tải file Excel
                                </a>
                                <button type="button" url="@Url.Action("Payroll_DataIndex","Employee", new { Type = 5})" class="btn btn-sm btn-success" name="Open">
                                    <i class="far fa-eye"></i>
                                    Xem
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    }
}