﻿@using System.Data
@model DataTable
@{
    Layout = null;

    var _Table = new DataTable();
    if (ViewBag.Table != null)
    {
        _Table = ViewBag.Table as DataTable;
    }
}

<div class="card">
    <div class="card-body p-0" id="tblParent">
        <table class="table table-sm mb-0" id="tblrpt">
            <thead>
                <tr class="text-left">
                    @{
                        <th class="text-center">#</th>
                        for (int i = 3; i < _Table.Columns.Count; i++)
                        {
                            DataColumn c = _Table.Columns[i];
                            <th class="text-center">@c.ColumnName</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    int No = 0;
                    string Branch = "";
                    foreach (DataRow r in _Table.Rows)
                    {
                        No++;
                        string tmp = r[0].ToString();
                        string img = r[1].ToString();
                        string key = r[2].ToString();
                        string description = Helper.CheckPayroll(key, ViewBag.Id as string);
                        string popover = "";
                        string attr = "";
                        string Css = "";
                        if (description != string.Empty)
                        {
                            popover = "data-content='" + description + "' rel='popover' data-placement='top'";
                            Css = "style='color: orangered;'";
                            attr = Css + popover;
                        }
                        if (img == string.Empty)
                        {
                            img = Helper.DefaultImage;
                        }
                        if (tmp != Branch)
                        {

                            Branch = tmp;
                            No = 1;
                            <!--DÒNG TIÊU ĐỀ-->
                            <tr class="text-left text-info" style="background-color: mediumpurple; font-style:italic">
                                <td colspan="3"><h5 class="m-0" style="font-style: italic; color: white; ">@Branch</h5></td>
                                @{
                                    for (int i = 5; i < _Table.Columns.Count; i++)
                                    {
                                        double value = Helper.SumRow(_Table, i, Branch);
                                        <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                    }
                                }
                            </tr>
                            <!---->
                            <tr @Html.Raw(attr)>
                                @{
                                    <td class="member-image align-middle" style="width:45px">
                                        <img src="@img" alt="Member" class="rounded-circle">
                                    </td>
                                    for (int i = 3; i < _Table.Columns.Count; i++)
                                    {
                                        if (i > 4)
                                        {
                                            <td class="text-right align-middle" style="">@r[i].ToDouble().ToString("n0")</td>
                                        }
                                        else
                                        {
                                            <td class="text-left align-middle" style="white-space: nowrap; ">@r[i].ToString()</td>
                                        }
                                    }
                                }

                            </tr>
                        }
                        else
                        {
                            <tr @Html.Raw(attr)>
                                <td class="member-image align-middle" style="width:45px">
                                    <img src="@img" alt="Member" class="rounded-circle">
                                </td>

                                @{
                                    for (int i = 3; i < _Table.Columns.Count; i++)
                                    {
                                        if (i > 4)
                                        {
                                            <td class="text-right align-middle" style="">@r[i].ToDouble().ToString("n0")</td>
                                        }
                                        else
                                        {
                                            <td class="text-left align-middle" style="white-space: nowrap; ">@r[i].ToString()</td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>