﻿@using System.Data
@model DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ListMonth = new List<string>();
    for (int i = 12; i >= 1; i--)
    {
        _ListMonth.Add(i.ToString("00"));
    }
}
<style>
    .popover-body {
        color: maroon;
    }

    .jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content img {
        max-width: unset !important;
    }

    .selectRow {
        background-color: #0088cc38;
        color: #2196f3;
    }

    .jconfirm-content {
        overflow-x: hidden !important;
    }

    .member-image img {
        object-fit: cover;
        border: 1px solid #0088cc;
        width: 45px !important;
        height: 45px !important;
        border-radius: 6px;
        background-color: #673ab74f;
        z-index: 1;
    }

    .selectdiv {
        position: relative;
        float: right;
        min-width: 350px;
    }

    select::-ms-expand {
        display: none;
    }

    .selectdiv:after {
        content: '<>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 11px;
        /*Adjust for position however you want*/
        top: 18px;
        padding: 0 0 2px;
        border-bottom: 1px solid #999;
        /*left line */
        position: absolute;
        pointer-events: none;
    }

    .selectdiv select {
        border-radius: 0 !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        display: block;
        width: 100%;
        max-width: 320px;
        height: 50px;
        float: right;
        padding: 0px 24px;
        font-size: 16px;
        line-height: 1.75;
        color: #333;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }

    .plan span {
        color: #47a447;
    }

    .plan > h3 {
        font-size: 1.1em !important;
        padding-left: 0px;
        padding-right: 0px;
    }

    .plan:hover {
        border: 3px solid #47a447;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        color: #0088cc
    }

        .plan:hover > h3 {
            font-weight: bolder;
            background-color: #47a447;
            color: #FFF;
        }

        .plan:hover > h5 {
            background-color: #47a447 !important;
            color: white !important;
            padding: 10px;
            margin: 0 -20px 0 -20px;
            font-weight: bolder;
        }

    .plan.selected {
        border: 3px solid #0088CC;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        color: #0088cc
    }

        .plan.selected > h3 {
            font-weight: bolder;
            background-color: #5bc0de;
            color: #FFF;
        }

        .plan.selected > h5 {
            background-color: #47a447 !important;
            color: white;
            padding: 10px;
            margin: 0 -20px 0 -20px;
            font-weight: bolder;
        }
</style>
<style>
    :root {
        --input-padding-x: .75rem;
        --input-padding-y: .75rem
    }

    .form-control {
        min-height: 2.7rem !important;
    }

    .form-label-group {
        position: relative;
    }

        .form-label-group > input, .form-label-group > label {
            padding: var(--input-padding-y) var(--input-padding-x)
        }

        .form-label-group > label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            line-height: 1.5;
            color: #495057;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out
        }

        .form-label-group input::-webkit-input-placeholder {
            color: transparent
        }

        .form-label-group input:-ms-input-placeholder {
            color: transparent
        }

        .form-label-group input::-ms-input-placeholder {
            color: transparent
        }

        .form-label-group input::-moz-placeholder {
            color: transparent
        }

        .form-label-group input::placeholder {
            color: transparent
        }

        .form-label-group input:not(:placeholder-shown) {
            padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
            padding-bottom: calc(var(--input-padding-y)/3)
        }

            .form-label-group input:not(:placeholder-shown) ~ label {
                padding-top: calc(var(--input-padding-y)/3);
                padding-bottom: calc(var(--input-padding-y)/3);
                font-size: 12px;
                color: #777
            }
</style>

<header class="page-header">
    <h2>
        Tổng hợp chi phí nhân sự
    </h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-2">
                <div class="form-label-group">
                    <input type="text" id="txt_Year" name="Year"
                           placeholder="Nhập Năm" class="form-control" value="@DateTime.Now.Year" />
                    <label for="txt_FromDate">Năm</label>
                </div>
            </div>
            <div class="col-3">
                <select class="select2" id="cboView">
                    <option value="0">---Tất cả 12 tháng---</option>
                    @foreach (var rec in _ListMonth)
                    {
                        if (DateTime.Now.ToString("MM") == rec)
                        {
                            <option value="@rec.ToString()" selected>Tháng @rec.ToString()</option>
                        }
                        else
                        {
                            <option value="@rec.ToString()">Tháng @rec.ToString()</option>
                        }
                    }
                </select>
            </div>
            <div class="col-7 text-right">
                <button id="btn_Xem" type="button" class="btn btn-outline-primary">
                    <i class="fas fa-search"></i>
                    Xem
                </button>
            </div>
        </div>
    </div>
    <div class="card-body" id="panelData">
        @Html.Partial("~/Views/Employee/DashBoard/_Panel.cshtml", ViewBag.Table as DataTable)
    </div>
</div>
<div id="mdView" class="zoom-anim-dialog modal-block modal-block-lg mfp-hide modal-header-color modal-block-info">

</div>
@section scripts{
    <script src="/assets/web/themes/js/Chart.js"></script>
    <script src="/assets/web/themes/js/ChartUtils.js"></script>
    <script src="/assets/js/chartjs-plugin-labels.js"></script>
    <script src="/assets/Appjs/tableHeadFixer.js"></script>
    <script src="/assets/vendor/popper/umd/popper.min.js"></script>

    <script>
        var Url_Branch = "@Url.Action("Branch_DataIndex", "Employee")";
        var Url_Data = "@Url.Action("General_DataIndex", "Employee")";
    </script>
    <script>
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var width = $(window).width();
        var height = $(window).height() - 550;
        var heightdialog = $(window).height() - 350;
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }
        $("#btn_Xem").click(function () {
            LoadPanel();
        });

        $('body').on('click', 'button[name="Open"]', function () {
            var url = $(this).attr("url");
            var title = $(this).closest('tr').find('td').eq(1).text();
            Open(url, title);
        });

        function View(Id, Name) {
            var val = $("#cboView").val();
            val = val + "/" + $("#txt_Year").val()
            var title = "AB Group";
            if (Id.length >= 36) {
                title = Name;
            }

            $.ajax({
                url: Url_Branch,
                type: 'GET',
                data: {
                    "Branch": Id,
                    "MonthYear": val,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                    $("#mdView").empty();
                },
                success: function (r) {
                    $("#mdView").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    Utils.OpenMagnific("#mdView");
                    renderChart();
                    numberRun();
                    fixTable();
                    Utils.LoadOut();
                    $('tr[rel="popover"]').popover({ trigger: "hover", placement: "top" });
                }
            });
        }
        function LoadPanel() {
            var val = $("#cboView").val();
            val = val + "/" + $("#txt_Year").val()
            $.ajax({
                url: Url_Data,
                type: 'GET',
                data: {
                    "MonthYear": val,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                    $("#panelData").empty();
                },
                success: function (r) {
                    $("#panelData").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {
                    numberRun();
                    Utils.LoadOut();
                }
            });
        }
    </script>
    <script>
        function Open(url, title) {
            $.dialog({
                theme: 'supervan',
                closeIcon: true,
                columnClass: 'xlarge',
                containerFluid: true,
                title: title,
                content: 'url:' + url,
                animation: 'scale',
                closeAnimation: 'scale',
                backgroundDismiss: true,
                onContentReady: function () {
                    $("#tblParent").css({
                        "height": heightdialog,
                    });
                    $("#tblrpt").tableHeadFixer({
                        head: true,
                        foot: false,
                        left: 3,
                        right: 0,
                        'z-index': '50'
                    });
                    InitClick();
                    $('tr[rel="popover"]').popover({ trigger: "hover", placement: "top" });
                },
            });
        }
        function fixTable() {
            $("#panelTable").css({
                "height": height,
            });
            $("#tblData").tableHeadFixer({
                head: true,
                foot: false,
                left: 2,
                right: 0,
                'z-index': '50'
            });
            InitClick();
        }
        function InitClick() {
            $("table tr").click(function () {
                var selected = $(this).hasClass("selectRow");
                $("table tr").removeClass("selectRow");
                if (!selected)
                    $(this).addClass("selectRow");
            });
        }
        function numberRun() {
            $('.count').each(function () {
                var $this = $(this);
                jQuery({ Counter: 0 })
                    .animate({
                        Counter: $this.attr('data-stop')
                    }, {
                        duration: 1000,
                        easing: 'swing',
                        step: function (now) {
                            $this.text(Math.ceil(now));
                        }
                    }).promise()
                    .done(function () {
                        var no = $.number($this.text(), 0);
                        $this.text(no);
                    })
            });
        }
        function renderChart() {
            if (data !== undefined) {
                try {
                    var ctx = document.getElementById('canvas');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: {
                            tooltips: {
                                callbacks: {
                                    title: function (tooltipItem, data) {
                                        return data['labels'][tooltipItem[0]['index']];
                                    },
                                    label: function (tooltipItem, data) {
                                        var dataset = data['datasets'][0];
                                        var num = kFormatter(dataset['data'][tooltipItem['index']]);
                                        return num;
                                    },
                                },
                                backgroundColor: '#FFF',
                                titleFontSize: 16,
                                titleFontColor: '#0066ff',
                                bodyFontColor: '#000',
                                bodyFontSize: 14,
                                displayColors: false
                            },
                            legend: {
                                position: 'right',
                            },
                            title: {
                                display: true,
                                text: 'Chi phí'
                            },
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                labels: {
                                    render: function (args) {
                                        return kFormatter(args.value);
                                    },
                                    position: 'outside',
                                    arc: true,
                                    precision: 2
                                }
                            },
                        }
                    });
                } catch (e) {
                    Utils.LoadOut();
                }

            }
        }
        function kFormatter(num) {
            if (num > 999999) {
                return Math.abs(num) > 999999 ? Math.sign(num) * ((Math.abs(num) / 1000000).toFixed(1)) + 'tr' : Math.sign(num) * Math.abs(num)
            }
            if (num > 999) {
                return Math.abs(num) > 999 ? Math.sign(num) * ((Math.abs(num) / 1000).toFixed(1)) + 'ng' : Math.sign(num) * Math.abs(num)
            }

            return num;
        }
    </script>
}