﻿@using System.Data
@{
    ViewBag.Title = "MonthPay";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _ListMonth = new List<string>();
    for (int i = 12; i >= 1; i--)
    {
        _ListMonth.Add(i.ToString("00"));
    }

    DataTable _InsuranceTable = new DataTable();
    if (ViewBag.InsuranceTable != null)
    {
        _InsuranceTable = ViewBag.InsuranceTable as DataTable;
    }
    DataTable _OverTimeTable = new DataTable();
    if (ViewBag.OverTimeTable != null)
    {
        _OverTimeTable = ViewBag.OverTimeTable as DataTable;
    }
    DataTable _SupportTable = new DataTable();
    if (ViewBag.SupportTable != null)
    {
        _SupportTable = ViewBag.SupportTable as DataTable;
    }
    DataTable _PaymentTable = new DataTable();
    if (ViewBag.PaymentTable != null)
    {
        _PaymentTable = ViewBag.PaymentTable as DataTable;
    }
    DataTable _OveralTable = new DataTable();
    if (ViewBag.OveralTable != null)
    {
        _OveralTable = ViewBag.OveralTable as DataTable;
    }
}
@section Styles{
    <style>
        a.active {
            color: #007bff !important;
            font-weight: bold;
        }

        #tblPayroll {
            white-space: nowrap
        }

        .tabs .nav-tabs li.active .nav-link {
            font-weight: bold !important;
        }

        .selectRow {
            background-color: #0088cc38;
            color: #2196f3;
        }
    </style>
}
<header class="page-header">
    <h2>
        Bảng thông tin chi trả lương
    </h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="card">
    <div class="card-header">
        <form class="form-group row" method="get" action="@Url.Action("SearchMonth","Employee")">
            <label for="txt_Year" class="label col-1 text-right">Năm</label>
            <div class="col-2">
                <input type="text" id="txt_Year" name="Year"
                       placeholder="Nhập Năm" class="form-control" value="@ViewBag.Year " />
            </div>
            <div class="col-3">
                <select class="form-control" id="cbo_View" name="Month">
                    @foreach (var rec in _ListMonth)
                    {
                        if (DateTime.Now.ToString("MM") == ViewBag.Month as string)
                        {
                            <option value="@rec.ToString()" selected>Tháng @rec.ToString()</option>
                        }
                        else
                        {
                            <option value="@rec.ToString()">Tháng @rec.ToString()</option>
                        }
                    }
                </select>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3 text-right">
                <button id="btn_Xem" type="submit" class="btn btn-outline-primary" name="sbutton" value="btn_Search">
                    <i class="fas fa-search"></i>
                    Xem
                </button>
            </div>
        </form>
    </div>
    <div class="card-body">
        <h2 class="text-center">
            @ViewBag.TieuDe
        </h2>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" href="#t1" data-toggle="tab">PHẢI TRỪ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#t2" data-toggle="tab">TIỀN TRỰC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#t3" data-toggle="tab">PHỤ CẤP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#t4" data-toggle="tab">THANH TOÁN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#t5" data-toggle="tab">BHXH,YT,TN</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="t1" class="tab-pane active">
                <div class="card border">
                    <div class="card-header">
                        <h2 class="card-title text-center">Các khoản trừ lương</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group" name="panelt5">
                            <table class="table table-sm table-bordered Custom" id="tbl51">
                                <thead>
                                    <tr>
                                        @{
                                            for (int i = 3; i < _InsuranceTable.Columns.Count; i++)
                                            {
                                                DataColumn c = _InsuranceTable.Columns[i];
                                                <th class="text-center">@c.ColumnName</th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        string Branch = "";
                                        foreach (DataRow r in _InsuranceTable.Rows)
                                        {
                                            string tmp = r[0].ToString();
                                            if (tmp != Branch)
                                            {
                                                Branch = tmp;
                                                <!--DÒNG TIÊU ĐỀ-->
                                                <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                                    <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                                    @{
                                                        for (int i = 5; i < _InsuranceTable.Columns.Count; i++)
                                                        {
                                                            double value = Helper.SumRow(_InsuranceTable, i, Branch);
                                                            <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                                        }
                                                    }
                                                </tr>
                                                <!---->
                                                <tr>
                                                    @{
                                                        for (int i = 3; i < _InsuranceTable.Columns.Count; i++)
                                                        {
                                                            if (i > 4)
                                                            {
                                                                <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    @{
                                                        for (int i = 3; i < _InsuranceTable.Columns.Count; i++)
                                                        {
                                                            if (i > 4)
                                                            {
                                                                <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        @{
                            if (_InsuranceTable.Rows.Count > 0)
                            {
                                                <a class="btn btn-primary" href="/Employee/ExportExcel?Type=1" onclick="SaveNote(51)">
                                                    <i class="fa fa-download"></i>
                                                    Xuất Excel
                                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div id="t2" class="tab-pane">
                <div class="card border">
                    <div class="card-header">
                        <h2 class="card-title text-center">Bảng chi phí làm ngoài giờ/ lễ</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group" name="panelt5">
                            <table class="table table-sm table-bordered Custom" id="tbl52">
                                <thead>
                                    <tr>
                                        @{
                                            for (int i = 3; i < _OverTimeTable.Columns.Count; i++)
                                            {
                                                DataColumn c = _OverTimeTable.Columns[i];
                                                <th class="text-center">@c.ColumnName</th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        Branch = "";
                                        foreach (DataRow r in _OverTimeTable.Rows)
                                        {
                                            string tmp = r[0].ToString();
                                            if (tmp != Branch)
                                            {
                                                Branch = tmp;
                                                <!--DÒNG TIÊU ĐỀ-->
                                                <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                                    <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                                    @{
                                                        for (int i = 5; i < _OverTimeTable.Columns.Count; i++)
                                                        {
                                                            double value = Helper.SumRow(_OverTimeTable, i, Branch);
                                                            <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                                        }
                                                    }
                                                </tr>
                                                <!---->
                                                <tr>
                                                    @{
                                                        for (int i = 3; i < _OverTimeTable.Columns.Count; i++)
                                                        {
                                                            if (i > 4)
                                                            {
                                                                <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                            }
                                                        }
                                                    }

                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    @{
                                                        for (int i = 3; i < _OverTimeTable.Columns.Count; i++)
                                                        {
                                                            if (i > 4)
                                                            {
                                                                <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        @{
                            if (_OverTimeTable.Rows.Count > 0)
                            {
                                <a class="btn btn-primary" href="/Employee/ExportExcel?Type=2" onclick="SaveNote(52)">
                                    <i class="fa fa-download"></i>
                                    Xuất Excel
                                </a>
                            }
                        }

                    </div>
                </div>
            </div>
            <div id="t3" class="tab-pane">
                <div class="card border">
                    <div class="card-header">
                        <h2 class="card-title text-center">Bảng chi phí phụ cấp</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group" name="panelt5">
                            <table class="table table-sm table-bordered Custom" id="tbl53">
                                <thead>
                                    <tr>
                                        @{
                                            for (int i = 3; i < _SupportTable.Columns.Count; i++)
                                            {
                                                DataColumn c = _SupportTable.Columns[i];
                                                <th class="text-center">@c.ColumnName</th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        Branch = "";
                                        foreach (DataRow r in _SupportTable.Rows)
                                        {
                                            string tmp = r[0].ToString();
                                            if (tmp != Branch)
                                            {
                                                Branch = tmp;
                                                <!--DÒNG TIÊU ĐỀ-->
                                                <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                                    <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                                    @{
                                                        for (int i = 5; i < _SupportTable.Columns.Count; i++)
                                                        {
                                                            double value = Helper.SumRow(_SupportTable, i, Branch);
                                                            <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                                        }
                                                    }
                                                </tr>
                                                <!---->
                                                <tr>
                                                    @{
                                                        for (int i = 3; i < _SupportTable.Columns.Count; i++)
                                                        {
                                                            if (i > 4)
                                                            {
                                                                <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    @{
                                                        for (int i = 3; i < _SupportTable.Columns.Count; i++)
                                                        {
                                                            if (i > 4)
                                                            {
                                                                <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        @{
                            if (_SupportTable.Rows.Count > 0)
                            {
                                <a class="btn btn-primary" href="/Employee/ExportExcel?Type=3" onclick="SaveNote(53)">
                                    <i class="fa fa-download"></i>
                                    Tải Excel
                                </a>
                            }
                        }

                    </div>
                </div>
            </div>
            <div id="t4" class="tab-pane">
                <div class="card border">
                    <div class="card-header">
                        <h2 class="card-title text-center">Bảng thanh toán lương</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group" name="panelt5">
                            <table class="table table-sm table-bordered Custom" id="tbl54">
                                <thead>
                                    <tr>
                                        @{
                                            for (int i = 3; i < _PaymentTable.Columns.Count; i++)
                                            {
                                                DataColumn c = _PaymentTable.Columns[i];
                                                <th class="text-center">@c.ColumnName</th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        Branch = "";
                                        foreach (DataRow r in _PaymentTable.Rows)
                                        {
                                            string tmp = r[0].ToString();
                                            if (tmp != Branch)
                                            {
                                                Branch = tmp;
                                                <!--DÒNG TIÊU ĐỀ-->
                                                <tr style="background-color: mediumpurple; font-style: italic; color: white;">
                                                    <td colspan="2"><h5 class="m-0" style="font-style: italic; color: white;">@Branch</h5></td>
                                                    @{
                                                        for (int i = 5; i < _PaymentTable.Columns.Count; i++)
                                                        {
                                                            double value = Helper.SumRow(_PaymentTable, i, Branch);
                                                            <td class="text-right align-middle" style="color: white;">@value.ToString("n0")</td>
                                                        }
                                                    }
                                                </tr>
                                                <!---->
                                                <tr>
                                                    @{
                                                        for (int i = 3; i < _PaymentTable.Columns.Count; i++)
                                                        {
                                                            if (i > 4)
                                                            {
                                                                <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                            }
                                                        }
                                                    }

                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    @{
                                                        for (int i = 3; i < _PaymentTable.Columns.Count; i++)
                                                        {
                                                            if (i > 4)
                                                            {
                                                                <td class="text-right">@r[i].ToDouble().ToString("n0")</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="" style="white-space:nowrap">@r[i].ToString()</td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        @{
                            if (_PaymentTable.Rows.Count > 0)
                            {
                                <a class="btn btn-primary" href="/Employee/ExportExcel?Type=4" onclick="SaveNote(54)">
                                    <i class="fa fa-download"></i>
                                    Tải Excel
                                </a>
                            }
                        }

                    </div>
                </div>
            </div>
            <div id="t5" class="tab-pane">
                <div class="card border">
                    <div class="card-header">
                        <h2 class="card-title text-center">Bảng tổng hợp BHXH</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group" name="panelt5">
                            <table id="tbl56" class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        @{
                                            int Max = _OveralTable.Columns.Count - 1;

                                            for (int i = 0; i < _OveralTable.Columns.Count; i++)
                                            {
                                                DataColumn c = _OveralTable.Columns[i];
                                                if (i < 1)
                                                {
                                                    <th class="font-weight-semibold text-center">@c.ColumnName</th>
                                                }
                                                else
                                                {
                                                    if (i == 1)
                                                    {
                                                        <th class="text-center" style="width:150px ;background: #673ab79e; color: WHITE;">@c.ColumnName</th>
                                                    }
                                                    else
                                                    {
                                                        <th class="text-center" style="width: 150px">@c.ColumnName</th>
                                                    }

                                                }
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (DataRow r in _OveralTable.Rows)
                                        {
                                            <tr>
                                                @{
                                                    for (int i = 0; i < _OveralTable.Columns.Count; i++)
                                                    {
                                                        if (i < 1)
                                                        {
                                                            <td class="font-weight-semibold" style="white-space:nowrap">@r[i].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            if (i == 1)
                                                            {
                                                                <th class="text-right" style="background: #673ab79e; color: WHITE;">@r[i].ToDouble().ToString("n0")</th>
                                                            }
                                                            else
                                                            {
                                                                <th class="text-right">@r[i].ToDouble().ToString("n0")</th>
                                                            }
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        @{ if (_OveralTable.Rows.Count > 0)
                            {
                                <a class="btn btn-primary" href="/Employee/ExportExcel?Type=5" onclick="SaveNote(55)">
                                    <i class="fa fa-download"></i>
                                    Tải Excel
                                </a>
                            }
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
