﻿@using System.Data
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _ListMonth = new List<string>();
    for (int i = 12; i >= 1; i--)
    {
        _ListMonth.Add(i.ToString("00"));
    }

    var _SelectEmployee = new List<Employee_Model>();
    if (ViewBag.SelectEmployee != null)
    {
        _SelectEmployee = ViewBag.SelectEmployee as List<Employee_Model>;
    }
    var _TableData = new DataTable();
    if (ViewBag.Table != null)
    {
        _TableData = ViewBag.Table as DataTable;
    }
}

<header class="page-header">
    <h2>
        Lương nhân sự
    </h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="card">
    <div class="card-header">
        <form class="form-group row" method="get" action="@Url.Action("SearchPersonal","Employee")">
            <label for="txt_Year" class="label col-1 text-right">Năm</label>
            <div class="col-2">
                <input type="text" id="txt_Year" name="Year"
                       placeholder="Nhập Năm" class="form-control" value="@ViewBag.Year " />
            </div>
            <div class="col-3">
                <select class="form-control" id="cbo_View" name="Month">
                    <option value="0">---Tất cả 12 tháng---</option>
                    @foreach (var rec in _ListMonth)
                    {
                        if (DateTime.Now.ToString("MM") == ViewBag.Month as string)
                        {
                            <option value="@rec.ToString()" selected>Tháng @rec.ToString()</option>
                        }
                        else
                        {
                            <option value="@rec.ToString()">Tháng @rec.ToString()</option>
                        }
                    }
                </select>
            </div>
            <div class="col-3">
                <select class="form-control select2" id="cbo_Employee" placeholder="Employee" name="Employee">
                    <option value="" selected>--Tất cả--</option>
                    @{
                        foreach (var item in _SelectEmployee)
                        {
                            if (item.EmployeeKey == ViewBag.Employee as string)
                            {
                                <option value="@item.EmployeeKey" selected>@(item.LastName + " " +item.FirstName)</option>
                            }
                            else
                            {
                                <option value="@item.EmployeeKey">@(item.LastName + " " +item.FirstName)</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="col-3 text-right">
                <button id="btn_Xem" type="submit" class="btn btn-outline-primary" name="sbutton" value="btn_Search">
                    <i class="fas fa-search"></i>
                    Xem
                </button>
                <button id="btn_Xem" type="submit" class="btn btn-outline-primary" name="sbutton" value="btn_Export">
                    <i class="fa fa-download"></i>
                    Tải Excel
                </button>
            </div>
        </form>
    </div>
    <div class="card-body">
        <h2 class="text-center">@ViewBag.TieuDe</h2>
        <div id="panelData">
            @{
                if (_TableData.Rows.Count > 0)
                {
                    if (_TableData.Columns.Count > 3)
                    {
                        <table class="table table-bordered table-hover table-sm" id="tblData">
                            <thead>
                                <tr>
                                    <th class="text-center">@_TableData.Columns[0]</th>
                                    @{
                                        for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                        {
                                            <th class="text-center">Tháng @_TableData.Columns[j]</th>
                                        }
                                        <th class="text-center">Tổng</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < _TableData.Rows.Count - 1; i++)
                                    {
                                        <tr>
                                            <th>@_TableData.Rows[i][0].ToString()</th>
                                            @{
                                                for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                                {
                                                    <td class="text-right">@_TableData.Rows[i][j].ToDouble().ToString("n0")</td>
                                                }
                                                <th class="text-right bg-info text-white">@_TableData.Rows[i][_TableData.Columns.Count - 1].ToDouble().ToString("n0")</th>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table table-bordered table-hover table-sm" id="tblData">
                            <thead>
                                <tr>
                                    <th class="text-center">@_TableData.Columns[0]</th>
                                    @{
                                        for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                        {
                                            <th class="text-center">Tháng @_TableData.Columns[j]</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < _TableData.Rows.Count - 1; i++)
                                    {
                                        <tr>
                                            <th>@_TableData.Rows[i][0].ToString()</th>
                                            @{
                                                for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                                {
                                                    <td class="text-right">@_TableData.Rows[i][j].ToDouble().ToString("n0")</td>
                                                }
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                }
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="/assets/Appjs/tableHeadFixer.js"></script>
    <script>
        var height = $(window).height() - 350;
        $("#panelData").css({
            "height": height,
        });
        $("#tblData").tableHeadFixer({
            head: true,
            foot: false,
            left: 1,
            right: 1,
            'z-index': '50'
        });
    </script>
}