﻿@model ABG.Employee.Contract_Model
@{
    ViewBag.Title = "ContractEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Position_Model> _ListSelectPosition = new List<Position_Model>();
    if (ViewBag.ListSelectPosition != null)
    {
        _ListSelectPosition = ViewBag.ListSelectPosition as List<Position_Model>;
    }
    List<Department_Model> _ListSelectDepartment = new List<Department_Model>();
    if (ViewBag.ListSelectDepartment != null)
    {
        _ListSelectDepartment = ViewBag.ListSelectDepartment as List<Department_Model>;
    }
    List<Employee_Model> _ListSelectReportTo = new List<Employee_Model>();
    if (ViewBag.ListSelectReportTo != null)
    {
        _ListSelectReportTo = ViewBag.ListSelectReportTo as List<Employee_Model>;
    }
    List<ContractType_Model> _ListSelectType = new List<ContractType_Model>();
    if (ViewBag.ListSelectType != null)
    {
        _ListSelectType = ViewBag.ListSelectType as List<ContractType_Model>;
    }
    List<Employee_Model> _ListSelectEmployee = new List<Employee_Model>();
    if (ViewBag.ListSelectEmployee != null)
    {
        _ListSelectEmployee = ViewBag.ListSelectEmployee as List<Employee_Model>;
    }
    List<Payroll_Sample_Model> _ListSelecPayroll = new List<Payroll_Sample_Model>();
    if (ViewBag.ListSelecPayroll != null)
    {
        _ListSelecPayroll = ViewBag.ListSelecPayroll as List<Payroll_Sample_Model>;
    }
    List<Contract_Detail_Model> _ListItem = new List<Contract_Detail_Model>();
    if (ViewBag.ListItem != null)
    {
        _ListItem = ViewBag.ListItem as List<Contract_Detail_Model>;
    }
    List<Document_Model> _ListFile = new List<Document_Model>();
    if (ViewBag.ListFile != null)
    {
        _ListFile = ViewBag.ListFile as List<Document_Model>;
    }
    List<Payroll_Sample_Model> _ListSelectMinus = new List<Payroll_Sample_Model>();
    if (ViewBag.ListSelectMinus != null)
    {
        _ListSelectMinus = ViewBag.ListSelectMinus as List<Payroll_Sample_Model>;
    }
    List<Contract_Detail_Model> _ListMinus = new List<Contract_Detail_Model>();
    if (ViewBag.ListMinus != null)
    {
        _ListMinus = ViewBag.ListMinus as List<Contract_Detail_Model>;
    }
}

@section Styles{

}

<header class="page-header">
    <h2>
        <i class="fas fa-file-signature"></i>
        Cập nhật thông tin @Model.ContractID
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContractList","Employee")">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
            <li>
                <a href="#" class="active">
                    <i class="fas fa-file-signature"></i>
                    @Model.ContractID
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-lg-12 text-right">
        <a class="btn btn-default" href="javascript:window.history.back();">
            <i class="fas fa-chevron-left"></i>
            Quay về
        </a>
        <button id="btn_Save" type="button" class="btn btn-primary" onclick="SaveContract()">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
    </div>
</div>
<div class="row pt-1">
    <div class="col-lg-12">
        <div class="toggle toggle-tertiary" data-plugin-toggle="" data-plugin-options="{ 'isAccordion': true }">
            <section class="toggle active">
                <label>HỢP ĐỒNG LAO ĐỘNG</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="fathername" class="col-md-2 control-label text-right">Ngày ký</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_SignDate" required="" name="Birthday"
                                           placeholder="Chọn ngày" class="form-control datepicker" value="@((Model.SignDate == DateTime.MinValue ? "" : Model.SignDate.ToString("dd/MM/yyyy")))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                            <label for="fathername" class="col-md-2 control-label text-right">Loại hợp đồng</label>
                            <div class="col-md-4">
                                <select id="cbo_Type" class="form-control select2" name="Type">
                                    @foreach (ContractType_Model zItem in _ListSelectType)
                                    {
                                        if (Model.ContractType == zItem.ContractTypeKey)
                                        {
                                            <option value="@zItem.ContractTypeKey" selected>@zItem.ContractTypeNameVN</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.ContractTypeKey">@zItem.ContractTypeNameVN</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fathername" class="col-md-2 control-label text-right">Số hợp đồng chính</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_ContractID" placeholder="Số hợp đồng (ký lần đầu)" required="" value="@Model.ContractID" />
                            </div>
                            <label for="fatherbirthday" class="col-md-2 control-label text-right">Số phụ lục</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_SubContract" placeholder="Phụ lục" required="" value="@Model.SubContract" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>BÊN TUYỂN DỤNG LAO ĐỘNG</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Ông/Bà:</label>
                            <div class="col-md-4">
                                <select id="cbo_SignBy" class="form-control select2" name="SignBy">
                                    @foreach (Employee_Model zItem in _ListSelectReportTo)
                                    {
                                        if (Model.SignBy == zItem.EmployeeKey)
                                        {
                                            <option value="@zItem.EmployeeKey" selected>@(zItem.LastName + ' ' + zItem.FirstName)</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.EmployeeKey">@(zItem.LastName + ' ' + zItem.FirstName)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label for="username" class="col-md-2 control-label text-right">Chức vụ</label>
                            <div class="col-md-4">
                                <select id="cbo_SignPosition" class="form-control select2" name="Position">
                                    @foreach (Position_Model zItem in _ListSelectPosition)
                                    {
                                        <option value="@zItem.PositionKey">@zItem.PositionNameVN</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>BÊN ĐƯỢC TUYỂN DỤNG LAO ĐỘNG</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Ông/Bà:</label>
                            <div class="col-md-4">
                                <select id="cbo_Employee" class="form-control select2" name="ReportTo">
                                    @foreach (Employee_Model zItem in _ListSelectEmployee)
                                    {
                                        if (Model.EmployeeKey == zItem.EmployeeKey)
                                        {
                                            <option value="@zItem.EmployeeKey" selected>@(zItem.LastName + " " + zItem.FirstName)</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label for="username" class="col-md-2 control-label text-right">Giới tính</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_EmployeeGender" placeholder="" required="" value="@Model.EmployeeGender" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Ngày sinh</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_EmployeeBirthDay" required="" name="Birthday"
                                           placeholder="Chọn ngày" class="form-control datepicker" value="@((Model.EmployeeBirthDay == DateTime.MinValue ? "": Model.EmployeeBirthDay.ToString("dd/MM/yyyy")))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                            <label for="username" class="col-md-2 control-label text-right">Nơi sinh</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_EmployeeBirthPlace" placeholder="" required="" value="@Model.EmployeeBirthPlace" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">CMND/Passport:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_EmployeePassport" placeholder="" required="" value="@Model.EmployeePassport" />
                            </div>
                            <label for="username" class="col-md-2 control-label text-right">Nơi cấp</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="txt_EmployeeIssuePlace" placeholder="" required="" value="@Model.EmployeeIssuePlace" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Ngày Cấp</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_EmployeeIssueDate" required="" name="Birthday"
                                           placeholder="Chọn ngày" class="form-control datepicker" value="@((Model.EmployeeIssueDate == DateTime.MinValue ? "": Model.EmployeeIssueDate.ToString("dd/MM/yyyy")))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-lg-right">Địa chỉ thường trú</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txt_EmployeeAdress" placeholder="Địa chỉ " required="" value="@Model.EmployeeAdress" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>NỘI DUNG HỢP ĐỒNG, CÔNG VIỆC</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Từ ngày</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_FromDate" required="" name="Birthday"
                                           placeholder="Chọn ngày" 
                                           class="form-control datepicker" 
                                           value="@(Model.FromDate == DateTime.MinValue ? "" : Model.FromDate.ToString("dd/MM/yyyy"))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                            <label for="username" class="col-md-2 control-label text-right">Đến ngày</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="txt_ToDate" name="ToDate"
                                           placeholder="Chọn ngày" 
                                           class="form-control datepicker" 
                                           value="@(Model.ToDate == DateTime.MinValue ? "" : Model.ToDate.ToString("dd/MM/yyyy"))"
                                           data-plugin-datepicker=""
                                           data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Người quản lý:</label>
                            <div class="col-md-4">
                                <select id="cbo_ReportTo" class="form-control select2" name="ReportTo">
                                    @foreach (Employee_Model zItem in _ListSelectReportTo)
                                    {
                                        if (Model.ReportToKey == zItem.EmployeeKey)
                                        {
                                            <option value="@zItem.EmployeeKey" selected>@(zItem.LastName + ' ' + zItem.FirstName)</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.EmployeeKey">@(zItem.LastName + ' ' + zItem.FirstName)</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Phòng ban làm việc</label>
                            <div class="col-md-4">
                                <select id="cbo_Department" class="form-control select2" name="Department">
                                    @foreach (Department_Model zItem in _ListSelectDepartment)
                                    {
                                        if (Model.DepartmentKey == zItem.DepartmentKey)
                                        {
                                            <option value="@zItem.DepartmentKey" selected>@zItem.DepartmentName</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.DepartmentKey">@zItem.DepartmentName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Địa chỉ làm việc</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txt_BranchAdress" placeholder="" required="" value="@Model.BranchAdress" />
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="username" class="col-md-2 control-label text-right">Chức vụ</label>
                            <div class="col-md-4">
                                <select id="cbo_Position" class="form-control select2" name="Position">
                                    @foreach (Position_Model zItem in _ListSelectPosition)
                                    {
                                        if (Model.PositionKey == zItem.PositionKey)
                                        {
                                            <option value="@zItem.PositionKey" selected>@zItem.PositionNameVN</option>
                                        }
                                        else
                                        {
                                            <option value="@zItem.PositionKey">@zItem.PositionNameVN</option>
                                        }
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-md-2 control-label text-right">Mô tả công việc</label>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" id="txt_Note" placeholder="" data-plugin-textarea-autosize rows="3">@Model.Note</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="toggle d-none">
                <label>THÔNG TIN LƯƠNG</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" class="modal-with-zoom-anim btn btn-info" id="btn_AddNew" onclick="DetailItem(0)">
                                    <i class="fa fa-plus"></i>Thêm nội dung
                                </button>
                            </div>
                        </div>
                        <hr />
                        <div id="PanelSalary">
                            @*Html.Partial("~/Views/Employee/Contract/ContractItem.cshtml", _ListItem)*@
                        </div>
                    </div>
                </div>
            </section>
            <section class="toggle d-none">
                <label>CÁC KHOẢN TRỪ</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" class="modal-with-zoom-anim btn btn-info" id="btn_AddMinus" onclick="DetailMinus(0)">
                                    <i class="fa fa-plus"></i>Thêm nội dung
                                </button>
                            </div>
                        </div>
                        <hr />
                        <div id="PanelMinus">
                            @*Html.Partial("~/Views/Employee/Contract/ContractMinus.cshtml", _ListMinus)*@
                        </div>
                    </div>
                </div>
            </section>
            <section class="toggle d-none">
                <label>THÔNG TIN KHÁC</label>
                <div class="toggle-content">
                    <div class="card-body">

                    </div>
                </div>
            </section>
            <section class="toggle active">
                <label>TẬP TIN KÈM THEO</label>
                <div class="toggle-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group" id="panel_FileUpload">
                                    <input type="text" class="form-control" readonly="">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            <i class="fas fa-file-upload"></i>
                                            Tải tập tin
                                            <input type="file" style="display: none;" multiple="" id="fileUpload">
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="PanelFile">
                            @Html.Partial("~/Views/Shared/_DocumentAttach.cshtml", _ListFile)
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<input id="txt_ContractKey" type="hidden" name="Role" value="@Model.ContractKey" />
<input id="txt_AutoKey" type="hidden" name="Role" value="0" />

<div id="modalEditItem" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin lương</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Nội dung</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Payroll" class="form-control select2">
                        <option value="" selected>--//--</option>
                        @foreach (Payroll_Sample_Model zItem in _ListSelecPayroll)
                        {
                            <option value="@zItem.ItemKey">@zItem.ItemName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control number" id="txt_TotalItem" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_DescriptionItem" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveItem()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>

</div>
<div id="modalEditMinus" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin trừ phí</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Nội dung</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Minus" class="form-control select2">
                        <option value="" selected>--//--</option>
                        @foreach (Payroll_Sample_Model zItem in _ListSelectMinus)
                        {
                            <option value="@zItem.ItemKey">@zItem.ItemName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Tỷ lệ</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control number" id="txt_QuantityMinus" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row d-none">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Số tiền</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control number" id="txt_TotalMinus" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_DescriptionMinus" placeholder="" data-plugin-textarea-autosize rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveMinus()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>

</div>
@section scripts{
    <script src="@Url.Content("~/assets/EmployeeContract.js")"></script>
    <script>
        var URL_EmployeeInfo = '@Url.Action("GetInfoEmployee", "Employee")';
        var URL_SaveContract = '@Url.Action("SaveContract", "Employee")';
        @*var URL_ListItem = '@Url.Action("ContractItem", "Employee")';
        var URL_DetailItem = '@Url.Action("DetailItem", "Employee")';
        var URL_DeleteItem= '@Url.Action("DeleteItem", "Employee")';
        var URL_SaveItem = '@Url.Action("SaveItem", "Employee")';
        var URL_DetailMinus = '@Url.Action("DetailMinus", "Employee")';
        var URL_DeleteMinus= '@Url.Action("DeleteMinus", "Employee")';
        var URL_SaveMinus = '@Url.Action("SaveMinus", "Employee")';
        var URL_MinusInfo = '@Url.Action("MinusInfo", "Employee")';*@
        var URL_ListFile = '@Url.Action("ListFile","Employee")';
        var URL_UploadFile = '@Url.Action("UploadFile","Employee")';
        var URL_DeleteFile = '@Url.Action("DeleteFile", "Employee")';
    </script>
}


