﻿@using ABG.Employee

@{
    ViewBag.Title = "ContractList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Contract_Model> _ListData = new List<Contract_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Contract_Model>;
    }

    List<ContractType_Model> _ListSelectType = new List<ContractType_Model>();
    if (ViewBag.ListSelectType != null)
    {
        _ListSelectType = ViewBag.ListSelectType as List<ContractType_Model>;
    }
}

<header class="page-header">
    <h2>
        <i class="far fa-list-alt"></i>
        Danh sách hợp đồng lao động
    </h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="@Url.Action("ContractList", "Employee")">
                    <i class="far fa-list-alt"></i>
                    Danh sách
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border border-primary">
            <div class="card-header border-primary">
                <div class="row">
                    <div class="col-2">
                        <button class="btn btn-outline-primary" type="button" id="btn_Search">
                            <i class="fas fa-search"></i>
                            Bộ tìm kiếm
                        </button>
                    </div>
                    <form class="col-10 text-right" method="post" action="@Url.Action("Export_Contract","Employee")">
                        <button class="btn btn-outline-primary" type="submit" name="sbutton" value="btn_Export" id="btn_Export">
                            <i class="fa fa-download"></i>
                            Tải Excel
                        </button>
                    </form>
                </div>
            </div>
            <div class="card-body border-primary">
                <table class="table Custom table-sm" id="table-1">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hợp đồng số</th>
                            <th>Loại</th>
                            <th>Người lao động</th>
                            <th>Ngày ký</th>
                            <th>Thời gian</th>
                            <th>Ghi chú</th>
                            <th class="text-right">
                                <a class="modal-with-zoom-anim btn btn-info" href="@Url.Action("ContractEdit", "Employee")">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            for (int i = 0; i < _ListData.Count; i++)
                            {
                                Contract_Model Model = _ListData[i];
                                string SignDate = (Model.SignDate == DateTime.MinValue ? "Không xác định" : Model.SignDate.ToString("dd/MM/yyyy"));
                                string FromDate = (Model.FromDate == DateTime.MinValue ? "Không xác định" : Model.FromDate.ToString("dd/MM/yyyy"));
                                string ToDate = (Model.ToDate == DateTime.MinValue ? "Không xác định" : Model.ToDate.ToString("dd/MM/yyyy"));
                                string Status = "";
                                string Text = "";
                                string RowColor = "style=background-color:white";

                                if (Model.ToDate != DateTime.MinValue)
                                {
                                    if (Model.ToDate < DateTime.Now)
                                    {
                                        Status = "Đã quá hạn !.";
                                        RowColor = "style=background-color:maroon;color:white;";
                                    }
                                    else
                                    {
                                        TimeSpan Time = Model.ToDate - DateTime.Now;
                                        if (Model.ToDate >= DateTime.Now && Time.Days <= 30)
                                        {
                                            Status = "Gần đến hạn !.";
                                            Text = "Còn lại " + Time.Days;
                                            RowColor = "style=background-color:PeachPuff";
                                        }
                                    }
                                }

                                <tr @RowColor>
                                    <td>@(i + 1)</td>
                                    @{
                                        string ID = Model.ContractID;
                                        if (Model.SubContract.Length > 0)
                                        {
                                            ID = Model.SubContract;
                                        }
                                    }

                                    <td>@ID</td>
                                    <td>@Model.ContractTypeName</td>
                                    <td>@Model.EmployeeName</td>
                                    <td>@SignDate</td>
                                    <td>
                                        @(FromDate + " - " + ToDate)
                                        @if (Status != string.Empty)
                                        {
                                            <span class="wort-rotator-items" style="top: 0px;">
                                                <span>@Status</span>
                                                <span>@Text</span>
                                            </span>
                                        }
                                    </td>
                                    <td>@Model.Note</td>
                                    <td class="text-right">
                                        <a type="button" data-toggle="tooltip" data-placement="top"
                                           title="Cập nhật thông tin" class="btn btn-outline-primary btn-sm modal-with-zoom-anim"
                                           href="@Url.Action("ContractEdit", "Employee", new { Model.ContractKey })">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <button type="button" data-toggle="tooltip" data-placement="top"
                                                onclick="OpenCopy('@Model.ContractKey', '@Model.ContractType', '@Model.ContractID', '@Model.FromDate.ToString("dd/MM/yyyy")', '@Model.ToDate.ToString("dd/MM/yyyy")', '@Model.SignDate.ToString("dd/MM/yyyy")')"
                                                title="Lập phụ lục" class="btn btn-outline-primary btn-sm modal-with-zoom-anim">
                                            <i class="fas fa-copy"></i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Xóa hợp đồng" class="btn btn-outline-danger btn-sm modal-with-zoom-anim"
                                                onclick="Delete('@Model.ContractKey')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-primary">
            </div>
        </div>
    </div>
</div>
<div id="modalCopy" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <form class="card border border-primary" method="post" action="@Url.Action("ContractCopy","Employee")">
        <input type="hidden" id="txt_ContractKey" name="ContractKey" />
        <div class="card-header">
            <h2 class="card-title">Khởi tạo phụ lục hợp đồng lao động</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số hợp đồng đầu tiên</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_MainContractID" value="0" placeholder="" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Số phụ lục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_SubContractID" value="0" placeholder="" name="NewID">
                </div>
            </div>
            <div class="form-group row">
                <label for="fathername" class="col-lg-5 col-xl-3 control-label text-lg-right">Loại hợp đồng</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Type" class="form-control select2" name="ContractType">
                        @foreach (ContractType_Model zItem in _ListSelectType)
                        {
                            <option value="@zItem.ContractTypeKey">@zItem.ContractTypeNameVN</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày ký</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_SignDate" required="" name="SignDate"
                           placeholder="Chọn ngày" class="form-control datepicker"
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Từ ngày</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_FromDate" name="FromDate"
                           placeholder="Chọn ngày" class="form-control datepicker"
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">đến ngày</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" id="txt_ToDate" name="ToDate"
                           placeholder="Chọn ngày" class="form-control datepicker"
                           data-plugin-datepicker=""
                           data-date-format="dd/mm/yyyy" />
                </div>
            </div>
        </div>
        <div class="card-footer border-primary text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="submit" class="btn btn-outline-primary">
                <i class="far fa-save"></i>
                Khởi tạo
            </button>
        </div>
    </form>
</div>
<div id="modalSearch" class="zoom-anim-dialog modal-block mfp-hide modal-header-color modal-block-info">
    @Html.Action("Filter", "Employee", new { ViewPage = "CONTRACT" })
</div>
@section scripts{
    <script>
        var URL_Delete = '@Url.Action("ContractDelete", "Employee")';
        $("#btn_Search").click(function () {
            Utils.OpenMagnific("#modalSearch");
        });
        function Delete(key) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "ContractKey": key
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.Success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        function OpenCopy(contractkey, type, contractid, fromdate, todate, signdate) {
            Utils.OpenMagnific("#modalCopy");
            $("#txt_ContractKey").val(contractkey);
            $("#txt_MainContractID").val(contractid);
            $("#txt_FromDate").val(fromdate);
            $("#txt_ToDate").val(todate);
            $("#txt_SignDate").val(signdate);
            $("#cbo_Type").val(type).trigger('change');
        }
        
    </script>
}