﻿
@model List<Contract_Detail_Model>
@{
    List<Contract_Detail_Model> _ListItem = new List<Contract_Detail_Model>();
    if (ViewBag.ListMinus != null)
    {
        _ListItem = ViewBag.ListMinus as List<Contract_Detail_Model>;
    }

    if (Model != null && Model.Count > 0)
    {
        _ListItem = Model;
    }
}
<table class="table Custom table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Tên lương</th>
            <th>Tỷ lệ %</th>
            <th class="d-none">Số tiền</th>
            <th>Ghi chú</th>
            <th>Thứ tự</th>
            <th class="text-right">

            </th>
        </tr>
    </thead>
    <tbody id="tblBody">
        @if (_ListItem.Count > 0)
        {
            for (int i = 0; i < _ListItem.Count; i++)
            {
                Contract_Detail_Model zItem = _ListItem[i];

                <tr>
                    <td>@(i + 1)</td>
                    <td>@zItem.ItemName</td>
                    <td>@zItem.Quantity</td>
                    <td class="text-right d-none">@zItem.Total.ToString("#,###,###")</td>
                    <td>@zItem.Description</td>
                    <td>@zItem.Rank</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="DetailMinus(@zItem.AutoKey)">
                            <i class="far fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="DeleteMinus(@zItem.AutoKey)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <div class="alert alert-primary">
                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>