﻿@model ABG.Employee.Contract_Model
@{ 
    Layout = null;

    List<Document_Model> _ListFile = new List<Document_Model>();
    if (ViewBag.ListFile != null)
    {
        _ListFile = ViewBag.ListFile as List<Document_Model>;
    }
}

<div>
    @Html.Partial("~/Views/Shared/_DocumentReadOnly.cshtml", _ListFile)
</div>