﻿@model Employee_Object
@{
    Layout = null;

    List<Education_Model> _ListEdu = new List<Education_Model>();
    if (ViewBag.ListEdu != null)
    {
        _ListEdu = ViewBag.ListEdu as List<Education_Model>;
    }
    List<Experience_Model> _ListExperience = new List<Experience_Model>();
    if (ViewBag.ListExperience != null)
    {
        _ListExperience = ViewBag.ListExperience as List<Experience_Model>;
    }
    List<Skill_Model> _ListSkill = new List<Skill_Model>();
    if (ViewBag.ListSkill != null)
    {
        _ListSkill = ViewBag.ListSkill as List<Skill_Model>;
    }

    int _YearNum = Employee_Data.SoThamNien(Model.Employee.EmployeeKey, DateTime.Now.Year.ToString()).ToInt();
}
<h4 class="text-primary text-left pb-1 font-weight-semibold">
    <i class="fas  fa-lg fa-user-tie"></i>
    Thông tin công tác
</h4>
<div class="row">
    <div class="col-md-6">
        <div class="text-left text-dark d-none">
            Chức vụ
            <span class="text-primary font-weight-semibold">@(Model.Employee.PositionName == "" ? "Chưa cập nhật" : Model.Employee.PositionName)</span>
        </div>
        <div class="text-left text-dark">
            Phòng ban:
            <span class="text-primary font-weight-semibold">@(Model.Employee.DepartmentName == "" ? "Chưa cập nhật" : Model.Employee.DepartmentName)</span>
        </div>
        <div class="text-left text-dark">
            Địa diểm làm việc:
            <span class="text-primary font-weight-semibold">@(Model.Employee.BranchName == "" ? "Chưa cập nhật" : Model.Employee.BranchName)</span>
        </div>
        <div class="text-left text-dark">
            Hiện tại:
            <span class="text-primary font-weight-semibold">@Model.Employee.WorkingStatusName</span>
        </div>
        <div class="text-left text-dark">
            Người quản lý trực tiếp:
            <span class="text-primary font-weight-semibold">@Model.Employee.ReportToName</span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-left text-dark">
            Ngày tuyển dụng:
            <span class="text-primary font-weight-semibold">@(Model.Employee.StartingDate == DateTime.MinValue ? "Chưa cập nhật" : Model.Employee.StartingDate.ToString("dd/MM/yyyy"))</span>
        </div>
        <div class="text-left text-dark">
            Đến nay:
            <span class="text-primary font-weight-semibold">
                @{
                    string time = "";
                    if (Model.Employee.StartingDate == DateTime.MinValue)
                    {
                        time = "Chưa cập nhật thời gian tuyển dụng";
                    }
                    else
                    {
                        time = _YearNum + " năm.";
                    }
                }
                @time
            </span>
        </div>
    </div>
</div>
<hr />
<h4 class="text-primary text-left pb-1 font-weight-semibold">
    <i class="fas  fa-school"></i>
    Học vấn
</h4>
@if (_ListEdu.Count > 0)
{
    <div class="timeline timeline-simple ">
        <div class="tm-body text-left">
            <div class="tm-title">
                <h5 class="m-0 pt-2 pb-2 text-uppercase text-primary font-weight-semibold">Từ @(_ListEdu[0].FromDate.ToString("yyyy"))</h5>
            </div>
            <ol class="tm-items">
                @{
                    for (int i = 0; i < _ListEdu.Count; i++)
                    {
                        Education_Model zItem = _ListEdu[i];
                        string From = zItem.FromDate.ToString("dd/MM/yyyy");
                        string To = zItem.ToDate.ToString("dd/MM/yyyy");
                        string Time = From + " - " + To;
                        if (i == _ListEdu.Count - 1)
                        {
                            Time = From + " - đến nay.";
                        }

                        <li class="text-left">
                            <div class="tm-box appear-animation animated fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                                <p>
                                    @Time
                                    @if (i < _ListEdu.Count - 1)
                                    {
                                        <span class="float-right font-weight-semibold">@TN_Utils.TimeAgo(zItem.ToDate, DateTime.Now)</span>
                                    }
                                    <br />
                                    <span class="text-dark">Trường/Khóa học: </span>
                                    <span class="text-primary font-weight-semibold"> @zItem.DegreeBy</span>
                                    <br />
                                    <span class="text-dark">Đào tạo: </span>
                                    <span class="text-primary">@(zItem.DegreeName + " : " + zItem.ClassifiedName)</span>
                                </p>
                            </div>
                        </li>
                    }
                }
            </ol>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
    </div>
}
<h4 class="text-primary text-left pb-1 font-weight-semibold">
    <i class="fas  fa-briefcase"></i>
    Kinh nghiệm
</h4>
@if (_ListExperience.Count > 0)
{
    <div class="timeline timeline-simple ">
        <div class="tm-body text-left">
            <div class="tm-title">
                <h5 class="m-0 pt-2 pb-2 text-uppercase text-primary font-weight-semibold">Từ @(_ListExperience[0].FromDate.ToString("yyyy"))</h5>
            </div>
            <ol class="tm-items">
                @{
                    for (int i = 0; i < _ListExperience.Count; i++)
                    {
                        Experience_Model zItem = _ListExperience[i];
                        string From = zItem.FromDate.ToString("dd/MM/yyyy");
                        string To = zItem.ToDate.ToString("dd/MM/yyyy");
                        string Time = From + " - " + To;
                        if (i == _ListExperience.Count - 1)
                        {
                            Time = From + " - đến nay.";
                        }

                        <li class="text-left">
                            <div class="tm-box appear-animation animated fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                                <p>
                                    @Time
                                    @if (i < _ListExperience.Count - 1)
                                    {
                                        <span class="float-right font-weight-semibold">@TN_Utils.TimeAgo(zItem.ToDate, DateTime.Now)</span>
                                    }
                                    <br />
                                    <span class="text-dark">Đơn vị: </span>
                                    <span class="text-primary font-weight-semibold"> @zItem.UnitWork</span><br />
                                    <span class="text-dark">Chức vụ: </span>
                                    <span class="text-primary">@zItem.UnitPosition</span><br />
                                    <span class="text-dark">Mô tả công việc: </span>
                                    <span class="text-primary">@zItem.Description</span>
                                </p>
                            </div>
                        </li>
                    }
                }
            </ol>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
    </div>
}