﻿
@{ 
    Layout = null;
    var _ListData = new List<Payroll_Item>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Payroll_Item>;
    }
}

<table class="table table-borderd table-sm">
    <thead>
        <tr>
            <th class="text-center text-dark">STT</th>
            <th class="text-left text-dark">Khoản lương</th>
            <th class="text-right text-dark">Số tiền</th>
            <th class="text-center text-dark">.</th>
        </tr>
    </thead>
    <tbody>
        @{
            string css = "style='font-weight: bold;color: maroon;background: antiquewhite;'";
            for (int i = 0; i < _ListData.Count; i++)
            {
                Payroll_Item zItem = _ListData[i];

                if (i == _ListData.Count - 1)
                {
                    <tr @Html.Raw(css)>
                        <td>@(i + 1)</td>
                        <td class="text-left">@zItem.ItemName</td>
                        <td class="text-right">@zItem.Amount.ToDouble().ToString("n0")</td>
                        <td>.</td>
                    </tr>
                }
                else
                {
                    <tr class="text-dark">
                        <td>@(i + 1)</td>
                        <td class="text-left">@zItem.ItemName</td>
                        <td class="text-right">@zItem.Amount.ToDouble().ToString("n0")</td>
                        <td>.</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>