﻿@using System.Data
@using Newtonsoft.Json;
@{
    Layout = null;
    //var _ListData = new List<Payroll_Item>();
    //if (ViewBag.ListData != null)
    //{
    //    _ListData = ViewBag.ListData as List<Payroll_Item>;
    //}

    //var _ListMonth = new List<string>();
    //for (int i = 12; i >= 1; i--)
    //{
    //    _ListMonth.Add(i.ToString("00") + "/" + DateTime.Now.ToString("yyyy"));
    //}

    var _TableData = new DataTable();
    if (ViewBag.Table != null)
    {
        _TableData = ViewBag.Table as DataTable;
    }
}

<div id="panelData">
    @{
        if (_TableData.Rows.Count > 0)
        {
            if (_TableData.Columns.Count > 3)
            {
                <table class="table table-bordered table-hover table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th class="text-center">@_TableData.Columns[0]</th>
                            @{
                                for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                {
                                    <th class="text-center">Tháng @_TableData.Columns[j]</th>
                                }
                                <th class="text-center">Tổng</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < _TableData.Rows.Count - 1; i++)
                            {
                                <tr>
                                    <th class="text-left">@_TableData.Rows[i][0].ToString()</th>
                                    @{
                                        for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                        {
                                            <td class="text-right">@_TableData.Rows[i][j].ToDouble().ToString("n0")</td>
                                        }
                                        <th class="text-right bg-info text-white">@_TableData.Rows[i][_TableData.Columns.Count - 1].ToDouble().ToString("n0")</th>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <table class="table table-bordered table-hover table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th class="text-center">@_TableData.Columns[0]</th>
                            @{
                                for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                {
                                    <th class="text-center">Tháng @_TableData.Columns[j]</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < _TableData.Rows.Count - 1; i++)
                            {
                                <tr>
                                    <th>@_TableData.Rows[i][0].ToString()</th>
                                    @{
                                        for (int j = 1; j < _TableData.Columns.Count - 1; j++)
                                        {
                                            <td class="text-right">@_TableData.Rows[i][j].ToDouble().ToString("n0")</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }
    }
</div>


@*<h4 class="text-left text-dark">
        <select class="form-control" id="cboView"
                style="
        font-weight: bold;
        font-size: 16px;
        color: #28a745;">
            @foreach (var rec in _ListMonth)
            {
                if (DateTime.Now.ToString("MM/yyyy") == rec)
                {
                    <option value="@rec.ToString()" selected>Bảng lương tháng @rec.ToString()</option>
                }
                else
                {
                    <option value="@rec.ToString()">Bảng lương tháng @rec.ToString()</option>
                }
            }
        </select>
    </h4>*@
@*<div id="tbldata">
        @if (_ListData.Count <= 0)
        {
            <div class="alert alert-danger">
                <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
            </div>
        }
        else
        {
            <table class="table table-borderd table-sm">
                <thead>
                    <tr>
                        <th class="text-center text-dark">STT</th>
                        <th class="text-left text-dark">Khoản lương</th>
                        <th class="text-right text-dark">Số tiền</th>
                        <th class="text-center text-dark">.</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        string css = "style='font-weight: bold;color: maroon;background: antiquewhite;'";
                        for (int i = 0; i < _ListData.Count; i++)
                        {
                            Payroll_Item zItem = _ListData[i];

                            if (i == _ListData.Count - 1)
                            {
                                <tr @Html.Raw(css)>
                                    <td>@(i + 1)</td>
                                    <td class="text-left">@zItem.ItemName</td>
                                    <td class="text-right">@zItem.Amount.ToDouble().ToString("n0")</td>
                                    <td>.</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="text-dark">
                                    <td>@(i + 1)</td>
                                    <td class="text-left">@zItem.ItemName</td>
                                    <td class="text-right">@zItem.Amount.ToDouble().ToString("n0")</td>
                                    <td>.</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        }
    </div>*@