﻿@using ABG.Models.Employee
@model General
@{
    Layout = null;
}
<div class="card-body row">
    <div class="col-12">
        <div class="btn-group d-flex" role="group">
            <a class="btn btn-primary w-100" role="button">
                <i class="fas fa-star"></i>
                Tổng quát
            </a>
            <a class="btn btn-primary w-100" role="button">
                <i class="far fa-file-alt"></i>
                Phép & thâm niên
            </a>
            <a class="btn btn-primary w-100" role="button">
                <i class="fas fa-hand-holding-usd"></i>
                Lương
            </a>
            <a class="btn btn-primary w-100" role="button">
                <i class="fas fa-history"></i>
                Lịch sử công tác
            </a>
        </div>
    </div>
</div>

<div class="card-body row" id="ContentView">

</div>