﻿@using System.Data
@{
    Layout = null;
    var ListData = new List<Leave_Close_Model>();
    if (ViewBag.ListData != null)
    {
        ListData = ViewBag.ListData as List<Leave_Close_Model>;
    }

    if (ListData.Count <= 0)
    {
        <div class="alert alert-danger">
            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
        </div>
    }
    else
    {
        <h3 class="text-center text-primary">
            @ViewBag.HoTen
        </h3>
        <h5 class="text-center text-primary">
            @ViewBag.ChucVu
        </h5>
        <h5 class="text-center text-primary">
            Thâm niên đến hiện tại là: @ViewBag.ThamNien
        </h5>
        <table class="table table-bordered table-sm" id="table-1" style="min-width:fit-content">
            <thead>
                <tr class="text-center">
                    <th colspan="3">Kì phép được sử dụng</th>
                    <th colspan="3">Phát sinh nghỉ phép</th>
                    <th rowspan="2" width: 250px;>Ghi chú</th>
                    <th rowspan="2">Còn lại</th>
                </tr>
                <tr class="text-center">
                    <th>Kì</th>
                    <th>Tiêu chuẩn</th>
                    <th>Tồn phép</th>
                    <th>Thời gian</th>
                    <th>Số ngày</th>
                    <th style="width: 250px;">Lý do</th>
                </tr>
            </thead>
            <tbody id="tblBody">
                @{
                    //1,4,5,6
                    var ki = ListData.DistinctBy(s => s.Reference).ToList();

                    for (int i = 0; i < ki.Count; i++)
                    {
                        var item = ki[i];
                        var rff = item.Reference;
                        var group = ListData.Where(s => s.Reference == item.Reference).ToList();
                        var css = "";
                        if (i % 2 == 0)
                        {
                            css = "style='background: aliceblue'";
                        }
                        else
                        {
                            css = "";
                        }

                        if (group.Count > 1)
                        {
                            int rspan = group.Count;
                            var data = group[0];

                            <tr @Html.Raw(css)>
                                <td class="tron text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                <td class="text-center" rowspan="@rspan" style="vertical-align:middle">
                                    @(data.FromDate.ToString("dd/MM") + "-" + data.ToDate.ToString("dd/MM"))
                                </td>
                                <td class="text-center" rowspan="@rspan" style="vertical-align:middle">@data.TotalDate</td>
                                <td rowspan="@rspan" style="vertical-align:middle">@data.LyDo</td>
                                <td>@Html.Raw(data.Description)</td>
                                <td class="text-center" style="vertical-align:middle">
                                    @{ if (data.CloseEnd < 0)
                                        { <span>0</span>}
                                        else
                                        { <span>@data.CloseEnd</span>} }
                                </td>
                            </tr>

                            for (int g = 1; g < group.Count; g++)
                            {
                                data = group[g];
                                <tr @Html.Raw(css)>
                                    <td class="tron text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                    <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                    <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                    <td>@Html.Raw(data.Description)</td>
                                    <td class="text-center" style="vertical-align:middle">
                                        @{ if (data.CloseEnd < 0)
                                            { <span>0</span>}
                                            else
                                            { <span>@data.CloseEnd</span>} }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            var data = group[0];

                            <tr @Html.Raw(css)>
                                <td class="tron text-center" ref="@rff" style="vertical-align:middle">@data.CloseYear.Split('/')[1]</td>
                                <td class="text-center" style="vertical-align:middle">@(data.STD + data.TN)</td>
                                <td class="text-center" style="vertical-align:middle">@data.Incremental</td>
                                <td class="text-center" style="vertical-align:middle">
                                    @(data.FromDate.ToString("dd/MM") + "-" + data.ToDate.ToString("dd/MM"))
                                </td>
                                <td style="vertical-align:middle" class="text-center">@data.TotalDate</td>
                                <td style="vertical-align:middle">
                                    @data.LyDo
                                </td>
                                <td>@Html.Raw(data.Description)</td>
                                <td class="text-center" style="vertical-align:middle">
                                    @{ if (data.CloseEnd < 0)
                                        { <span>0</span>}
                                        else
                                        { <span>@data.CloseEnd</span>} }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
}